@model Capa_Entidad.Rutas_ENT.TablasSql.ORRU_E
@using Capa_Entidad.General_ENT.TablasSql
@using Capa_Entidad.Seguridad_ENT
@{
    ViewBag.Title = "CrearOrdenDeRuta";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<OWHS_E> lstOriDest = (List<OWHS_E>)ViewBag.ListaOrigenesDestinos;
    List<OVEH_E> Vehiculos = (List<OVEH_E>)ViewBag.ListaVehiculos;
    List<OCHO_E> Choferes = new List<OCHO_E>(ViewBag.ListaChoferes);
    List<Usuario_E> Copilotos = new List<Usuario_E>(ViewBag.ListaCopilotos);

    string urlAction = Url.Action("ListadoRutas", "Rutas"), tituloListado = "Listado de rutas", tituloTipoRep = "";
    if (ViewBag.TipoRep == "Re")
    {
        urlAction = Url.Action("ListadoRepartos", "Rutas");
        tituloListado = "Listado de repartos";
        tituloTipoRep = "Registrar Hoja de Reparto";
    }
    else if (ViewBag.TipoRep == "Ru")
    {
        tituloTipoRep = "Registrar Hoja de Ruta";
    }
}
<style>
    #Detalles input, #Detalles textarea {
        font-size: 12px;
    }
</style>

<script>
    $(document).ready(function () {
        $("#btn-NoEnviados").hide();
    });
    function agregarTicketsDetalle() {
        let tabla = $('#detalleRuta').DataTable();
        var nrows = 0;
        $("#Detalles tr").each(function () {
            nrows++;
        })
        let checkboxesSeleccionados = tabla.rows({ page: 'all' }).nodes().to$().find('.cls-chkVerif:checked');

        if (checkboxesSeleccionados.length > 0) {
            checkboxesSeleccionados.each(function () {
                var tr = $(this).closest('tr');
                // Ver si esa fila tiene vinculados
                var vinculados = tr.find('input[id^="Vinculados"]').val();

                // Verificamos si hay valores en vinculados
                if (vinculados != null && vinculados != "") {
                    // Separamos los valores por la coma
                    var valoresVinculados = vinculados.split(",");
                    // Iteramos sobre los docnum vinculados
                    for (var i = 0; i < valoresVinculados.length; i++) {
                        var docnum = valoresVinculados[i].trim();

                        var found = false;

                        checkboxesSeleccionados.each(function () {
                            var tr = $(this).closest('tr');
                            if (tr.find('input[id^="DocNum"]').val() === docnum && $(this).prop('checked')) {
                                found = true;
                                return false;
                            }
                        });

                        //buscamos en los valores que ya han sido agregados a la tabla llamada Detalles
                        var tablaDetallesAgregados = $('#Detalles');
                        if (tablaDetallesAgregados.find('tbody tr').length > 0) {
                            // Recorrer todas las filas de la tabla
                            tablaDetallesAgregados.find('tbody tr').each(function () {
                                // Obtener el valor del campo con id que comienza con "DocNumTDet" en la fila actual
                                var valorDocNum = $(this).find('input[id^="DocNumTDet"]').val();
                                // Verificar si el valor obtenido es igual a la variable "docnum"
                                if (valorDocNum === docnum) {
                                    found = true;
                                    return false;
                                }
                            });
                        }

                        if (!found && vinculados !== "") {
                            Swal.fire("Debe agregar a su detalle tambien los vinculados: '" + vinculados + "'");
                            return;
                        }
                    }
                }

                // Obtener los valores relevantes de la fila y pasarlos a agregarItem
                var docEntry = tr.find('input[id^="DocEntry"]').val();
                var docNum = tr.find('input[id^="DocNum"]').val();
                var cardName = tr.find('input[id^="CardName"]').val();
                var guias = tr.find('input[id^="Guías"]').val();
                var cajas = tr.find('input[id^="Cajas"]').val();
                var obs = tr.find('input[id^="Obs"]').val();
                var direcciones = tr.find('input[id^="Direcciones"]').val();
                var montoFinal = tr.find('input[id^="MontoFinal"]').val();
                var envio = tr.find('input[id^="Envio"]').val();

                agregarItem(docEntry, docNum, cardName, guias, cajas, obs, direcciones, montoFinal, envio);
            });

            checkboxesSeleccionados.prop('checked', false);
            $("#chk_verifTodos").prop('checked', false);
            // Abrir el primer modal de impresión esperando 2 segundos
            //setTimeout(() => {
            //    if (nrows == 0) {
            //        abrirModalImp(0, true);
            //    } else {
            //        nrows--;
            //        abrirModalImp(nrows, true);
            //    }
            //}, 2000);
            // Se posiciona en la tabla de detallado final
            $('html, body').animate({
                scrollTop: $('#divDetalleRuta').offset().top
            }, 1000);
        }

        else {
            // Si no hay tickets seleccionados, mostrar mensaje de alerta
            Swal.fire('Sin tickets seleccionados', 'Por favor, selecciona al menos un ticket.', 'warning');
        }
    }
    var contDet = 0;
    function agregarItem(docEntry, docNum, cardName, guias, cajas, obs, direcciones, montoFinal, envio) {
        if (validarUnicoCampoTabla(docEntry, "Detalles") == false) {
            return false;
        } else {
            if (docEntry == null || docEntry == "") {
                return false;
            }

            $("#Detalles").append(
                "<tr>" +
                "<td><input name='DetRRU0[" + contDet + "].Linea' type='text' value='" + (contDet + 1) + "' style='width:40px' class='form-control' readonly/></td>" +
                "<td hidden><input name='DetRRU0[" + contDet + "].DocEntryTicket' id='DocEntryTDet'" + contDet + " type='text' value='" + docEntry + "'  class='form-control'  readonly/></td>" +
                "<td><input name='DetRRU0[" + contDet + "].DocNumTicket' id='DocNumTDet" + contDet + "' type='text' value='" + docNum + "' style='width:110px' class='form-control' readonly/></td>" +
                "<td><input name='DetRRU0[" + contDet + "].Socio' type='text' value='" + cardName + "' style='width:200px' class='form-control' readonly/></td>" +
                "<td><textarea name='DetRRU0[" + contDet + "].Guias' type='text' value='" + guias + "'  class='form-control' readonly>" + guias + "</textarea></td>" +
                "<td><input name='DetRRU0[" + contDet + "].Cajas' type='text' value='" + cajas + "' style='width:40px' class='form-control' readonly/></td>" +
                "<td><input name='DetRRU0[" + contDet + "].Observaciones' type='text' value='" + obs + "' class='form-control' readonly/></td>" +
                "<td><textarea name='DetRRU0[" + contDet + "].Direcciones' type='text' value='" + direcciones + "' class='form-control' readonly >" + direcciones + "</textarea></td>" +
                "<td><input name='DetRRU0[" + contDet + "].MontoFinal' type='text' value='" + montoFinal + "' class='form-control' readonly/></td>" +
                "<td><input name='DetRRU0[" + contDet + "].Envio' type='text' value='" + envio + "' class='form-control' readonly/></td>" +
                "<td><a href='SeguimientoDeTicket?DocEntry=" + docEntry + "' target='_blank' style='cursor:pointer' class='btn btn-primary btn-sm' onclick=window.open(this.href,this.target,'width=500,height=350,top=120,left=100,toolbar=no,location=no,status=no,menubar=no');><i class='icon-truck'></i></a></td>" +
                "<td><button type='button' class='btn btn-warning btn-sm' onclick='abrirModalImp(" + docEntry + ",false)'><i class='icon icon-printer'></i></button></td>" +
                "<td><button type='button' class='btn btn-danger btn-sm' onclick='borrarTrTable1(this)'><i class='icon icon-bin'></i></button></td>" +
                "</tr>"
            );

            calcularTotalCajas();
            //metodo para grabar en la tabla temporal al.TEMP_RRU01 registro de todos los correlativos de documentos (F,B,G,NC,ND), debe retornar html con todos los documentos creados
            //grabarTempDocumentos(docEntry, docNum, function (htmlTableDocumentos) {
            //    // Crea un modal de impresión y agréga al cuerpo del documento
            //    var modalId = "ModalImpresion" + docEntry;
            //    var modalHtml = "<div class='modal' id='" + modalId + "' tabindex='-1' role='dialog' aria-labelledby='" + modalId + "Label' aria-hidden='true'>" +
            //        "<div class='modal-dialog modal-dialog-centered modal-lg' role='document'>" +
            //        "<div class='modal-content'>" +
            //        "<div class='modal-header bg-cobefar text-white'>" +
            //        "<h5 class='modal-title' id='" + modalId + "Label'>COMPROBANTES ELECTRÓNICOS IMPRIMIBLES <br>NroTicket : " + docNum + "</h5>" +
            //        "<button type='button' class='close' data-dismiss='modal' aria-label='Close'>" +
            //        "<span aria-hidden='true'>&times;</span>" +
            //        "</button>" +
            //        "</div>" +
            //        "<div class='modal-body'>" +
            //        htmlTableDocumentos +
            //        "</div>" +
            //        "<div class='modal-footer'>" +
            //        "<button type='button' class='btn btn-secondary' data-dismiss='modal'>Cerrar</button>" +
            //        "<button type='button' class='btn btn-blue' id='btnImp" + docEntry + "' onclick='ImprimirMasivamenteDocumentos(event," + docEntry + ",\"" + modalId + "\")'>" +
            //        "<i class=''icon icon-printer'> </i> Imprimir todo" +
            //        "</button>" +
            //        "</div>" +
            //        "</div>" +
            //        "</div>" +
            //        "</div>";
            //    $("body").append(modalHtml);


            //});
            contDet++;
            return true;
        }
    }
    function borrarTrTable1(dom) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'Esta acción no se puede deshacer.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                var i = -1;
                var docEntryTicketToDelete = $(dom).closest('tr').find("td:eq(1) input").val();
                var modalIdToDelete = "ModalImpresion" + docEntryTicketToDelete;

                $(dom).closest('tr').remove();

                contDet = contDet - 1;
                $("#Detalles tr").each(function (index, htm) {
                    iden1 = $(htm).find("td:eq(0) input");
                    iden1.attr("name", "DetRRU0[" + i + "].Linea");
                    iden1.val(i + 1);
                    iden1 = $(htm).find("td:eq(1) input");
                    iden1.attr("name", "DetRRU0[" + i + "].DocEntryTicket");
                    iden1 = $(htm).find("td:eq(2) input");
                    iden1.attr("name", "DetRRU0[" + i + "].DocNumTicket");
                    iden1 = $(htm).find("td:eq(3) input");
                    iden1.attr("name", "DetRRU0[" + i + "].Socio");
                    iden1 = $(htm).find("td:eq(4) textarea");
                    iden1.attr("name", "DetRRU0[" + i + "].Guias");
                    iden1 = $(htm).find("td:eq(5) input");
                    iden1.attr("name", "DetRRU0[" + i + "].Cajas");
                    iden1 = $(htm).find("td:eq(6) input");
                    iden1.attr("name", "DetRRU0[" + i + "].Observaciones");
                    iden1 = $(htm).find("td:eq(7) textarea");
                    iden1.attr("name", "DetRRU0[" + i + "].Direcciones");
                    iden1 = $(htm).find("td:eq(8) input");
                    iden1.attr("name", "DetRRU0[" + i + "].MontoFinal");
                    iden1 = $(htm).find("td:eq(9) input");
                    iden1.attr("name", "DetRRU0[" + i + "].Envio");
                    i = i + 1;
                });
                calcularTotalCajas();
                // Eliminamos el modal correspondiente al DocEntryTicket eliminado
                $("#" + modalIdToDelete).remove();
                //Swal.fire('Eliminado', 'El item ha sido eliminado correctamente.', 'success');
            }
        });
    }
</script>
<script src="~/Scripts/Rutas/HojaDeReparto.js"></script>
<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="/Index/Sesion">Inicio</a></li>
            <li><a href="@urlAction">@tituloListado</a></li>
            <li class="current"><em>Crear documento</em> </li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="d-flex justify-content-between px-3 pt-3">
        <h3 class="titulo-seccion">@tituloTipoRep.ToUpper()</h3>
        <div class="col-md-4 text-right">
            <div class="alert alert-danger text-center text-primary" role="alert" id="btn-NoEnviados">
                <a href="#" onclick="verTicketsNoEnviados()">
                </a>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()
    <input name="TipoRep" type="hidden" value="@ViewBag.TipoRep" readonly />
    <div class="bg-form-pestanas-cobefar bg-section-form p-3 bg-form-cobefar">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="row">
                <div class="col-lg-3">
                    <label for="Impresora" class="text-dark form-label font-weight-bold font-18">Impresora: </label>
                    <select id="Impresora" class="form-control bg-cobefar text-white">
                        <option value="">Seleccione</option>
                        <option value="DESPACHO">Despacho</option>
                        <option value="DESPACHO_1">Despacho 1</option>
                        <option value="DESPACHO_2">Despacho 2</option>
                        <option value="DESPACHO_3">Despacho 3</option>
                    </select>
                </div>
            </div>*@
        <div class="row mt-4">
            <div class="col-lg-2">
                <label for="TipoRuta" class="text-dark form-label font-weight-bold font-18">Tipo de ruta:</label>
                <select name="TipoRuta" id="TipoRuta" class="form-control bg-cobefar text-white" onchange="validarTipoRuta(this.value,'');listarTickets('');">
                    <option value="">Seleccione</option>
                    <option value="VC">Centro (ALM 01)</option>
                    <option value="VA">Arriola (ALM 06)</option>
                    <option value="VD">Domicilio</option>
                    @if (ViewBag.TipoRep == "Re")
                    {
                        <option value="VG">Agencia</option>
                    }
                </select>
            </div>
            <div class="col-lg-2">
                <label for="FechaCont" class="text-dark form-label font-weight-bold font-18">Fecha de tickets:</label>
                <input type="date" name="FechaCont" id="FechaSapTicket" class="form-control border-success" onchange="listarTickets('');" />
            </div>
            <div class="col-lg-2">
                <label for="Zona" class="text-dark form-label font-weight-bold font-18">Zona:</label>
                <select id="Zona" class="form-control bg-cobefar text-white" onchange="listarTickets('');">
                    <option value="">Seleccione</option>
                    <option value="CALLAO">CALLAO</option>
                    <option value="CONO CENTRO">CONO CENTRO</option>
                    <option value="CONO SUR">CONO SUR</option>
                    <option value="CONO ESTE1">CONO ESTE1</option>
                    <option value="CONO ESTE2">CONO ESTE2</option>
                    <option value="CONO NORTE1">CONO NORTE1</option>
                    <option value="CONO NORTE2">CONO NORTE2</option>
                    <option value="AGENCIA">AGENCIA</option>
                    <option value="PREVENTA">PREVENTA</option>
                    <option value="ARRIOLA">ARRIOLA</option>
                </select>
            </div>
            <div id="div_almacen-origen" class="col-lg-2">
                <label for="AlmOrigenDesc" class="text-dark form-label font-weight-bold font-18">Almacén de Origen:</label>
                <input type="hidden" id="AlmOrigenCod" name="AlmOrigenCod" value="" />
                <input type="hidden" id="AlmOrigenDesc2" name="AlmOrigenDesc2" value="" />
                <select name="AlmOrigenDesc" id="AlmOrigenDesc" class="form-control bg-cobefar text-white"
                        onchange="enviarValSelect('AlmOrigenDesc', 'AlmOrigenCod', 'almorigencod'); enviarValSelect('AlmOrigenDesc', 'AlmOrigenDesc2', 'almorigendesc2'); listarTickets('');">
                    <option value="">Seleccione</option>
                    @foreach (var l in lstOriDest.Where(x => x.WhsCode == "03" || x.WhsCode == "ALM07"))
                    {
                        <option value="@l.WhsName" almorigencod="@l.WhsCode" almorigendesc2="@(l.Street+" "+l.StreetNo+" "+l.Building+" "+l.Block+" "+l.City+" "+l.County)">
                            @l.WhsName
                        </option>
                    }
                </select>
            </div>
            <div id="div_almacen-destino" class="col-lg-2">
                <label for="AlmDestinoDesc" class="text-dark form-label font-weight-bold font-18">Almacén de Destino:</label>
                <input type="hidden" id="AlmDestinoCod" name="AlmDestinoCod" value="" />
                <input type="hidden" id="AlmDestinoDesc2" name="AlmDestinoDesc2" value="" />
                <select name="AlmDestinoDesc" id="AlmDestinoDesc" class="form-control bg-cobefar text-white"
                        onchange="enviarValSelect('AlmDestinoDesc', 'AlmDestinoCod','almdestinocod');enviarValSelect('AlmDestinoDesc', 'AlmDestinoDesc2','almdestinodesc2');">
                    <option value="">Seleccione</option>
                    @foreach (var l in lstOriDest.Where(x => x.WhsCode == "09" || x.WhsCode == "01" || x.WhsCode == "08"))
                    {
                        <option value="@l.WhsName" almdestinocod="@l.WhsCode" almdestinodesc2="@(l.Street+" "+l.StreetNo+" "+l.Building+" "+l.Block+" "+l.City+" "+l.County)">
                            @l.WhsName
                        </option>
                    }
                </select>
            </div>
            <div class="col-lg-2">
                <label for="Placa" class="text-dark form-label font-weight-bold font-18">Placa:</label>
                <select name="Placa" id="Placa" class="form-control bg-cobefar text-white border-success"
                        onchange="enviarValSelect('Placa', 'VehiculoCod', 'Code');
                                        enviarValSelect('Placa', 'Marca', 'U_SYP_VEMA');
                                        enviarValSelect('Placa', 'Modelo', 'U_SYP_VEMO');">
                    <option value="">Seleccione</option>
                    @foreach (var t in Vehiculos)
                    {
                        <option value="@t.U_SYP_VEPL" Code="@t.Code" U_SYP_VEMA="@t.U_SYP_VEMA" U_SYP_VEMO="@t.U_SYP_VEMO">@t.U_SYP_VEPL</option>
                    }
                </select>
                @Html.EditorFor(model => model.Marca, new { htmlAttributes = new { @type = "hidden", @readonly = "true" } })
                @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @type = "hidden", @readonly = "true" } })
                @Html.EditorFor(model => model.VehiculoCod, new { htmlAttributes = new { @type = "hidden", @readonly = "true" } })
            </div>
        </div>
        <div class="row  mt-lg-4">
            <div class="col-lg-3">
                <label for="TransDesc" class="text-dark form-label font-weight-bold font-18">Transportista:</label>
                @Html.EditorFor(model => model.TransCod, new { htmlAttributes = new { @type = "hidden", @readonly = "true" } })
                <select name="TransDesc" id="TransDesc" class="form-control bg-cobefar text-white border-success" onchange="enviarValSelect('TransDesc', 'TransCod','Code');">
                    <option value="" Code="">Seleccione</option>
                    @foreach (var t in Choferes)
                    {
                        <option value="@t.U_SYP_CHNO" Code="@t.Code">@t.U_SYP_CHNO</option>
                    }
                </select>
            </div>
            <div class="col-lg-3">
                <label for="CopilDesc" class="text-dark form-label font-weight-bold font-18">Copiloto 1:</label>
                @Html.EditorFor(model => model.CopilDesc, new { htmlAttributes = new { @class = "form-control border-success", @type = "search", @list = "ListaCopilotos", @autocomplete = "off" } })
                <datalist id="ListaCopilotos">
                    @foreach (var c in Copilotos)
                    {
                        <option value="@c.Nombres @c.Apellidos"></option>
                    }
                </datalist>
            </div>

            <div class="col-lg-3">
                <label for="Copil2Desc" class="text-dark form-label font-weight-bold font-18">Copiloto 2:</label>
                @Html.EditorFor(model => model.Copil2Desc, new { htmlAttributes = new { @class = "form-control border-success", @type = "search", @list = "ListaCopilotos", @autocomplete = "off" } })
            </div>
        </div>
        <div class="row mt-lg-4 mb-4">
            <div class="col-lg-3">
                <label for="TiempoPac" class="text-dark form-label font-weight-bold font-18">Tiempo de entrega pactado: </label>
                <input type="datetime-local" class="form-control border-success" name="TiempoPac" />
            </div>

            <div class="col-lg-2">
                <label for="TotalCajas" class="text-dark form-label font-weight-bold font-18">Total de cajas:</label>
                <input id="TotalCajas" type="text" class="form-control border-success" readonly />
            </div>
            <div class="col-lg-7">
                <label for="Observaciones" class="text-dark form-label font-weight-bold font-18">Observaciones:</label>
                @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control border-success" } })
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <input type="checkbox" id="chk_verifTodos" onclick="seleccionarVerif()" /> <label for="chk_verifTodos" class="text-dark font-weight-bold">Seleccionar Todos</label>
                </div>

                <div class="col-md-9 text-right">
                    <button type="button" class="btn btn-sm btn-blue" id="btn-Agregar" onclick="agregarTicketsDetalle()"><i class="icon icon-plus">    </i> Agregar ticket(s)</button>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div class="col-lg-12 bg-light bg-form-cobefar">
                <table id="detalleRuta" class="table table-light table-sm table-hover cls-dataTable font-14" cellspacing="0" width="100%">
                    <thead class="bg-cobefar-6 text-white">
                        <tr>
                            <th class="text-center"></th>
                            <th class="text-center">#</th>
                            <th hidden>DocEntryTicket</th>
                            <th class="text-center">NroTicket</th>
                            <th hidden>CodSocio</th>
                            <th class="text-center" style="width:250px">Socio</th>
                            <th class="text-center" style="width:450px">Guías</th>
                            <th class="text-center">Cajas</th>
                            <th hidden>Obs.</th>
                            <th hidden>Direcciones</th>
                            <th class="text-center" style="width:70px">Agencia</th>
                            <th class="text-center">Monto final</th>
                            <th hidden>Envio</th>
                            <th class="text-center">Tipo de venta</th>
                            <th class="text-center">Tiempo de pago</th>
                            <th hidden>Vinculados</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <h3 class="text-cobefar font-weight-bold mt-2">DETALLE DE RUTA<br /><small class="font-14 text-danger">* El ticket impreso se colorea de fondo azul claro</small></h3>
    <div id="divDetalleRuta">
        <div class="mt-2">
            <table id="Detalles" class="table table-light table-sm table-hover" cellspacing="0" width="100%">
                <thead class="bg-success">
                    <tr>
                        <th class="text-center">#</th>
                        <th hidden>DocEntryT</th>
                        <th class="text-center">NroTicket</th>
                        <th class="text-center">Socio</th>
                        <th class="text-center">Guías</th>
                        <th class="text-center">Cajas</th>
                        <th class="text-center">Obs.</th>
                        <th class="text-center">Direcciones</th>
                        <th class="text-center">Monto final</th>
                        <th class="text-center">Envio</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="row  mt-lg-4">
            <div class="col-lg-4">
                <button type="button" class="btn btn-cobefar" onclick="validarEnviarFormulario('');"><i class="icon icon-checkmark">  </i> Crear</button>
            </div>
        </div>
    </div>
    <!-- Modal para ver tickets no enviados-->
    <div class="modal" id="ModalTicketsNE" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-cobefar text-light">
                    <h5 class="modal-title" id="exampleModalLabel">Relación de tickets</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mt-2">
                        <table id="tableModalNE" class="table table-bordered table-sm table-hover" cellspacing="0" width="100%">
                            <thead class="bg-dark">
                                <tr>
                                    <th class="text-center">DocNum</th>
                                    <th class="text-center">Fecha</th>
                                    <th class="text-center">Cliente</th>
                                    <th class="text-center">Monto Final</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.Mensaje))
{
    <script>
     var mensaje = '@Html.Raw(ViewBag.Mensaje)';
        Swal.fire({
            text: mensaje,
            showConfirmButton: false,
            timer: 2000
        });
    </script>
}
