@model IEnumerable<Capa_Entidad.Rutas_ENT.TablasSql.ORRU_E>
@using Capa_Entidad.Rutas_ENT.TablasSql;
@using Capa_Entidad.General_ENT.TablasSql
@{
    ViewBag.Title = "ListadoRepartos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ORRU_E o = (ORRU_E)ViewBag.Orru;
    List<OCHO_E> Choferes = (List<OCHO_E>)ViewBag.ListaTransportistas;
}
<script>
    $(document).ready(function () {
    });
    function filtrar() {
        var object = $("#frm").serialize();
        $(location).attr('href', "/Rutas/ListadoRepartos?" + object);
    }
    function iniciarReparto() {
        var o = $("#formIni").serialize();
        $(location).attr('href', "/Rutas/IniciarReparto?" + o);
    }
    function terminarReparto() {
        var o = $("#formTer").serialize();
        $(location).attr('href', "/Rutas/TerminarReparto?" + o);
    }
    function llenarModal1(DocEntry, DocNum, Cajas, Tickets) {
        $("#M1DocNum").text("Nro: " + DocNum); $("#M1DocEntry").val(DocEntry);
        $("#M1Cajas").text(Cajas);
        $("#M1Tickets").text(Tickets);
    }
    function llenarModal2(DocEntry, DocNum) {
        $("#M2DocNum").text("Nro: " + DocNum); $("#M2DocEntry").val(DocEntry);
    }
</script>
<style>
    .modal-body {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1rem;
    }

    .modal-backdrop {
        background-color: transparent;
    }

    label {
        color: black;
    }
</style>

<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-dark">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li class="current"><em>Listado de repartos</em></li>
        </ol>
    </nav>
</div>

<div class="bg-dark border-cabecera-seccion pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">LISTADO DE REPARTOS</h3></div>

    <div class="d-none d-sm-block pl-2 w-100 py-2">
        <!-- GENERAR UN DROPDOWN ORDEN DE RUTA -->
        <a id="accion" href="@Url.Action("CrearOrdenDeRuta", "Rutas",new {TipoRep="Re" })" class="btn btn-success">
            Hoja de reparto
        </a>
        <a id="accion" href="@Url.Action("CrearOrdenDeRutaAlm", "Rutas",new {TipoRep="Re" })" class="btn btn-success">
            Orden entre almacenes
        </a>
        @*<a id="accion" href="@Url.Action("CrearHojaDeCargo", "Rutas",new {TipoRep="Re" })" class="btn btn-success">
                Hoja de cargo
            </a>*@

        <button data-toggle="modal" href="#ModalGestion" class="btn btn-warning d-none d-sm-none d-md-none d-lg-block d-xl-block">
            <b>Módulo Gestión</b>
        </button>
    </div>
</div>




<div class="modal " id="ModalGestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content  border border-secondary">
            <div class="modal-header bg-cobefar text-white">
                <h5 class="modal-title" id="moduloGestionModal">MÓDULO PARA GESTIÓN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light">
                <div class="d-flex justify-content-center">
                    <a id="accion" href="@Url.Action("GestionarChoferes", "Rutas",new {TipoRep="Re" })" class="btn btn-cobefar d-none d-sm-none d-md-none d-lg-block d-xl-block">
                        <i class="icon-users"></i> Choferes
                    </a>
                    <a id="accion" href="@Url.Action("GestionarVehiculos", "Rutas",new {TipoRep="Re" })" class="btn btn-cobefar d-none d-sm-none d-md-none d-lg-block d-xl-block">
                        <i class="icon-truck"></i> Vehículos
                    </a>
                    <a id="accion" href="@Url.Action("GestionarOficinas", "Rutas",new {TipoRep="Re" })" class="btn btn-cobefar d-none d-sm-none d-md-none d-lg-block d-xl-block">
                        <i class="icon-office"></i> Oficinas Courier
                    </a>
                    <a id="accion" href="@Url.Action("GestionarTarifarios", "Rutas",new {TipoRep="Re" })" class="btn btn-cobefar d-none d-sm-none d-md-none d-lg-block d-xl-block">
                        <i class="icon-book"></i> Tarifario
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<form name="frm" id="frm">
    <div class="bg-dark pt-4">
        <table class="table table-light table-sm table-hover cls-dataTable50" cellspacing="0" width="100%">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.DocNum)<br />
                        @if (o != null && o.DocNum > 0)
                        {
                            <input class="form-control" type="text" name="DocNum" onchange="filtrar();" value="@o.DocNum" />
                        }
                        else
                        { <input class="form-control" type="text" name="DocNum" onchange="filtrar();" />}
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Tipo")<br />
                        <select name="TipoRuta" class="form-control select_filtro-table" onchange="filtrar();">
                            <option value=""></option>
                            <option value="AC" @if (o != null && o.TipoRuta == "AC") { Write("selected"); }>Agencia Courier</option>
                            <option value="VC" @if (o != null && o.TipoRuta == "VC") { Write("selected"); }>Almacen 01</option>
                            <option value="VD" @if (o != null && o.TipoRuta == "VD") { Write("selected"); }>Domicilio</option>
                            <option value="TA" @if (o != null && o.TipoRuta == "TA") { Write("selected"); }>Traslados</option>
                            <option value="VA" @if (o != null && o.TipoRuta == "VA") { Write("selected"); }>Almacen 06</option>
                            <option value="VG" @if (o != null && o.TipoRuta == "VG") { Write("selected"); }>Agencia</option>
                        </select>
                    </th>
                    <th class="text-center">
                        Conductor<br />
                        <select name="TransDesc" class="form-control" style="height: 40px" onchange="filtrar();">
                            <option value=""></option>
                            @foreach (var t in Choferes)
                            {
                                <option value="@t.U_SYP_CHNO" @if (o != null && o.TransDesc == t.U_SYP_CHNO) { Write("selected"); }>@t.U_SYP_CHNO</option>
                            }
                        </select>
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.TiempoPac)<br />
                        @if (o != null && o.TiempoPac != null)
                        {
                            <input type="date" name="TiempoPac" class="form-control text-center" value="@Convert.ToDateTime(o.TiempoPac).ToString("yyyy-MM-dd")" onchange="filtrar();" />
                        }
                        else
                        { <input type="date" name="TiempoPac" class="form-control text-center" onchange="filtrar();" />}
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Estado)<br />
                        <select name="Estado" class="form-control select_filtro-table" onchange="filtrar();">
                            <option value=""></option>
                            <option value="CREADO" @if (o != null && o.Estado == "CREADO") { Write("selected"); }>CREADO</option>
                            <option value="ENVIADO" @if (o != null && o.Estado == "ENVIADO") { Write("selected"); }>ENVIADO</option>
                            <option value="TERMINADO" @if (o != null && o.Estado == "TERMINADO") { Write("selected"); }>TERMINADO</option>
                            <option value="ANULADO" @if (o != null && o.Estado == "ANULADO") { Write("selected"); }>ANULADO</option>
                        </select>
                    </th>
                    <th class="text-center">Cajas</th>
                    <th class="text-center" style="width: 200px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center @if (ViewBag.DocNum == item.DocNum) { Write("bg-success"); } ">
                            @Html.DisplayFor(modelItem => item.DocNum)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.TipoRuta)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.TransDesc)
                        </td>
                        <td class="text-center">
                            @Convert.ToDateTime(item.TiempoPac).ToString("dd/MM/yyyy") <br class="d-md-none" />@Convert.ToDateTime(item.TiempoPac).ToString("HH:mm")
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.TotalCajas)
                        </td>
                        <td class="text-center">
                            <div class="d-flex">
                                @if (item.Estado.Equals("CREADO"))
                                {
                                    <button type="button" class="btn btn-success btn-sm d-block d-sm-block d-md-block d-lg-none d-xl-none mx-1" data-toggle="modal" data-target="#M1" onclick="llenarModal1(@item.DocEntry,@item.DocNum,0,0);">Ini</button>

                                }
                                @if (item.Estado.Equals("CREADO")|| item.Estado.Equals("ENVIADO"))
                                {
                                    <a href="@Url.Action("EditarOrdenDeRuta", "Rutas", new { DocEntry = item.DocEntry, TipoRep = "Re" })" class="d-none d-sm-none d-md-none d-lg-block d-xl-block btn btn-info btn-sm mx-1"><i title="Editar" class="icon-pencil"></i></a>
                                }
                                @if (item.Estado.Equals("ENVIADO") && item.TotalCajas>0)
                                {
                                    <a href="@Url.Action("ListadoEntregaRepartos", "Rutas", new {TipoRep="Re", DocEntry = item.DocEntry })" class="btn btn-warning btn-sm d-block d-sm-block d-md-block d-lg-none d-xl-none mx-1">Ent</a>
                                }
                                <a href="@Url.Action( "DocumentoRutas", "Rutas", new { DocEntry = item.DocEntry, TipoRuta = item.TipoRuta } )" class="btn btn-danger d-none d-sm-none d-md-none d-lg-block d-xl-block btn-sm mx-1"><i title="Pdf" class="icon-file-pdf"></i></a>
                                @if (item.Estado.Equals("ENVIADO") && item.TotalCajas > 0)
                                {
                                    <button type="button" class="btn btn-secondary btn-sm d-block d-sm-block d-md-block d-lg-none d-xl-none mx-1" data-toggle="modal" data-target="#M2" onclick="llenarModal2(@item.DocEntry, @item.DocNum);">Ter</button>
                                }
                                <a href="@Url.Action("SeguimientoRepartoRutas", "Rutas", new { DocEntry = item.DocEntry, Vista="REPARTOS" })" class="btn btn-blue btn-sm text-light d-none d-sm-none d-md-none d-lg-block d-xl-block mx-1"><i title="Seguimiento" class="icon-truck"></i></a>

                                @if (item.TipoRuta == "TA")
                                {
                                    <a href="@Url.Action( "AnularOrdenDeRuta", "Rutas", new { DocEntry = item.DocEntry,TipoRep="Re", Estado = item.Estado } )" class="btn btn-orange btn-sm d-none d-sm-none d-md-none d-lg-block d-xl-block mx-1"><i title="Anular" class="icon-blocked"></i></a>
                                }

                                @if (item.TipoRuta == "AC" && item.Estado != "TERMINADO")
                                {
                                    <a href="@Url.Action( "TerminarHojaCargo", "Rutas", new { DocEntry = item.DocEntry,TipoRep="Re", Estado = item.Estado } )" class="btn btn-danger btn-sm d-none d-sm-none d-md-none d-lg-block d-xl-block mx-1"><i title="Terminar HC" class="icon-checkmark"></i></a>
                                }

                                @if (item.TipoRuta == "AC")
                                {
                                    <a href="@Url.Action("ManifiestoCourier", "Rutas", new { DocEntry = item.DocEntry, Estado = item.Estado})" class="btn btn-danger d-none d-sm-none d-md-none d-lg-block d-xl-block btn-sm mx-1"><i title="Manifiesto" class="icon-file-pdf"></i></a>
                                    <a href="@Url.Action( "AnularHojaCargo", "Rutas", new { DocEntry = item.DocEntry,TipoRep="Re", Estado = item.Estado } )" class="btn btn-orange btn-sm d-none d-sm-none d-md-none d-lg-block d-xl-block mx-1"><i title="Anular Hoja Cargo" class="icon-blocked"></i></a>
                                }
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

<div class="modal" id="M1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">INICIAR REPARTO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light">
                <form id="formIni">
                    <div class="form-group d-flex justify-content-center">
                        <label class="col-form-label bg-cobefar text-white font-weight-bold px-2 py-1 font-18" id="M1DocNum"></label><br />
                        <input class="form-control" name="DocEntry" id="M1DocEntry" type="hidden" readonly>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="col-form-label font-weight-bold text-center">TERMOHIGROMETRO 1</label>
                                <label class="col-form-label">Temperatura Inicial 1:</label><br />
                                <input type="number" step="00.1" class="form-control border-success" name="TempI1"><br />
                                <label class="col-form-label">Humedad Inicial 1:</label><br />
                                <input type="number" class="form-control border-success" name="HumedI1">
                            </div>
                            <div class="col">
                                <label class="col-form-label font-weight-bold text-center">TERMOHIGROMETRO 2</label><br />
                                <label class="col-form-label">Temperatura Inicial 2:</label><br />
                                <input type="number" step="00.1" class="form-control border-success" name="TempI2"><br />
                                <label class="col-form-label">Humedad Inicial 2:</label><br />
                                <input type="number" class="form-control border-success" name="HumedI2">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cobefar" onclick="iniciarReparto();"><i class="icon-checkmark"></i> SI</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="icon-cross"></i> NO</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="M2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-cobefar text-white">
                <h5 class="modal-title" id="exampleModalLabel">¿Terminar Reparto?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light">
                <form id="formTer">
                    <div class="form-group">
                        <label class="col-form-label" id="M2DocNum"></label><br />
                        <input class="form-control" name="DocEntry" id="M2DocEntry" type="hidden" readonly>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="terminarReparto();"><i class="icon-checkmark"></i> SI</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="icon-cross"></i> NO</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    if ('@ViewBag.Mensaje' != "") {
        Swal.fire({
            icon: '',
            text: `@ViewBag.Mensaje`
        })
    }
</script>