@model Capa_Entidad.Rutas_ENT.TablasSql.ORRU_E

@{
    ViewBag.Title = "ListadoEntregaRepartos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] arrEstadosExcluidos = { "PREENVIO", "LIBERADO", "ANULADO", "ENTREGADO" };
    string[] arrTipoVentaOTC = { "ContraEntrega" };
}

<style>
    .table th {
        font-size: 16px;
        padding: 5px;
    }

    .table td {
        font-size: 16px;
        padding: 5px;
    }

    /* Estilo personalizado para la clase agregada al input */
    .swal2-input {
        border-color: #28a745 !important; /* Ejemplo de estilo personalizado */
    }
</style>

<script>
    function EntregaMasiva() {
        var o = $("#formIni").serialize();
        $(location).attr('href', "/Rutas/EntregaMasiva?" + o);
    }
    function liberarTrTable1(DocEntry, Linea, DocEntryTicket, docNumTicket, idOTC, tipoVista = '') {
        $.getJSON('/Rutas/ObtenerMotivosLiberacion', function (motivos) {
            let options = '<option value="" disabled selected>Seleccione un motivo</option>';
            motivos.forEach(function (m) {
                options += `<option value="${m.descripcion}">${m.descripcion}</option>`;
            });

            Swal.fire({
                title: `¿Está seguro(a) de liberar el ticket N° ${docNumTicket} ?`,
                text: "Este proceso es irreversible!",
                icon: 'warning',
                html: `<select id="motivoSelect" class="form-control" style="width:100%;margin-bottom:10px">${options}</select>`,
                confirmButtonText: 'Si, estoy seguro(a)',
                cancelButtonText: 'Cancelar',
                customClass: {
                    confirmButton: 'btn btn-success mx-2',
                    cancelButton: 'btn btn-outline-danger'
                },
                showCancelButton: true,
                buttonsStyling: false,
                preConfirm: () => {
                    const motivo = document.getElementById('motivoSelect').value;
                    if (!motivo) {
                        Swal.showValidationMessage('Debe seleccionar un motivo');
                        return false;
                    }
                    return motivo;
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    var parametros = { "DocEntry": DocEntry, "Linea": Linea, "DocEntryTicket": DocEntryTicket, "idOTC": idOTC, "ComentarioLiberado": result.value };
                    $.ajax('/Rutas/liberarRRU0', {
                        data: parametros,
                        dataType: 'html',
                        cache: false,
                        type: 'post'
                    })
                        .done(function (response) {
                            if (response == "ok") {
                                Swal.fire(
                                    'Ticket liberado exitosamente',
                                    '',
                                    'success'
                                ).then(function () {
                                    window.location.reload();
                                });
                            }
                            else {
                                swal.fire({ title: response, text: "Presione OK para continuar", icon: "warning" }); return false;
                            }
                        });
                }
            });
        });
    }
</script>

<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            @if (ViewBag.TipoRep == "Re")
            {
                <li><a href="@Url.Action("ListadoRepartos", "Rutas")">Listado de Repartos</a></li>
            }
            else
            {
                <li><a href="@Url.Action("ListadoRutas", "Rutas")">Listado de Rutas</a></li>
            }
            <li class="current"><em>Entrega Repartos</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">N° Hoja: @Model.DocNum</h3></div>
</div>

<div class="bg-form-pestanas-cobefar pt-4 bg-section-form p-4 bg-form-cobefar">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex justify-content-center justify-content-md-between justify-content-lg-between">
                <button class="btn btn-orange btn-sm" type="button" data-toggle="modal" data-target="#M1">
                    <i class="icon-checkmark"></i> Entrega Masiva
                </button>
            </div>
        </div>
    </div>

    <div class="row mt-4 justify-content-center d-md-none d-lg-none d-sm-block">
        <div class="col-12">
            <div class="col justify-content-center border">
                <table width="100%">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td colspan="2" class="font-weight-bold">Leyenda:</td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                             width="30" height="30" viewBox="0 0 30 30">
                                            <circle cx="15" cy="15" r="12.5"
                                                    fill="#FFC107" />
                                        </svg>
                                    </td>
                                    <td>Pendiente</td>
                                    <td class="text-right">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                             width="30" height="30" viewBox="0 0 30 30">
                                            <circle cx="15" cy="15" r="12.5"
                                                    fill="#28A745" />
                                        </svg>
                                    </td>
                                    <td>Entregado</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                             width="30" height="30" viewBox="0 0 30 30">
                                            <circle cx="15" cy="15" r="12.5"
                                                    fill="#DC3545" />
                                        </svg>
                                    </td>
                                    <td>Liberado</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </div>

        </div>
    </div>

    <!-- MOVIL -->
    <div class="row mt-4 d-md-none d-lg-none d-sm-block">
        <div class="col-lg-12">
            <div class="accordion" id="accordionRepartos">

                @if (Model.DetRRU0 != null && Model.DetRRU0.Count > 0)
                {
                    int num = 1;
                    foreach (var m in Model.DetRRU0)
                    {
                        string fondoEstado = "bg-warning", colorEnlace = "text-dark";

                        if (m.Estado != null)
                        {

                            if (m.Estado.Equals("ENVIADO")) { fondoEstado = "bg-warning"; colorEnlace = "text-dark"; }
                            else if (m.Estado.Equals("ENTREGADO")) { fondoEstado = "bg-success"; colorEnlace = "text-white"; }
                            else if (m.Estado.Equals("LIBERADO") || m.Estado.Equals("ANULADO")) { fondoEstado = "bg-danger"; colorEnlace = "text-white"; }
                        }

                        <div class="card">
                            <div class="card-header py-1 @fondoEstado" id="headingRRU0_@num">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left font-18 font-weight-bold text-center @colorEnlace" type="button" data-toggle="collapse" data-target="#collapse_@num" aria-expanded="true" aria-controls="collapse_@num">@m.DocNumTicket</button>
                                </h2>
                            </div>

                            <div id="collapse_@num" class="collapse" aria-labelledby="headingRRU0_@num" data-parent="#accordionRepartos">
                                <div class="card-body">
                                    <table class="table table-responsive-sm font-18">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" class="font-weight-bold text-center">@m.Socio</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">N° ticket:</td>
                                                <td>@m.DocNumTicket</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">Estado de ruta:</td>
                                                <td>@m.Estado</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">Tipo de venta:</td>
                                                <td>@m.TipoVenta</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">Estado de pago:</td>
                                                <td>@m.EstadoPago</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">Monto ticket:</td>
                                                <td>S/ @m.MontoFinal</td>
                                            </tr>

                                            @if (m.Ticket.LugarDestino == "LOCAL")
                                            {
                                                bool mostrarEntregarLiberar = false;

                                                if (!arrEstadosExcluidos.Contains(m.Estado))
                                                {
                                                    mostrarEntregarLiberar = false;

                                                    if (m.EstadoTC != null && (m.MontoRecibidoEfectivo + m.MontoRecibidoDeposito == m.MontoFinal && m.EstadoTC.Equals("VALIDADO") || m.EstadoTC.Equals("AUTORIZADO")))
                                                    {
                                                        mostrarEntregarLiberar = true;
                                                    }
                                                    else if (
                                                    m.TipoPagoTC != null && m.TipoPagoTC.Equals("PCE") && (
                                                    (m.MontoRecibidoEfectivo > 2000 && m.EstadoTC.Equals("AUTORIZADO")) || (m.MontoRecibidoEfectivo <= 2000 && m.EstadoTC.Equals("PENDIENTE")))
                                                    )
                                                    {
                                                        mostrarEntregarLiberar = true;
                                                    }
                                                    else if (m.TipoVenta.Equals("Credito") || ((m.TipoVenta.Equals("Normal") || m.TipoVenta.Equals("ContraEntrega")) && m.EstadoPago.Equals("PAGADO")))
                                                    {
                                                        mostrarEntregarLiberar = true;
                                                    }

                                                    if (mostrarEntregarLiberar)
                                                    {
                                                        <tr>
                                                            <td class="text-center">
                                                                <div class="my-1">
                                                                    <a class="btn btn-success btn-sm text-light my-1" href="/Rutas/EntregarDetReparto?DocEntry=@m.DocEntry&Linea=@m.Linea&TipoRep=@ViewBag.TipoRep&TipoVenta=@m.TipoVenta"><i class="icon-checkmark"></i> Entregar</a>
                                                                </div>
                                                            </td>
                                                            <!-- MOVIL -->
                                                            <td class="text-center">
                                                                <div class="my-1">
                                                                    <button type='button' class='btn btn-blue btn-sm my-1 font-weight-bold' onclick="liberarTrTable1('@m.DocEntry', '@m.Linea', '@m.DocEntryTicket','@m.DocNumTicket', '@m.IdOTC', 'MOVIL')"><i class="icon-unlocked"></i> Liberar</button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                    else if (m.TipoVenta == "ContraEntrega")
                                                    {
                                                        <tr>
                                                            <td class="text-center" colspan="2">
                                                                <div class="my-1">
                                                                    @if (string.IsNullOrWhiteSpace(m.EstadoTC) || m.EstadoTC.Equals("RECHAZADO"))
                                                                    {
                                                                        <button type="button" class="btn btn-info btn-sm my-1 font-weight-bold" onclick="enviarDatosModal('@m.MontoFinal', '@m.DocEntryTicket', '@ViewBag.TipoRep', '@m.Linea', '@m.DocEntry')"><i class="icon-bullhorn"></i> Solicitar Validación</button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <button type="button" class="btn btn-sm btn-warning my-1 font-weight-bold" disabled><i class="icon-clock2"></i> Solicitud enviada</button>
                                                                        <br />
                                                                        <button class="btn btn-sm btn-primary my-1 font-weight-bold" onclick="verRespuesta('@m.DocEntryTicket', '@m.IdOTC')"><i class="icon-file-text"></i> Respuesta</button>
                                                                    }
                                                                </div>

                                                                <!-- MOVIL -->
                                                                <div class="my-1">
                                                                    <button type='button' class='btn btn-blue btn-sm my-1 font-weight-bold' onclick="liberarTrTable1('@m.DocEntry', '@m.Linea', '@m.DocEntryTicket','@m.DocNumTicket', '@m.IdOTC', 'MOVIL')">
                                                                        <i class="icon-unlocked"></i> Liberar
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            else if (m.Ticket.LugarDestino == "Arriola" || m.Ticket.LugarDestino == "Centro" || m.Ticket.LugarDestino == "EXTERNO")
                                            {
                                                bool mostrarEntregar = false, mostrarLiberar = false;
                                                if (m.Estado.Equals("ENVIADO")) { mostrarEntregar = true; mostrarLiberar = true; }
                                                if (m.Estado.Equals("PREENVIO")) { mostrarLiberar = true; }

                                                <tr>
                                                    @if (mostrarEntregar)
                                                    {
                                                        <td class="text-center">
                                                            <div class="my-1">
                                                                <a class="btn btn-success btn-sm text-light my-1" href="/Rutas/EntregarDetReparto?DocEntry=@m.DocEntry&Linea=@m.Linea&TipoRep=@ViewBag.TipoRep&TipoVenta=@m.TipoVenta"><i class="icon-checkmark"></i> Entregar</a>
                                                            </div>
                                                        </td>
                                                    }
                                                    @if (mostrarLiberar)
                                                    {
                                                        <!-- MOVIL -->
                                                        <td class="text-center">
                                                            <div class="my-1">
                                                                <button type='button' class='btn btn-blue btn-sm my-1 font-weight-bold' onclick="liberarTrTable1('@m.DocEntry', '@m.Linea', '@m.DocEntryTicket','@m.DocNumTicket', '@m.IdOTC', 'MOVIL')"><i class="icon-unlocked"></i> Liberar</button>
                                                            </div>
                                                        </td>
                                                    }
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        num++;
                    }
                }

                @if (Model.DetRRU1 != null && Model.DetRRU1.Count > 0)
                {
                    int num = 1;
                    foreach (var m in Model.DetRRU1)
                    {
                        string fondoEstado = "bg-warning", colorEnlace = "text-dark";

                        if (m.Estado != null && m.Estado.Equals("ENTREGADO"))
                        {
                            fondoEstado = "bg-success";
                            colorEnlace = "text-white";
                        }

                        <div class="card">
                            <div class="card-header @fondoEstado" id="headingRRU1_@num">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left font-18 font-weight-bold @colorEnlace" type="button" data-toggle="collapse" data-target="#collapse_@num" aria-expanded="true" aria-controls="collapse_@num">Guía: @m.Guia</button>
                                </h2>
                            </div>
                            <!-- MOVIL -->
                            <div id="collapse_@num" class="collapse" aria-labelledby="headingRRU1_@num" data-parent="#accordionRepartos" style="">
                                <div class="card-body">
                                    <table class="table table-responsive-sm font-18">
                                        <tbody>
                                            <tr>
                                                <td class="font-weight-bold">N° guía:</td>
                                                <td>@m.Guia</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">Estado:</td>
                                                <td>@m.Estado</td>
                                            </tr>
                                            <!-- MOVIL -->
                                            @if (!arrEstadosExcluidos.Contains(m.Estado))
                                            {
                                                <tr>
                                                    <td colspan="2" height="60" class="text-center">
                                                        <div class="my-1">
                                                            <a class="btn btn-warning btn-sm" href="/Rutas/EntregarDetReparto?DocEntry=@m.DocEntry&Linea=@m.Linea&TipoRep=@ViewBag.TipoRep"><i class="icon-checkmark"></i> Entregar</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        num++;
                    }
                }
            </div>
        </div>
    </div>

    <div class="row mt-4 d-none d-md-block d-lg-block d-xl-block">
        <div class="col-lg-12">
            <table class="table table-light table-sm table-hover table-bordered table-responsive-md">
                @if (Model.DetRRU0 != null && Model.DetRRU0.Count > 0)
                {
                    <thead class="bg-cobefar">
                        <tr>
                            <th class="text-center">@Html.DisplayNameFor(model => model.DetRRU0[0].Socio)</th>
                            <th class="text-center">N° Ticket</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.DetRRU0[0].Estado)</th>
                            <th class="text-center">Tipo de venta</th>
                            <th class="text-center">Estado de pago</th>
                        </tr>
                    </thead>
                    foreach (var item in Model.DetRRU0)
                    {
                        <tr>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Socio)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.DocNumTicket)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Estado)</td>
                            <td class="text-center">@item.TipoVenta</td>
                            <td class="text-center">@item.EstadoPago</td>

                            @if (!arrEstadosExcluidos.Contains(item.Estado))
                            {
                                bool mostrarEntregarLiberar = false;

                                if (item.EstadoTC != null && (item.MontoRecibidoEfectivo + item.MontoRecibidoDeposito == item.MontoFinal && item.EstadoTC.Equals("VALIDADO") || item.EstadoTC.Equals("AUTORIZADO")))
                                {
                                    mostrarEntregarLiberar = true;
                                }
                                else if (
                                    item.TipoPagoTC != null && item.TipoPagoTC.Equals("PCE") && (
                                    (item.MontoRecibidoEfectivo > 2000 && item.EstadoTC.Equals("AUTORIZADO")) || (item.MontoRecibidoEfectivo <= 2000 && item.EstadoTC.Equals("PENDIENTE")))
                                    )
                                {
                                    mostrarEntregarLiberar = true;
                                }
                                else if (item.TipoVenta.Equals("Credito") || ((item.TipoVenta.Equals("Normal") || item.TipoVenta.Equals("ContraEntrega")) && item.EstadoPago.Equals("PAGADO")))
                                {
                                    mostrarEntregarLiberar = true;
                                }

                                if (mostrarEntregarLiberar)
                                {
                                    <td class="text-center">
                                        <div class="my-1">
                                            <a class="btn btn-cobefar btn-sm text-light font-10 my-1 font-weight-bold" href="/Rutas/EntregarDetReparto?DocEntry=@item.DocEntry&Linea=@item.Linea&TipoRep=@ViewBag.TipoRep&TipoVenta=@item.TipoVenta"><i class="icon-checkmark"></i> Entregar</a>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="my-1">
                                            <button type='button' class='btn btn-blue btn-sm font-10 my-1 font-weight-bold' onclick="liberarTrTable1('@item.DocEntry','@item.Linea','@item.DocEntryTicket', '@item.DocNumTicket', '@item.IdOTC')"><i class="icon-unlocked"></i> Liberar</button>
                                        </div>
                                    </td>
                                }
                                else if (item.TipoVenta == "ContraEntrega")
                                {
                                    <td class="text-center">
                                        <div class="my-1">
                                            @if (string.IsNullOrWhiteSpace(item.EstadoTC) || item.EstadoTC.Equals("RECHAZADO"))
                                            {
                                                <button type="button" class="btn btn-info btn-sm my-1 font-weight-bold" onclick="enviarDatosModal('@item.MontoFinal', @item.DocEntryTicket, '@ViewBag.TipoRep', '@item.Linea', '@item.DocEntry')">
                                                    <i class="icon-bullhorn"></i> Solicitar Validación
                                                </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-sm btn-warning my-1 font-weight-bold" disabled>
                                                    <i class="icon-clock2"></i> Solicitud enviada
                                                </button>
                                                <button class="btn btn-sm btn-primary my-1 font-weight-bold" onclick="verRespuesta('@item.DocEntryTicket', '@item.IdOTC')">
                                                    <i class="icon-file-text"></i> Respuesta
                                                </button>
                                            }
                                        </div>
                                    </td>

                                    <td class="text-center">
                                        <div class="my-1">
                                            <button type='button' class='btn btn-blue btn-sm my-1 font-weight-bold' onclick="liberarTrTable1('@item.DocEntry', '@item.Linea', '@item.DocEntryTicket', '@item.DocNumTicket', '@item.IdOTC')">
                                                <i class="icon-unlocked"></i> Liberar
                                            </button>
                                        </div>
                                    </td>
                                }
                            }
                        </tr>
                    }
                }

                @if (Model.DetRRU1 != null && Model.DetRRU1.Count > 0)
                {
                    <thead class="bg-cobefar">
                        <tr>
                            <th class="text-center">@Html.DisplayNameFor(model => model.DetRRU1[0].Linea)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.DetRRU1[0].Guia)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.DetRRU1[0].Estado)</th>
                            <th></th>
                        </tr>
                    </thead>
                    foreach (var item in Model.DetRRU1)
                    {
                        <tr>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Linea)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Guia)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Estado)</td>
                            <td class="text-center">@Html.ActionLink("Entregar", "EntregarDetReparto", new { DocEntry = item.DocEntry, Linea = item.Linea, TipoRep = ViewBag.TipoRep }, new { @class = "btn btn-warning" })</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="modalTipoPago" tabindex="1" aria-labelledby="_ModalTipoPago" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header bg-cobefar text-white">
                <h5 class="modal-title" id="_ModalTipoPago">SOLICITAR VALIDACIÓN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>

            <form id="frm_solicitarValidacion" enctype="multipart/form-data">
                <div id="div_modalBody1" class="modal-body"></div>
            </form>

            <div class="modal-footer justify-content-center">
                <div class="row">
                    <div id="div_footerModal" class="col-12 font-weight-bold bg-warning"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="M1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-cobefar text-white">
                <h5 class="modal-title" id="exampleModalLabel">¿Entrega Masiva Traslado Ventas?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formIni">
                    <div class="form-group">
                        <label class="col-form-label" id="M1DocNum"></label><br />
                        <input class="form-control" name="DocEntry" id="M1DocEntry" value="@Model.DocEntry" type="hidden" readonly>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="col-form-label font-weight-bold text-dark">TERMOHIGROMETRO 1</label>
                                <label class="col-form-label text-dark">Temperatura Final 1</label><br />
                                <input type="number" step="00.1" class="form-control border-success" name="TempF1">
                            </div>
                            <div class="col">
                                <label class="col-form-label font-weight-bold text-dark">TERMOHIGROMETRO 2</label><br />
                                <label class="col-form-label text-dark">Temperatura Final 2</label><br />
                                <input type="number" step="00.1" class="form-control border-success" name="TempF2">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cobefar" onclick="EntregaMasiva();"><i class="icon-checkmark"></i> SI</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="icon-cross"></i> NO</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    if ('@ViewBag.Mensaje' != "") {
        Swal.fire({
            text: `@ViewBag.Mensaje`
        })
    }

     function enviarDatosModal(montoFinal, docEntryTicketOTC, tipoRep, linea, docEntryORRU) {
        let dia = new Date().getDay();
        let horas = new Date().getHours();
        let minutos = new Date().getMinutes();
        let autorizacionExcepcional = false;

        // Lunes a Viernes a partir de las 06:30 PM
        if (dia >= 1 && dia <= 5 && horas >= 18 && minutos > 30) {
            autorizacionExcepcional = true;
        }
        // Sábados a partir de las 01:00 PM
        else if (dia == 6 && horas >= 13 && minutos > 0) {
            autorizacionExcepcional = true;
        }

        let modal = `<div class="row justify-content-center">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mt-sm-4 mt-xl-0 mt-lg-0 mt-md-0">
                                    <input type="hidden" id="DocEntryTicket" name="DocEntryTicket" value="${docEntryTicketOTC}" />
                                    <input type="hidden" id="TipoRepORRU" name="TipoRepORRU" value="${tipoRep}" />
                                    <input type="hidden" id="LineaORRU" name="LineaORRU" value="${linea}" />
                                    <input type="hidden" id="DocEntryORRU" name="DocEntryORRU" value="${docEntryORRU}" />
                                    <div class="row justify-content-center">
                                        <div class="col-sm-5 col-md-6 col-lg-6 col-xl-6 font-weight-bold d-flex align-items-center justify-content-center">
                                            ¿Qué tipo de pago es?:
                                        </div>

                                        <div class="mt-2 col-sm-5 col-md-6 col-lg-6 col-xl-6">
                                            <select id="tipo_pago" name="TipoPago" class="form-control bg-cobefar text-white" onchange="mostrarOpcionesTipoPago(this.value)">
                                                <option value="">Seleccione</option>
                                                <option value="PCE">Pago efectivo</option>
                                                <option value="PMI">Pago mixto o incompleto</option>
                                                <option value="PCD">Pago depósito</option>
                                                <option value="SP">Sin pago</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div id="div_tipoPago" class="row justify-content-center" style="display: none">
                                        <div id="div_PCE">
                                            <div class="row mt-4 justify-content-center">
                                                <div class="col-10 bg-light">
                                                    <div class="pl-3 text-left">
                                                        <label for="MontoRecibidoEfectivo" class="text-dark col-10 col-form-label "><i>Efectivo recibido:</i></label>
                                                    </div>
                                                    <div class="form-group row justify-content-center">
                                                        <div class="col-10">
                                                            <input type="number" id="MontoRecibidoEfectivo" name="MontoRecibidoEfectivo" class="form-control cls-numeric border-success text-center" placeholder="S/" min="1" />
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div id="div_PCD">
                                            <div class="row mt-3 justify-content-center ">
                                                <div class="col-10 bg-light">
                                                    <div class="pl-3 text-left">
                                                        <label for="MontoRecibidoDeposito" class="text-dark col-10 col-form-label"><i>Depósito recibido:</i></label>
                                                    </div>
                                                    <div class="form-group row justify-content-center">
                                                        <div class="col-10">
                                                            <input type="number" id="MontoRecibidoDeposito" name="MontoRecibidoDeposito" class="form-control cls-numeric border-success text-center" placeholder="S/" min="1"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                                <div class="row mt-lg-4 mt-md-4 justify-content-center">
                                                    <div class="col-10">
                                                        <div class="form-group row">
                                                            <div class="col-12">
                                                                <input type="file" id="ImgAdjunta" name="ImgAdjunta[]" class="form-control border-success" accept="image/png, image/jpg, image/jpeg" multiple />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-lg-4 mt-md-4 justify-content-center">
                                                    <div class="col-10">
                                                        <div class="form-group row">
                                                            <div class="col-12">
                                                                <textarea id="ComentarioAdjunto" name="ComentarioAdjunto" class="form-control border-success text-uppercase" placeholder="Escribir aquí algún comentario si están pagando más de un ticket" row="6"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>`;

                if (autorizacionExcepcional) {
                    modal += `<div class="row mt-lg-4 mt-md-4 justify-content-center">
                                                            <div class="col-10">
                                                                <div class="form-group row">
                                                                    <div class="col-12">
                                                                        <label for="AutorizacionExcepcional" class="text-dark col-10 col-form-label text-center">Justifique la autorización:</label>
                                                                        <textarea id="AutorizacionExcepcional" name="AutorizacionExcepcional" class="form-control border-success" cols="40" rows="5" ></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>`;
                }

        modal +=` <div class="d-flex justify-content-center mt-4">
                             <button type="button" id="btn_cerrarModalProveedores" class="btn btn-success" onclick="solicitarValidacion()">
                                 <i class="icon-bullhorn"></i> Solicitar validación
                             </button>
                         </div></div>
                                </div>
                            </div>`;

        $('#div_modalBody1').html(modal);
        $('#div_footerModal').html('').append(`Monto a cobrar: S/ ${montoFinal}`);
        $('#modalTipoPago').modal('show');
    }

    function cargarTiposPago(tipo) {
        if (tipo == 'PCE') {
            document.getElementById("div_PCE").style.display = "block";
            document.getElementById("div_PCD").style.display = "none";
        } else if (tipo == 'PCD') {
            document.getElementById("div_PCD").style.display = "block";
            document.getElementById("div_PCE").style.display = "none";
        } else if (tipo == 'PMI') {
            document.getElementById("div_PCD").style.display = "block";
            document.getElementById("div_PCE").style.display = "block";
        } else {
            document.getElementById("div_PCE").style.display = "none";
            document.getElementById("div_PCD").style.display = "none";
        }
    }

    function mostrarOpcionesTipoPago(valor) {
        $('#MontoRecibidoEfectivo').val('');
        $('#MontoRecibidoDeposito').val('');
        $('#ImgAdjunta').val('');

        if (valor != '') {
            document.getElementById("div_tipoPago").style.display = "block";
            cargarTiposPago(valor);
        } else {
            document.getElementById("div_tipoPago").style.display = "none";
        }
    }

    // Validación de números decimales
    $('.cls-numeric').on('input', function () {
        var input = $(this);
        var value = input.val();
        var regex = /^[0-9]*\.?[0-9]*$/;

        if (!regex.test(value)) {
            input.val(value.replace(/[^\d.]/g, ''));
        }
    });

    function solicitarValidacion() {
        let btn_solicitarValidacion = document.querySelector('#btn_cerrarModalProveedores');
        btn_solicitarValidacion.disabled = true;

        let formdata = new FormData();
        let arrImgs = $('#ImgAdjunta')[0].files;
        let cantidadImgs = arrImgs.length;

        if (cantidadImgs >= 1) {
            for (var x = 0; x < cantidadImgs; x++) {
                formdata.append("ImgAdjunta", arrImgs[x]);
            }
        }

        formdata.append("DocEntryORRU", $('#DocEntryORRU').val());
        formdata.append("LineaORRU", $('#LineaORRU').val());
        formdata.append("TipoRepORRU", $('#TipoRepORRU').val());
        formdata.append("DocEntryTicket", $('#DocEntryTicket').val());
        formdata.append("MontoRecibidoEfectivo", $('#MontoRecibidoEfectivo').val());
        formdata.append("MontoRecibidoDeposito", $('#MontoRecibidoDeposito').val());
        formdata.append("ComentarioAdjunto", $('#ComentarioAdjunto').val());
        formdata.append("TipoPago", $('#tipo_pago').val());
        formdata.append("AutorizacionExcepcional", $('#AutorizacionExcepcional').val());

        if (($('#tipo_pago').val() == 'PCD' || ($('#tipo_pago').val() == 'PMI' && $('#MontoRecibidoDeposito').val() > 0))) {
            for (let img in arrImgs) {
                if (typeof (img) == 'undefined') {
                    Swal.fire(`Es obligatorio adjuntar imagen para el tipo de pago seleccionado`); return;
                } else if (img.size > 15360) {
                    Swal.fire(`Imagen adjunta supera el límite de 15 MB`);
                    $('#ImgAdjunta').val() = ""; return;
                }
            }
        }

        $.ajax({
            url: '/Caja/ValidarMontoFinalTicket',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formdata
        }).done(function (response) {
            if (response.Proceso == 'OK') {
                Swal.fire({
                    title: response.Mensaje,
                    text: "Actualizando lista...",
                });

                setInterval(function () {
                    window.location.href = window.location;
                }, 2300);
            } else {
                if (response.Mensaje != '') {
                    Swal.fire(response.Mensaje);
                    btn_solicitarValidacion.disabled = false;
                } else {
                    // redirección a ENTREGAR PEDIDO
                    window.location.href = `/Rutas/EntregarDetReparto?DocEntry=${response.DocEntry}&Linea=${response.Linea}&TipoRep=${response.TipoRep}&TipoVenta=${response.TipoVenta}`;
                }
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR.status + textStatus + errorThrown);
        });
    }

    function verRespuesta(docEntryTicket, idOTC) {
        $.ajax({
            url: '/Caja/VerRespuestaSolicitud',
            method: "POST",          // Método HTTP a utilizar
            dataType: "json",       // Tipo de datos esperados en la respuesta
            data: { docEntryTicket: docEntryTicket, idOTC: idOTC }
        }).done(function (response) {
            // Manejo de la respuesta exitosa
            Swal.fire({
                title: response.Mensaje,
                showCancelButton: false,
                confirmButtonColor: '#26653D',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed && response.Respuesta == 'SI') {
                    Swal.fire({
                        title: "Actualizando lista...",
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: false
                    });

                    // Redirigir a la página después de 2 segundos
                    setTimeout(() => {
                        window.location.href = window.location.href;
                    }, 2000);
                }
            }) ;
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.error("Error en la petición AJAX: " + textStatus, errorThrown);     // Manejo del error
        });
    }
</script>