@model Capa_Entidad.Rutas_ENT.TablasSql.ORRU_E

@{
    Layout = null;
    decimal pesototal = 0;
    var guiastotal = 0;
    int guias = 0;
    if (Model.DetRRU0.Count() > 0) {
        foreach (var d in Model.DetRRU0.Where(x => x.Estado != "LIBERADO"))
        {
            string guiasitem= d.Guias;
            string[] subs = guiasitem.Split(',');
            guias = subs.Count()-1;
            guiastotal += guias;
        }
    }


}
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ManifiestoDeEntrega</title>
    </head>
    <body>
        <table border="1" style="font-size:12px">
            <tr>
                <th colspan="2">
                    <img src="~/imagenes/logoweb.jpg" width=150 height=50 />
                </th>
                <th colspan="5">MANIFIESTO DE ENTREGA <br /> NRO : @Model.DocNum </th>
                <th colspan="5" style="font-size:14px"> FECHA : @DateTime.Now.ToString("dd/MM/yyyy")<br />HORA : @DateTime.Now.ToString("HH:mm") </th>
            </tr>
            <tr>
            <th colspan="3">COURIER : @Model.Agencia </th>   
            <th colspan="3"> RUC :  @Model.RucAgencia </th> 
            <th colspan="3">CONDUCTOR : @Model.TransDesc.ToUpper() </th> 
            <th colspan="3">PLACA : @Model.Placa</th> 
            </tr>
        <tr ><th colspan="12" ><p style="display:flex">OBSERVACIONES : @Model.Observaciones</p></th></tr>
            <tr>
                <th>ITEM</th>
                <th>TICKET</th>
                <th>CLIENTE</th>
                <th>RUC </th>
                <th  colspan="3">GUIAS </th>
                <th>NRO CAJAS</th>
                <th>PESO KG </th>
                <th colspan="2">DESTINO</th>
                <th>OBSERVACION</th>
            </tr>
            @{decimal pt = 0; int i = 1;}
            @foreach (var d in Model.DetRRU0.Where(x => x.Estado != "LIBERADO"))
            {
                <tr>
                    <td>@i</td>
                    <td>@d.DocNumTicket</td>
                    <td>@d.Ticket.CardName</td>
                    <td >@d.Ticket.CardCode.Substring(1, 11)</td>
                    <td  colspan="3">@d.Guias</td>
                    <td>@d.Ticket.Cajas</td>
                    <td>@d.Ticket.Det6.Sum(x => x.Peso)</td>
                    @if (d.Ticket.Det3 != null && d.Ticket.Det3.Count()>1 && !string.IsNullOrWhiteSpace(d.Ticket.Det3[1].Calle))
                    {
                        <td colspan="2">@d.Ticket.Det3[1].Distrito-@d.Ticket.Det3[1].Provincia-@d.Ticket.Det3[1].Departamento</td>
                    }
                    else
                    {
                        <td colspan="2">@d.Ticket.Det3[0].Distrito-@d.Ticket.Det3[0].Provincia-@d.Ticket.Det3[0].Departamento</td>

                    }

                    <td >@d.Observaciones</td>
                </tr>
                pt += d.Ticket.Det6.Sum(x => x.Peso);
                i++;
            }
            @{pesototal = pt; }
            <tr>
                <th colspan="8" style="text-align:right">@Model.DetRRU0.Where(x => x.Estado != "LIBERADO").Sum(x => x.Cajas) CAJAS </th>
                <th colspan="7" style="text-align:left">@pesototal KG </th>
            </tr>
        </table><br /><br />
        <span>TOTAL DE DOCUMENTOS :  @guiastotal</span>
        <table>
            <tr><td style="height:100px;"></td></tr>
            <tr>
                <td width=100px><font size="2"></font></td>
                <td><font size="2">_______________________</font></td>
                <td  width=300px><font size="2"></font></td>
                <td><font size="2">_______________________</font></td>
                <td><font size="2"></font></td>
                <td><font size="2"></font></td>
            </tr>
            <tr>
                <td><font size="2"></font></td>
                <td><font size="2">AGENCIA COURIER </font></td>
                <td><font size="2"></font></td>
                <td><font size="2">AREA DE DESPACHO</font></td>
                <td><font size="2"></font></td>

                <td><font size="2"></font></td>
            </tr>
        </table>
    </body>
</html>
