@model Capa_Entidad.Rutas_ENT.TablasSql.ORRU_E
@using Capa_Entidad.General_ENT.TablasSql
@{
    ViewBag.Title = "Nueva Hoja De Reparto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<OWHS_E> lstOriDest = (List<OWHS_E>)ViewBag.ListaOrigenesDestinos;
    List<Capa_Entidad.Repartos_ENT.TablasHana.SYP_VEHICU_E> Vehiculos = (List<Capa_Entidad.Repartos_ENT.TablasHana.SYP_VEHICU_E>)ViewBag.ListaVehiculos;
    List<string> Conductores = new List<string>(ViewBag.Conductores);
    List<string> Copilotos = new List<string>(ViewBag.ListaCopilotos);

    string urlAction = Url.Action("ListadoRutas", "Rutas"), tituloListado = "Listado de rutas", tituloTipoRep = "";
    if (ViewBag.TipoRep == "Re")
    {
        urlAction = Url.Action("ListadoRepartos", "Rutas");
        tituloListado = "Listado de repartos";
        tituloTipoRep = "Registrar Hoja de Reparto";
    }
    else if (ViewBag.TipoRep == "Ru")
    {
        tituloTipoRep = "Registrar Hoja de Ruta";
    }

}
<style>
    #Detalles textarea {
        font-size: 12px;
    }
</style>
<script>
     var contDet = 0;
</script>
<script src="~/Scripts/Rutas/HojaDeReparto.js?v=@DateTime.Now.Ticks>" defer></script>

<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="/Index/Sesion">Inicio</a></li>
            <li><a href="@urlAction">@tituloListado</a></li>
            <li class="current"><em>Crear documento</em> </li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="d-flex justify-content-between px-3 pt-3">
        <h3 class="titulo-seccion">@tituloTipoRep.ToUpper()</h3>
        <div class="col-md-4 text-right">
            <div class="alert alert-danger text-center text-primary" role="alert" id="btn-NoEnviados">
                <a href="#" onclick="verTicketsNoEnviados()">
                </a>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
{
@Html.AntiForgeryToken()
<input name="TipoRep" type="hidden" value="@ViewBag.TipoRep" readonly />
<div class="bg-form-pestanas-cobefar bg-section-form p-3 bg-form-cobefar">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row mt-4">
        <div class="col-lg-2">
            <label for="TipoRuta" class="text-dark form-label font-weight-bold font-18">Tipo de ruta:</label>
            <select name="TipoRuta" id="TipoRuta" class="form-control bg-cobefar text-white" onchange="validarTipoRuta(this.value,'');listarTickets('');">
                <option value="">Seleccione</option>
                <option value="VC">Centro</option>
                <option value="VA">Arriola</option>
                <option value="VD">Domicilio</option>
                @if (ViewBag.TipoRep == "Re")
                    {
                <option value="VG">Agencia</option>
                    }
            </select>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-2">
            <label for="FechaCont" class="text-dark form-label font-weight-bold font-18">Fecha:</label>
            <input type="date" name="FechaCont" id="FechaSapTicket" class="form-control border-success" onchange="listarTickets('');" />
        </div>
        <div class="col-lg-2">
            <label for="Zona" class="text-dark form-label font-weight-bold font-18">Zona:</label>
            <select id="Zona" class="form-control bg-cobefar text-white" onchange="listarTickets(''); buscarConductorYPlaca(this.value);">
                <option value="">Seleccione</option>
                <option value="CALLAO">CALLAO</option>
                <option value="CONO CENTRO">CONO CENTRO</option>
                <option value="CONO SUR">CONO SUR</option>
                <option value="CONO ESTE1">CONO ESTE1</option>
                <option value="CONO ESTE2">CONO ESTE2</option>
                <option value="CONO NORTE1">CONO NORTE1</option>
                <option value="CONO NORTE2">CONO NORTE2</option>
                <option value="AGENCIA">AGENCIA</option>
                <option value="PREVENTA">PREVENTA</option>
                <option value="ARRIOLA">ARRIOLA</option>
            </select>
        </div>
        <div id="div_almacen-origen" class="col-lg-2">
            <label for="AlmOrigenDesc" class="text-dark form-label font-weight-bold font-18">Almacén de Origen:</label>
            <input type="hidden" id="AlmOrigenCod" name="AlmOrigenCod" value="" />
            <input type="hidden" id="AlmOrigenDesc2" name="AlmOrigenDesc2" value="" />
            <select name="AlmOrigenDesc" id="AlmOrigenDesc" class="form-control bg-cobefar text-white"
                    onchange="enviarValSelect('AlmOrigenDesc', 'AlmOrigenCod', 'almorigencod'); enviarValSelect('AlmOrigenDesc', 'AlmOrigenDesc2', 'almorigendesc2'); listarTickets('');">
                <option value="">Seleccione</option>
                @foreach (var l in lstOriDest.Where(x => x.WhsCode == "10" || x.WhsCode == "ALM07" || x.WhsCode == "17"))
                    {
                <option value="@l.WhsName" almorigencod="@l.WhsCode" almorigendesc2="@(l.Street+" "+l.StreetNo+" "+l.Building+" "+l.Block+" "+l.City+" "+l.County)">
                    @l.WhsName
                </option>
                    }
            </select>
        </div>
        <div id="div_almacen-destino" class="col-lg-2">
            <label for="AlmDestinoDesc" class="text-dark form-label font-weight-bold font-18">Almacén de Destino:</label>
            <input type="hidden" id="AlmDestinoCod" name="AlmDestinoCod" value="" />
            <input type="hidden" id="AlmDestinoDesc2" name="AlmDestinoDesc2" value="" />
            <select name="AlmDestinoDesc" id="AlmDestinoDesc" class="form-control bg-cobefar text-white"
                    onchange="enviarValSelect('AlmDestinoDesc', 'AlmDestinoCod','almdestinocod');enviarValSelect('AlmDestinoDesc', 'AlmDestinoDesc2','almdestinodesc2');">
                <option value="">Seleccione</option>
                <option value="DOMICILIOS" almdestinocod="08" almdestinodesc2="">DOMICILIOS</option>
                @foreach (var l in lstOriDest.Where(x => x.WhsCode == "09" || x.WhsCode == "01"))
                    {
                <option value="@l.WhsName" almdestinocod="@l.WhsCode" almdestinodesc2="@(l.Street+" "+l.StreetNo+" "+l.Building+" "+l.Block+" "+l.City+" "+l.County)">
                    @l.WhsName
                </option>
                    }
            </select>
        </div>
        <div class="col-lg-2">
            <label for="Placa" class="text-dark form-label font-weight-bold font-18">Placa:</label>
            <select name="Placa" id="Placa" class="form-control bg-cobefar text-white border-success"
                    onchange="enviarValSelect('Placa', 'VehiculoCod', 'Code');
                                        enviarValSelect('Placa', 'Marca', 'U_SYP_VEMA');
                                        enviarValSelect('Placa', 'Modelo', 'U_SYP_VEMO');">
                <option value="">Seleccione</option>
                @foreach (var t in Vehiculos)
                    {
                <option value="@t.U_SYP_VEPL" Code="@t.Code" U_SYP_VEMA="@t.U_SYP_VEMA" U_SYP_VEMO="@t.U_SYP_VEMO">@t.U_SYP_VEPL</option>
                    }
            </select>
            @Html.EditorFor(model => model.Marca, new { htmlAttributes = new { @type = "hidden", @readonly = "true" } })
            @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @type = "hidden", @readonly = "true" } })
            @Html.EditorFor(model => model.VehiculoCod, new { htmlAttributes = new { @type = "hidden", @readonly = "true" } })
        </div>
        <div class="col-lg-2">
            <label for="TransDesc" class="text-dark form-label font-weight-bold font-18">Conductor:</label>
            <select name="TransDesc" id="TransDesc" class="form-control bg-cobefar text-white border-success">
                <option value="">Seleccione</option>
                @foreach (var x in Conductores)
                    {
                <option value="@x">@x</option>
                    }
            </select>
        </div>
    </div>
    <div class="row mt-lg-4">
        <div class="col-lg-2">
            <label for="CopilDesc" class="text-dark form-label font-weight-bold font-18">Copiloto 1:</label>
            @Html.EditorFor(model => model.CopilDesc, new { htmlAttributes = new { @class = "form-control border-success", @type = "search", @list = "ListaCopilotos", @autocomplete = "off" } })
            <datalist id="ListaCopilotos">
                @foreach (var x in Copilotos)
                    {
                <option value="@x.ToUpper()"></option>
                    }
            </datalist>
        </div>
        <div class="col-lg-2">
            <label for="Copil2Desc" class="text-dark form-label font-weight-bold font-18">Copiloto 2:</label>
            @Html.EditorFor(model => model.Copil2Desc, new { htmlAttributes = new { @class = "form-control border-success", @type = "search", @list = "ListaCopilotos", @autocomplete = "off" } })
        </div>
        <div class="col-lg-2">
            <label for="TiempoPac" class="text-dark form-label font-weight-bold font-18">Tiempo de entrega pactado: </label>
            <input type="datetime-local" class="form-control border-success" name="TiempoPac" />
        </div>

        <div class="col-lg-1">
            <label for="TotalCajas" class="text-dark form-label font-weight-bold font-18"># Cajas:</label>
            <input id="TotalCajas" type="text" class="form-control border-success" readonly />
        </div>

        <div class="col-lg-5">
            <label for="Observaciones" class="text-dark form-label font-weight-bold font-18">Observaciones:</label>
            @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control border-success" ,@autocomplete="off" } })
        </div>
    </div>

    <!--Botones-->
    <div class="row align-content-between py-lg-4">
        <div class="col-lg-10 align-bottom">
            <input type="checkbox" id="chk_verifTodos" onclick="seleccionarVerif()" /> <label for="chk_verifTodos" class="text-primary">Seleccionar Todos</label>
        </div>
        <div>
            <div class="ml-auto mr-3">
                <button type="button" class="btn btn-cobefar-2 ml-2" id="btn-Agregar" onclick="agregarTicketsDetalle()"><i class="icon icon-plus">   </i> Agregar </button>
                <button type="button" class="btn btn-info ml-2" onclick="validarEnviarFormulario('');">
                    <i class="icon icon-checkmark2"> </i> Guardar datos
                </button>
            </div>
        </div>
    </div>


    <!--Tabla con los tickets a enviar disponibles segun parametros-->
    <div class="col-lg-12">
        <table id="detalleRuta" class="table table-light table-sm table-hover cls-dataTable" cellspacing="0" width="100%">
            <thead class="bg-cobefar-6 text-white">
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">#</th>
                    <th hidden>DocEntryTicket</th>
                    <th class="text-center">NroTicket</th>
                    <th hidden>CodSocio</th>
                    <th class="text-center" style="width:250px">Socio</th>
                    <th class="text-center" style="width:450px">Guías</th>
                    <th class="text-center">Cajas</th>
                    <th hidden>Obs.</th>
                    <th hidden>Direcciones</th>
                    <th class="text-center" style="width:70px">Agencia</th>
                    <th class="text-center">Monto final</th>
                    <th hidden>Envio</th>
                    <th class="text-center">Tipo de venta</th>
                    <th class="text-center">Tiempo de pago</th>
                    <th hidden>Vinculados</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


 <!--Tabla principal que detalla los tickets agregados a la orden de reparto-->
<h3 class="text-cobefar font-weight-bold mt-2">
    DETALLE DE RUTA<br />
</h3>
<div id="divDetalleRuta">
    <div class="mt-2">
        <table id="Detalles" class="table table-light table-sm table-hover" cellspacing="0" width="100%">
            <thead class="bg-success">
                <tr>
                    <th class="text-center">#</th>
                    <th hidden>DocEntryT</th>
                    <th class="text-center">NroTicket</th>
                    <th class="text-center">Socio</th>
                    <th class="text-center">Guías</th>
                    <th class="text-center">Cajas</th>
                    <th class="text-center">Obs.</th>
                    <th class="text-center">Direcciones</th>
                    <th class="text-center">Monto final</th>
                    <th class="text-center">Envio</th>
                    <th class="text-center"></th><!--Boton seguimiento-->
                    <th class="text-center"></th> <!--Boton borrar-->
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>

 <!-- Modal para ver tickets no enviados-->
<div class="modal" id="ModalTicketsNE" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-cobefar text-light">
                <h5 class="modal-title" id="exampleModalLabel">Relación de tickets</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mt-2">
                    <table id="tableModalNE" class="table table-bordered table-sm table-hover" cellspacing="0" width="100%">
                        <thead class="bg-dark">
                            <tr>
                                <th class="text-center">DocNum</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Cliente</th>
                                <th class="text-center">Monto Final</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
}
@if (!string.IsNullOrEmpty(ViewBag.Mensaje))
{
<script>
     var mensaje = '@Html.Raw(ViewBag.Mensaje)';
        Swal.fire({
            text: mensaje,
            showConfirmButton: false,
            timer: 2000
        });
</script>
}
