@model IEnumerable<Capa_Entidad.Almacen_ENT.TablasSql.OIPE_E>
@using Capa_Entidad.Almacen_ENT.TablasSql
@{
    ViewBag.Title = "GestionPeriodos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    OIPE_E f = (OIPE_E)ViewBag.Oipe;
}

<script>
    $(document).ready(function () {
        $('#applyFilters').on('click', function () {
            var formData = $('#filterForm').serialize();
            $(location).attr('href', "/Almacen/GestionPeriodos?" + formData);
            $('#filterModal').modal('hide');
        });
    });

    function filtrar() {
        var object = $("#frm").serialize();
        $(location).attr('href', "/Almacen/GestionPeriodos?" + object);
    }
</script>


<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-dark">
            <li><a href="/Index/Sesion">Inicio</a></li>
            <li><a href="@Url.Action("ContabilizacionInventario", "Almacen")">Módulo contabilización inventario</a></li>
            <li class="current"><em>Gestión de periodos</em></li>
        </ol>
    </nav>
</div>


<div class="bg-dark border-cabecera-seccion pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">GESTIÓN DE PERIODOS</h3></div>

    <div class="d-flex pl-2 w-100 py-2">
        <div class="mx-2">
            <a class="btn btn-success" href="@Url.Action("NuevoPeriodo", "Almacen")">
                <i class="icon icon-plus"></i> Nuevo Periodo
            </a>
        </div>
        <div class="mx-2">
            <button class="btn btn-primary" data-toggle="modal" data-target="#filterModal">
                <i class="icon icon-filter"></i> Filtrar
            </button>
        </div>
    </div>

</div>

@if (@OIPE_E.PeriodoSeleccionado != null)
{
    <div class="alert alert-danger mb-0" role="alert">
        @("Periodo Seleccionado: " + OIPE_E.PeriodoSeleccionado.Descripcion + " ---- Almacenes: " + OIPE_E.PeriodoSeleccionado.enlistarDetAlmacenes())
    </div>
}


<div class="bg-dark pt-4">
    <form name="frm" id="frm">
        <table class="table table-light table-sm table-hover cls-dataTable50" cellspacing="0" width="100%">
            <thead class="thead-dark text-center">
                <tr>
                    <th>N#</th>
                    <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                    <th>@Html.DisplayNameFor(model => model.FecIni)</th>
                    <th>@Html.DisplayNameFor(model => model.FecFin)</th>
                    <th>Almacenes</th>
                    <th>@Html.DisplayNameFor(model => model.FechaRegistro)</th>
                    <th>@Html.DisplayNameFor(model => model.Estado)</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="fila">
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.DocEntry)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td class="text-center">
                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.FecIni))
                        </td>
                        <td class="text-center">
                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.FecFin))
                        </td>
                        <td class="text-center">
                            @item.enlistarDetAlmacenes()
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.FechaRegistro)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>

                        <td class="text-center">
                            <a href="@Url.Action("SeleccionarPeriodo", "Almacen", new { id = item.DocEntry })" class="btn btn-light text-success" data-toggle="tooltip" data-placement="top" title="Seleccionar Periodo"><i class="icon icon-checkmark2"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("EditarPeriodo", "Almacen", new { id = item.DocEntry })" class="btn btn-light text-purple" data-toggle="tooltip" data-placement="top" title="Editar Periodo"><i class="icon icon-pencil"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("CerrarPeriodo", "Almacen", new { id = item.DocEntry })" class="btn btn-light text-danger" data-toggle="tooltip" data-placement="top" title="Cerrar Periodo"><i class="icon icon-cross"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("CargarDatosSap", "Almacen", new { id = item.DocEntry })" class="btn btn-light text-info" data-toggle="tooltip" data-placement="top" title="Migrar Datos desde SAP"><i class="icon icon-database"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>
<!-- Modal para filtros -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-cobefar">
                <h5 class="modal-title text-light" id="filterModalLabel">Filtrar Periodos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="filterForm">
                    <div class="form-group">
                        <label for="DocEntry">Número:</label>
                        <input type="text" id="DocEntry" name="DocEntry" class="form-control" value="@f.DocEntry" />
                    </div>
                    <div class="form-group">
                        <label for="Descripcion">Descripción:</label>
                        <input type="text" id="Descripcion" name="Descripcion" class="form-control" value="@f.Descripcion" />
                    </div>
                    <div class="form-group">
                        <label for="FecIni">Fecha Inicio:</label>
                        <input type="date" id="FecIni" name="FecIni" class="form-control" value="@f.FecIni" />
                    </div>
                    <div class="form-group">
                        <label for="FecFin">Fecha Fin:</label>
                        <input type="date" id="FecFin" name="FecFin" class="form-control" value="@f.FecFin" />
                    </div>
                    <div class="form-group">
                        <label for="FechaRegistro">Fecha Registro:</label>
                        <input type="date" id="FechaRegistro" name="FechaRegistro" class="form-control" value="@f.FechaRegistro" />
                    </div>
                    <div class="form-group">
                        <label for="Estado">Estado:</label>
                        <select id="Estado" name="Estado" class="form-control">
                            <option value="">Seleccione</option>
                            <option value="Abierto" @if (ViewBag.Oipe.Estado == "Abierto") { Write("selected"); }>Abierto</option>
                            <option value="Cerrado" @if (ViewBag.Oipe.Estado == "Cerrado") { Write("selected"); }>Cerrado</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="applyFilters">Aplicar Filtros</button>
            </div>
        </div>
    </div>
</div>

<script>
    if ('@ViewBag.mensaje' !="") {
        swal.fire("@ViewBag.mensaje", "Presione el boton para continuar", "success");
    }
</script>