@{
    var isPopup = Request.QueryString["popup"] != null && Request.QueryString["popup"].ToLower() == "true";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - COBEFAR</title>
    <link rel="icon" type="image/x-icon" href="~/Content/img/favicon-cobefar.png">

    <link rel="preload" href="~/Content/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="~/Content/css/bootstrap.min.css"></noscript>

    <link href="~/Content/icomoon/style.css" rel="stylesheet">
    <link href="~/Content/estilos.css" rel="stylesheet">
    <link href="~/Content/css/jquery-ui-1.12.css" rel="stylesheet">
    <link href="~/Content/css/select2.min.css" rel="stylesheet">

    @RenderSection("Styles", required: false)

    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('/Content/img/bg-cobefar-v2.png');
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            min-height: 100vh;
            display: flex;
            flex-wrap: wrap;
        }

        table.dataTable td {
            padding: 1px !important;
            margin: 1px !important;
        }

        table.dataTable th {
            padding-left: 2px !important;
            padding-right: 2px !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
        }

        #statusBD {
            font-weight: 700;
            text-align: right;
            font-size: 11px;
        }
    </style>

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"></noscript>

    <link rel="stylesheet" type="text/css" href="~/Content/Libs/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Libs/datatables/css/responsive.bootstrap4.min.css">

    <script src="~/Content/js/jquery-3.6.3.js"></script>
    <script src="~/Content/js/bootstrap.bundle.js" defer></script>
    <script src="~/Content/js/select2.min.js" defer></script>
    <script src="~/Content/js/jquery-ui-1.12.js" defer></script>
    <script src="~/Scripts/Frameworks/sweetalert2@11.js"></script>
</head>

<body>
    <div id="contenedor" class="container" style="width:100%;">

        <header class="bg-cobefar-degradado-1" style="width: 100%;  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);">
            <div class="px-2 py-2">
                <div class="row align-items-center" style="height: 30px;">
                    <div class="col-lg-6 col-md-6 col-sm-6 d-flex align-items-center">
                        <a href="@Url.Action("LogOut", "Index")" class="btn btn-sm" style="background-color: #08fe56; color: black; border-radius: 15%;">
                            <i class="icon-switch" style="font-size: 14px;"></i>
                        </a>
                        <span id="statusBD" class="text-light ml-3">Estado: Conectado</span>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-end align-items-center">
                        <span class="text-light font-weight-bold mr-2" style="font-size: 14px;">Bienvenido(a): <span id="usuarioLogueado" style="color:lime">Está desconectado</span></span>
                    </div>
                </div>
            </div>
        </header>

        <div id="div_container2" class="container" style="width: 100%; background-color: #F0F0F0; box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 8px 8px;">
            @RenderBody()
        </div>

    </div>
    <!-- Pie de página -->
    @if (!isPopup)
    {
        <footer>
            <div class="container-footer bg-dark pt-4">
                <div class="copyright mb-2">
                    <span class="text-cobefar-2">CONTACTO:</span>
                    coordinador.ti@cobefar.com.pe
                    <span class="text-cobefar-2">|</span>
                    soporte.ti@cobefar.com.pe
                    <span class="text-cobefar-2">|</span>
                    coordinador.desarrollo@cobefar.com.pe
                    <span class="text-cobefar-2">|</span>
                    soporte.desarrollo@cobefar.com.pe
                </div>            © Todos los derechos reservados - <span class="text-cobefar-2">COBEFAR S.A.C </span>
                <br />
                <small>
                    <span class="text-cobefar-2">ALM01:</span> Jr. Antonio Miroquesada N°806 3er piso-Int 303 – Cercado de Lima
                    <span class="text-cobefar-2">| ALM05:</span> Calle Mariano Jose de Arce N° 159-163 INT. MZ.C,LOTE.01, 1° Y 2° piso Urb. Mercurio - San Luis
                </small>
            </div>
        </footer>
    }

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            statusBD();
            buscarUsuarioLogueado();
        });

        (function () {
            var link = document.createElement('link');
            link.rel = 'stylesheet';
            link.href = 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';
            document.head.appendChild(link);
        })();

        function buscarUsuarioLogueado() {
            var parametros;
            $.ajax('/Index/BuscarUsuarioLogueado', {
                data: parametros,
                dataType: 'html',
                cache: false,
                type: 'post',
            })
                .done(function (response) {
                    document.getElementById('usuarioLogueado').innerHTML = response;
                });
        }
        function deshabilitarRetroceso() {
            window.location.hash = "no-back-button";
            window.location.hash = "Again-No-back-button" //chrome
            window.onhashchange = function () { window.location.hash = "no-back-button"; }
        }

        function statusBD() {
            var parametros;
            $.ajax('/Index/statusBD', {
                data: parametros,
                dataType: 'html',
                cache: false,
                type: 'post',
            })
                .done(function (response) {
                    document.getElementById('statusBD').innerHTML = response;
                });
        }
    </script>

    <script src="~/Content/Libs/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Libs/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/Libs/datatables/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/Libs/datatables/js/responsive.bootstrap4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery.datetimepicker.css" />
    <script src="~/Content/js/jquery.datetimepicker.full.js" defer></script>

    <script async>
        // Si existe el elemento en DOM
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            if (document.getElementsByClassName("cls-dataTable").length > 0) {
                $('.cls-dataTable').DataTable({
                    "ordering": false,
                    "scrollX": true
                });
            }

            if (document.getElementsByClassName("cls-dataTable50").length > 0) {
                $('.cls-dataTable50').DataTable({
                    "searching": true,
                    "ordering": false,
                    "scrollX": true,
                    pageLength: 50, /*---- PARA INICIALIZAR LA PAGINACIÓN */
                    lengthMenu: [50, 100, 150], /* RANGO PAGINACIÓN */
                });
            }

            if (document.getElementsByClassName("cls-dataTable20").length > 0) {
                $('.cls-dataTable20').DataTable({
                    "searching": false,
                    "ordering": false,
                    "scrollX": true,
                    pageLength: 20, /*---- PARA INICIALIZAR LA PAGINACIÓN */
                    lengthMenu: [20, 40, 60, 80, 100, 120], /* RANGO PAGINACIÓN */
                });
            }

            if (document.getElementsByClassName("cls-dataTable30").length > 0) {
                $('.cls-dataTable30').DataTable({
                    "ordering": false,
                    "scrollX": true,
                    pageLength: 30, /*---- PARA INICIALIZAR LA PAGINACIÓN */
                    lengthMenu: [30, 60, 90, 120], /* RANGO PAGINACIÓN */
                });
            }

            if (document.getElementsByClassName("cls-dateTimeDespacho").length > 0) {
                $.datetimepicker.setLocale('es');
                jQuery('.cls-dateTimeDespacho').datetimepicker({ step: 1 });
            }

            if (document.getElementsByClassName("cls-dateTimeVentas").length > 0) {
                $.datetimepicker.setLocale('es');

                var fechaActual = new Date();
                var fechaMaxima = new Date(fechaActual.getTime());
                fechaMaxima.setDate(fechaMaxima.getDate() + 10);
                var maxDateFormatted = fechaMaxima.toISOString().slice(0, 16);
                var DateActualFormatted = fechaActual.toISOString().slice(0, 16);

                jQuery('.cls-dateTimeVentas').datetimepicker({
                    maxDate: maxDateFormatted,
                    minDate: DateActualFormatted,

                });
            }


        });

        function validarTexto(input) {
            // Expresión regular que permite caracteres alfanuméricos, "-", ".", "°", letras con tildes y acento agudo
            var regex = /^[a-zA-Z0-9áéíóúñÑÁÉÍÓÚüÜ \-\.°']+$/;

            // Comprobar si la cadena coincide con la expresión regular
            if (regex.test(input)) {
                // La cadena es válida
                return true;
            } else {
                // La cadena contiene caracteres no permitidos
                return false;
            }
        }

        function permitirSoloNumeros(id) {
            let campo = document.getElementById(id);

            campo.addEventListener('input', function () {
                var valor = campo.value;
                var regex = /^[0-9]*$/; // Expresión regular para permitir solo números

                if (!regex.test(valor)) {
                    campo.value = valor.replace(/\D/g, ''); // Elimina todos los caracteres que no son dígitos
                }
            });
        }

        function limitarMaxCaracteres(id, max) {
            let campo = document.getElementById(id);

            campo.addEventListener('input', function () {
                if (campo.value.length > max) {
                    campo.value = campo.value.slice(0, max);
                }
            });
        }

        // Para que funcione, el parámetro "texto" debe llegar en minúscula: toLowerCase()
        function capitalizarTexto(texto) {
            return texto.replace(/\b\w/g, function (l) {
                return l.toUpperCase();
            });
        }

        // botones sweet alert
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success mx-3',
                cancelButton: 'btn btn-danger mx-3'
            },
            buttonsStyling: false
        })

        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true
        });

        function cargando() {
            Swal.fire({
                html: '<img src="/imagenes/index/ReportesDigemid/cargando.gif" />',
                allowOutsideClick: true,
                showCancelButton: false,
                showConfirmButton: false
            });
        }

        function cargarContenido(idDiv, url) {
            document.getElementById(idDiv).innerHTML = "";

            Swal.fire({
                title: 'Cargando...',
                text: 'Por favor, espere.',
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            });

            fetch(url)
                .then(response => response.text())
                .then(data => {
                    setTimeout(() => {
                        Swal.close();
                    }, 1000); // 1000 ms = 1 second
                    document.getElementById(idDiv).innerHTML = data;
                    return true;  // Asegurarse de que se devuelve algo para que .then() pueda encadenarse
                })
                .catch(error => {
                    console.error('Error al cargar la vista parcial:', error);
                    return false;  // En caso de error, devuelve false
                });

            //$("#" + idDiv).load(url, function () {
            //    $(this).fadeIn("fast", function () {
            //        Swal.close();
            //    });
            //});
        }

        // Función para gestionar el valor de un datalist hacia un input con cualquier dataAttribute
        function gestionarValorDatalist(inputElementId, dataListId, outputElementId, dataAttribute) {
            document.getElementById(inputElementId).addEventListener('input', function () {
                document.getElementById(outputElementId).value = "";
                const input = this.value;
                const selectedOption = Array.from(document.querySelectorAll(`#${dataListId} option`))
                    .find(option => option.value === input);

                if (selectedOption) {
                    document.getElementById(outputElementId).value = selectedOption.dataset[dataAttribute];
                }
            });
        }

        function inicializarDataTable(idTable, itemsPorPagina) {
            const items = Number(itemsPorPagina)

            if ($.fn.DataTable.isDataTable(`#${idTable}`)) {
                $(`#${idTable}`).DataTable().clear().destroy();
            }

            let table = $(`#${idTable}`).DataTable({
                order: [],  // Desactiva ordenamiento automatico.
                ordering: false, // Iconos para ordenar todas las columnas de la tabla.
                responsive: true,        // Mantiene la tabla responsiva si es necesario
                "pageLength": items,
                "lengthMenu": [items, items * 2, items * 3, items * 4, items * 5],
                "language": {
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "search": "Buscar:",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "zeroRecords": "No se encontraron registros"
                }
            });

            table.columns.adjust().draw();
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>