@model Capa_Entidad.Ventas_ENT.TablasSql.ORTV_E
@using Capa_Entidad.General_ENT.TablasSql;

@using Capa_Entidad.Seguridad_ENT
@{
    ViewBag.Title = "CrearTicketVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<UBIG_E> Ubigeos = new List<UBIG_E>(ViewBag.Ubigeos);
    List<OUR1_E> Oficinas = new List<OUR1_E>(ViewBag.Oficinas);
    List<COUR_E> Agencias = new List<COUR_E>(ViewBag.Agencias);
    var usuario = ViewBag.Usuario;

}

<script>
    window.hayReclamos = false;
    $(document).ready(function () {
        //verifica los datos del ticket apenas carga la pagina
        verificacionDatos('');
        //si se elige una fecha o un cliente en el desplegable se validan sus datos nuevos y se limpian campos
        validacionCliente('');
        //trae la nueva lista de direcciones desde sap de acuerdo al cliente seleccionado
        validacionDirDestino('');
        //trae todas las ordenes de venta del cliente que en su Comentario Sap tengan el valor de DocNum
        validacionOrdenesDeVenta();
        //Inicializamos para tickets que vienen desde PedidoOnline
        verificarClientePO();

        //Al iniciar se ocultan los input de Agencia y domicilio
        $("#CamposAgDom").hide();
        //inicia como solo lectura, se habilita cuando se elige un ubigeo 2
        $("#DirDestino2").attr('readonly', true);
        //ocultamos seleccionar oficinas ya que solo es para caso agencia courier
        $("#btnOficinas").hide();
        //ocultamos la tabla de vinculados, hasta que se elija LugarDestino
        $("#divVinculados").hide();
        //Zona pachacamac y lima
        if ($("#Distrito2").val() === 'Pachacamac' || $("#Distrito2").val() === 'Lima') {
            $("#Zona").prop("readonly", false);
        } else {
        $("#Zona").prop("readonly", true);}
        // Inicializamos los tabs desactivados
        $('#nav-det-pedidos-tab').addClass('disabled');
        //solo para las vendedoras seleccionadas muestra el select FormaPago precargado con la opcion EFE/CAPON
        if ('@usuario' !== 'VENTAS32' && '@usuario' !== 'VENTAS05') {
            $("#div_FormaPago").hide();
            $("input[name='FormaPago'], select[name='FormaPago']").val('');
        } else {
            $("#div_FormaPago").show();
            $("input[name='FormaPago'], select[name='FormaPago']").val("EFE/CAPON");
        }
    });

    if ('@ViewBag.Mensaje' != "") {
        Swal.fire('@ViewBag.Mensaje');
    }

    //Habilitacion de pestañas, solo se usa para crear
    function determinarCamposTab(id, tipoCampo, mensaje) {
        let result = true;
        let valorIngresado = $('#' + id).val();

        if (valorIngresado == '') {

            if (tipoCampo == 'txt') {
                $('#' + id).addClass('bg-danger text-white');
            } else if (tipoCampo == 'select') {
                $('#' + id).removeClass('bg-cobefar');
                $('#' + id).addClass('bg-danger');
            }

            Swal.fire(mensaje);
            result = false;
        } else {

            if (id == 'LugarDestino' && valorIngresado != '') {
                result = validarLugarDestino(valorIngresado);

                if (result) {
                    $('#' + id).removeClass('bg-danger');
                    $('#' + id).addClass('bg-cobefar');
                }

            }
            else if (id == 'TelfPer' && valorIngresado != '') {
                if (valorIngresado.length == 9) {
                    $('#' + id).removeClass('bg-danger text-white');
                } else {
                    Swal.fire('El teléfono ingresado debe tener 9 dígitos sin espacios');
                    $('#' + id).addClass('bg-danger text-white');
                    result = false;
                }
            } else if (id == 'DocPer' && valorIngresado != '') {
                if ($('#TipoDocPer').val() == 'DNI') {
                    result = validarNroDoc(id, valorIngresado, 8);
                } else if ($('#TipoDocPer').val() == 'RUC') {
                    result = validarNroDoc(id, valorIngresado, 11);
                } else if ($('#TipoDocPer').val() == 'CE') {
                    result = validarNroDoc(id, valorIngresado, 9);
                }
            } else {

                if (tipoCampo == 'txt') {
                    $('#' + id).removeClass('bg-danger text-white');
                } else if (tipoCampo == 'select') {
                    $('#' + id).removeClass('bg-danger');
                    $('#' + id).addClass('bg-cobefar');
                }

                result = true;
            }
        }

        return result;
    }

    function habilitarPestana(id, div, arrCampos) {
        if (!arrCampos.includes(false)) {
            $('#' + id).removeClass('disabled');
            $('#' + div).show();
        } else {
            $('#' + id).addClass('disabled');
            $('#' + div).hide();
        }
    }

    function validarTabEspecifRecojo() {
        let camposVacios = false;
        let arrCampos = [];

        arrCampos.push(determinarCamposTab('FechaSapTicket', 'txt', 'La fecha ticket es obligatorio'));          // Fecha Ticket
        arrCampos.push(determinarCamposTab('TipoVenta', 'select', 'Seleccionar Tipo de Venta'));               // Tipo de Venta
        arrCampos.push(determinarCamposTab('Embalaje', 'select', 'Seleccionar Tipo de Embalaje'));            // Embalaje
        arrCampos.push(determinarCamposTab('CardName', 'txt', 'Seleccionar Cliente'));                              // Cliente
        arrCampos.push(determinarCamposTab('LugarDestino', 'select', 'Seleccionar Lugar Destino'));         // Lugar Destino

        if (!arrCampos.includes(true)) {
            camposVacios = true;
            Swal.fire('Por favor, llenar los campos sombreados de color rojo en Especificaciones de Recojo');
        }

        habilitarPestana('nav-especif-recojo-tab', 'div_especif_recojo', arrCampos);

        return camposVacios;
    }

    function validarTabDetPedido() {
        let arrCampos = [];
        if ($('#LugarDestino').val() == 'Arriola' || $('#LugarDestino').val() == 'Centro') {
            arrCampos.push(true);
            $('#NombrePer').removeClass('bg-danger text-white');
            $('#TelfPer').removeClass('bg-danger text-white');
            $('#DocPer').removeClass('bg-danger text-white');
            $('#TipoDocPer').removeClass('bg-danger');
            $('#TipoDocPer').addClass('bg-cobefar');
        } else {
            arrCampos.push(determinarCamposTab('NombrePer', 'txt', 'Ingresar Nombres'));                          // Nombres
            arrCampos.push(determinarCamposTab('TelfPer', 'txt', 'Ingresar Teléfono'));                                 // Teléfono
            arrCampos.push(determinarCamposTab('TipoDocPer', 'select', 'Seleccionar Tipo de Doc'));          // Tipo de Doc
            arrCampos.push(determinarCamposTab('DocPer', 'txt', 'Ingresar Nro Doc'));                                 // Nro Doc
        }

        if (!arrCampos.includes(true)) {
            if ($('#LugarDestino').val() == "") { Swal.fire('Por favor seleccione LugarDestino'); }
            else { Swal.fire('Por favor llenar los campos sombreados de color rojo en Datos Pedido'); }
        }

        habilitarPestana('nav-det-pedidos-tab', 'div_det-pedidos', arrCampos);
        //}
    }

    function validarNroDoc(id, valorIngresado, cantidadCaracteres) {
        if (valorIngresado.length == cantidadCaracteres) {
            $('#' + id).removeClass('bg-danger text-white');
            result = true;
        } else {
            Swal.fire(`El Nro Doc ingresado debe tener ${cantidadCaracteres} dígitos`);
            $('#' + id).addClass('bg-danger text-white');
            result = false;
        }

        return result;
    }

    function validarLugarDestino(valorIngresado) {
        let arrCampos = [];
        let result = false;

        if (valorIngresado == 'Agencia' || valorIngresado == 'Agencia Courier') {
            arrCampos.push(determinarCamposTab('EnvioAgencia', 'select', 'Seleccionar Modo de envío'));          // Modo de envío
            arrCampos.push(determinarCamposTab('Agencia', 'txt', 'Ingresar Agencia'));                                   // Agencia
            arrCampos.push(determinarCamposTab('DirDestino', 'select', 'Seleccionar DirDestino'));                     // DirDestino

            /*DESCOMENTAR SI ALGÚN MOMENTO SE NECESITA DIRECCIÓN 2 OBLIGATORIO --- if ($('#EnvioAgencia').val() == 'Oficina de agencia') {
                arrCampos.push(determinarCamposTab('DirDestino2', 'txt', 'Seleccionar DirDestino2'));                     // DirDestino2
            }*/

        } else if (valorIngresado == 'Domicilio') {
            arrCampos.push(determinarCamposTab('DirDestino', 'select', 'Seleccionar DirDestino'));                     // DirDestino
        }

        if (!arrCampos.includes(false)) {
            result = true;
        } else {
            result = false;
        }

        return result;
    }

    function validacionOrdenesDeVenta() {
        $('#infoListaClientes input').on('change', function () {
            var CardCode = $("#infoListaClientes #ListaClientes option[value='" + $("#infoListaClientes input").val() + "']").attr("CardCode");
            var DocNum = $('#DocNum').val();
            if (!CardCode) { CardCode = "" };
            var parametros = { "CardCode": CardCode, "Fecha": $('#infoFechaTicket input').val(), "DocNum": DocNum };
            var tipoVentaInput = $('#TipoVentaInput');
            var tipoVentaSelect = $('#TipoVentaSelect');
            tipoVentaSelect.val(''); tipoVentaInput.val('');
            tipoVentaSelect.hide();
            tipoVentaInput.hide();
            $.ajax('/Ventas/infoListaOrdenesDeVenta',
                {
                    data: parametros,
                    dataType: 'json',
                    cache: false,
                    type: 'post',
                })
                .done(function (response) {
                    console.log(response);
                    if (response.HtmlContent != '') {
                        $('#div_detallesPedidos').css('display', 'block');
                        $('#detallesPedidos').html(response.HtmlContent);

                        var tipoVenta = response.TipoVenta ? response.TipoVenta.toUpperCase() : '';
                        // Mostrar/ocultar elementos según el valor de TipoVenta

                        if (tipoVenta.startsWith('CREDITO')) {
                            tipoVentaInput.show().val('Credito');
                            tipoVentaSelect.hide();
                        } else if (tipoVenta.includes('CONTADO')) {
                            tipoVentaInput.hide();
                            tipoVentaSelect.show();
                        } else {
                            tipoVentaInput.hide();
                            tipoVentaSelect.hide();
                        }
                    }
                    else {
                        tipoVentaSelect.val(''); tipoVentaInput.val('');
                        tipoVentaSelect.hide();
                        tipoVentaInput.hide();
                        Swal.fire('No existe elementos en la tabla de ordenes o el tipo de venta no es único.')
                    }
                });
        });
    }

   //reclamos ( atencion al cliente )
    function verificarReclamos() {
        var parametros = { "CardCode": $("#infoListaClientes #ListaClientes option[value='" + $("#CardName").val() + "']").attr("CardCode") };
        $.ajax('/Ventas/comprobarReclamosCliente',
            {
                data: parametros,
                dataType: 'json',
                cache: false,
                type: 'post'
            })
        .done(function (response) {
            if (response.length > 0) {
                window.hayReclamos = true;
                $("#ReporteReclamos").html("<button type='button' class='btn btn-danger' onclick='reporteReclamosCliente();'><i class='icon-folder-open''></i> Reclamos</button>")
            }
            else {
                window.hayReclamos = false;
                $("#ReporteReclamos").html("");
            }
        });
    }

    function reporteReclamosCliente() {
        window.open("/Ventas/ReporteReclamosCliente?CardCode=" + $("#CardCode").val(), null, 'width=1080,height=450,top=100,left=100,toolbar=no,location=no,status=no,menubar=no')
    }

    //busca si cliente tiene regalo pendiente, para enviarlo
    function buscarClienteRegalo() {
        $('#Zona').val("")
        $('#DirDestino2').val("");
        $('#DirDestino2').prop("readonly", true);
        $("#IdReg").html("<option value=''>Seleccione</option>");
        $("#RegCant").val(0);
        $("#RegCate").val(""); $("#RegCate").val("");
        $("#Ubigeo").val(""); $("#Calle").val(""); $("#Distrito").val(""); $("#Provincia").val(""); $("#Departamento").val(""); $("#Ubigeo2").val(""); $("#Calle2").val(""); $("#Distrito2").val(""); $("#Provincia2").val(""); $("#Departamento2").val("");

        var parametros = { "CardCode": $("#infoListaClientes #ListaClientes option[value='" + $("#CardName").val() + "']").attr("CardCode") };
        $.ajax('/Ventas/buscarClienteRegalo',
            {
                data: parametros,
                dataType: 'json',
                cache: false,
                type: 'post'
            })
            .done(function (response) {

                $.each(response.Det, function (key, value) {
                    $("#IdReg").append("<option value='" + value.IdReg + "' CardCode='" + value.CardCode + "' Categoria='" + value.Categoria +
                        "' Tipo=" + value.Tipo + " >" + value.Categoria + "-" + value.Tipo + "</option>");
                });
            });
    }

    function enviarFormulario() {
        var tipoVenta;
        var tipoVentaInput = $('#TipoVentaInput');
        var tipoVentaSelect = $('#TipoVentaSelect');
        var solicitudesReclamo = $("#SolicitudesReclamoSeleccionadas").val();
        if (window.hayReclamos && (!solicitudesReclamo || solicitudesReclamo.trim() === "")) {
            Swal.fire({
                title: 'No puede crear el ticket',
                text: 'Existen reclamos pendientes y no ha vinculado ninguna solicitud de reclamo.',
                icon: 'error'
            });
            return false;
        }
        if (tipoVentaSelect.val()!='') {
            tipoVenta = tipoVentaSelect.val();
        } else {
            tipoVenta = tipoVentaInput.val();
        }

        var lugarDestino = $("#LugarDestino").val();
        var te = $("#TiempoEntrega").val();
        var coordinaciones = $("#Observaciones").val();
        var agencia = $("#Agencia").val();
        var envioagencia = $("#EnvioAgencia").val();
        var referencia = $("#Referencia").val();

        var mensaje = '<div class="my-swal-text">';
         // Si el lugarDestino es otros diferente a 'Agencia'
        if (lugarDestino !== 'Agencia') {
            mensaje += 'Tipo de Venta: <strong>' + tipoVenta + '</strong><br>Lugar de Destino: <strong>' + lugarDestino + '</strong><br>Coordinaciones: <strong>' + coordinaciones + '</strong><br>T.E: <strong>' + te + '</strong></div>';
        } else {
        // Si el lugarDestino es 'Agencia'
            mensaje += 'Tipo de Venta: <strong>' + tipoVenta + '</strong><br>Lugar de Destino: <strong>' + lugarDestino + '</strong><br>Coordinaciones: <strong>' + coordinaciones + '</strong><br>T.E: <strong>' + te + '</strong><br>Agencia: <strong>' + agencia + '</strong><br>Modo de envio: <strong>' + envioagencia + '</strong><br>Referencia: <strong>' + referencia + '</strong></div>';
        }

        Swal.fire({
            title: 'Confirmación de envío',
            html: mensaje,
            icon: 'info',
            showCancelButton: true,
            confirmButtonText: 'Si, enviar',
            cancelButtonText: 'No, corregir',
            reverseButtons: true,
            showLoaderOnConfirm: true,
            preConfirm: function () {
                $('#TipoVentaHidden').remove();

                $('<input>').attr({
                    type: 'hidden',
                    id: 'TipoVentaHidden',
                    name: 'TipoVenta',
                    value: tipoVenta
                }).appendTo('#CreaTicketVenta');

                // Hacer submit del formulario
                $("#CreaTicketVenta").submit();
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then(function (result) {
            if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire({
                    title: 'Cancelado',
                    text: 'Se ha cancelado el envío de datos.',
                    icon: 'error'
                });
            }
        });
    }
    function setNroSolicitudReclamo(jsonLista) {
        var lista = JSON.parse(jsonLista);
        document.getElementById('NroSolicitudReclamo').value = lista.join(', ');
        document.getElementById('SolicitudesReclamoSeleccionadas').value = lista.join(',');
    }    
</script>
<script src="~/Scripts/Ventas/TicketDeVenta.js"></script>
<style>
    .my-swal-text {
        background-color: yellow;
        padding: 10px;
        font-size: 24px;
    }
</style>
<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li><a href="@Url.Action("ListadoTicketsVenta", "Ventas")">Listado de tickets</a></li>
            <li class="current"><em>Crear ticket de venta</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">CREAR TICKET DE VENTA</h3></div>
</div>


<div class="bg-form-pestanas-cobefar pt-4">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-datos-pedidos-tab" data-toggle="tab" href="#nav-datos-pedidos" role="tab" aria-controls="nav-datos-pedidos" aria-selected="true">
                Datos Pedido
            </a>
            <a class="nav-link cls-pedidoOnline" id="nav-especif-recojo-tab" data-toggle="tab" href="#nav-especif-recojo" role="tab" aria-controls="nav-especif-recojo" aria-selected="false">
                Especificaciones de Recojo
            </a>
            <a class="nav-link cls-pedidoOnline" id="nav-det-pedidos-tab" data-toggle="tab" href="#nav-det-pedidos" role="tab" aria-controls="nav-det-pedidos" aria-selected="false" onclick="validarTabDetPedido()">
                Detalles de Pedidos
            </a>
            <a class="nav-link cls-pedidoOnline" id="nav-caja-tab" data-toggle="tab" href="#nav-caja" role="tab" aria-controls="nav-caja" aria-selected="false">
                Caja
            </a>
        </div>
    </nav>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CreaTicketVenta" }))
    {

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-datos-pedidos" role="tabpanel" aria-labelledby="nav-datos-pedidos-tab">
                <div class="bg-section-form p-4 bg-form-cobefar">
                    <h2 class="mt-4 text-cobefar font-weight-bold">DATOS PEDIDO</h2>
                    <div class="form-group row pt-4">
                        <div id="infoFechaTicket" class="col-lg-2">
                            <label for="FechaSapTicket" class="text-dark form-label font-weight-bold font-18">@Html.DisplayNameFor(m => m.FechaSapTicket):</label>
                            <input id="FechaSapTicket" type="date" name="FechaSapTicket" value="" class="txt-validacion form-control text-center border-success">
                        </div>
                        <div class="col-lg-8"></div>
                        <div class="col-lg-2">
                            <label></label>
                            <input type="hidden" id="DocEntry" name="DocEntry" value="@Model.DocEntry" readonly />
                            <input type="text" id="Estado" name="Estado" value="@Model.Estado" class="form-control text-center bg-warning" readonly />
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-lg-2">
                            <label for="DocNum" class="text-dark form-label font-weight-bold font-18">DocNum Ticket:</label>
                            <input type="text" id="DocNum" name="DocNum" value="@Model.DocNum" class="txt-validacion form-control text-center border-success" readonly />
                        </div>

                        <div class="col-lg-2">
                            <label for="TipoVenta" class="text-dark form-label font-weight-bold font-18">Tipo de Venta:</label>

                            <input type="text" id="TipoVentaInput" class="form-control text-center border-success" readonly style="display: none;">
                            <select id="TipoVentaSelect" class="form-control bg-cobefar text-white" style="display: none;">
                                <option value="">Seleccione</option>
                                <option value="Normal" @{ if (Model.TipoVenta == "Normal") { Write("selected"); } }>Normal</option>
                                <option value="ContraEntrega" @{ if (Model.TipoVenta == "ContraEntrega") { Write("selected"); } }>ContraEntrega</option>
                                @if (usuario == "VENTAS32" || usuario == "VENTAS05")
                                {
                                    <option value="Credito" @{ if (Model.TipoVenta == "Credito") { Write("selected"); } }>Credito</option>
                                }
                            </select>
                        </div>

                        <div class="col-lg-2">
                            <label for="Embalaje" class="text-dark form-label font-weight-bold font-18">Embalaje:</label>
                            <select name="Embalaje" id="Embalaje" class="form-control  bg-cobefar text-white">
                                <option value="">Seleccione</option>
                                <option value="CL" @{ if (Model.Embalaje == "CL") { Write("selected"); } }>Caja Lima</option>
                                <option value="CP" @{ if (Model.Embalaje == "CP") { Write("selected"); } }>Caja Provincia</option>
                            </select>
                        </div>

                        <div class="col-lg-2">
                            <label for="LugarDestino" class="text-dark form-label font-weight-bold font-18">Lugar destino:</label>
                            <select name="LugarDestino" id="LugarDestino" class="form-control bg-cobefar text-white"
                                    onchange="muestraCampo(); mostrarOficinas(); mostrarTableTicketsVinculados($('#selectVinculado').val()); validarLugarDestino(this.value); limpiarAlmProcedencia(this.value);">
                                <option value="">Seleccione</option>
                                <option value="Arriola" @{ if (Model.LugarDestino == "Arriola") { Write("selected"); } }>Para Arriola</option>
                                <option value="Agencia" @{ if (Model.LugarDestino == "Agencia") { Write("selected"); } }>Para Agencia</option>
                                <option value="Domicilio" @{ if (Model.LugarDestino == "Domicilio") { Write("selected"); } }>Para Domicilio</option>
                                <option value="Centro" @{ if (Model.LugarDestino == "Centro") { Write("selected"); } }>Para Centro</option>
                                <option value="Agencia Courier" @{ if (Model.LugarDestino == "Agencia Courier") { Write("selected"); } }>Para Agencia Courier</option>
                            </select>
                        </div>

                        <div id="div_AlmProcedencia" class="col-lg-2" style="@if (Model.AlmProcedencia != null && Model.AlmProcedencia != "") { Write("display: block"); } else { Write("display: none"); } ">
                            <label for="AlmProcedencia" class="text-dark form-label font-weight-bold font-18">Alm. de procedencia:</label>
                            <select name="AlmProcedencia" id="AlmProcedencia" class="form-control bg-cobefar text-white">
                                <option value="">Seleccione</option>
                                <option value="ALM07" @if (Model.AlmProcedencia == "ALM07") { Write("selected"); }>ALMACÉN Nº6</option>
                                <option value="16" @if (Model.AlmProcedencia == "16") { Write("selected"); }>ALMACÉN Nº8</option>
                                <option value="03" @if (Model.AlmProcedencia == "03") { Write("selected"); }>ALMACÉN Nº3</option>
                            </select>
                        </div>

                        <div class="col-lg-1">
                            <label for="Presupuesto" class="text-dark form-label font-weight-bold font-18">Presupuesto:</label>
                            <select name="Presupuesto" id="Presupuesto" class="form-control bg-cobefar text-white">
                                <option value="NO" @{ if (Model.Presupuesto == "NO") { Write("selected"); } }>NO</option>
                                <option value="SI" @{ if (Model.Presupuesto == "SI") { Write("selected"); } }>SI</option>
                            </select>
                        </div>

                        <div class="col-lg-2" id="div_FormaPago">
                            <label class="text-dark font-weight-bold font-18">Forma de Pago:</label>
                            <select name="FormaPago" id="FormaPago" class="form-control bg-cobefar text-white">
                                <option value="">Seleccione</option>
                                <option value="EFE/CAPON" @{ if (Model.FormaPago != null && Model.FormaPago == "EFE/CAPON") { Write("selected"); } }>EFE/CAPON</option>
                                <option value="EFECTIVO" @{ if (Model.FormaPago != null && Model.FormaPago == "EFECTIVO") { Write("selected"); } }>EFECTIVO</option>
                                <option value="DEPOSITO" @{ if (Model.FormaPago != null && Model.FormaPago == "DEPOSITO") { Write("selected"); } }>DEPOSITO</option>
                            </select>
                        </div>


                    </div>

                    <div class="row mt-4">
                        <div id="infoListaClientes" class="col-lg-7">
                            <label for="CardName" class="text-dark form-label font-weight-bold font-18">Cliente:</label>
                            <input type="search" id="CardName" name="CardName" list='ListaClientes' class="form-control border-success" value="@Model.CardName" onchange="buscarClienteRegalo(); verificarReclamos();" autocomplete="off">
                            @if (Request["Tipo"] != null && Request["Tipo"].Equals("PedidoOnline"))
                            {
                                <span class="text-cobefar font-weight-bold">Ticket separado para: </span><span class="text-danger font-weight-bold">@Model.CardName</span>
                            }
                        </div>
                        <div id="infoCliente" class="col-lg-2">
                            <label for="CardCode" class="text-dark form-label font-weight-bold font-18">Código Cliente:</label>
                            <input type="text" id="CardCode" name="CardCode" class="form-control text-center border-success" readonly value="@Model.CardCode">
                        </div>

                    </div>

                    <div id="CamposAgDom">
                        <div class="row mt-4" id="CamposAgencia">
                            <div class="col-lg-3">
                                <label class="text-dark form-label font-weight-bold font-18">Modo de envío:</label>
                                <select name="EnvioAgencia" id="EnvioAgencia" class="form-control bg-cobefar text-white" onchange="mostrarOficinas();">
                                    <option value="">Seleccione</option>
                                    <option value="Oficina de agencia" @{ if (Model.EnvioAgencia == "Oficina de agencia") { Write("selected"); } }>Oficina de agencia</option>
                                    <option value="Domicilio de cliente" @{ if (Model.EnvioAgencia == "Domicilio de cliente") { Write("selected"); } }>Domicilio de cliente</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label class="text-dark form-label font-weight-bold font-18">Agencia:</label>
                                <input type="text" name="Agencia" id="Agencia" value="" class="form-control border-success" list="ListAgencias" autocomplete="off" />
                                <datalist id="ListAgencias">
                                    @foreach (var i in Agencias)
                                    {
                                        <option value="@i.Nombre" />
                                    }
                                </datalist>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-lg-9">
                                <label class="text-dark form-label font-weight-bold font-18">DirDestino:</label>
                                <select name="DirDestino" id="DirDestino" class="form-control bg-cobefar text-white" onchange="enviarValSelect('DirDestino', 'Distrito', 'Distrito'); enviarValSelect('DirDestino', 'Provincia', 'Provincia'); enviarValSelect('DirDestino', 'Departamento', 'Departamento'); enviarValSelect('DirDestino', 'Ubigeo', 'Ubigeo'); enviarValSelect('DirDestino', 'Calle', 'Calle'); enviarValSelect('DirDestino', 'Zona', 'Zona');" @*muestraCampo()*@>
                                    <option value="">Seleccione</option>
                                </select>
                                <input type="hidden" name="Det3[0].IdDireccion" value="1" />
                                <input type="hidden" name="Det3[0].DocEntry" value="@Model.DocEntry" />
                                <input type="hidden" id="Calle" name="Det3[0].Calle" />
                                <input type="hidden" id="Ubigeo" name="Det3[0].Ubigeo" />
                                <input type="hidden" id="Distrito" name="Det3[0].Distrito" />
                                <input type="hidden" id="Provincia" name="Det3[0].Provincia" />
                                <input type="hidden" id="Departamento" name="Det3[0].Departamento" />
                            </div>
                            <div class="col-lg-3">
                                <label class="text-dark form-label font-weight-bold font-18">Zona:</label>
                                <div class="input-group">
                                    <input type="text" id="Zona" name="Zona" class="form-control text-center border-success" value="@Model.Zona" autocomplete="off">
                                    <div class="input-group-append">
                                        <button type="button" id="borrarZona" onclick="$('#Zona').val('');" class="btn btn-outline-danger">
                                            <i class="icon icon-bin2"></i>
                                        </button>
                                    </div>
                                </div>
                                <datalist id="opcionesZonaPachacamac">
                                    <option value="CONO ESTE2">
                                    <option value="CONO SUR">
                                </datalist>
                                <datalist id="opcionesZonaLima">
                                    <option value="CALLAO">
                                    <option value="CONO CENTRO">
                                </datalist>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-lg-7">
                                <label class="text-dark form-label font-weight-bold font-18">DirDestino2:</label>
                                <input type="text" name="Det3[1].Calle" id="DirDestino2" list="Oficinas" class="form-control border-success" autocomplete="off" onkeyup="validarDirDestino2(this.value);" value="" />
                                <span id="span_caracteresDirDestino2" class="text-danger font-weight-bold"></span>
                                <datalist id="Oficinas"></datalist>
                            </div>
                            <div class="col-lg-3 d-flex align-items-end justify-content-end">
                                <button id="btnUbigeo" type="button" class="btn btn-warning mx-2" data-toggle="modal" data-target="#modalUbigeo"><i class="icon icon-location"></i> Selec. Ubigeo</button>
                                <button id="btnOficinas" type="button" class="btn btn-warning mx-2" data-toggle="modal" data-target="#modalOficinas" onclick="buscarOficina()"><i class="icon icon-office"></i> Selec.  Oficina</button>
                                <button id="btn_verTarifario" type="button" class="btn btn-warning mx-2" onclick="verTarifario()"><i class="icon icon-book"></i> Ver Tarifario</button>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-lg-3">
                                <input type="text" name="Det3[1].Distrito" id="Distrito2" value="" class="form-control text-center border-success" readonly />
                            </div>
                            <div class="col-lg-3">
                                <input type="text" name="Det3[1].Provincia" id="Provincia2" value="" class="form-control text-center border-success" readonly />
                            </div>
                            <div class="col-lg-3">
                                <input type="text" name="Det3[1].Departamento" id="Departamento2" value="" class="form-control text-center border-success" readonly />
                            </div>
                            <div class="col-lg-3">
                                <input type="text" name="Det3[1].Ubigeo" id="Ubigeo2" value="" class="form-control text-center border-success" readonly />
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-lg-12">
                                <label class="text-dark form-label font-weight-bold font-18">Referencia:</label>
                                <input type="text" name="Referencia" placeholder="Referencia" id="Referencia" class="form-control border-success" value="@Model.Referencia" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // -->
            </div><!-- // TAB 1 -->
            <!-- TAB 2 -->
            <div class="tab-pane fade" id="nav-especif-recojo" role="tabpanel" aria-labelledby="nav-especif-recojo-tab">
                <div id="div_especif_recojo" class="bg-section-form p-4 bg-form-cobefar">
                    <h2 class="mt-4 text-cobefar font-weight-bold">ESPECIFICACIONES DE RECOJO</h2>
                    <input type="hidden" name="Det1[0].Linea" value="1" />
                    <input type="hidden" name="Det1[0].DocEntry" value="@Model.DocEntry" />
                    <div class="row mt-4">
                        <div class="col-lg-5">
                            <label for="NombrePer" class="text-dark form-label font-weight-bold font-18">Nombres:</label>
                            <input type="text" id="NombrePer" name="Det1[0].NombrePer" class="form-control border-success" />
                        </div>

                        <div class="col-lg-2">
                            <label for="TelfPer" class="text-dark form-label font-weight-bold font-18">Teléfono:</label>
                            <input type="number" id="TelfPer" name="Det1[0].TelfPer" class="form-control text-center border-success" />
                        </div>

                        <div class="col-lg-3">
                            <label for="TipoDocPer" class="text-dark form-label font-weight-bold font-18">Tipo de Doc:</label>
                            <select name="Det1[0].TipoDocPer" id="TipoDocPer" class="form-control bg-cobefar text-white">
                                <option value="">Seleccione</option>
                                <option value="DNI">DNI</option>
                                <option value="RUC">RUC</option>
                                <option value="CE">CARNET DE EXTRANJERIA</option>
                            </select>
                        </div>

                        <div class="col-lg-2">
                            <label for="DocPer" class="text-dark form-label font-weight-bold font-18">Nro Doc:</label>
                            <input type="text" id="DocPer" name="Det1[0].DocPer" class="form-control text-center border-success" />
                        </div>

                    </div>

                    <div class="row mt-4">
                        <div class="col-lg-4">
                            <label for="Observaciones" class="text-dark form-label font-weight-bold font-18">Coordinación del pedido</label>
                            @Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control border-success", @placeholder = "Ejm: Enviar obsequio a cliente, caja frágil", @rows = "4" })
                        </div>
                        <div class="col-lg-4">
                            <label class="text-dark form-label font-weight-bold font-18">Observación adicional</label>
                            @Html.TextAreaFor(model => model.Observaciones3, new { @class = "form-control border-success", @placeholder = "Ejm: Imprimir una copia de factura, coordin. con Juan Perez", @rows = "4" })
                        </div>

                        <div class="col-lg-4">
                            <label class="text-dark form-label font-weight-bold font-18">Vendedor</label>
                            <input name="Vendedor" value="@Model.Vendedor" class="form-control border-success" readonly />
                        </div>
                    </div>



                </div>
            </div>
            <!-- // TAB 2 -->


            <div class="tab-pane fade" id="nav-det-pedidos" role="tabpanel" aria-labelledby="nav-det-pedidos-tab">
                <div id="div_det-pedidos" class="bg-section-form p-4 bg-form-cobefar">
                    <div id="div_detallesPedidos" class="row mt-4" style="display: none">
                        <div class="col-lg-12">
                            <table class="table table-hover table-bordered" id="detallesPedidos">
                            </table>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg-12  d-flex">
                            <label class="text-dark form-label font-weight-bold font-18 mr-4">Vinculación de ticket</label>
                            <select class="form-control bg-cobefar text-light w-25" onchange="mostrarTableTicketsVinculados(this.value)" name="Observaciones2" id="selectVinculado">
                                <option value="NO" selected>NO</option>
                                <option value="SI">SI</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-4" id="divVinculados">
                        <div class="col-lg-12 d-flex">
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="searchInput" placeholder="Escriba su numero de ticket" aria-label="Buscar" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" onclick="buscarTicketAVincular($('#searchInput').val())">Buscar</button>
                                        <button class="btn btn-blue" type="button" onclick="agregarTicketVinculado($('#DocEntry').val(),$('#DocNumVinculado').val(),$('#RucClienteVinculado').val(),$('#ClienteVinculado').val(),$('#MontoFinalVinculado').val())">Agregar</button>
                                    </div>
                                </div>
                                <table id="DetallesVinculados" class="table table-sm table-responsive">
                                    <thead class="bg-success">
                                        <tr>
                                            <th hidden>DocEntry</th>
                                            <th class="text-center">#</th>
                                            <th class="text-center">Ticket</th>
                                            <th hidden>Ruc</th>
                                            <th class="text-center">Cliente</th>
                                            <th class="text-center">Monto</th>
                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="col-lg-6" id="InformacionTicketVinc">
                                @*Se añadira el nombre de cliente y monto final*@
                                <div class="row d-flex justify-content-between"><label class="font-weight-bold font-18 m-1 text-dark">Cliente: </label> <input class="form-control w-75" type="text" id="DocNumVinculado" readonly hidden /><input class="form-control w-75" type="text" id="RucClienteVinculado" readonly hidden /><input class="form-control w-75" type="text" id="ClienteVinculado" readonly /> </div>
                                <div class="row d-flex justify-content-between">
                                    <label class="font-weight-bold font-18 m-1 text-dark">Monto Final: </label><input class="form-control w-75" type="text" id="MontoFinalVinculado" readonly />
                                </div>
                            </div>

                        </div>
                    </div>

                    <h2 class="mt-4 text-cobefar font-weight-bold">DETALLES DE PAGO</h2>
                    <div class="row mt-4">
                        <div class="col-lg-3">
                            <label for="MontoTotal" class="text-dark form-label font-weight-bold font-18">Monto Total:</label>
                            @Html.EditorFor(model => model.MontoTotal, new { htmlAttributes = new { @class = "form-control border-success", @readonly = "true" } })
                        </div>

                        <div class="col-lg-3">
                            <label for="TiempoEntrega" class="text-dark form-label font-weight-bold font-18">Tiempo de Entrega:</label>
                            @Html.EditorFor(model => model.TiempoEntrega, new { htmlAttributes = new { @class = "form-control cls-dateTimeVentas border-success", @type = "text", @autocomplete = "off" } })
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-lg-3">
                            <label for="Flete" class="text-dark form-label font-weight-bold font-18">Flete (Taxi):</label>
                            <div id="infoFlete">@Html.EditorFor(model => model.Flete, new { htmlAttributes = new { @class = "form-control border-success", @onchange = "validacionVerificarMontos('');" } })</div>
                        </div>

                        <div class="col-lg-4">
                            <label for="DeudaCliente" class="text-dark form-label font-weight-bold font-18">Deuda de cliente:</label>
                            <div class="d-flex">
                                <div id="infoDeudaCliente"></div>
                                @Html.EditorFor(model => model.DeudaCliente, new { htmlAttributes = new { @class = "form-control border-success", @onchange = "validacionVerificarMontos('');" } })
                                <div class=""><a id="RptSaldo" class="btn btn-warning" onclick="reporteLibroSaldo('');">Saldo</a></div>

                                <div id="ReporteReclamos" class="ml-3"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-lg-3">
                            <label for="GastoEnvio" class="text-dark form-label font-weight-bold font-18">Gasto de Envío:</label>
                            @Html.EditorFor(model => model.GastoEnvio, new { htmlAttributes = new { @class = "form-control border-success", @onchange = "validacionVerificarMontos('');" } })
                        </div>

                        <div class="col-lg-3">
                            <label for="DeudaEmpresa" class="text-dark form-label font-weight-bold font-18">Deuda de Empresa:</label>
                            <div id="infoDeudaEmpresa">@Html.EditorFor(model => model.DeudaEmpresa, new { htmlAttributes = new { @class = "form-control border-success", @onchange = "validacionVerificarMontos('');" } })</div>
                        </div>

                    </div><!-- FIN ROW -->


                    <div class="row mt-4">
                        <div class="col-lg-3">
                            <label for="DescuentoNC" class="text-dark form-label font-weight-bold font-18">Descuento NC:</label>
                            <div class="d-flex">
                                <div id="infoDescuentoNC">@Html.EditorFor(model => model.DescuentoNC, new { htmlAttributes = new { @class = "form-control border-success", @onchange = "validacionVerificarMontos('');", @readonly = "true" } })</div>
                                <div>
                                    <div class="btn btn-warning " style="cursor:pointer" onclick="listarNotasDeCreditoV();">...</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <label for="IdReg" class="text-dark form-label font-weight-bold font-18">Regalo:</label>
                            <select name="Det5[0].IdReg" id="IdReg" class="form-control bg-cobefar text-white" onchange="enviarValSelect('IdReg', 'RegCate', 'Categoria'); enviarValSelect('IdReg', 'RegTipo', 'Tipo');">
                                <option value="">Seleccione</option>
                            </select>
                        </div>

                        <div class="col-lg-3">
                            <label for="RegCant" class="text-dark form-label font-weight-bold font-18">CantRegalo:</label>
                            <div class="d-flex">
                                <input type="number" id="RegCant" name="Det5[0].RegCant" class="form-control border-success" />
                                <a id="RptClienteRegalos" class="btn btn-warning" onclick="clienteRegalos();">SaldoReg</a>
                            </div>
                        </div>

                        <input type="hidden" id="LineaRegalo" name="Det5[0].Linea" value="1" readonly />
                        <input type="hidden" id="RegCate" name="Det5[0].RegCate" readonly />
                        <input type="hidden" id="RegTipo" name="Det5[0].RegTipo" readonly />
                    </div><!-- FIN ROW -->

                    <div class="row mt-4">
                        <div class="col-lg-3">
                            <label for="MontoFinal" class="text-white bg-cobefar px-2 form-label font-weight-bold font-18">Monto Final:</label>
                            <div id="infoMontoFinal">
                                <input id="MontoFinal" name="MontoFinal" type="text" readonly class="form-control border-success" />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label for="NroSolicitudReclamo" class="text-dark form-label font-weight-bold font-18">N° Solicitud Reclamo:</label>
                            <div>
                                <input id="NroSolicitudReclamo" name="NroSolicitudReclamo" type="text" readonly class="form-control border-success" />
                                <input type="hidden" id="SolicitudesReclamoSeleccionadas" name="SolicitudesReclamoSeleccionadas" />

                            </div>
                        </div>
                    </div>

                    <div id="div_detallesNC" class="row mt-4" style="display: none">
                        <div class="col-lg-6">
                            <table id="detallesNC" class="table-bordered table-hover">
                                <thead class="bg-success text-white">
                                    <tr>
                                        <td class="text-center font-weight-bold">Ver</td>
                                        <td class="text-center font-weight-bold">#</td>
                                        <td class="text-center font-weight-bold">Monto</td>
                                        <td class="text-center font-weight-bold">Fecha</td>
                                        <td class="text-center font-weight-bold">Nro SAP</td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>


                    <div class="row mt-4">
                        <div class="col-lg-12">
                            <label for="Comentario" class="text-dark form-label font-weight-bold font-18">Comentario:</label>
                            @Html.TextAreaFor(model => model.Comentario, new { @class = "form-control border-success w-75", @placeholder = "Escribe aquí tu comentario", @rows = "4" })
                        </div>
                    </div>


                    <div class="row mt-4">
                        <div class="col-lg-6">
                            <button type="button" id="Verificar" class="btn btn-primary"><i class="icon icon-clipboard"></i> Verificar Datos</button>
                        </div>
                    </div>

                </div>
            </div><!-- // TAB 3 -->

            <div class="tab-pane fade" id="nav-caja" role="tabpanel" aria-labelledby="nav-caja-tab">
                <div class="bg-section-form p-4 bg-form-cobefar">
                    <h2 class="mt-4 text-cobefar font-weight-bold">CAJA</h2>
                    <div class="row mt-4">
                        <div class="col-lg-3">
                            <label for="EstadoPago" class="text-dark form-label font-weight-bold font-18">Estado de Pago:</label>
                            @Html.EditorFor(model => model.EstadoPago, new { htmlAttributes = new { @class = "form-control border-success", @readonly = "true" } })
                        </div>

                        <div class="col-lg-3">
                            <label for="FormaPago" class="text-dark form-label font-weight-bold font-18">Forma de Pago:</label>
                            @Html.EditorFor(model => model.FormaPago, new { htmlAttributes = new { @class = "form-control border-success", @readonly = "true" } })
                        </div>

                        <div class="col-lg-2">
                            <label for="MontoRecibido" class="text-dark form-label font-weight-bold font-18">Monto Recibido:</label>
                            @Html.EditorFor(model => model.MontoRecibido, new { htmlAttributes = new { @class = "form-control text-center border-success", @readonly = "true" } })
                        </div>

                        <div class="col-lg-2">
                            <label for="FechaPago" class="text-dark form-label font-weight-bold font-18">Fecha de Pago:</label>
                            @Html.EditorFor(model => model.FechaPago, new { htmlAttributes = new { @class = "form-control text-center border-success", @readonly = "true" } })
                        </div>

                        <div class="col-lg-2">
                            <label for="CodSapCajero" class="text-dark form-label font-weight-bold font-18">CajeroDesc:</label>
                            <input type="search" name="CodSapCajero" class="form-control border-success" value="0" readonly />
                        </div>
                    </div>
                </div>
            </div><!-- // TAB 4 -->
        </div>
    }

</div>

<!-- Modal -->
<div class="modal fade" id="modalUbigeo" tabindex="-1" role="dialog" aria-labelledby="modalUbigeoLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="d-flex mb-4 justify-content-center">
                    <div class="px-2 pt-2 bg-light" style="border-radius: 10px;">
                        <input type="checkbox" id="chk_buscarxdistritoUbigeos" class="form-check-inline" onclick="busqueda($('#busqueda_ubigeo').val(),'Ubigeos');" /><label for="chk_buscarxdistritoUbigeos" class="text-dark font-weight-bold">Buscar por Distrito</label>
                    </div>

                    <div class="px-2 pt-2 ml-5 bg-light" style="border-radius: 10px;">
                        <input type="checkbox" id="chk_buscarxprovinciaUbigeos" class="form-check-inline" onclick="busqueda($('#busqueda_ubigeo').val(),'Ubigeos');" /><label for="chk_buscarxprovinciaUbigeos" class="text-dark font-weight-bold">Buscar por Provincia</label>
                    </div>

                    <div class="px-2 pt-2 ml-5 bg-light" style="border-radius: 10px;">
                        <input type="checkbox" id="chk_buscarxdepartamentoUbigeos" class="form-check-inline" onclick="busqueda($('#busqueda_ubigeo').val(),'Ubigeos');" /><label for="chk_buscarxdepartamentoUbigeos" class="text-dark font-weight-bold">Buscar por Departamento</label>
                    </div>

                </div>


                <div class="row">
                    <div class="col-lg-9"><input type="text" id="busqueda_ubigeo" class="form-control" placeholder="Digite su busqueda" onkeyup="busqueda(this.value,'Ubigeos');" /></div>
                    <div class="col-lg-3"><button class="btn btn-success" data-dismiss="modal" onclick="$('#DirDestino2').val('').prop('readonly', true);$('#Ubigeo2').val('');$('#Distrito2').val('');$('#Provincia2').val('');$('#Departamento2').val('');reubicarZona('');">Limpiar datos</button></div>
                </div>
                <br />

                <table id="Ubigeos" class="table table-light table-bordered table-sm table-hover text-center table-responsive-md">
                    <tr style="background-color:steelblue;color:white"><td>Ubigeo</td><td>Distrito</td><td>Provincia</td><td>Departamento</td><td></td></tr>
                    <tbody>
                        @foreach (var o in Ubigeos)
                        {
                            <tr>
                                <td>@o.Ubigeo</td>
                                <td>@o.Distrito</td>
                                <td>@o.Provincia</td>
                                <td>@o.Departamento</td>
                                <td><button class="btn btn-primary btn-sm" data-dismiss="modal" onclick="agregarDatos('@o.Ubigeo','@o.Distrito','@o.Provincia','@o.Departamento','@o.Zona')">Seleccionar</button></td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" onclick="$('#DirDestino2').val('').prop('readonly', true); $('#Ubigeo2').val(''); $('#Distrito2').val(''); $('#Provincia2').val(''); $('#Departamento2').val(''); reubicarZona('');">Limpiar datos</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalOficinas" tabindex="-1" role="dialog" aria-labelledby="modalOficinasLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="d-flex mb-4 justify-content-center">
                    <div class="px-2 pt-2 bg-light" style="border-radius: 10px;">
                        <input type="checkbox" id="chk_buscarxdistritoOficicnas" class="form-check-inline" onclick="busqueda($('#busqueda_oficinas').val(),'Oficinas');" /><label for="chk_buscarxdistritoOficicnas" class="text-dark font-weight-bold">Buscar por Distrito</label>
                    </div>

                    <div class="px-2 pt-2 ml-5 bg-light" style="border-radius: 10px;">
                        <input type="checkbox" id="chk_buscarxprovinciaOficinas" class="form-check-inline" onclick="busqueda($('#busqueda_oficinas').val(),'Oficinas');" /><label for="chk_buscarxprovinciaOficinas" class="text-dark font-weight-bold">Buscar por Provincia</label>
                    </div>

                    <div class="px-2 pt-2 ml-5 bg-light" style="border-radius: 10px;">
                        <input type="checkbox" id="chk_buscarxdepartamentoOficinas" class="form-check-inline" onclick="busqueda($('#busqueda_oficinas').val(),'Oficinas');" /><label for="chk_buscarxdepartamentoOficinas" class="text-dark font-weight-bold">Buscar por Departamento</label>
                    </div>

                </div>


                <div class="row">
                    <div class="col-lg-9"> <input type="text" id="busqueda_oficinas" class="form-control" placeholder="Digite su busqueda" onkeyup="busqueda(this.value,'Oficinas');" /></div>
                    <div class="col-lg-3"><button class="btn btn-success" data-dismiss="modal" onclick="$('#DirDestino2').val('');$('#Ubigeo2').val('');$('#Distrito2').val('');$('#Provincia2').val('');$('#Departamento2').val('');">Limpiar datos</button></div>
                </div>
                <br />

                <table id="Oficinas" class="table table-light table-bordered table-hover table-sm text-center table-responsive-md">
                    <thead>
                        <tr style="background-color:steelblue;color:white">
                            <th>Calle</th>
                            <th>Distrito</th>
                            <th>Provincia</th>
                            <th>Departamento</th>
                            <th>Ubigeo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var o in Oficinas)
                        {
                            <tr>
                                <td>@o.Calle</td>
                                <td>@o.Distrito</td>
                                <td>@o.Provincia</td>
                                <td>@o.Departamento</td>
                                <td>@o.Ubigeo</td>
                                <td><button class="btn btn-primary btn-sm" data-dismiss="modal" onclick="agregarDatosOficina('@o.Calle','@o.Ubigeo','@o.Distrito','@o.Provincia','@o.Departamento')">Seleccionar</button></td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" onclick="$('#DirDestino2').val('');$('#Ubigeo2').val('');$('#Distrito2').val('');$('#Provincia2').val('');$('#Departamento2').val('');">Limpiar datos</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

