@model IEnumerable<Capa_Entidad.Ventas_ENT.TablasSql.OCLR_E>
@using Capa_Entidad.Ventas_ENT.TablasSql
@{
    ViewBag.Title = "GestionClienteRegalos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    OCLR_E f = (OCLR_E)ViewBag.CliReg;
}
<script>
    $(document).ready(function () {
        $('#filterModal').on('shown.bs.modal', function () {
            $('#filterModal input:first').focus();
        });
    });
    function filtrar() {
        var object = $("#filterForm").serialize();
        $(location).attr('href', "/Ventas/GestionRegalos?" + object);
    }
    function limpiarFiltros() {
        const formulario = document.getElementById('filterForm');

        const inputs = formulario.querySelectorAll('input[type="text"], input[type="date"], input[type="number"], textarea');
        inputs.forEach(input => {
            input.value = '';
        });
        const selects = formulario.querySelectorAll('select');
        selects.forEach(select => {
            select.selectedIndex = 0;
        });
        //Recarga llamando otra vez a la funcion
        filtrar();
    }
</script>

<div class="pt-3">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li><a href="@Url.Action("GestionRegalos", "Ventas")">Módulo gestión regalos</a></li>
            <li class="current"><em>Gestión Regalo-Cliente</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">GESTIÓN REGALOS CLIENTE</h3></div>

    <div class="row pl-2 w-100 py-1">
        <div class="d-flex col-lg-8 col-md-6 col-sm-12 col-6">
            <div class="mx-2">
                <a href="@Url.Action("NuevoClienteRegalo", "Ventas")" class="btn btn-success ml-2"><i class="icon icon-plus"> </i> Agregar Cliente</a>
            </div>
        </div>
    </div>
</div>

<form name="filterForm" id="filterForm">

    <!-- Modal para Filtros -->
    <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-headerModals">
                    <h5 class="modal-title text-light" id="modalFiltrosLabel">Filtros de Búsqueda</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-light">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="CardCode">Ruc</label>
                                    <input type="text" name="CardCode" id="CardCode" class="form-control" value="@f.CardCode" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="CardName">Razón Social</label>
                                    <input type="text" name="CardName" id="CardName" class="form-control" value="@f.CardName" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="NroOpe">NroOpe</label>
                                    <input type="number" name="NroOpe" id="NroOpe" class="form-control" value="@f.NroOpe" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="Saldo">Saldo </label>
                                    <input type="number" name="Saldo" id="Saldo" class="form-control" value="@f.Saldo" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-info" onclick="limpiarFiltros();">Limpiar</button>
                    <button type="button" class="btn btn-primary" onclick="filtrar();">Aplicar Filtros</button>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white bg-form-cobefar pt-2">
        <table class="table table-light table-sm table-hover cls-dataTable50" cellspacing="0" width="100%">
            <thead class="bg-cobefar-6">
                <tr>
                    <th class="text-center">
                        @Html.DisplayName("Ruc")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Cliente")
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.NroOpe)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Saldo)
                    </th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody class="text-dark">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.CardCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CardName)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.NroOpe)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Saldo)
                        </td>
                        <td>
                            <a href="@Url.Action("EditarClienteRegalos", "Ventas", new { CardCode = item.CardCode })" class="btn btn-light text-primary">
                                <i title="Editar" class="icon-pencil"></i>
                            </a>
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>


