@model IEnumerable<Capa_Entidad.Ventas_ENT.TablasSql.OREG_E>
@using Capa_Entidad.Ventas_ENT.TablasSql

@{
    ViewBag.Title = "GestionColaboradores";
    Layout = "~/Views/Shared/_Layout.cshtml";
    OREG_E f = (OREG_E)ViewBag.Regalos;
}

<script>
    $(document).ready(function () {
    });
    function filtrar() {
        var object = $("#frm").serialize();
        $(location).attr('href', "/Ventas/GestionRegalos?" + object);
    }

</script>

<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li class="current"><em>Módulo gestión regalos</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">MÓDULO GESTIÓN REGALOS</h3></div>

    <div class="d-flex pl-2 w-100 py-2">

        <div class="mx-2">
            <a id="accion" href="@Url.Action("NuevoRegalo", "Ventas")" class="btn btn-success">
                <i class="icon icon-plus"></i> Nuevo Regalo
            </a>
            <a id="accion" href="@Url.Action("GestionClienteRegalos", "Ventas")" class="btn btn-info">
                <i class="icon icon-gift"></i> Regalos Clientes
            </a>
        </div>

    </div>
</div>

<div class="bg-dark pt-4">
    <form name="frm" id="frm">
        <table class="table table-light table-sm table-hover cls-dataTable" cellspacing="0" width="100%">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">
                        @Html.DisplayName("Id")
                        <br />
                        <input type="number" name="Id" style="width:50px;" class="form-control input_filtro-table" onchange="filtrar();" value="@if (!f.Id.Equals(0)) { Write(f.Id); }" />
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Categoria)
                        <br />
                        <input type="text" name="Categoria" class="form-control input_filtro-table" onchange="filtrar();" value="@f.Categoria" />
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Tipo)
                        <br />
                        <input type="text" name="Tipo" class="form-control input_filtro-table" onchange="filtrar();" value="@f.Tipo" />
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Estado")
                        <br />
                        <select name="Estado" class="form-control select_filtro-table" onchange="filtrar();">
                            <option value=""></option>
                            @if (ViewBag.Regalos.Estado == "Activo")
                            {
                                <option value="Activo" selected>Activo</option>
                            }
                            else
                            {
                                <option value="Activo">Activo</option>
                            }

                            @if (ViewBag.Regalos.Estado == "Inactivo")
                            {
                                <option value="Inactivo" selected>Inactivo</option>
                            }
                            else
                            {
                                <option value="Inactivo">Inactivo</option>
                            }

                            @if (ViewBag.Regalos.Estado == "")
                            {

                                <option value="Activo">Activo</option>
                                <option value="Inactivo">Inactivo</option>
                            }
                        </select>

                    </th>
                    <th class="text-center">Stock Total</th>
                    <th class="text-center">Stock Disp</th>
                    <th class="text-center">Stock Comp</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Categoria)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.StockTotal)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.StockDisp)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.StockComp)</td>
                        <td class="text-center">
                            <a href="@Url.Action( "GestionarStock", "Ventas", new { id = item.Id } )" class="btn btn-warning btn-sm">
                                <i class="icon icon-clipboard"></i> GestionarStock
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("TransaccionesRegalo", "Ventas", new { id = item.Id } )" class="btn btn-primary btn-sm">
                                <i class="icon icon-tab"></i> Transacciones
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("InactivarRegalo", "Ventas", new { id = item.Id } )" class="btn btn-danger btn-sm">
                                <i class="icon icon-blocked"></i> InactivarRegalo
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </form>



</div>
<script>
    if ('@ViewBag.Mensaje' != "") {
        Swal.fire('@ViewBag.Mensaje')
    }
</script>



