@model IEnumerable<Capa_Entidad.Ventas_ENT.TablasSql.OREG_E>
@using Capa_Entidad.Ventas_ENT.TablasSql

@{
    ViewBag.Title = "GestionRegalos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    OREG_E f = (OREG_E)ViewBag.Regalos;
}

<script>
    $(document).ready(function () {
        $('#filterModal').on('shown.bs.modal', function () {
            $('#filterModal input:first').focus();
        });
    });
    function filtrar() {
        var object = $("#filterForm").serialize();
        $(location).attr('href', "/Ventas/GestionRegalos?" + object);
    }
    function limpiarFiltros() {
        const formulario = document.getElementById('filterForm');

        const inputs = formulario.querySelectorAll('input[type="text"], input[type="date"], input[type="number"], textarea');
        inputs.forEach(input => {
            input.value = '';
        });
        const selects = formulario.querySelectorAll('select');
        selects.forEach(select => {
            select.selectedIndex = 0;
        });
        //Recarga llamando otra vez a la funcion
        filtrar();
    }
    function ExporteReporteGeneralTicketsRegalos() {
        // Crear el contenido del modal
        const modalContent = `
    <form id="formReporteRegalos">
        <div class="form-group">
            <label for="FechaSapTicketDesde">Fecha Desde</label>
            <input type="date" id="FechaSapTicketDesde" class="form-control border-success" />
        </div>
        <div class="form-group">
            <label for="FechaSapTicketHasta">Fecha Hasta</label>
            <input type="date" id="FechaSapTicketHasta" class="form-control border-success" />
        </div>
        <div class="form-group">
            <label for="EstadoTicket">Estado del Ticket</label>
            <select id="EstadoTicket" class="form-control border-success">
                <option value="">Seleccione</option>
                <option value="SEPARADO">SEPARADO</option>
                <option value="ABIERTO">ABIERTO</option>
                <option value="RECIBIDO">RECIBIDO</option>
                <option value="PICKEANDO">PICKEANDO</option>
                <option value="VERIFICANDO">VERIFICANDO</option>
                <option value="EMPACANDO">EMPACANDO</option>
                <option value="EMPACADO">EMPACADO</option>
                <option value="PESADO">PESADO</option>
                <option value="PREENVIO">PREENVIO</option>
                <option value="ENVIADO">ENVIADO</option>
                <option value="ENTREGADO">ENTREGADO</option>
                <option value="ANULADO">ANULADO</option>
                <option value="CANCELADO">CANCELADO</option>
            </select>
        </div>
        <div class="form-group">
            <label for="EstadoRegalo">Estado del Regalo</label>
            <select id="EstadoRegalo" class="form-control border-success">
                <option value="">Seleccione Estado</option>
                <option value="Pendiente">Pendiente</option>
                <option value="Entregado">Entregado</option>
            </select>
        </div>
    </form>
`;


        // Mostrar el modal
        Swal.fire({
            title: 'Reporte General de Tickets y Regalos',
            html: modalContent,
            showCancelButton: true,
            confirmButtonText: 'Enviar',
            cancelButtonText: 'Cancelar',
            preConfirm: () => {
                // Obtener valores de los inputs
                const fechaTicketDesde = document.getElementById('FechaSapTicketDesde').value;
                const fechaTicketHasta = document.getElementById('FechaSapTicketHasta').value;
                const estadoTicket = document.getElementById('EstadoTicket').value;
                const estadoRegalo = document.getElementById('EstadoRegalo').value;

                // Validar que al menos un campo esté lleno
                if (!fechaTicketDesde && !fechaTicketHasta && !estadoTicket && !estadoRegalo) {
                    Swal.showValidationMessage('Por favor, complete al menos un campo para filtrar');
                    return false;
                }

                return { fechaTicketDesde, fechaTicketHasta, estadoTicket, estadoRegalo };
            }
        }).then((result) => {
            if (result.isConfirmed) {
                const { fechaTicketDesde, fechaTicketHasta, estadoTicket, estadoRegalo } = result.value;
                console.log(result.value);
                // Enviar datos al servidor
                $.ajax({
                    url: '/Ventas/VerificarExistenciaDatos',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'fechaTicketDesde': fechaTicketDesde,
                        'fechaTicketHasta': fechaTicketHasta,
                        'estadoTicket': estadoTicket,
                        'estadoRegalo': estadoRegalo
                    }
                }).done(function (response) {
                    if (response.Mensaje !== "") {
                        Swal.fire(response.Mensaje);
                    } else {
                        const params = `fechaTicketDesde=${fechaTicketDesde}&fechaTicketHasta=${fechaTicketHasta}&estadoTicket=${estadoTicket}&estadoRegalo=${estadoRegalo}`;
                        window.open(`/Ventas/ExporteReporteGeneralTicketsRegalos?${params}`, '_blank', 'noopener, noreferrer');
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.status + textStatus + errorThrown);
                });
            }
        });
    }


</script>

<div class="pt-3">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li class="current"><em>Módulo gestión regalos</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-3">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">MÓDULO GESTIÓN REGALOS</h3></div>


    <div class="row pl-2 w-100 py-1">
        <div class="d-flex col-lg-8 col-md-6 col-sm-12 col-6">
            <a href="@Url.Action("NuevoRegalo", "Ventas")" class="btn btn-success ml-2">
                <i class="icon icon-plus"> </i> Nuevo Regalo
            </a>
            <a href="@Url.Action("GestionClienteRegalos", "Ventas")" class="btn btn-info ml-2">
                <i class="icon icon-gift"> </i> Regalos Clientes
            </a>
            <button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#filterModal"><i class="icon-filter"> </i> Filtrar</button>
            <button type="button" class="btn btn-secondary ml-2" onclick="ExporteReporteGeneralTicketsRegalos()"><i class="icon-file-excel"></i> Generar Reporte</button>
        </div>
    </div>
</div>

<form name="filterForm" id="filterForm">
    
    <!-- Modal para Filtros -->
    <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-headerModals">
                    <h5 class="modal-title text-light" id="modalFiltrosLabel">Filtros de Búsqueda</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-light">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="Id">Id</label>
                                    <input type="number" name="Id" id="Id" class="form-control" value="@if (!f.Id.Equals(0)) { Write(f.Id); }" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Categoria">Categoría</label>
                                    <input type="text" name="Categoria" id="Categoria" class="form-control" value="@f.Categoria" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Tipo">Tipo</label>
                                    <input type="text" name="Tipo" id="Tipo" class="form-control" value="@f.Tipo" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Estado">Estado </label>
                                    <select name="Estado" id="Estado" class="form-control">
                                        <option value=""></option>
                                        <option value="Activo" @{ if (f.Estado == "Activo") { Write("selected"); } }>Activo</option>
                                        <option value="Inactivo" @{ if (f.Estado == "Inactivo") { Write("selected"); } }>Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-info" onclick="limpiarFiltros();">Limpiar</button>
                    <button type="button" class="btn btn-primary" onclick="filtrar();">Aplicar Filtros</button>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white bg-form-cobefar pt-3">
        <table class="table table-light table-sm table-hover cls-dataTable50" cellspacing="0" width="100%">
            <thead class="bg-cobefar-6">
                <tr>
                    <th class="text-center">
                        @Html.DisplayName("Id")
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Categoria)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Tipo)
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Estado")
                    </th>
                    <th class="text-center"> Stock Total</th>
                    <th class="text-center"> Disponible</th>
                    <th class="text-center"> Comprometido</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Categoria)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.StockTotal)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.StockDisp)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.StockComp)</td>
                        <td class="text-center">
                            <a href="@Url.Action( "GestionarStock", "Ventas", new { id = item.Id } )" class="btn btn-sm btn-outline-secondary">
                                <i class="icon icon-clipboard"> </i> Administrar stock
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("TransaccionesRegalo", "Ventas", new { id = item.Id } )" class="btn btn-outline-dark btn-sm">
                                <i class="icon icon-tab"> </i>  Transacciones
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("InactivarRegalo", "Ventas", new { id = item.Id } )" class="btn btn-outline-info btn-sm">
                                <i class="icon icon-blocked"> </i> Inactivar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
<script>
    if ('@ViewBag.Mensaje' != "") {
        Swal.fire('@ViewBag.Mensaje')
    }
</script>



