@model IEnumerable<Capa_Entidad.Ventas_ENT.TablasSql.ORTV_E>
@{
    ViewBag.Title = "ListadoTicketsAlmacen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

        .btn-container a {
            margin-bottom: 10px;
        }

    .btn-group {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra el contenido del modal horizontalmente */
    }
</style>

<div class="pt-3">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li class="current"><em>Listado de tickets de almacén</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">LISTADO TICKETS DE ALMACÉN</h3></div>

    <div class="row pl-2 w-100 py-1">
        <div class="d-flex col-lg-8 col-md-6 col-sm-12 col-6">
            <button type="button" class="btn btn-success font-weight-bold mx-1 my-1" title="Descargar Reporte Errores de Picking" data-toggle="modal" data-target="#modalReporte">
                <i class="icon icon-file-excel"></i> Errores de Picking
            </button>
        </div>
    </div>

</div>
<form name="frm" id="frm">
    <div class="bg-white bg-form-cobefar pt-3">
        <table class="table table-light table-sm table-hover cls-dataTable50" cellspacing="0" width="100%">
            <thead class="bg-cobefar-6">
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.DocNum)
                        @if (ViewBag.Ortv != null && ViewBag.Ortv.DocNum > 0)
                        {
                            <input type="text" name="DocNum" class="form-control input_filtro-table cls-numeric" onchange="filtrar();" value="@ViewBag.Ortv.DocNum" />
                        }
                        else
                        { <input type="text" name="DocNum" class="form-control input_filtro-table cls-numeric" onchange="filtrar();" />}
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.FechaSapTicket)
                        <br />
                        @if (ViewBag.Ortv != null && ViewBag.Ortv.FechaSapTicket != null)
                        {
                            <input type="date" name="FechaSapTicket" class="form-control input_date-filtro-table" value="@ViewBag.Ortv.FechaSapTicket" onchange="filtrar();" autocomplete="off" />
                        }
                        else
                        { <input type="date" name="FechaSapTicket" class="form-control input_date-filtro-table" onchange="filtrar();" autocomplete="off" />}
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CardName)
                        <br />
                        @if (ViewBag.Ortv != null && ViewBag.Ortv.CardName != null)
                        {
                            <input type="text" name="CardName" class="form-control input_filtro-table" onchange="filtrar();" value="@ViewBag.Ortv.CardName" autocomplete="off" />
                        }
                        else
                        { <input type="text" name="CardName" class="form-control input_filtro-table" onchange="filtrar();" autocomplete="off" />}
                    </th>
                    <th class="text-center">
                        MontoTotal
                        <br />
                        @if (ViewBag.Ortv != null && ViewBag.Ortv.MontoTotal > 0)
                        {
                            <input type="text" name="MontoTotal" class="form-control input_filtro-table" onchange="filtrar();" value="@ViewBag.Ortv.MontoTotal" />
                        }
                        else
                        { <input type="text" name="MontoTotal" class="form-control input_filtro-table" onchange="filtrar();" />}
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Estado)
                        <br />
                        <select name="Estado" id="Estado" class="form-control select_filtro-table" onchange="filtrar();">
                            <option value=""></option>
                            <option value="ABIERTO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "ABIERTO") { Write("selected"); } }>ABIERTO</option>
                            <option value="RECIBIDO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "RECIBIDO") { Write("selected"); } }>RECIBIDO</option>
                            <option value="PICKEANDO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "PICKEANDO") { Write("selected"); } }>PICKEANDO</option>
                            <option value="VERIFICANDO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "VERIFICANDO") { Write("selected"); } }>VERIFICANDO</option>
                            <option value="EMPACANDO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "EMPACANDO") { Write("selected"); } }>EMPACANDO</option>
                            <option value="EMPACADO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "EMPACADO") { Write("selected"); } }>EMPACADO</option>
                            <option value="PESADO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "PESADO") { Write("selected"); } }>PESADO</option>
                            <option value="PREENVIO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "PREENVIO") { Write("selected"); } }>PREENVIO</option>
                            <option value="ENVIADO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "ENVIADO") { Write("selected"); } }>ENVIADO</option>
                            <option value="ENTREGADO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "ENTREGADO") { Write("selected"); } }>ENTREGADO</option>
                            <option value="ANULADO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "ANULADO") { Write("selected"); } }>ANULADO</option>
                            <option value="CANCELADO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "CANCELADO") { Write("selected"); } }>CANCELADO</option>
                        </select>
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.OpSacando)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.OpVerificado)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.OpEmpacado)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.EstadoPago)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.LugarDestino)
                        <br />
                        <select name="LugarDestino" id="LugarDestino" class="form-control select_filtro-table" onchange="filtrar();">
                            <option value=""></option>
                            <option value="Arriola" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.LugarDestino == "Arriola") { Write("selected"); } }>Arriola</option>
                            <option value="Agencia" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.LugarDestino == "Agencia") { Write("selected"); } }>Agencia</option>
                            <option value="Domicilio" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.LugarDestino == "Domicilio") { Write("selected"); } }>Domicilio</option>
                            <option value="Centro" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.LugarDestino == "Centro") { Write("selected"); } }>Centro</option>
                            <option value="Agencia Courier" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.LugarDestino == "Agencia Courier") { Write("selected"); } }>Agencia Courier</option>
                        </select>
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Cajas)
                    </th>
                    <th class="text-center">
                        Tiempo Entrega
                    </th>
                    @*12 columnas*@
                    @if (!string.IsNullOrWhiteSpace(ViewBag.AlmUsuario) && ViewBag.AlmUsuario == "07")
                    {
                        <th></th>
                        <th></th>
                    }
                    else
                    {
                        <th></th>
                        <th></th>
                        <th></th>
                    }
                    @if (ViewBag.RolSupervisor == 4 || ViewBag.RolSupervisor == 1)
                    {
                        if (!string.IsNullOrWhiteSpace(ViewBag.AlmUsuario) && ViewBag.AlmUsuario == "07")
                        {
                            <th></th>
                        }

                        else
                        {
                            <th></th>
                        }
                    }
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="text-dark">
                @foreach (var item in Model.Where(x => x.Estado != "SEPARADO" && (x.Visible == "SI" || x.Visible == null)))
                {
                    bool condIniPicking = false, condIniVerificar = false, condIniEmpacar = false, condIniPickingExc = false, condFinEmpacarExc = false,
                            condFinPicking = false, condFinVerificar = false, condFinEmpacar = false;

                    @*El boton "INICIO PICKING" solo se habilita si y solo si el ticket tiene como ultimo estado "RECIBIR" y se encuentra en estado general RECIBIDO. Tambien si no existe un inicio picking ni fin picking vigente*@
                    if (Convert.ToDateTime(item.FechaSapTicket) > Convert.ToDateTime("10-09-2023") && item.Estado == "RECIBIDO" && (item.ultimoCCEstado == "RECIBIR" || item.ultimoCCEstado == "ANULAR INICIO PICKING") && item.hayIniPicking == false && item.hayFinPicking == false)
                    {
                        condIniPicking = true;
                    }
                    @*El boton "FIN PICKING" solo se habilita si y solo si el ticket se encuentra en estado PICKEANDO, el ultimo estado no es fin picking, tiene que tener vigente un inicio picking pero no un fin picking*@
                    if (Convert.ToDateTime(item.FechaSapTicket) > Convert.ToDateTime("10-09-2023") && item.Estado == "PICKEANDO" && item.ultimoCCEstado != "FIN PICKING" && item.hayIniPicking && item.hayFinPicking == false)
                    {
                        condFinPicking = true;
                    }
                    @*El boton "INICIO VERIFICAR" solo se habilita si el atributo aptoIniVerificar esta como true, esto viene desde ORTV Datos*@
                    if (Convert.ToDateTime(item.FechaSapTicket) > Convert.ToDateTime("10-09-2023") && item.aptoIniVerificar)
                    {
                        condIniVerificar = true;
                    }
                    @*El boton "FIN VERIFICAR" solo se habilita si el atributo aptoFinVerificar esta como true, esto viene desde ORTV Datos *@
                    if (Convert.ToDateTime(item.FechaSapTicket) > Convert.ToDateTime("10-09-2023") && item.aptoFinVerificar)
                    {
                        condFinVerificar = true;
                    }
                    @*El boton "INICIO EMPACAR" solo se habilita si y solo si el ticket tiene como ultimo estado "INICIO VERIFICAR" o "FIN VERIFICAR" o "ANULAR INICIO EMPACAR" o "FIN PICKING" o "ANULAR FIN VERIFICAR" y cuando el estado de ticket esta en PICKEANDO o en VERIFICANDO y que el ticket tenga vigente un Inicio Picking, asi como inicio verificar, pero no un inicio empacar. El estado general del ticket debe estar en estado diferente a EMPACANDO *@
                    if (Convert.ToDateTime(item.FechaSapTicket) > Convert.ToDateTime("10-09-2023") && (item.ultimoCCEstado == "INICIO VERIFICAR" || item.ultimoCCEstado == "FIN VERIFICAR" || item.ultimoCCEstado == "ANULAR INICIO EMPACAR" || item.ultimoCCEstado == "FIN PICKING" || item.ultimoCCEstado == "ANULAR FIN VERIFICAR") && (item.Estado == "PICKEANDO" || item.Estado == "VERIFICANDO") && item.hayIniPicking && item.hayIniVerificar && item.hayIniEmpacar == false && item.Estado != "EMPACANDO")
                    {
                        condIniEmpacar = true;
                    }
                    @*El boton "FIN EMPACAR" solo se habilita si y solo si el ticket tiene como ultimo estado "INICIO EMPACAR o ANULAR FIN EMPACAR o fIN VERIFICAR" y el estado general del ticket esta en PICKEANDO o VERIFICANDO o EMPACANDO. Tambien validaremos que tenga un proceso de fin picking vigente, fin verificar, inicio empacar y no tenga un fin empacar*@
                    if (Convert.ToDateTime(item.FechaSapTicket) > Convert.ToDateTime("10-09-2023") && (item.ultimoCCEstado == "INICIO EMPACAR" || item.ultimoCCEstado == "ANULAR FIN EMPACAR" || item.ultimoCCEstado == "FIN VERIFICAR") && (item.Estado == "PICKEANDO" || item.Estado == "VERIFICANDO" || item.Estado == "EMPACANDO") && item.hayFinPicking && item.hayFinVerificar && item.hayIniEmpacar && item.hayFinEmpacar == false)
                    {
                        condFinEmpacar = true;
                    }
                    /**********************exclusivo para almacen 05- 07 **************************/
                    if (Convert.ToDateTime(item.FechaSapTicket) > Convert.ToDateTime("10-09-2023") && item.Estado == "RECIBIDO" && (item.ultimoCCEstado == "RECIBIR" || item.ultimoCCEstado == "ANULAR INICIO PICKING") && item.hayIniPicking == false)
                    {
                        condIniPickingExc = true;
                    }
                    if (Convert.ToDateTime(item.FechaSapTicket) > Convert.ToDateTime("10-09-2023") && (item.ultimoCCEstado == "INICIO PICKING" || item.ultimoCCEstado == "ANULAR FIN PICKING") && item.Estado == "PICKEANDO" && item.hayFinPicking == false)
                    {
                        condFinEmpacarExc = true;
                    }

                    <tr id="fila">
                        <td class="text-center">
                            @if (ViewBag.DocNum == item.DocNum)
                            {<div class="bg-success"> @Html.DisplayFor(modelItem => item.DocNum) </div>}
                        else
                        {<span class=""> @Html.DisplayFor(modelItem => item.DocNum) </span>}
                        </td>
                        <td class="text-center">
                            <span class=""> @item.FechaSapTicket </span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CardName)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.MontoTotal)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td class="text-center" style="font-size:11px">
                            @if (item.OpSacandoApoyo != null && item.OpSacandoApoyo.Count >= 1)
                            {
                                Write(item.OpSacando + ", " + string.Join(", ", item.OpSacandoApoyo));
                            }
                            else
                            {
                                @item.OpSacando
                            }
                        </td>
                        <td class="text-center" style="font-size:11px">
                            @if (item.OpVerificadoApoyo != null && item.OpVerificadoApoyo.Count >= 1)
                            {
                                Write(item.OpVerificado + ", " + string.Join(", ", item.OpVerificadoApoyo));
                            }
                            else
                            {
                                @item.OpVerificado
                            }
                        </td>
                        <td class="text-center" style="font-size:11px">
                            @if (item.OpEmpacadoApoyo != null && item.OpEmpacadoApoyo.Count >= 1)
                            {
                                Write(item.OpEmpacado + ", " + string.Join(", ", item.OpEmpacadoApoyo));
                            }
                            else
                            {
                                @item.OpEmpacado
                            }
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.EstadoPago)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.LugarDestino)
                        </td>
                        <td class="text-center">
                            @if (item.Cajas > 0)
                            {
                                @Html.DisplayFor(modelItem => item.Cajas)
                            }
                        </td>
                        <td class="text-center">
                            @if (item.TiempoEntrega != null)
                            {
                                Write(Convert.ToDateTime(item.TiempoEntrega).ToShortDateString());
                                <br />
                                Write(Convert.ToDateTime(item.TiempoEntrega).TimeOfDay);
                            }
                        </td>
                        @*12 columnas*@
                        @if (!string.IsNullOrWhiteSpace(ViewBag.AlmUsuario) && ViewBag.AlmUsuario == "07")
                        {
                            <td if="ip-if" class="text-center">
                                @*El boton "INICIO PICKING" solo se habilita si y solo si, el ticket tiene como ultimo estado "RECIBIR" y se encuentra en estado general RECIBIDO*@
                                @if (condIniPickingExc && (ViewBag.RolSupervisor == 50 || ViewBag.RolSupervisor == 51 || ViewBag.RolSupervisor == 52 || ViewBag.RolSupervisor == 53 || ViewBag.RolSupervisor == 1 || ViewBag.RolSupervisor == 4))
                                {
                                    @*<a href="@Url.Action("IniciarSacandoTicketVenta", "Ventas", new { DocEntry = item.DocEntry })" class="btn btn-success btn-sm"> Inicio <br /> Picking </a>*@
                                    <a href="@Url.Action("IniciarSacandoTicketVenta", "Ventas", new { DocEntry = item.DocEntry })"
                                       class="btn btn-light text-success btn-sm"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       title="Inicio Picking">
                                        <img src="~/imagenes/picking.png" width="30" height="30" />
                                    </a>
                                }

                            </td>
                            <td class="text-center">
                                @*El boton "FIN EMPACAR" solo se habilita si el ticket tiene cantidad de cajas mayor a cero (quiere decir que ya ha sido verificado) y si tiene como ultimo estado en la tabla control de cambios "INICIO EMPACAR" o "ANULAR FIN EMPACAR" asi mismo tiene que estar en estado general EMPACANDO o VERIFICANDO*@
                                @if (condFinEmpacarExc && (ViewBag.RolSupervisor == 50 || ViewBag.RolSupervisor == 51 || ViewBag.RolSupervisor == 52 || ViewBag.RolSupervisor == 53 || ViewBag.RolSupervisor == 1 || ViewBag.RolSupervisor == 4))
                                {
                                    @*<a href="@Url.Action( "EmpacadoTicketVenta", "Ventas", new { DocEntry = item.DocEntry  } )" class="btn btn-naranja btn-sm">Fin <br />Empacar</a>*@
                                    <a href="@Url.Action("EmpacadoTicketVenta", "Ventas", new { DocEntry = item.DocEntry })"
                                       class="btn btn-light text-naranja btn-sm"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       title="Fin Packing">
                                        <img src="~/imagenes/packing.png" width="30" height="30" />
                                    </a>
                                }
                            </td>

                        }
                        else
                        {
                            <td id="ip-else" class="text-center">
                                @*El boton "INICIO PICKING" solo se habilita si y solo si, el ticket tiene como ultimo estado "RECIBIR" y se encuentra en estado general RECIBIDO*@
                                @if ((ViewBag.RolSupervisor == 50 || ViewBag.RolSupervisor == 51 || ViewBag.RolSupervisor == 52 || ViewBag.RolSupervisor == 53 || ViewBag.RolSupervisor == 1 || ViewBag.RolSupervisor == 4))
                                {
                                    <div class="btn-container">
                                        @if (condIniPicking)
                                        {
                                            @*<a href="@Url.Action("IniciarSacandoTicketVenta", "Ventas", new { DocEntry = item.DocEntry })" class="btn btn-success btn-sm"> Inicio <br /> Picking </a>*@
                                            <a href="@Url.Action("IniciarSacandoTicketVenta", "Ventas", new { DocEntry = item.DocEntry })"
                                               class="btn btn-light text-success btn-sm"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Inicio Picking">
                                                <img src="~/imagenes/picking.png" width="30" height="30" />
                                            </a>
                                        }
                                        @if (condFinPicking)
                                        {
                                            @*El boton "FIN PICKING" solo se habilita si y solo si el ticket se encuentra en estado PICKEANDO*@

                                            @*<a href="@Url.Action("SacandoTicketVenta", "Ventas", new { DocEntry = item.DocEntry })" class="btn btn-success btn-sm"> Fin <br /> Picking </a>*@
                                            <a href="@Url.Action("SacandoTicketVenta", "Ventas", new { DocEntry = item.DocEntry })"
                                               class="btn btn-light text-success btn-sm"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Fin Picking">
                                                <img src="~/imagenes/picking.png" width="30" height="30" />
                                            </a>
                                        }
                                    </div>
                                }
                            </td>

                            <td class="text-center">
                                @*El boton "INICIO VERIFICAR" solo se habilita si y solo si el ticket tiene como ultimo estado "FIN PICKING" o "INICIO PICKING" o "ANULAR INICIO VERIFICAR"*@
                                @if (ViewBag.RolSupervisor == 50 || ViewBag.RolSupervisor == 51 || ViewBag.RolSupervisor == 1 || ViewBag.RolSupervisor == 4)
                                {
                                    <div class="btn-container">
                                        @if (condIniVerificar)
                                        {
                                            @*<a href="@Url.Action("IniciarVerificandoTicketVenta", "Ventas", new { DocEntry = item.DocEntry })" class="btn btn-amarillo btn-sm"> Inicio <br /> Verificar </a>*@
                                            <a href="@Url.Action("IniciarVerificandoTicketVenta", "Ventas", new { DocEntry = item.DocEntry })"
                                               class="btn btn-light text-warning btn-sm"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Inicio Verificar">
                                                <img src="~/imagenes/verificar.png" width="30" height="30" />
                                            </a>
                                        }
                                        @*El boton "FIN VERIFICAR" solo se habilita en dos casos, si el ticket tiene en su tabla de control de cambios el FIN PICKING, pero si en caso tambien se encuentra un ANULAR FIN PICKING se tendra que comparar la fecha y hora para saber con certeza que el FIN PICKING se ha dado, o tambien si el ticket esta en estado general VERIFICANDO*@
                                        @if (condFinVerificar)
                                        {
                                            @*<a href="@Url.Action("VerificadoTicketVenta", "Ventas", new { DocEntry = item.DocEntry })" class="btn btn-amarillo btn-sm">Fin <br /> Verificar </a>*@
                                            <a href="@Url.Action("VerificadoTicketVenta", "Ventas", new { DocEntry = item.DocEntry })"
                                               class="btn btn-light text-warning btn-sm"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Fin Verificar">
                                                <img src="~/imagenes/verificar.png" width="30" height="30" />
                                            </a>
                                        }
                                    </div>
                                }
                            </td>

                            <td class="text-center">
                                @*El boton "INICIO EMPACAR" solo se habilita si y solo si el ticket tiene como ultimo estado "INICIO VERIFICAR" o "FIN VERIFICAR" o "ANULAR INICIO EMPACAR" y cuando el estado de ticket esta en PICKEANDO o en VERIFICANDO*@
                                @if (ViewBag.RolSupervisor == 50 || ViewBag.RolSupervisor == 51 || ViewBag.RolSupervisor == 52 || ViewBag.RolSupervisor == 53 || ViewBag.RolSupervisor == 1 || ViewBag.RolSupervisor == 4)
                                {
                                    <div class="btn-container">
                                        @if (condIniEmpacar)
                                        {
                                            <a href="@Url.Action("IniciarEmpacandoTicketVenta", "Ventas", new { DocEntry = item.DocEntry })"
                                               class="btn btn-light text-naranja btn-sm"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Inicio Packing">
                                                <img src="~/imagenes/packing.png" width="30" height="30" />
                                            </a>
                                        }
                                        @if (condFinEmpacar)
                                        {
                                            @*El boton "FIN EMPACAR" solo se habilita si el ticket tiene cantidad de cajas mayor a cero (quiere decir que ya ha sido verificado) y si tiene como ultimo estado en la tabla control de cambios "INICIO EMPACAR" o "ANULAR FIN EMPACAR" asi mismo tiene que estar en estado general EMPACANDO o VERIFICANDO*@

                                            <a href="@Url.Action("EmpacadoTicketVenta", "Ventas", new { DocEntry = item.DocEntry })"
                                               class="btn btn-light text-naranja  btn-sm"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Fin Packing">
                                                <img src="~/imagenes/packing.png" width="30" height="30" />
                                            </a>
                                        }
                                    </div>
                                }
                            </td>
                        }

                        @if (ViewBag.RolSupervisor == 4 || ViewBag.RolSupervisor == 1)
                        {
                            if (!string.IsNullOrWhiteSpace(ViewBag.AlmUsuario) && ViewBag.AlmUsuario == "07")
                            {
                                <td class="text-center">
                                    @if ((item.ultimoCCEstado == "INICIO PICKING" || item.ultimoCCEstado == "ANULAR FIN PICKING") && item.hayIniPicking && item.Estado == "PICKEANDO" && item.hayFinPicking == false)
                                    {
                                        <a href="@Url.Action("AnularIniciarSacandoTicket", "Ventas", new { DocEntry = item.DocEntry })"
                                           class="btn btn-light text-danger btn-sm"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="Anular Inicio Picking">
                                            <i class="icon icon-undo"></i>
                                        </a>
                                    }
                                    @if (item.Estado == "EMPACADO")
                                    {
                                        <a href="@Url.Action("AnularEmpacadoTicket", "Ventas", new { DocEntry = item.DocEntry })"
                                           class="btn btn-light text-danger btn-sm"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="Anular Fin Packing">
                                            <i class="icon icon-undo"></i>
                                        </a>
                                    }
                                </td>
                            }
                            else
                            {
                                <td class="text-center">

                                    @if (((item.ultimoCCEstado == "INICIO PICKING" || item.ultimoCCEstado == "ANULAR FIN PICKING" || item.ultimoCCEstado == "ANULAR INICIO VERIFICAR") && item.hayIniPicking && item.Estado == "PICKEANDO" && !item.hayFinPicking) &&
                                        !((item.ultimoCCEstado == "INICIO VERIFICAR" || item.ultimoCCEstado == "ANULAR FIN VERIFICAR" || item.ultimoCCEstado == "ANULAR INICIO EMPACAR" || item.ultimoCCEstado == "ANULAR FIN PICKING") && item.hayIniVerificar && !item.hayFinVerificar))
                                    {
                                        <a href="@Url.Action("AnularIniciarSacandoTicket", "Ventas", new { DocEntry = item.DocEntry })"
                                           class="btn btn-light text-danger btn-sm"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="Anular Inicio Picking">
                                            <i class="icon icon-undo"></i>
                                        </a>
                                    }

                                    @if ((item.ultimoCCEstado == "FIN PICKING" || item.ultimoCCEstado == "ANULAR INICIO VERIFICAR") && item.hayFinPicking)
                                    {
                                        <a href="@Url.Action("AnularSacandoTicket", "Ventas", new { DocEntry = item.DocEntry })"
                                           class="btn btn-light text-danger btn-sm"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="Anular Fin Picking">
                                            <i class="icon icon-undo"></i>
                                        </a>
                                    }
                                    @if ((item.ultimoCCEstado == "INICIO VERIFICAR" || item.ultimoCCEstado == "ANULAR FIN VERIFICAR" || item.ultimoCCEstado == "ANULAR INICIO EMPACAR" || item.ultimoCCEstado == "ANULAR FIN PICKING") && item.hayIniVerificar && !item.hayFinVerificar)
                                    {
                                        <a href="@Url.Action("AnularIniciarVerificandoTicket", "Ventas", new { DocEntry = item.DocEntry })"
                                           class="btn btn-light text-danger btn-sm"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="Anular Inicio Verificar">
                                            <i class="icon icon-undo"></i>
                                        </a>
                                    }
                                    @if ((item.ultimoCCEstado == "FIN VERIFICAR" || item.ultimoCCEstado == "ANULAR INICIO EMPACAR") && item.hayFinVerificar)
                                    {
                                        <a href="@Url.Action("AnularVerificadoTicket", "Ventas", new { DocEntry = item.DocEntry })"
                                           class="btn btn-light text-danger btn-sm"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="Anular Fin Verificar">
                                            <i class="icon icon-undo"></i>
                                        </a>
                                    }
                                    @if ((item.ultimoCCEstado == "INICIO EMPACAR" || item.ultimoCCEstado == "ANULAR FIN EMPACAR") && item.hayIniEmpacar && item.hayFinEmpacar == false)
                                    {
                                        <a href="@Url.Action("AnularIniciarEmpacandoTicket", "Ventas", new { DocEntry = item.DocEntry })"
                                           class="btn btn-light text-danger btn-sm"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="Anular Inicio Packing">
                                            <i class="icon icon-undo"></i>
                                        </a>
                                    }
                                    @if (item.Estado == "EMPACADO")
                                    {
                                        <a href="@Url.Action("AnularEmpacadoTicket", "Ventas", new { DocEntry = item.DocEntry })"
                                           class="btn btn-light text-danger btn-sm"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="Anular Fin Packing">
                                            <i class="icon icon-undo"></i>
                                        </a>
                                    }
                                </td>
                            }
                        }

                        <td class="text-center">
                            @if ((item.Estado.Equals("EMPACADO") || item.Estado.Equals("PREENVIO") || item.Estado.Equals("ENVIADO") || item.Estado.Equals("PESADO")) && (ViewBag.RolSupervisor == 1 || ViewBag.RolSupervisor == 11))
                            {

                                if ((item.LugarDestino.Equals("Centro") || item.LugarDestino.Equals("Arriola")))
                                {
                                    <a href="#" onclick="cancelarTicket(@item.DocEntry);"
                                       class="btn btn-light text-danger btn-sm"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       title="Cancelar ticket">
                                        <i class="icon icon-cancel-circle"></i>
                                    </a>
                                }
                                else
                                {
                                    if (item.Estado.Equals("EMPACADO") || item.Estado.Equals("PESADO"))
                                    {
                                        <a href="#" onclick="cancelarTicket(@item.DocEntry);"
                                           class="btn btn-light text-danger btn-sm"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="Cancelar ticket">
                                            <i class="icon icon-cancel-circle"></i>
                                        </a>
                                    }
                                }
                            }
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("SeguimientoDeTicket", "Ventas", new { DocEntry = item.DocEntry})" type="button" target="_blank" onclick="window.open(this.href,this.target,'width=1200,height=650,top=120,left=100,toolbar=no,location=no,status=no,menubar=no');return false;"
                               class="btn btn-light text-dark btn-sm"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="Seguimiento de ticket">
                                <i class="icon icon-truck font-15"></i>
                            </a>
                        </td>
                        <td>
                            @{
                                var validStates = new List<string> { "PICKEANDO", "VERIFICANDO", "EMPACANDO", "EMPACADO", "PREENVIO", "ENVIADO", "PESADO", "ENTREGADO" };
                                if (item.LugarDestino != null && validStates.Contains(item.Estado))
                                {

                                    <button type="button" onclick="generarHtmlComprobantes(@item.DocEntry,'@item.Estado','@item.LugarDestino');"
                                            class="btn btn-light btn-sm text-danger"
                                            data-placement="top"
                                            title="Descargar Comprobantes"
                                            data-toggle="tooltip">
                                        <i class="icon icon-download"></i>
                                    </button>
                                }
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

<!-- Modal de documentos contables -->
<div id="comprobantesModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-headerModals text-light">
                <h5 class="modal-title"><strong>Documentos de ticket</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-light">&times;</span>
                </button>
            </div>
            <div id="modal-body-comprobantes" class="modal-body">
                @*Contenido de modal llega desde function js*@
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalReporte" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-cobefar text-white">
                <h5 class="modal-title" id="exampleModalLabel">Reporte - Errores de Picking</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frm_rptErroresPicking">
                    <div class="row mb-4">
                        <div class="col-lg-3 col-md-3">
                            <label class="text-cobefar font-weight-bold">Fecha Ticket Desde:</label>
                            <input type="date" id="FechaTicketDesdeEP" name="FechaTicketDesdeEP" class="form-control border-success text-center" />
                        </div>

                        <div class="col-lg-3 col-md-3">
                            <label class="text-cobefar font-weight-bold">Fecha Ticket Hasta:</label>
                            <input type="date" id="FechaTicketHastaEP" name="FechaTicketHastaEP" class="form-control border-success text-center" />
                        </div>

                        <div class="col-lg-3 col-md-3">
                            <label class="text-cobefar font-weight-bold">Estado:</label>
                            <select type="text" id="EstadoEP" name="EstadoEP" class="form-control bg-cobefar text-white" autocomplete="off">
                                <option value="1">Activos</option>
                                <option value="0">Inactivos</option>
                                <option value="">Todos</option>
                            </select>
                        </div>

                        <div class="col-lg-3">
                            <label class="text-cobefar font-weight-bold">Nro Ticket:</label>
                            <input type="text" id="DocNumTicketEP" name="DocNumTicketEP" class="form-control border-success text-center cls-numeric" />
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-lg-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-cobefar mb-2" onclick="validarFiltrosReporte()"><i class="icon-checkmark"></i> Generar Reporte</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_cerrarModal" class="btn btn-secondary" data-dismiss="modal"><i class='icon-cross'></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>


@*Si el valor request de DescargarPDF es 1, automatiza la descarga*@
@if (Request["DescargarPDF"] == "1")
{
    <script>
        Swal.fire({
            text: 'En breve se descargará el TacoEmpaque',
            timer: 1000,
            timerProgressBar: true,
            showConfirmButton: false
        });
        location.href = '/Ventas/PdfTacoEmpaque?DocEntry=' + @Request["NumTicket"];

    </script>

}
@section Scripts{
    <script>
    $(document).ready(function () {

        $('[data-toggle="tooltip"]').tooltip();

        if ('@ViewBag.Mensaje' !== "") {
            Swal.fire('@ViewBag.Mensaje');
        }

    });

    function filtrar() {
        var object = $("#frm").serialize();
        $(location).attr('href', "/Ventas/ListadoTicketsAlmacen?" + object);
    }

    function excelOrdenesVenta(DocEntry) {
        Swal.fire({
            text: 'En breve se descargará el Excel',
            timer: 3000,
            timerProgressBar: true,
            showConfirmButton: false
        });
        location.href = '/Ventas/ExportarExcelArticulos?DocEntry='+DocEntry;
    }

    async function generarHtmlComprobantes(docEntry, estado, lugarDestino) {
    let html = '<div class="btn-group" role="group">';

        // Condiciones para el botón Excel que descarga todos los SKU
        if (["PICKEANDO", "VERIFICANDO", "EMPACANDO", "EMPACADO", "PESADO", "PREENVIO", "ENVIADO", "ENTREGADO"].includes(estado)) {
            html += `
                <button type="button" onclick="excelOrdenesVenta('${encodeURIComponent(docEntry)}')"
                    class="btn btn-light text-success" data-toggle="tooltip"
                    data-placement="top" title="Descargar Excel Artículos">
                    <i class="icon icon-file-excel">
                        <span class="text-dark small"> SKUs</span>
                    </i>
                </button><br />
            `;
        }

        // Lógica para botones de documentos adicionales
        if (lugarDestino === "Agencia" && ["PICKEANDO", "VERIFICANDO", "EMPACANDO", "EMPACADO", "PESADO", "PREENVIO", "ENVIADO", "ENTREGADO"].includes(estado)) {

            html += '<button type="button" onclick="pdfRotulo(\'' + encodeURIComponent(docEntry) + '\')" class="btn btn-light text-danger" data-toggle="tooltip" data-placement="top" title="Descargar Rotulado">';
            html += '<i class="icon icon-file-pdf"><span class="text-dark small"> Rótulo </span></i>';
            html += '</button><br />';
        }

        const { existeNC, existeND, existeF, existeG } = await validarDocumentos(docEntry);

        html += generarBotonesComprobantes(docEntry, existeNC, existeND, existeF, existeG);

        html += '</div>';

        document.getElementById('modal-body-comprobantes').innerHTML = html;
            $('#comprobantesModal').modal('show');

            //Inicializar el tooltip dibujado en el modal
            $('[data-toggle="tooltip"]').tooltip();
    }

    // Función para validar la existencia de los documentos antes de mostrar el boton de descarga
    async function validarDocumentos(docEntry) {
    try {
        const response = await $.ajax({
            url: '@Url.Action("ExistenciaDeDocumentos", "ComprobantesContables")',
            type: 'GET',
            data: { DocEntry: docEntry }
        });

        return {
            existeNC: response?.existeNC || "N",
            existeND: response?.existeND || "N",
            existeF: response?.existeF || "N",
            existeG: response?.existeG || "N"
        };
    } catch (error) {
        Swal.fire('Error', 'Ocurrió un error en la solicitud: ' + error, 'error');
        return {
            existeNC: "N",
            existeND: "N",
            existeF: "N",
            existeG: "N",

        };
    }
}

    // Función para generar los botones de comprobantes
    function generarBotonesComprobantes(docEntry, existeNC, existeND, existeF, existeG) {
        let html = ``;
        if (existeF === "Y") {
            html += `
            <button type="button" data-docentry="${encodeURIComponent(docEntry)}" data-tipo="F"
                onclick="descargarComprobante('${encodeURIComponent(docEntry)}', 'F')"
                class="btn btn-light text-danger" data-toggle="tooltip" data-placement="top"
                title="Facturas">
                <i class="icon icon-download"><span class="text-dark small"> Facturas </span></i>
            </button><br />
            `;
        }

        if (existeG === "Y") {
        html += `
            <button type="button" data-docentry="${encodeURIComponent(docEntry)}" data-tipo="G"
                onclick="descargarComprobante('${encodeURIComponent(docEntry)}', 'G')"
                class="btn btn-light text-danger" data-toggle="tooltip" data-placement="top"
                title="Guías">
                <i class="icon icon-download"><span class="text-dark small"> Guías </span></i>
            </button><br />
        `;
        }

        if (existeNC === "Y") {
            html += `
                <button type="button" data-docentry="${encodeURIComponent(docEntry)}" data-tipo="NC"
                    onclick="descargarComprobante('${encodeURIComponent(docEntry)}', 'NC')"
                    class="btn btn-light text-danger" data-toggle="tooltip" data-placement="top"
                    title="Notas de crédito">
                    <i class="icon icon-download"><span class="text-dark small"> Notas de crédito </span></i>
                </button><br />
            `;
        }

        if (existeND === "Y") {
            html += `
                <button type="button" data-docentry="${encodeURIComponent(docEntry)}" data-tipo="ND"
                    onclick="descargarComprobante('${encodeURIComponent(docEntry)}', 'ND')"
                    class="btn btn-light text-danger" data-toggle="tooltip" data-placement="top"
                    title="Notas de débito">
                    <i class="icon icon-download"><span class="text-dark small"> Notas de débito </span></i>
                </button><br />
            `;
        }

        return html;
    }

    // Función para descargar comprobantes contables
    function descargarComprobante(docEntry, tipo) {
    const btn = document.querySelector(`[data-docentry="${docEntry}"][data-tipo="${tipo}"]`);

        if (btn) {
        btn.disabled = true;
        }

        Swal.fire({
            title: 'Cargando...',
            text: 'Por favor, espere mientras se procesa la solicitud.',
            allowOutsideClick: true,
            didOpen: () => {
                Swal.showLoading();
            }
        });

        $.ajax({
            url: '@Url.Action("CrearYObtenerDocumento", "ComprobantesContables")',
            type: 'GET',
            data: { DocEntry: docEntry, Tipo: tipo },
            success: function (response) {
                if (response.success) {
                    window.open(response.fileUrl, '_blank', 'noopener,noreferrer');
                    Swal.close();
                } else {
                    Swal.fire('Error', response.message, 'error').then(() => {
                        Swal.close();
                    });
                }
            },
            error: function (xhr, status, error) {
                Swal.fire('Error', 'Ocurrió un error en la solicitud: ' + error, 'error').then(() => {
                    Swal.close();
                });
            },
            complete: function () {
                if (btn) {
                    btn.disabled = false;
                }
            }
        });
    }

    function pdfRotulo(docEntry) {
        window.open('@Url.Action("PdfRotuladoTicket", "Ventas")' + '?DocEntry=' + docEntry, '_blank', 'noopener,noreferrer');
        $('#comprobantesModal').modal('hide');
    }

    // Función para cancelar ticket
    function cancelarTicket(DocEntry) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success mx-4',
                cancelButton: 'btn btn-danger mx-4'
            },
            buttonsStyling: false
        });

        swalWithBootstrapButtons.fire({
            title: '¿Está seguro(a) de cancelar el ticket?',
            text: "Este proceso es irreversible",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: "<i class='icon-checkmark'></i> Si, estoy seguro(a)",
            cancelButtonText: "<i class='icon-cross'></i> Cancelar",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = `/Ventas/CancelarTicket?DocEntry=${DocEntry}&vista=ListadoTicketsAlmacen`;
            }
        });
    }

    // Función para validar filtros de reporte
    function validarFiltrosReporte() {
        const fechaTicketDesde = document.getElementById("FechaTicketDesdeEP").value;
        const fechaTicketHasta = document.getElementById("FechaTicketHastaEP").value;
        const estado = document.getElementById("EstadoEP").value;
        const docNumTicket = document.getElementById("DocNumTicketEP").value;

        // Verificar si se seleccionó un rango de fecha válido
        if (docNumTicket === '' && (fechaTicketDesde === '' || fechaTicketHasta === '')) {
            Swal.fire('Por favor seleccione un rango de fecha válido');
        } else {
            const params = new URLSearchParams({
                FechaTicketDesde: fechaTicketDesde,
                FechaTicketHasta: fechaTicketHasta,
                Estado: estado,
                DocNumTicket: docNumTicket
            }).toString();

            window.open(`/Ventas/ExportarReporteErroresPicking?${params}`, '_blank', 'noopener,noreferrer');
        }
    }

    // Validar que solo se ingresen números
    $('.cls-numeric').keypress(function (event) {
        const charCode = event.charCode;

        if ((charCode < 48 || charCode > 57) && charCode !== 13) {
            event.preventDefault();
        }
    });
    </script>
}
