@model IEnumerable<Capa_Entidad.Ventas_ENT.TablasSql.ORTV_E>
@using Capa_Entidad.Ventas_ENT.TablasSql
@using Capa_Entidad.Seguridad_ENT

@{
    ViewBag.Title = "ListadoTicketsVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var hoy = DateTime.Now;
    ORTV_E a = (ORTV_E)ViewBag.Ortv;
    List<Usuario_E> usuarios = (List<Usuario_E>)ViewBag.Vendedores;
}

@section Styles{
    <link href="~/Content/css/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/css/semantic.min.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Content/js/alertify.min.js"></script>
}

<script>
     $(document).ready(function () {
        $('#filterModal').on('shown.bs.modal', function () {
            $('#filterModal input:first').focus();
        });
    });
    function filtrar() {
        var object = $("#filterForm").serialize();
        $(location).attr('href', "/Ventas/ListadoTicketsVenta?" + object);
    }

    function seleccionarVendedor(CodigoSap) {
        var nombres = $('#selectVendedores option:selected').data('nombres');
        var apellidos = $('#selectVendedores option:selected').data('apellidos');

        $('#CodigovendedorInput').val(CodigoSap);
        $('#NombresvendedorInput').val(nombres);
        $('#ApellidosvendedorInput').val(apellidos);
    }
    function enviarDatosTicketReemplazo() {
    var codigoVendedor = $('#CodigovendedorInput').val();
    var nombreVendedor = $('#NombresvendedorInput').val();
    var apellidoVendedor = $('#ApellidosvendedorInput').val();
    var data = {
        CodigoSap: codigoVendedor,
        Nombres: nombreVendedor,
        Apellidos: apellidoVendedor
    };

    Swal.fire({
        title: 'Enviando datos...',
        allowOutsideClick: false,
        onBeforeOpen: () => {
            Swal.showLoading();
        }
    });

    $.ajax({
        type: 'GET',
        url: '@Url.Action("CreaTicketVenta", "Ventas")',
        data: data,
        success: function(response) {
        console.log('Datos enviados correctamente.');
        $('#modalVendedores').hide();
        location.reload();
        Swal.fire({
        icon: 'success',
        title: 'Datos enviados correctamente',
        showConfirmButton: false,
        timer: 1500
        });
        },
        error: function(xhr, status, error) {
        console.error('Error al enviar datos:', error);
        Swal.fire({
        icon: 'error',
        title: 'Error al enviar datos',
        text: 'Por favor, inténtelo de nuevo más tarde.',
        showConfirmButton: true
        });
        },
        complete: function() {
        Swal.close();
        }
        });
        }

</script>


<div class="pt-3">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li class="current"><em>Listado de Tickets</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">LISTADO DE TICKETS</h3></div>
</div>

    <div class="d-flex pl-2 w-100 py-3">

        <div class="mx-2">
            @if (ViewBag.IdRol == 12)
            {
                <a id="accion" href="#" class="btn btn-success" data-toggle="modal" data-target="#modalVendedores">
                    <i class="icon-plus"></i>  Nuevo ticket
                </a>
            }
            else
            {
                <a id="accion" href="@Url.Action("CreaTicketVenta", "Ventas")" class="btn btn-success" title="Crear Ticket Nuevo">
                    <i class="icon-plus"></i>  Nuevo ticket
                </a>
            }
            <button type="button" id="btn_ordenesVenta" class="btn btn-orange " data-codsapvendedor="@ViewBag.CodSapVendedor"><i class="icon-file-text2"></i> Órdenes de Venta</button>
            <button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#filterModal"><i class="icon-filter"> </i> Filtrar</button>

        </div>
        </div>


<div class="alert alert-danger mb-0" role="alert">
    <span class="text-danger font-weight-bold">Tickets Separados:</span>
    <p>
        @if (ViewBag.ListaTicketsSeparados.Count >= 1)
        {
            foreach (var ts in ViewBag.ListaTicketsSeparados)
            {
                <a href="/Ventas/CreaTicketVenta?DocEntry=@ts.DocEntry">@ts.DocNum ,</a>
            }
        }

    </p>
</div>
<!-- Modal para Filtros -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-cobefar text-light">
                <h5 class="modal-title" id="modalFiltrosLabel">Filtros de Búsqueda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="filterForm" id="filterForm">
                    <div class="form-group">
                        <label for="DocNum">Número de Documento</label>
                        <input type="text" id="DocNum" name="DocNum" class="form-control" value="@a.DocNum" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label for="FechaSapTicket">Fecha del Ticket</label>
                        <input type="date" id="FechaSapTicket" name="FechaSapTicket" class="form-control" value="@a.FechaSapTicket" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label for="CardName">Nombre del Cliente</label>
                        <input type="text" id="CardName" name="CardName" class="form-control" value="@a.CardName" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label for="Vendedor">Vendedor</label>
                        <input type="text" id="Vendedor" name="Vendedor" class="form-control" value="@a.Vendedor" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label for="MontoFinal">Monto Final</label>
                        <input type="text" id="MontoFinal" name="MontoFinal" class="form-control" value="@a.MontoFinal" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label for="LugarDestino">Lugar de Destino</label>
                        <select id="LugarDestino" name="LugarDestino" class="form-control">
                            <option value=""></option>
                            <option value="Arriola" @{ if (a.LugarDestino == "Arriola") { Write("selected"); } }>Arriola</option>
                            <option value="Agencia" @{ if (a.LugarDestino == "Agencia") { Write("selected"); } }>Agencia</option>
                            <option value="Domicilio" @{ if (a.LugarDestino == "Domicilio") { Write("selected"); } }>Domicilio</option>
                            <option value="Centro" @{ if (a.LugarDestino == "Centro") { Write("selected"); } }>Centro</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Estado">Estado</label>
                        <select id="Estado" name="Estado" class="form-control">
                            <option value=""></option>
                            <option value="SEPARADO" @{ if (a.Estado == "SEPARADO") { Write("selected"); } }>SEPARADO</option>
                            <option value="ABIERTO" @{ if (a.Estado == "ABIERTO") { Write("selected"); } }>ABIERTO</option>
                            <option value="RECIBIDO" @{ if (a.Estado == "RECIBIDO") { Write("selected"); } }>RECIBIDO</option>
                            <option value="PICKEANDO" @{ if (a.Estado == "PICKEANDO") { Write("selected"); } }>PICKEANDO</option>
                            <option value="VERIFICANDO" @{ if (a.Estado == "VERIFICANDO") { Write("selected"); } }>VERIFICANDO</option>
                            <option value="EMPACANDO" @{ if (a.Estado == "EMPACANDO") { Write("selected"); } }>EMPACANDO</option>
                            <option value="EMPACADO" @{ if (a.Estado == "EMPACADO") { Write("selected"); } }>EMPACADO</option>
                            <option value="PESADO" @{ if (a.Estado == "PESADO") { Write("selected"); } }>PESADO</option>
                            <option value="PREENVIO" @{ if (a.Estado == "PREENVIO") { Write("selected"); } }>PREENVIO</option>
                            <option value="ENVIADO" @{ if (a.Estado == "ENVIADO") { Write("selected"); } }>ENVIADO</option>
                            <option value="ENTREGADO" @{ if (a.Estado == "ENTREGADO") { Write("selected"); } }>ENTREGADO</option>
                            <option value="ANULADO" @{ if (a.Estado == "ANULADO") { Write("selected"); } }>ANULADO</option>
                            <option value="CANCELADO" @{ if (a.Estado == "CANCELADO") { Write("selected"); } }>CANCELADO</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="EstadoPago">Estado de Pago</label>
                        <select id="EstadoPago" name="EstadoPago" class="form-control">
                            <option value=""></option>
                            <option value="PENDIENTE" @{ if (a.EstadoPago == "PENDIENTE") { Write("selected"); } }>PENDIENTE</option>
                            <option value="PAGADO" @{ if (a.EstadoPago == "PAGADO") { Write("selected"); } }>PAGADO</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="EstadoGasto">Estado de Gasto</label>
                        <select id="EstadoGasto" name="EstadoGasto" class="form-control">
                            <option value=""></option>
                            <option value="PENDIENTE" @{ if (a.EstadoGasto == "PENDIENTE") { Write("selected"); } }>PENDIENTE</option>
                            <option value="CONFIRMADO" @{ if (a.EstadoGasto == "CONFIRMADO") { Write("selected"); } }>CONFIRMADO</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="PagoEnv">Pago Envío</label>
                        <select id="PagoEnv" name="PagoEnv" class="form-control">
                            <option value="0.00" @{ if (a.PagoEnv == 0.00M) { Write("selected"); } }></option>
                            <option value="0.01" @{ if (a.PagoEnv == 0.01M) { Write("selected"); } }>SI</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="filtrar();">Aplicar Filtros</button>
            </div>
        </div>
    </div>
</div>


    <div class="bg-white bg-form-cobefar pt-3">
        <table class="table table-light table-sm table-hover cls-dataTable50" cellspacing="0" width="100%">
            <thead class="bg-cobefar-6">
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.DocNum)
                    </th>
                    <th class="text-center">
                        Fecha Ticket
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.HoraRegistro)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.CardName)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Vendedor)
                    </th>
                    <th class="text-center">
                        Monto Final
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.LugarDestino)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th class="text-center">
                        Estado Pago
                    </th>
                    <th class="text-center">
                        Estado Gasto
                    </th>
                    <th class="text-center">
                        Pago Envio
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string styleVisible = "";
                    if (item.Visible.Equals("NO"))
                    {
                        styleVisible = "bg-skyblue";

                    }
                    <tr id="fila" class="@styleVisible">
                        <td class="text-center">
                            <div class="@if (ViewBag.DocNum == item.DocNum) { Write("bg-success"); }">@Html.DisplayFor(modelItem => item.DocNum)</div>
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.FechaSapTicket)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.HoraAbierto)
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.CardName)) { Write(item.CardName); }
                        </td>
                        <td class="text-center">
                            @item.Vendedor
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.MontoFinal)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.LugarDestino)
                        </td>
                        <td class="text-center">
                            @if (item.Visible != null && item.Visible.Equals("NO"))
                            {<span>PRESUPUESTO</span> }
                            else
                            {@Html.DisplayFor(modelItem => item.Estado)}
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.EstadoPago)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.EstadoGasto)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.PagoEnv)
                        </td>
                        <td class="text-center">
                            @if (item.Estado.Equals("SEPARADO") || item.Estado.Equals("ABIERTO"))
                            {
                                <a href="@Url.Action("EditarTicketVenta", "Ventas", new { DocEntry = item.DocEntry })" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Editar ticket"><i class="text-purple icon-pencil"></i></a>
                            }
                        </td>
                        <td class="text-center">
                            @if ((item.Estado.Equals("SEPARADO") || item.Estado.Equals("ABIERTO")) && (ViewBag.IdRol == 1 || ViewBag.IdRol == 6 || ViewBag.IdRol == 7 || ViewBag.IdRol == 12))
                            {
                                <a href="#" onclick="cancelarTicket(@item.DocEntry);" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Cancelar ticket"><i class="text-danger icon-bin"></i></a>
                            }
                        </td>
                        <td class="text-center">
                            @if (item.Estado != "SEPARADO")
                            {
                                <a href="@Url.Action( "SeguimientoDeTicket", "Ventas", new { DocEntry = item.DocEntry  } )" type="button" target="_self" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="PDF de ticket"
                                   onclick="window.open(this.href,this.target,'width=1200,height=650,top=120,left=100,toolbar=no,location=no,status=no,menubar=no');return false;">
                                    <i title="Seguimiento de ticket" class="text-dark icon-truck"></i>
                                </a>
                            }
                        </td>
                        <td class="text-center">
                            @if (item.Estado != "SEPARADO")
                            {
                                <a href="@Url.Action( "GenerarPDF", "Ventas", new { DocEntry = item.DocEntry  } )" target="_blank" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="PDF de ticket"><i class="text-danger icon-file-pdf"></i></a>
                            }
                        </td>
                        <td class="text-center">
                            @if (item.Estado == "ENTREGADO")
                            {
                                <a href="@Url.Action( "EvidenciaReparto", "Rutas", new { DocEntry = item.DocEntry , TipoRuta="Ventas"} )" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Evidencia"><i class="text-primary icon-image"></i></a>
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
<!--Modals-->
<div class="modal fade" id="MdAnVentas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-cobefar text-white">
                <h5 class="modal-title" id="exampleModalLabel">Reporte Analítico Ventas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <form id="frmAnVtn">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label bg-cobefar text-white text-center py-2 px-2 mx-1">Desde:</label>
                        <div class="col-lg-6">
                            <input type="date" class="form-control border-success" name="FecIni" value="" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label bg-cobefar text-white text-center py-2 px-2 mx-1">Hasta:</label>
                        <div class="col-lg-6">
                            <input type="date" class="form-control border-success" name="FecFin" value="" />
                        </div>
                    </div>
                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label bg-cobefar text-white text-center py-2 px-2 mx-1">Vendedor:</label>
                        <div class="col-lg-2">
                            <input type="search" class="form-control border-success" style="width: 150px" name="DocEntry" list="listaVendedores" autocomplete="off" />
                            <datalist id="listaVendedores">
                                @foreach (Usuario_E obj in usuarios)
                                {
                                    <option value="@obj.DocEntry" nombre="@obj.Nombres @obj.Apellidos">@obj.Nombres @obj.Apellidos</option>
                                }
                            </datalist>
                        </div>
                    </div>

                    <div class="form-group row justify-content-end">
                        <div class="col-lg-4">
                            <button class="btn btn-success" type="button" onclick="RptAnVentas();"><i class="icon icon-checkmark"></i> Generar</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal para listar vendedores -->
<div id="modalVendedores" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-cobefar text-white">
                <h5 class="modal-title" id="exampleModalLabel">Selecciona vendedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="selectVendedores">Seleccionar vendedor:</label>
                <select id="selectVendedores" class="form-control" onchange="seleccionarVendedor(this.value)">
                    <option value="">Seleccione..</option>
                    @foreach (var vendedor in usuarios)
                    {
                        <option value="@vendedor.CodigoSap" data-nombres="@vendedor.Nombres" data-apellidos="@vendedor.Apellidos">@vendedor.Nombres @vendedor.Apellidos</option>
                    }
                </select>
                <br />
                <input type="text" id="CodigovendedorInput" class="form-control bg-success text-white font-weight-bold" readonly>
                <br />
                <input type="text" id="NombresvendedorInput" class="form-control bg-success text-white font-weight-bold" readonly>
                <br />
                <input type="text" id="ApellidosvendedorInput" class="form-control bg-success text-white font-weight-bold" readonly>
            </div>
            <div class="modal-footer">
                <a id="accion" onclick="enviarDatosTicketReemplazo();" class="btn btn-secondary font-weight-bold text-white">
                    Enviar
                </a>
            </div>
        </div>
    </div>
</div>



<style>
    .alertify-notifier .ajs-message.ajs-success {
        background-color: #6495ED;
    }

    .alertify-notifier .ajs-message.ajs-warning {
        background-color: #FFD700;
    }
</style>

<script>
    if ('@ViewBag.Mensaje' != "") {
    Swal.fire('@ViewBag.Mensaje');
    }
    //Consulta de ordenes de venta
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('btn_ordenesVenta').addEventListener('click', () => {
            let codSapVendedor = document.getElementById("btn_ordenesVenta").dataset.codsapvendedor;
            window.location.href = '@Url.Action("ListadoOrdenesDeVenta", "DireccionTecnica")?SlpCode=' + codSapVendedor;
        });
    });

    function cancelarTicket(DocEntry) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success mx-4',
                cancelButton: 'btn btn-danger mx-4'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: '¿Está seguro(a) de cancelar el ticket?',
            text: "Este proceso es irreversible",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: "<i class='icon-checkmark'></i> Si, estoy seguro(a)",
            cancelButtonText: "<i class='icon-cross'></i> No",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = '/Ventas/CancelarTicket?DocEntry=' + DocEntry + '&vista=ListadoTicketsVenta';
            }
        });
    }


    $(document).ready(function () {

        var consultarNuevasSolicitudes = function () {
            alertify.set('notifier', 'position', 'top-right');
            alertify.set('notifier', 'delay', 15);
            $.ajax({
                url: '/Caja/ObtenerSolicitudesAutorizar',
                type: 'POST',
                dataType: 'json',
            }).done(function (response) {
                var contador = 0;
                if (response.Datos.length >= 1) {
                    response.Datos.forEach(function (solicitud) {
                        if (contador < 7) {

                            var mensaje = `<div style="font-size: 13px;margin: 0;padding:0;">
                                            <div style="text-align:center;font-weigth:700">
                                            <button class="btn btn-success" id="autorizar-${solicitud.DocNumTicket}" style="font-size: 12px; margin-left: 5px;  color: white; border: none; padding: 3px 8px; border-radius: 3px;"><i class="icon icon-search"></i></button>
                                            Autorizar ticket N° ${solicitud.DocNumTicket}
                                            </div>
                                            </div>`;
                            var msj = alertify.warning(mensaje);

                            $(`#autorizar-${solicitud.DocNumTicket}`).on('click', function () {
                                var url = `/Ventas/AutorizarTicketReparto?DocEntry=${solicitud.DocEntryTicket}&IdOTC=${solicitud.IdOTC}`;
                                window.open(url, '_blank', 'width=1200,height=720,top=120,left=100,toolbar=no,location=no,status=no,menubar=no');
                            });
                            $(`#cerrar-${solicitud.DocNumTicket}`).on('click', function () {
                                msj.close();
                            });
                            contador++;
                        } else {
                            return false;
                        }
                    });
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.status + textStatus + errorThrown);
            });
        }

        var consultarPresupuestos = function () {
            alertify.set('notifier', 'position', 'bottom-right');
            alertify.set('notifier', 'delay', 15);

            var docEntryUsuario = @ViewBag.DocEntryUsuario;
            $.ajax({
                url: '/Ventas/ListarTicketsNoVisiblesPagados',
                type: 'POST',
                dataType: 'json',
                data: { DocEntryUsuario: docEntryUsuario },
            }).done(function (response) {
                var contador = 0;
                if (response.Datos.length >= 1) {
                    response.Datos.forEach(function (tk) {
                        if (contador < 7) {
                            var mensaje = `<div style="font-size: 13px;margin: 0;padding:0;">
                            <div style="text-align:center;font-weigth:700:">
                                    <button class="btn btn-success" id="ver-${tk.DocNum}" style="font-size: 12px; margin-left: 5px;  color: white; border: none; padding: 3px 8px; border-radius: 3px;"><i class="icon icon-search"></i></button>
                                    Abrir Ticket N° ${tk.DocNum}
                                    </div>
                               </div>`;
                        var msj = alertify.success(mensaje);

                        $(`#ver-${tk.DocNum}`).on('click', function () {

                            var modalHtml = `
                            <div class="modal fade" id="modal-${tk.DocNum}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Desea que recepción visualice ticket Nro ${tk.DocNum}?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="modal-si-button-${tk.DocNum}" class="btn btn-primary">Sí</button>
                                            <button type="button" id="modal-no-button-${tk.DocNum}" class="btn btn-secondary" data-dismiss="modal">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>`;

                            $('body').append(modalHtml);

                            $('#modal-' + tk.DocNum).modal('show');

                            $(document).on('click', `#modal-si-button-${tk.DocNum}`, function () {

                                $.ajax({
                                    url: '/Ventas/CambiarVisibleTicket?DocEntry=' + tk.DocEntry,
                                    type: 'POST',
                                    dataType: 'json'
                                }).done(function (response) {
                                    location.reload();
                                }).fail(function (jqXHR, textStatus, errorThrown) {
                                    console.log(jqXHR.status + textStatus + errorThrown);
                                });

                                $('#modal-' + tk.DocNum).modal('hide');
                            });
                            $(document).on('click', `#modal-no-button-${tk.DocNum}`, function () {

                                $('#modal-' + tk.DocNum).modal('hide');
                            });
                        });
                        $(`#cerrar2-${tk.DocNum}`).on('click', function () {
                            msj.close();
                        });
                            contador++;
                        } else {
                            return false;
                        }
                    });
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.status + textStatus + errorThrown);
            });
        }

        // MANAGER - SVENTAS - VENTAS
        if (@ViewBag.IdRol == 1 || @ViewBag.IdRol == 6 || @ViewBag.IdRol == 7) {
            setInterval(consultarPresupuestos, 20000);
            if (@ViewBag.IdRol == 1 || @ViewBag.IdRol == 6) {
                setInterval(consultarNuevasSolicitudes, 20000);
            }

        }

    });
</script>
