@model IEnumerable<Capa_Entidad.Ventas_ENT.TablasSql.ORTV_E>
@using Capa_Entidad.Ventas_ENT.TablasSql
@{
    ViewBag.Title = "ListadoTicketsRecepcion";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";

    // Mantenemos la corrección de fecha para que el input type="date" funcione bien
    string fechaFormateada = "";
    if (ViewBag.Ortv != null && ViewBag.Ortv.FechaSapTicket != null)
    {
        DateTime fechaDt;
        if (DateTime.TryParse(ViewBag.Ortv.FechaSapTicket.ToString(), out fechaDt))
        {
            fechaFormateada = fechaDt.ToString("yyyy-MM-dd");
        }
        else
        {
            fechaFormateada = ViewBag.Ortv.FechaSapTicket;
        }
    }
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/slim-select@2.13.1/dist/slimselect.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/slim-select@2.13.1/dist/slimselect.umd.js"></script>

<script>
    // Tu función original de filtrar
    function filtrar() {
        var form = document.getElementById("frm");
        var params = new URLSearchParams(new FormData(form)).toString();
        window.location.href = "/Ventas/ListadoTicketsRecepcion?" + params;
    }

    // Función para manejar el Enter (reutilizable)
    function checkEnter(e) {
        if (e.keyCode == 13) {
            filtrar();
            return false;
        }
    }

    // Resto de tus scripts (cancelar, mensajes, etc)...
    function cancelarTicket(docEntry) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: { confirmButton: 'btn btn-success mx-4', cancelButton: 'btn btn-danger mx-4' },
            buttonsStyling: false
        });
        swalWithBootstrapButtons.fire({
            title: '¿Está seguro(a) de cancelar el ticket?',
            text: "Este proceso es irreversible",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: "<i class='bi bi-check-lg'></i> Si, estoy seguro(a)",
            cancelButtonText: "<i class='bi bi-x-lg'></i> No",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/Ventas/CancelarTicket?DocEntry=' + docEntry + '&vista=ListadoTicketsRecepcion';
            }
        });
    }

    if ('@ViewBag.Mensaje' !== "") { Swal.fire('@Html.Raw(ViewBag.Mensaje)'); }

    function descargarTacoComentarios(docEntry) {
        window.location.href = '/Ventas/PdfTacoComentarios?DocEntry=' + docEntry;
    }

    document.addEventListener("DOMContentLoaded", function () {
        const initSlim = (selector) => {
            if (document.querySelector(selector)) {
                new SlimSelect({
                    select: selector,
                    settings: { showSearch: false },
                    events: { afterChange: filtrar } // Filtra al cambiar selects
                });
            }
        };
        initSlim('#EstadoPago');
        initSlim('#LugarDestino');
        initSlim('#AlmProcedencia');
    });

    function openPreliminar(docEntry) {
        var url = '@Url.Action("PreliminarLayoutOV_Ticket", "Ventas")' + '?DocEntry=' + docEntry;
        bloquearBotonesImprimir();
        window.open(url, '_blank', 'noopener,noreferrer');
        darVisibilidadTicket(docEntry);
    }

    function bloquearBotonesImprimir() {
        document.querySelectorAll('#boton_imprimir').forEach(boton => {
            boton.setAttribute('disabled', true);
        });
    }

    function darVisibilidadTicket(DocEntry) {
        $.ajax({
            url: '/Ventas/CambiarVisibilidadTicket?docEntry=' + DocEntry + '&proceso=PI',
            type: 'POST',
            dataType: 'json'
        }).done(function (response) {
            desbloquearBotonesImprimir();
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR.status + textStatus + errorThrown);
        });
    }

    function desbloquearBotonesImprimir() {
        document.querySelectorAll('#boton_imprimir').forEach(boton => {
            boton.removeAttribute('disabled');
        });
    }
</script>

<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li><a href="@Url.Action("ListadoTicketsRecepcion", "Ventas")">Listado tickets recepción</a></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion"> LISTADO TICKETS RECEPCIÓN</h3></div>
</div>

<div class="bg-white px-3 py-3 align-items-center">
    <div class="col-12">
        <form id="frm" onsubmit="return false;">

            <div class="row justify-content-start align-items-center">
                <div class="col-md-2 col-sm-6 mb-2">
                    <select name="EstadoPago" id="EstadoPago" class="form-control form-control-sm">
                        <option value="">Estado Pago</option>
                        <option value="PENDIENTE" @(ViewBag.Ortv?.EstadoPago == "PENDIENTE" ? "selected" : "")>Pendiente</option>
                        <option value="PAGADO" @(ViewBag.Ortv?.EstadoPago == "PAGADO" ? "selected" : "")>Pagado</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-6 mb-2">
                    <select name="LugarDestino" id="LugarDestino" class="form-control form-control-sm">
                        <option value="">Lugar de Destino</option>
                        <option value="DOMICILIO" @(ViewBag.Ortv?.LugarDestino == "DOMICILIO" ? "selected" : "")>DOMICILIO</option>
                        <option value="PROVINCIA" @(ViewBag.Ortv?.LugarDestino == "PROVINCIA" ? "selected" : "")>PROVINCIA</option>
                        <option value="RECOJO" @(ViewBag.Ortv?.LugarDestino == "RECOJO" ? "selected" : "")>RECOJO</option>
                  
                    </select>
                </div>
                <div class="col-md-3 col-sm-6 mb-2">
                    <select name="AlmProcedencia" id="AlmProcedencia" class="form-control form-control-sm">
                        <option value="">Almacén de procedencia</option>
                        <option value="16" @(ViewBag.Ortv?.AlmProcedencia == "01" ? "selected" : "")>ALMACÉN Nº1</option>
                        @*<option value="ALM07" @(ViewBag.Ortv?.AlmProcedencia == "ALM07" ? "selected" : "")>ALMACÉN Nº3</option>*@
                        <option value="03" @(ViewBag.Ortv?.AlmProcedencia == "04" ? "selected" : "")>ALMACÉN Nº2</option>
                    </select>
                </div>
            </div>

            <div class="bg-white bg-form-cobefar">
                <table class="table table-sm table-hover cls-dataTable50 font-14" width="100%" cellspacing="0">
                    <thead class="thead-cobefar bg-cobefar-6 text-white">
                        <tr>
                            <th class="text-center border-start border-end">
                                @Html.DisplayNameFor(model => model.DocNum) <br />
                                <input type="text" name="DocNum" class="form-control-sm border w-75"
                                       onchange="filtrar();"
                                       onkeypress="return checkEnter(event);"
                                       value="@(ViewBag.Ortv != null && ViewBag.Ortv.DocNum > 0 ? ViewBag.Ortv.DocNum : "")"
                                       autocomplete="off" />
                            </th>

                            <th class="text-center border-end">
                                Fecha ticket <br />
                                <input type="date" name="FechaSapTicket" style="font-size:12px;" class="form-control-sm border"
                                       value="@fechaFormateada"
                                       onchange="filtrar();"
                                       onkeypress="return checkEnter(event);" />
                            </th>

                            <th class="text-center border-end">
                                <span class="pl-2">@Html.DisplayNameFor(model => model.CardName)</span>
                                <input type="text" name="CardName" class="form-control-sm border w-100"
                                       onchange="filtrar();"
                                       onkeypress="return checkEnter(event);"
                                       value="@(ViewBag.Ortv?.CardName)"
                                       autocomplete="off" />
                            </th>
                            <th class="text-center border-end">Orden de venta SAP</th>

                            <th class="text-center border-end">
                                @Html.DisplayNameFor(model => model.Vendedor) <br />
                                <input type="text" name="Vendedor" class="form-control-sm border"
                                       onchange="filtrar();"
                                       onkeypress="return checkEnter(event);"
                                       value="@(ViewBag.Ortv?.Vendedor)" />
                            </th>

                            <th class="text-center border-end">Monto total</th>
                            <th class="text-center border-end">
                                @Html.DisplayNameFor(model => model.Estado) <br />
                                <select name="Estado" id="Estado" class="form-control-sm border" onchange="filtrar();">
                                    <option value=""></option>
                                    @{
                                        string[] estados = { "ABIERTO", "RECIBIDO", "PICKEANDO", "VERIFICANDO", "EMPACANDO", "EMPACADO", "PESADO", "PREENVIO", "ENVIADO", "ENTREGADO", "ANULADO", "CANCELADO" };
                                        foreach (var est in estados)
                                        {
                                            <option value="@est" @(ViewBag.Ortv?.Estado == est ? "selected" : "")>@est</option>
                                        }
                                    }
                                </select>
                            </th>
                            <th class="text-center border-end">Fecha y hora<br />abierto</th>
                            <th class="text-center border-end">Tipo venta</th>
                            <th class="text-center border-end">Estado pago</th>
                            <th class="text-center border-end">@Html.DisplayNameFor(model => model.LugarDestino)</th>
                            <th class="bg-success text-center text-white border-end">Recibir</th>
                            <th class="bg-danger text-center text-white border-end">Anular<br /> Recibir</th>
                            <th class="text-center text-white border-end">PDF</th>
                            <th class="text-center text-white border-end">Cancelar</th>
                            <th class="text-center text-white border-end">Imprimir</th>
                            <th class="text-center text-white border-end">Seguimiento</th>
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        @foreach (var item in Model)
                        {
                            bool condRecibir = item.Estado == "ABIERTO";
                            bool condAnularRecibir = item.Estado == "RECIBIDO";
                            string styleEstado = "";

                            if (item.Estado == "ABIERTO") { styleEstado = "style=background-color:gold"; }
                            else if (item.Estado == "RECIBIDO") { styleEstado = "style=background-color:greenyellow;font-weight:bold"; }

                            <tr>
                                <td class="text-center border-end border-start">@item.DocNum</td>
                                <td class="text-center border-end">@item.FechaSapTicket</td>
                                <td class="text-center border-end"><span class="pl-2">@Html.DisplayFor(modelItem => item.CardName)</span></td>
                                <td class="text-center border-end">
                                    @if (item.Det2 != null)
                                    {
                                        foreach (var d in item.Det2)
                                        {
                                            @d.NroSap<br />
                                        }
                                    }
                                </td>
                                <td class="text-center border-end">@Html.DisplayFor(modelItem => item.Vendedor)</td>
                                <td class="text-center border-end">@Html.DisplayFor(modelItem => item.MontoTotal)</td>
                                <td class="text-center border-end" @styleEstado>@Html.DisplayFor(modelItem => item.Estado)</td>
                                <td class="text-center border-end">@item.FechaAbierto</td>
                                <td class="text-center border-end">@item.TipoVenta</td>
                                <td class="text-center border-end">@Html.DisplayFor(modelItem => item.EstadoPago)</td>
                                <td class="text-center border-end">@Html.DisplayFor(modelItem => item.LugarDestino)</td>
                                <td class="text-center border-end">
                                    @if (condRecibir)
                                    {
                                        <a href="@Url.Action("RecibirTicketVenta", "Ventas", new { DocEntry = item.DocEntry })" class="btn btn-sm btn-light" title="Recibir">
                                            <i class="bi bi-check-lg text-success"></i>
                                        </a>
                                    }
                                </td>
                                <td class="text-center border-end">
                                    @if (condAnularRecibir)
                                    {
                                        <a href="@Url.Action("AnularRecibirTicketVenta", "Ventas", new { DocEntry = item.DocEntry })" class="btn btn-sm btn-light" title="Anular Recibir">
                                            <i class="bi bi-slash-circle text-danger"></i>
                                        </a>
                                    }
                                </td>
                                <td class="text-center border-end">
                                    @if (item.Estado.Equals("ABIERTO"))
                                    {
                                        <a class="btn btn-sm btn-light" href="@Url.Action("PdfTacoComentarios", "Ventas", new { DocEntry = item.DocEntry })" title="PDF Taco Comentarios">
                                            <i class="bi bi-file-earmark-pdf text-danger bordered"></i>
                                        </a>
                                    }
                                    <input type="hidden" id="pdf_taco_comentarios_@item.DocEntry" value="@item.DocEntry" />
                                </td>
                                <td class="text-center border-end">
                                    @if ((item.Estado == "RECIBIDO" || item.Estado == "PICKEANDO" || item.Estado == "VERIFICANDO" || item.Estado == "EMPACANDO") && (ViewBag.IdRol == 1 || ViewBag.IdRol == 5))
                                    {
                                        <a href="#" class="btn btn-sm btn-light" onclick="cancelarTicket(@item.DocEntry);" title="Cancelar"><i class="bi bi-x-lg text-danger"></i></a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (item.Estado == "ABIERTO")
                                    {
                                        <button onclick="openPreliminar(@item.DocEntry)" id="boton_imprimir" class="btn btn-light text-primary">
                                            <i class="bi bi-printer"></i>
                                        </button>
                                    }
                                </td>
                                <td class="text-center border-end">
                                    <a href="@Url.Action("SeguimientoDeTicket", "Ventas", new { DocEntry = item.DocEntry })" class="btn btn-sm btn-light" title="Seguimiento de Ticket" target="_blank"
                                       onclick="window.open(this.href,this.target,'width=1200,height=650,top=120,left=100,toolbar=no,location=no,status=no,menubar=no');return false;">
                                        <i class="bi bi-truck text-dark"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

@if (Request["DescargarPDF"] == "1")
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
                title: 'Descargando...',
                text: 'En breve se descargará el TacoComentario.pdf',
                timer: 2000,
                showConfirmButton: false
            });
            var input = document.querySelector("input[id^='pdf_taco_comentarios_']");
            if (input) {
                descargarTacoComentarios(input.value);
            }
        });
    </script>
}