@model IEnumerable<Capa_Entidad.Ventas_ENT.TablasSql.ORTV_E>
@using Capa_Entidad.Ventas_ENT.TablasSql

@{
    ViewBag.Title = "ListadoTicketsDespacho";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool verBtnPesar = false;
    ORTV_E e = (ORTV_E)ViewBag.Ortv;
    String almacenUsuario = (String)ViewBag.almacenUsuario;
    int idRolUsuario = (int)ViewBag.idRolUsuario;

    String bgEstadoFacturacion = "bg-cobefar-5 text-white";

    if (e.EstadoFacturacion != "" && e.EstadoFacturacion != null)
    {
        bgEstadoFacturacion = "bg-warning";
    }

    /*
     * Se mostrará el botón Pesar para los usuarios con idRol = 1
     * Se mostrará el botón Pesar para los usuarios que tenga el WhsCode (almacén) vacíos o "03"
     */
    if (String.IsNullOrWhiteSpace(almacenUsuario) || almacenUsuario == "03" || idRolUsuario == 1)
    {
        verBtnPesar = true;
    }
}

<script>
    function filtrar() {
        var object = $("#frm").serialize();
        $(location).attr('href', "/Ventas/ListadoTicketsDespacho?" + object);
    }
    function gestionarEntregadoMasivo(entregadoConRegalo) {
        let arrMensajes = [], arrDocNum = [], arrDocNumRegalos = [], mensajeModal = '', mostrarModal = false;
        $.ajax({
            url: '/Ventas/gestionarEntregadoMasivo',
            data: $('#frm').serialize() + "&entregadoConRegalo=" + entregadoConRegalo,
            type: 'POST',
            content: 'json',
            success: function (data) {
                for (let indice in data) {
                    mostrarModal = false;

                    // Si el Nro de Ticket tiene regalo
                    if (data[indice].RegCant >= 1 && entregadoConRegalo != 1) {
                        arrDocNumRegalos.push(data[indice].DocNum);
                        mensajeModal = 'Los siguientes Tickets cuentan con regalo a entregar:';
                        mostrarModal = true;
                    } else if (data[indice].Estado == 'ENTREGADO') {
                        arrDocNum.push(data[indice].DocNum);
                        mensajeModal = 'Los siguientes Tickets ya fueron entregados:';
                        mostrarModal = true;
                    }
                }

                if (mostrarModal) {
                    let listaDocNum = (arrDocNumRegalos.length > 0) ? arrDocNumRegalos.join(', ') : arrDocNum.join(', ');
                    Swal.fire({
                        allowOutsideClick: false,
                        title: '<strong>¡ATENCIÓN!</strong>',
                        icon: 'warning',
                        html:
                            mensajeModal + ' <b>' + listaDocNum +
                            '</b>.<br>Por favor verificar Tickets: ' +
                            '<button type="button" onclick="verTicketsNoEntregados(' + "[" + listaDocNum + "]" + ')" class="btn btn-info"><i class="icon-search"></i> Ver Tickets </button>',
                        showCloseButton: false,
                        showCancelButton: true,
                        cancelButtonText: '<i class="icon-cross"></i> Cancelar',
                        showConfirmButton: (arrDocNumRegalos.length > 0 ? false : true),
                        focusConfirm: false,
                        confirmButtonColor: '#28a745',
                        confirmButtonText:
                            '<i class="icon-checkmark"></i> Entendido!',
                        confirmButtonAriaLabel: 'Entendido!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.reload();
                        }
                    });
                } else {
                    Swal.fire({
                        allowOutsideClick: false,
                        title: '<strong>ÉXITO !</strong>',
                        icon: 'success',
                        html: 'Los Nros de Tickets seleccionados han sido entregados satisfactoriamente.'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.reload();
                        }
                    });
                }
            }
        });
    }
    function validarCardCode() {
        let arrCardCode = [], cardCode = '';
        $('.cls-ticketmasivo').each(function (key, obj) {
            if (obj.checked) {
                cardCode = $(`#${obj.id}`).data('cardcode');
                //console.log(arrCardCode.includes(cardCode));
                if (arrCardCode.length === 0) {
                    arrCardCode.push(cardCode);
                    $('#btn_entregadomasivo').prop('disabled', false);
                } else if (!arrCardCode.includes(cardCode)) {
                    //console.log(arrCardCode.includes(cardCode));
                    $('#btn_entregadomasivo').prop('disabled', true);
                    Swal.fire(
                        'VERIFICAR SELECCIÓN',
                        'Por favor seleccionar el mismo cliente de búsqueda.',
                        'warning'
                    )
                }
            }

            // Si el [] no tiene ningún elemento
            if (arrCardCode.length === 0) {
                $('#btn_entregadomasivo').prop('disabled', true);
            }
        });
    }
    function verTicketsNoEntregados(arrTickets) {
        $('.modal').css('pointer-events', 'none');
        $.ajax({
            url: '/Ventas/verTicketsNoEntregados',
            data: { arrTickets: arrTickets },
            type: 'POST',
            success: function (data) {
                $('.swal2-close').click();
                $('#btn_activarModal').click();

                let num = 1, regCate = '-', regTipo = '', regEstado = '-', OpEntrega = '', tieneRegalos = false, contadorRegEstado = 0;
                contenido = `<table class="table table-hover">
                                    <thead class="bg-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Nro Ticket</th>
                                            <th>Cliente</th>
                                            <th>Estado Pedido</th>
                                            <th>Entregado por</th>
                                            <th>Cant. Regalo</th>
                                            <th>Desc. Regalo</th>
                                            <th>Estado Regalo</th>
                                        </tr>
                                    </thead>
                                    <tbody>`;
                for (let i in data) {
                    opEntrega = (data[i].Operario ? data[i].Operario : '');
                    if (data[i].Det5[i].RegCant > 0) {
                        tieneRegalos = true;
                        regCate = (data[i].Det5[i].RegCate && data[i].Det5[i].RegCate != 'RegTipo' ? data[i].Det5[i].RegCate + ': ' : '-');
                        regTipo = (data[i].Det5[i].RegTipo ? data[i].Det5[i].RegTipo : '');

                        if (data[i].Det5[i].RegEstado) {
                            regEstado = data[i].Det5[i].RegEstado;
                        } else {
                            regEstado = 'Pendiente';
                            ++contadorRegEstado;
                        }

                    } else {
                        tieneRegalos = false;
                    }

                    contenido += `<tr>
                                            <td>${num}</td>
                                            <td>${data[i].DocNum}</td>
                                            <td>${data[i].CardName}</td>
                                            <td class="font-weight-bold">${data[i].Estado}</td>
                                            <td>${opEntrega}</td>
                                            <td>${data[i].Det5[i].RegCant}</td>
                                            <td>${regCate}${regTipo}</td>
                                            <td>${regEstado}</td>
                                        </tr>`;
                    ++num;
                }
                contenido += `</tbody>
                                </table>
                                <div class="text-right">`;
                if (tieneRegalos == true && contadorRegEstado >= 1) {
                    contenido += `<button type="button" class="btn btn-secondary" title="Cancelar" data-dismiss="modal"><i class="icon-cross"></i> Cancelar</button>
                                      <button type="button" class="btn btn-success" title="Entregar Regalos" onclick="gestionarEntregadoMasivo(1)"><i class="icon-gift"></i> Entregar Regalos</button>`;
                } else {
                    contenido += `<button type="button" class="btn btn-secondary" title="Volver a lista" onclick="(function(){ window.location.reload();})();return false;""><i class="icon-undo2"></i> Volver a lista</button>`;
                }
                contenido += `</div>`;
                $('#div_bodyModal').html(contenido);
            }
        });
    }
</script>


<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li class="current"><em>Listado tickets de despacho</em></li>
        </ol>
    </nav>
</div>

<form name="frm" id="frm">
    <div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
        <div class="px-3 pt-3"><h3 class="titulo-seccion">LISTADO TICKETS DE DESPACHO</h3></div>
    </div>

    <div class="bg-white d-flex pl-2 w-100 py-3">
        <div class="mx-2">
            <button type="button" id="btn_entregadomasivo" class="btn btn-success" onclick="gestionarEntregadoMasivo(0)" disabled><i class="icon icon-cloud-upload"></i> Entregado Masivo</button>
        </div>

        <div class="mx-2">
            <select name="EstadoFacturacion" id="EstadoFacturacion" class="form-control  @bgEstadoFacturacion" onchange="filtrar();">
                <option value="">EstadoFacturacion</option>
                <option value="GRE EMITIDA" @{ if (e != null && e.EstadoFacturacion == "GRE EMITIDA") { Write("selected"); }}>GRE EMITIDA</option>
                <option value="FACTURADO" @{ if (e != null && e.EstadoFacturacion == "FACTURADO") { Write("selected"); }}>FACTURADO</option>
            </select>
        </div>

        <div class="d-flex mx-2">
            @if (e != null && e.TiempoEntrega != null)
            {
                //var fechaConvert = e.TiempoEntrega.ToString().Substring(0, 10).Split('/');
                // var fechaFormateada = $"{fechaConvert[2]}-{fechaConvert[1]}-{fechaConvert[0]}";
                <input type="text" name="TiempoEntrega" class="form-control cls-dateTimeDespacho border-success" value="@e.TiempoEntrega" style="width: 200px" autocomplete="off" />
            }
            else
            {
                <input type="text" name="TiempoEntrega" class="form-control cls-dateTimeDespacho border-success" style="width: 200px" autocomplete="off" placeholder="Abrir calendario..." />
            }

            <button class="btn @bgEstadoFacturacion">Filtrar Tiempo Entrega</button>
        </div>

        <div class="mx-2">
            <select name="EnvioAgencia" id="TipoEnvio" class="form-control @bgEstadoFacturacion" onchange="filtrar();">
                <option value="">Tipo Envio</option>
                <option value="Terrestre" @{ if (e != null && e.EnvioAgencia == "Terrestre") { Write("selected"); }}>Envío Terrestre</option>
                <option value="Aereo" @{ if (e != null && e.EnvioAgencia == "Aereo") { Write("selected"); }}>Envío Aéreo</option>
            </select>
        </div>

    </div>

    <div class="bg-white bg-form-cobefar">

        <table class="table table-light table-sm table-hover cls-dataTable50 no-auto-dt" cellspacing="0" width="100%">
          <thead class="bg-cobefar-6">
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.DocNum)
                        <br />
                        @if (e != null && e.DocNum > 0)
                        {
                            <input type="text" name="DocNum" class="form-control input_filtro-table" onchange="filtrar();" value="@e.DocNum" />
                        }
                        else
                        { <input type="text" name="DocNum" class="form-control input_filtro-table" onchange="filtrar();" />}
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.FechaSapTicket)
                        <br />
                        @if (e != null && e.FechaSapTicket != null)
                        {
                            <input type="date" name="FechaSapTicket" class="form-control input_date-filtro-table" value="@e.FechaSapTicket" onchange="filtrar();" />
                        }
                        else
                        { <input type="date" name="FechaSapTicket" class="form-control input_date-filtro-table" onchange="filtrar();" />}

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CardName)
                        <br />
                        @if (e != null && e.CardName != null)
                        {
                            <input type="text" name="CardName" class="form-control input_filtro-table" onchange="filtrar();" value="@e.CardName" />
                        }
                        else
                        { <input type="text" name="CardName" class="form-control input_filtro-table" onchange="filtrar();" />}
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Vendedor)
                        <br />
                        @if (e != null && e.Vendedor != null)
                        {
                            <input type="text" name="Vendedor" class="form-control input_filtro-table" onchange="filtrar();" value="@e.Vendedor" />
                        }
                        else
                        { <input type="text" name="Vendedor" class="form-control input_filtro-table" onchange="filtrar();" />}
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.MontoFinal)
                        <br />
                        @if (e != null && e.MontoFinal > 0)
                        {
                            <input type="text" name="MontoFinal" class="form-control input_filtro-table" onchange="filtrar();" value="@e.MontoFinal" />
                        }
                        else
                        { <input type="text" name="MontoFinal" class="form-control input_filtro-table" onchange="filtrar();" />}
                    </th>
                    <th>DescNC</th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.LugarDestino)
                        <br />
                        <select name="LugarDestino" id="LugarDestino" class="form-control select_filtro-table" style="width: 100px" onchange="filtrar();">
                            <option value=""></option>
                            <option value="LOCAL" @{ if (e != null && e.LugarDestino == "DOMICILIO") { Write("selected"); } }>DOMICILIO</option>
                            <option value="EXTERNO" @{ if (e != null && e.LugarDestino == "PROVINCIA") { Write("selected"); } }>PROVINCIA</option>
                            <option value="EXTERNO" @{ if (e != null && e.LugarDestino == "RECOJO") { Write("selected"); } }>RECOJO</option>
                     </select>
                    </th>
                    <th class="text-center">
                        Zona
                        <br />
                        <select name="Zona" id="Zona" class="form-control select_filtro-table" onchange="filtrar();">
                            <option value="">Seleccione</option>
                            <option value="CALLAO" @{ if (e != null && e.Zona == "CALLAO") { Write("selected"); }}>CALLAO</option>
                            <option value="CONO SUR" @{ if (e != null && e.Zona == "CONO SUR") { Write("selected"); }}>CONO SUR</option>
                            <option value="CONO NORTE1" @{ if (e != null && e.Zona == "CONO NORTE1") { Write("selected"); }}>CONO NORTE1</option>
                            <option value="CONO NORTE2" @{ if (e != null && e.Zona == "CONO NORTE2") { Write("selected"); }}>CONO NORTE2</option>
                            <option value="CONO ESTE1" @{ if (e != null && e.Zona == "CONO ESTE1") { Write("selected"); }}>CONO ESTE1</option>
                            <option value="CONO ESTE2" @{ if (e != null && e.Zona == "CONO ESTE2") { Write("selected"); }}>CONO ESTE2</option>
                            <option value="CONO CENTRO" @{ if (e != null && e.Zona == "CONO CENTRO") { Write("selected"); }}>CONO CENTRO</option>
                            <option value="PREVENTA" @{ if (e != null && e.Zona == "PREVENTA") { Write("selected"); }}>PREVENTA</option>
                            <option value="ARRIOLA" @{
                              if (e != null && e.Zona == "ARRIOLA") { Write("selected"); }}>ARRIOLA</option>
                            <option value="AGENCIA" @{ if (e != null && e.Zona == "AGENCIA") { Write("selected"); }}>AGENCIA</option>
                            <option value="CONO AGENCIA" @{ if (e != null && e.Zona == "CONO AGENCIA") { Write("selected"); }}>CONO AGENCIA</option>
                            <option value="CONO ARRIOLA" @{ if (e != null && e.Zona == "AGENCIA") { Write("selected"); }}>CONO ARRIOLA</option>
                        </select>
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Estado)
                        <br />
                        <select name="Estado" id="Estado" class="form-control select_filtro-table" style="width:100px" onchange="filtrar();">
                            <option value=""></option>
                            <option value="ABIERTO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "ABIERTO") { Write("selected"); } }>ABIERTO</option>
                            <option value="RECIBIDO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "RECIBIDO") { Write("selected"); } }>RECIBIDO</option>
                            <option value="PICKEANDO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "PICKEANDO") { Write("selected"); } }>PICKEANDO</option>
                            <option value="VERIFICANDO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "VERIFICANDO") { Write("selected"); } }>VERIFICANDO</option>
                            <option value="EMPACANDO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "EMPACANDO") { Write("selected"); } }>EMPACANDO</option>
                            <option value="EMPACADO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "EMPACADO") { Write("selected"); } }>EMPACADO</option>
                            <option value="PESADO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "PESADO") { Write("selected"); } }>PESADO</option>
                            <option value="PREENVIO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "PREENVIO") { Write("selected"); } }>PREENVIO</option>
                            <option value="ENVIADO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "ENVIADO") { Write("selected"); } }>ENVIADO</option>
                            <option value="ENTREGADO" @{ if (ViewBag.Ortv != null && ViewBag.Ortv.Estado == "ENTREGADO") { Write("selected"); } }>ENTREGADO</option>
                        </select>

                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.EstadoPago)
                        <br />
                        <select name="EstadoPago" id="EstadoPago" class="form-control select_filtro-table" style="width: 90px" onchange="filtrar();">
                            <option value=""></option>
                            <option value="PENDIENTE" @{ if (e != null && e.EstadoPago == "PENDIENTE") { Write("selected"); } }>PENDIENTE</option>
                            <option value="PAGADO" @{ if (e != null && e.EstadoPago == "PAGADO") { Write("selected"); }}>PAGADO</option>
                        </select>
                    </th>
                    <th class="text-center">
                        TipoVenta
                        <select name="TipoVenta" id="TipoVenta" class="form-control select_filtro-table" style="width: 90px" onchange="filtrar();">
                            <option value=""></option>
                            <option value="Normal" @{ if (e != null && e.TipoVenta == "Normal") { Write("selected"); } }>Normal</option>
                            <option value="Credito" @{ if (e != null && e.TipoVenta == "Credito") { Write("selected"); } }>Credito</option>
                            <option value="ContraEntrega" @{ if (e != null && e.TipoVenta == "ContraEntrega") { Write("selected"); } }>ContraEntrega</option>
                        </select>
                    </th>
                    <th class="text-center">Cant.<br />Cajas</th>
                    <th class="text-center">
                        Tiempo Entrega
                    </th>
                    @*<th class="text-center">ALM. Origen</th>*@
                    <th>Direccion</th>
                    <th>Acciones</th>
                    <th>Ver Guías</th>
                    <th>Ver Docs</th>
                    <th>Seguimiento</th>
                    <th>Imprimir</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string styleEmitirGuias = "";

                    string styleImpreso = "";

                    if (item.Impreso > 0)
                    {
                        styleImpreso = "bg-skyblue";
                    }
                    else if (item.ImpresoGuia > 0)
                    {
                        styleImpreso = "bg-pink";
                    }

                    bool verCheck = false;
                    bool condEntregar = false;
                    bool condPesar = false;
                    bool condAnularPesar = false;
                    bool condAnularEntrega = false;
                    string styleEstado = "";
                    string claseDocNum = (ViewBag.DocNum == item.DocNum ? "d-flex bg-success" : "d-flex align-self-center form-inline");

                    if (item.Estado.Equals("ENVIADO"))
                    {
                        if (item.LugarDestino == "Centro" || item.LugarDestino == "Arriola")
                        {
                            if ((item.TipoVenta == "Normal" && item.EstadoPago == "PAGADO")
                            || (item.TipoVenta == "Credito" && (item.EstadoPago == "PENDIENTE" || item.EstadoPago == "PAGADO"))
                            || (item.TipoVenta == "ContraEntrega"))
                            {
                                condEntregar = true;
                            }
                        }
                    }

                    if (item.Estado.Equals("EMPACADO"))
                    {
                        condPesar = true;
                    }

                    if (item.Estado.Equals("PESADO"))
                    {
                        condAnularPesar = true;
                    }
                    else if (item.Estado.Equals("ENTREGADO"))
                    {
                        condAnularEntrega = true;
                        styleEstado = "background-color: #96FF33; font-weight: bold";
                    }
                    else if (item.Estado.Equals("ENVIADO"))
                    {
                        styleEstado = "background-color: #F2F526; font-weight: bold;";
                    }

                    if (item.Det5 != null && item.Det5.Count >= 1 && item.Estado.Equals("ENTREGADO") && item.Det5[0].RegEstado != "PENDIENTE")
                    {
                        condAnularEntrega = true;
                    }

                    if (item.EstadoFacturacion == "FACTURADO" && item.Estado == "ENVIADO" && e.CardName != null && condEntregar)
                    {
                        verCheck = true;
                    }
                    else
                    {
                        claseDocNum += " ml-3";
                    }

                    <tr id="fila" class="@styleImpreso">
                        <td style="width: 120px">
                            <div class="@claseDocNum">
                                @if (verCheck == true)
                                {
                                    <input type="checkbox" name="ticketsMasivo[]" id="chk_@item.DocNum" class="form-check mr-1 cls-ticketmasivo" value="@item.DocEntry" data-cardcode="@item.CardCode" onclick="validarCardCode()" />

                                }
                                <label for="chk_@item.DocNum" class="text-dark"> @Html.DisplayFor(modelItem => item.DocNum)</label>

                            </div>
                        </td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.FechaSapTicket)</td>
                        <td class="text-left">@Html.DisplayFor(modelItem => item.CardName)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Vendedor)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.MontoFinal)</td>
                        <td class="text-center">
                            @if (item.DescuentoNC > 0)
                            {
                                <label class="px-2 py-1" style="background-color:deepskyblue"> @Html.DisplayFor(modelItem => item.DescuentoNC)</label>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.DescuentoNC)
                            }
                        </td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.LugarDestino)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Zona)</td>
                        <td class="text-center" style="@styleEstado">@Html.DisplayFor(modelItem => item.Estado)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.EstadoPago)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.TipoVenta)</td>
                        <td class="text-center font-weight-bold">
                            @if (item.Cajas > 0)
                            {
                                @Html.DisplayFor(modelItem => item.Cajas)
                            }
                        </td>
                        <td class="text-center">@Convert.ToDateTime(item.TiempoEntrega).ToString("dd/MM/yyyy HH:mm:ss")</td>
                        @*<td class="text-center">@item.AlmProcedencia</td>*@
                        <td>
                            @if (item.Det3 != null && item.Det3.Count > 0)
                            {
                                var distrito = item.Det3[0].Distrito ?? "";
                                var provincia = item.Det3[0].Provincia ?? "";
                                var departamento = item.Det3[0].Departamento ?? "";
                                @(distrito + (string.IsNullOrEmpty(distrito) ? "" : "-") +
                                provincia + (string.IsNullOrEmpty(provincia) ? "" : "-") +
                                departamento)
                            }
                        </td>
                        <td>
                            @if (condPesar && verBtnPesar)
                            {
                                <a href="@Url.Action("PesadoTicketVenta", "Ventas", new { DocEntry = item.DocEntry })" class="btn btn-primary " title="Pesar">
                                    <span>Pesar</span>
                                </a>
                            }

                            @if (condAnularPesar && verBtnPesar)
                            {
                                <a href="@Url.Action("AnularPesadoTicket", "Ventas", new { DocEntry = item.DocEntry })" class="btn btn-danger " title="Anular Pesado">
                                    <span>Anular Pesado</span>
                                </a>
                            }

                            @if (condEntregar)
                            {
                                <a href="@Url.Action("EntregadoTicketVenta", "Ventas", new { DocEntry = item.DocEntry })" class="btn btn-light text-success" data-toggle="tooltip" data-placement="top" title="Entregar pedido">
                                    <i class="icon icon-checkmark"></i>
                                </a>
                            }
                            else if (item.Estado == "PESADO" && condEntregar)
                            {
                                <a href="@Url.Action("EntregadoTicketVenta", "Ventas", new { DocEntry = item.DocEntry })" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Entregar">
                                    <i class="icon icon-checkmark"></i>
                                </a>
                            }

                            @if (condAnularEntrega)
                            {
                                <a href="@Url.Action("AnularEntregadoTicket", "Ventas", new { DocEntry = item.DocEntry })" class="btn btn-light text-danger" data-toggle="tooltip" data-placement="top" title="Anular Entrega">
                                    <i class="icon icon-undo"></i>
                                </a>
                            }
                        </td>
                        <td style="@styleEmitirGuias">
                            @if (item.EstadoFacturacion == "GRE EMITIDA" || item.EstadoFacturacion == "FACTURADO")
                            {
                                <button type="button" class="btn btn-sm btn-light" onclick="abrirModalGuias(@item.DocEntry)" data-toggle="tooltip" data-placement="top" title="Ver Guías">
                                    <span class="text-orange">Guia</span>
                                </button>
                            }
                        </td>
                        <td>
                            @if (item.EstadoFacturacion != null && (item.EstadoFacturacion.Equals("GRE EMITIDA") || item.EstadoFacturacion.Equals("FACTURADO")))
                            {
                                <button type="button" class="btn btn-light text-primary" data-toggle="tooltip" data-placement="top" title="Ver Documentos" onclick="abrirModalDocumentos(@item.DocEntry,'@item.Estado','@item.LugarDestino');">
                                    <i class="icon icon-folder-download"></i>
                                </button>
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("SeguimientoDeTicket", "Ventas", new { DocEntry = item.DocEntry, view = "despacho" })" class="btn  btn-light" data-toggle="tooltip" data-placement="top" title="Seguimiento de ticket" type="button" target="_blank" onclick="window.open(this.href,this.target,'width=1200,height=650,top=120,left=100,toolbar=no,location=no,status=no,menubar=no');return false;">
                                <i class="icon-truck text-dark"></i>
                            </a>
                        </td>

                        <td>
                            @if (idRolUsuario == 53 || idRolUsuario == 1)
                            {
                                <a href="#" class="btn  btn-light" data-toggle="tooltip" data-placement="top" title="Imprimir" onclick="registrarImpresion(@item.DocEntry);">
                                    <i class="icon-printer text-orange"></i>
                                </a>

                                <!-- GUIA -->
                                <a href="#" class="btn btn-light" data-toggle="tooltip" title="Imprimir Guía"
                                   onclick="registrarImpresionGuia(@item.DocEntry);">
                                    <i class="icon-printer text-pink"></i>
                                </a>
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

<button type="button" id="btn_activarModal" class="btn btn-primary" data-toggle="modal" data-target="#modal_ticketsDespacho" data-backdrop="static" data-keyboard="false" style="display: none;">
</button>
<!-- Modal Tickets No Entregados -->
<div class="modal fade" id="modal_ticketsDespacho" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body text-center bg-white" id="div_bodyModal">
            </div>
        </div>
    </div>
</div>



<script>
    if ('@ViewBag.Mensaje' != "") {
        Swal.fire('@ViewBag.Mensaje');
    }

    function abrirModalDocumentos(DocEntry,estado,lugarDestino) {
        var modalId = "ModalComprobantes" + DocEntry;

        if ($("#" + modalId).length > 0) {
            $("#" + modalId).modal('show');
            return;
        }

        var html = '<div class="btn-group" role="group">';
        // Condiciones para el boton excel que descarga todos los SKU
        if (["PICKEANDO", "VERIFICANDO", "EMPACANDO", "EMPACADO", "PESADO", "PREENVIO", "ENVIADO", "ENTREGADO"].includes(estado)) {
            html += '<button type="button" onclick="excelOrdenesVenta(\'' + encodeURIComponent(DocEntry) + '\')" class="btn btn-light text-success" data-toggle="tooltip" data-placement="top" title="Descargar Excel Artículos">';
            html += '<i class="icon icon-file-excel"><span class="text-dark small"> SKUs</span></i>';
            html += '</button><br />';
        }
        // Condiciones para el botón de "Descargar Rotulado" y otros documentos
        if (lugarDestino === "EXTERNO" && ["PICKEANDO", "VERIFICANDO", "EMPACANDO", "EMPACADO", "PESADO", "PREENVIO", "ENVIADO", "ENTREGADO"].includes(estado)) {
            html += '<button type="button" onclick="pdfRotulo(\'' + encodeURIComponent(DocEntry) + '\')" class="btn btn-light text-danger" data-toggle="tooltip" data-placement="top" title="Descargar Rotulado">';
            html += '<i class="icon icon-file-pdf"><span class="text-dark small"> Rótulo </span></i>';
            html += '</button><br />';
            html += '<button type="button" data-DocEntry="' + encodeURIComponent(DocEntry) + '" data-tipo="F" onclick="descargarComprobante(\'' + encodeURIComponent(DocEntry) + '\', \'F\')" class="btn btn-light text-danger" data-toggle="tooltip" data-placement="top" title="Facturas">';
            html += '<i class="icon icon-search"><span class="text-dark small"> Consultar Facturas </span></i>';
            html += '</button><br />';
            html += '<button type="button" data-DocEntry="' + encodeURIComponent(DocEntry) + '" data-tipo="G" onclick="descargarComprobante(\'' + encodeURIComponent(DocEntry) + '\', \'G\')" class="btn btn-light text-danger" data-toggle="tooltip" data-placement="top" title="Guías">';
            html += '<i class="icon icon-search"><span class="text-dark small"> Consultar Guías </span></i>';
            html += '</button><br />';
            html += '<button type="button" data-DocEntry="' + encodeURIComponent(DocEntry) + '" data-tipo="NC" onclick="descargarComprobante(\'' + encodeURIComponent(DocEntry) + '\', \'NC\')" class="btn btn-light text-danger" data-toggle="tooltip" data-placement="top" title="Notas de crédito">';
            html += '<i class="icon icon-search"><span class="text-dark small"> Consultar Notas Crédito </span></i>';
            html += '</button><br />';
            html += '<button type="button" data-DocEntry="' + encodeURIComponent(DocEntry) + '" data-tipo="ND" onclick="descargarComprobante(\'' + encodeURIComponent(DocEntry) + '\', \'ND\')" class="btn btn-light text-danger" data-toggle="tooltip" data-placement="top" title="Notas de débito">';
            html += '<i class="icon icon-search"><span class="text-dark small"> Consultar Notas Débito </span></i>';
            html += '</button><br />';

        } else if (["EMPACADO", "PESADO", "PREENVIO", "ENVIADO", "ENTREGADO"].includes(estado)) {
            html += '<button type="button" data-DocEntry="' + encodeURIComponent(DocEntry) + '" data-tipo="F" onclick="descargarComprobante(\'' + encodeURIComponent(DocEntry) + '\', \'F\')" class="btn btn-light text-danger" data-toggle="tooltip" data-placement="top" title="Facturas">';
            html += '<i class="icon icon-search"><span class="text-dark small"> Consultar Facturas </span></i>';
            html += '</button><br />';
            html += '<button type="button" data-DocEntry="' + encodeURIComponent(DocEntry) + '" data-tipo="G" onclick="descargarComprobante(\'' + encodeURIComponent(DocEntry) + '\', \'G\')" class="btn btn-light text-danger" data-toggle="tooltip" data-placement="top" title="Guías">';
            html += '<i class="icon icon-search"><span class="text-dark small"> Consultar Guías </span></i>';
            html += '</button><br />';
            html += '<button type="button" data-DocEntry="' + encodeURIComponent(DocEntry) + '" data-tipo="NC" onclick="descargarComprobante(\'' + encodeURIComponent(DocEntry) + '\', \'NC\')" class="btn btn-light text-danger" data-toggle="tooltip" data-placement="top" title="Notas de crédito">';
            html += '<i class="icon icon-search"><span class="text-dark small"> Consultar Notas Crédito </span></i>';
            html += '</button><br />';
            html += '<button type="button" data-DocEntry="' + encodeURIComponent(DocEntry) + '" data-tipo="ND" onclick="descargarComprobante(\'' + encodeURIComponent(DocEntry) + '\', \'ND\')" class="btn btn-light text-danger" data-toggle="tooltip" data-placement="top" title="Notas de débito">';
            html += '<i class="icon icon-search"><span class="text-dark small"> Consultar Notas Débito </span></i>';
            html += '</button><br />';
        }

        html += '</div>';

        // Si el modal no existe, crear uno nuevo
        Promise.all([buscarDocumentos(DocEntry), buscarNotaCreditoVenta(DocEntry)])
            .then(function (responses) {
                var htmlTableDocumentos = responses[0];
                var htmlTableNotasCredito = responses[1];
                var docNum = DocEntry + 2000000000;
                var modalHtml = `<div class='modal' id='${modalId}' tabindex='-1' role='dialog' aria-labelledby='${modalId}Label' aria-hidden='true'>
                        <div class='modal-dialog modal-dialog-centered modal-lg' role='document'>
                            <div class='modal-content'>
                                <div class='modal-header bg-cobefar text-white'>
                                    <h5 class='modal-title' id='${modalId}Label'>DOCUMENTOS <br>NroTicket : ${docNum}</h5>
                                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                                        <span aria-hidden='true'>&times;</span>
                                    </button>
                                </div>
                                <div class='modal-body'>
                                    ${htmlTableDocumentos}
                                    ${htmlTableNotasCredito}
                                    <br>
                                    ${html}
                                </div>
                                <div class='modal-footer'>
                                    <button type='button' class='btn btn-secondary' data-dismiss='modal'>Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>`;
                $("body").append(modalHtml);
                // Una vez que se ha agregado el HTML del modal al cuerpo del documento, ábrelo : Esto evita que se muestre un modal vacio por demora en query SAP
                $("#" + modalId).modal('show');
            })
            .catch(function (error) {
                console.error(error);
            });
    }

    function buscarDocumentos(DocEntry) {
        return new Promise(function (resolve, reject) {
            if (DocEntry !== '') {
                var tableHtml = '';
                var parametros = { "DocEntry": DocEntry };
                // Método que busca Boletas y Facturas
                $.ajax({
                    url: '/Ventas/buscarFacturasyBoletas',
                    data: parametros,
                    dataType: 'json',
                    cache: false,
                    type: 'post'
                })
                    .done(function (response) {
                        if (response.length > 0) {
                            var totalMonto = 0; // Inicializar la variable para la suma de montos
                            tableHtml += `<div class='table-responsive w-100'>
                        <span>FACTURAS Y BOLETAS</span>
                    <table border='2' style='width: 100%; border-color: green; text-align: center;' class='w-100'>
                        <thead>
                            <tr>
                                <th class='text-dark text-center'>Correlativo</th>
                                <th class='text-dark text-center'>Fecha Cont</th>
                                <th class='text-dark text-center'>Fecha Ini Traslado</th>
                                <th class='text-dark text-center'>Doc Total</th>
                            </tr>
                        </thead>
                        <tbody>`;

                            // Recorrer response para agregarlo a la tabla y sumar los montos
                            response.forEach(function (obj) {
                                totalMonto += parseFloat(obj.DocTotal); // Sumar el monto al total
                                tableHtml += `<tr>
                            <td>${obj.NumAtCard}</td>
                            <td>${obj.DocDate}</td>
                            <td>${obj.U_BPP_FECINITRA}</td>
                            <td>${parseFloat(obj.DocTotal).toFixed(2)}</td>
                          </tr>`;
                            });

                            tableHtml += `       </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-right"><strong>Total:</strong></td>
                            <td>${totalMonto.toFixed(2)}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>`;
                        }
                    })
                    .always(function () {
                        resolve(tableHtml);
                    })
                    .fail(function (xhr, status, error) {
                        reject(error);
                    });
            }
        });
    }

    function buscarNotaCreditoVenta(DocEntry) {
        return new Promise(function (resolve, reject) {
            if (DocEntry !== '') {
                var tableHtml = '';
                var parametros = { "DocEntry": DocEntry };
                // Método que busca NC
                $.ajax({
                    url: '/Ventas/buscarNotaCreditoVenta',
                    data: parametros,
                    dataType: 'json',
                    cache: false,
                    type: 'post'
                })
                    .done(function (response) {
                        if (response.length > 0) {
                            var totalMonto = 0; // Inicializar la variable para la suma de montos
                            tableHtml += `<div class='table-responsive w-100'>
                        <span>NOTAS DE CREDITO</span>
                            <table border='2' style='width: 100%; border-color: green; text-align: center;' class='w-100'>
                                <thead>
                                    <tr>
                                        <th class='text-dark text-center'>DocNum</th>
                                        <th class='text-dark text-center'>Fecha Cont</th>
                                        <th class='text-dark text-center'>Doc Total</th>
                                    </tr>
                                </thead>
                                <tbody>`;

                            // Recorrer response para agregarlo a la tabla y sumar los montos
                            response.forEach(function (obj) {
                                totalMonto += parseFloat(obj.Nc.DocTotal); // Sumar el monto al total
                                tableHtml += `<tr>
                                        <td>${obj.Nc.DocNum}</td>
                                        <td>${obj.Nc.DocDate}</td>
                                        <td>${parseFloat(obj.Nc.DocTotal).toFixed(2)}</td>
                                      </tr>`;
                            });

                            tableHtml += `       </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="2" class="text-right"><strong>Total:</strong></td>
                                                        <td>${totalMonto.toFixed(2)}</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>`;
                        }
                    })
                    .always(function () {
                        resolve(tableHtml);
                    })
                    .fail(function (xhr, status, error) {
                        reject(error);
                    });
            }
        });
    }
    //anteriormente se podia cancelar en este modulo, por el momento deshabilitado
    function cancelarTicket(DocEntry) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success mx-4',
                cancelButton: 'btn btn-danger mx-4'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: '¿Está seguro(a) de cancelar el ticket?',
            text: "Este proceso es irreversible",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: "<i class='icon-checkmark'></i> Si, estoy seguro(a)",
            cancelButtonText: "<i class='icon-cross'></i> Cancelar",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = '/Ventas/CancelarTicket?DocEntry=' + DocEntry + '&vista=ListadoTicketsDespacho';
            }
        });
    }
    function registrarImpresion(DocEntry) {
        $.ajax({
            url: '/Ventas/RegistrarImpresion?docEntry=' + DocEntry+'&area=DespachoCentroArriola',
            type: 'POST',
            dataType: 'json'
        }).done(function (response) {
            location.reload();
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR.status + textStatus + errorThrown);
        });

    }

    function registrarImpresionGuia(DocEntry) {
        $.ajax({
            url: '/Ventas/RegistrarImpresion?docEntry=' + DocEntry + '&area=DespachoCentroArriola_guia',
            type: 'POST',
            dataType: 'json'
        }).done(function (response) {
            location.reload();
        });
    }
        // Función para descargar comprobantes contables
    function descargarComprobante(DocEntry, Tipo) {
    const btn = document.querySelector(`[data-docentry="${DocEntry}"][data-tipo="${Tipo}"]`);

        if (btn) {
        btn.disabled = true;
    }

        Swal.fire({
            title: 'Cargando...',
            text: 'Por favor, espere mientras se procesa la solicitud.',
            allowOutsideClick: true,
            didOpen: () => {
                Swal.showLoading();
            }
        });

        $.ajax({
            url: '@Url.Action("CrearYObtenerDocumento", "ComprobantesContables")',
            type: 'GET',
            data: { DocEntry: DocEntry, Tipo: Tipo },
            success: function (response) {
                console.log(response);
                if (response.success) {
                    window.open(response.fileUrl, '_blank', 'noopener,noreferrer');
                    Swal.close();
                } else {
                    Swal.fire('Error', response.message, 'error').then(() => {
                        Swal.close();
                    });
                }
            },
            error: function (xhr, status, error) {
                Swal.fire('Error', 'Ocurrió un error en la solicitud: ' + error, 'error').then(() => {
                    Swal.close();
                });
            },
            complete: function () {
                if (btn) {
                    btn.disabled = false;
                }
            }
        });
    }
    function buscarGuias(DocEntry, callback) {
        if (DocEntry !== '') {
            var parametros = { "DocEntry": DocEntry };

            $.ajax({
                url: '/Ventas/buscarGuias',
                data: parametros,
                dataType: 'json',
                cache: false,
                type: 'post'
            })
                .done(function (response) {
                    var tableHtml = "<div class='table-responsive w-100'><table  border='2' style='width: 100 %; border-color:green;text-align:center;' class='w-100'><thead><tr><th class='text-dark text-center'>Correlativo</th><th class='text-dark text-center'>Fecha Cont</th><th class='text-dark text-center'>Fecha Ini Traslado</th></tr></thead><tbody>";
                    //recorrer response para agregarlo a la table
                    response.forEach(function (obj) {

                        tableHtml += '<tr><td>' + obj.NumAtCard + '</td><td>' + obj.DocDate + '</td><td>' + obj.FechaTrasl + '</td></tr>';
                    });

                    tableHtml += '</tbody></table></div>';
                    // Llama al callback  pasa el Html
                    callback(tableHtml);
                });
        }
    }

    function abrirModalGuias(DocEntry) {
        var modalId = "ModalGuias" + DocEntry;

     // Verificar si el modal ya existe
        if ($("#" + modalId).length > 0) {
            // Si el modal ya existe, simplemente ábrelo
            $("#" + modalId).modal('show');
       return; // Salir de la función
        }

        // Si el modal no existe, crear uno nuevo
 buscarGuias(DocEntry, function (htmlTableDocumentos) {
          var docNum = DocEntry + 2000000000;
          var modalHtml = "<div class='modal' id='" + modalId + "' tabindex='-1' role='dialog' aria-labelledby='" + modalId + "Label' aria-hidden='true'>" +
         "<div class='modal-dialog modal-dialog-centered modal-lg' role='document'>" +
        "<div class='modal-content'>" +
      "<div class='modal-header bg-cobefar text-white'>" +
                "<h5 class='modal-title' id='" + modalId + "Label'>GUÍAS DE REMISIÓN <br>NroTicket : " + docNum + "</h5>" +
      "<button type='button' class='close' data-dismiss='modal' aria-label='Close'>" +
        "<span aria-hidden='true'>&times;</span>" +
                "</button>" +
      "</div>" +
                "<div class='modal-body'>" +
        htmlTableDocumentos +
        "</div>" +
      "<div class='modal-footer'>" +
         "<button type='button' class='btn btn-secondary' data-dismiss='modal'>Cerrar</button>" +
     "</div>" +
  "</div>" +
     "</div>" +
 "</div>";
       $("body").append(modalHtml);

        // Una vez que se ha agregado el HTML del modal al cuerpo del documento, ábrelo
      $("#" + modalId).modal('show');
        });
}

    // 🔹 FUNCIÓN PARA INICIALIZAR O REINICIALIZAR DATATABLES
    function inicializarDataTable() {
        var tabla = $('.cls-dataTable50.no-auto-dt');
        
        // Si ya está inicializada, destruirla primero
 if ($.fn.DataTable.isDataTable(tabla)) {
        tabla.DataTable().destroy();
        }
        
        // Inicializar DataTables
        tabla.DataTable({
   "searching": true,
            "ordering": false,
       "scrollX": true,
 "autoWidth": false,
            pageLength: 50,
            lengthMenu: [50, 100, 150],
       "columnDefs": [
        { "orderable": false, "targets": "_all" },
       { "searchable": false, "targets": [14, 15, 16, 17, 18] } // Columnas de botones
     ],
            "language": {
      "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
       "infoEmpty": "No hay registros disponibles",
  "infoFiltered": "(filtrado de _MAX_ registros totales)",
          "lengthMenu": "Mostrar _MENU_ registros por página",
 "search": "Buscar:",
    "loadingRecords": "Cargando...",
                "processing": "Procesando...",
      "zeroRecords": "No se encontraron registros"
            }
        });
    }

    // 🔹 INICIALIZAR DATATABLES AL CARGAR LA PÁGINA
    $(document).ready(function () {
   setTimeout(function() {
  inicializarDataTable();
        }, 100);
    });
</script>



