@model IEnumerable<Capa_Entidad.ReportesDigemid_ENT.OrdenDeVenta_E>
@{
    ViewBag.Title = "OrdenDeVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-dark">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li><a href="@Url.Action("ListadoOrdenesDeVenta", "DireccionTecnica")">Listado órdenes de venta</a></li>
            <li class="current"><em>Orden de venta</em></li>
        </ol>
    </nav>
</div>

<div class="bg-dark border-cabecera-seccion pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">ORDEN DE VENTA</h3></div>
</div>


<div class="bg-form-pestanas-cobefar p-4">
    <div class="row mt-2">
        <div class="col-lg-12 d-flex align-items-end justify-content-end">
            <button type="button" id="btn_descargarPDF" class="btn btn-danger font-weight-bold"><i class="icon-file-pdf"></i> PDF</button>
        </div>
    </div>

    <div class="row mt-2 justify-content-end">
        <div class="col-lg-2">
            <h5 class="font-weight-bold">@Model.First().NombreBd</h5>
        </div>
    </div>

    <div class="row justify-content-end">
        <div class="col-lg-2">
            Almacén: @Model.First().Almacen
        </div>
    </div>



    <div class="row mt-2">
        <div class="col-lg-12 text-center">
            <h3 class="text-cobefar font-weight-bold">FORMATO DE ORDEN DE VENTA</h3>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-lg-12 text-center">
            <span class="font-weight-bold font-18">N° @Model.First().DocNum</span>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-4">
            <span class="text-cobefar font-weight-bold font-18">RUC Cliente: </span>@Model.First().RucCliente
        </div>
    </div>

    <div class="row mt-2 mb-4">
        <div class="col-lg-4">
            <span class="text-cobefar font-weight-bold font-18">CLIENTE: </span>@Model.First().CardName
        </div>
    </div>



    <table class="table table-light table-sm table-hover table-responsive-md" cellspacing="0" width="100%">
        <thead class="bg-success">
            <tr>
                <th colspan="2" style="padding-right:5px;">CANT</th>
                <th style="padding-right:5px;">LABO</th>
                <th style="padding-right:5px;">DESCRIPCION</th>
                <th style="padding-right:5px;">LOTE</th>
                <th style="padding-right:5px;">REG.SAN.</th>
                <th style="padding-right:5px;">F.VCTO</th>
                <th style="padding-right:5px;">PRECIO</th>
                <th style="padding-right:5px;">TOTAL</th>
            </tr>
        </thead>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.UniMedidVend</td>
                <td>@a.NumUnidVend</td>
                <td style="padding-right:5px;">@a.Laboratorio</td>
                <td style="padding-right:5px;">@a.Producto</td>
                <td style="padding-right:5px;">@a.Lote</td>
                <td style="padding-right:5px;">@a.RegSanit</td>
                <td style="padding-right:5px;">@a.FechaVenc</td>
                <td style="padding-right:5px;">@a.PrecioProdIgvVend.ToString("F2")</td>
                <td style="padding-right:5px;">@a.TotalProdIgvVend.ToString("F2")</td>
            </tr>

        }

    </table>

    <div class="bg-cobefar text-white w-50 pl-4 pb-2 pt-2">
        <div class="row mt-2">
            <div class="col-lg-12">
                VENDEDOR: @Model.First().SlpName
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-lg-12">
                Comentarios: @Model.First().Comentarios
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-lg-12">
                TOTAL GENERAL: @Model.First().DocTotal
            </div>
        </div>
    </div>


</div>


<script>
   document.addEventListener('DOMContentLoaded', function () {
       document.getElementById('btn_descargarPDF').addEventListener('click', () => {
           window.location.href = '@Url.Action("ExportarPdfOrdenesVenta", "DireccionTecnica")?DocNum=' + '@Model.First().DocNum' + '&CardName=' +'@Model.First().CardName';
       });
   });
</script>