@model Capa_Entidad.Ventas_ENT.TablasSql.ORTV_E

@{
    Layout = null;
    string styleBgTicket = ViewBag.ColorTicket;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <table border="0" style="font-family: 'Verdana'; max-width: 650px; margin-left: 30%; margin-top: 5%;padding:4px;border:2px solid green;">
            <tr>
                <td colspan="2" align="center"><img src="~/Content/img/logo-drogueria-cobefar.jpg" style="width:140px;height:45px;" /><br /></td>
            </tr>
            <tr style="background-color: @styleBgTicket">
                <th colspan="2" align="center" style="font-size:20px; padding:5px;">Ticket: @Model.DocNum</th>
            </tr>
            <tr>
                <th colspan="2" align="center" style="font-size:19px;padding-bottom:8px;">T.E.: @Model.TiempoEntrega</th>
            </tr>
            <tr>
                <th colspan="2" align="center" width="250px" style="font-size:18px;">@Model.CardName</th>
            </tr>
            <tr>
                <td align="center" colspan="2">----------------------------------------------------------------------------------</td>
            </tr>
            <tr>
                <td align="left" style="font-size:15px;">M.T: </td>
                <td align="right" style="font-size: 15px;">@Model.MontoTotal</td>
            </tr>
            <tr>
                <td align="left" style="font-size:15px;">FLETE (+): </td>
                <td align="right" style="font-size:15px;">@Model.Flete</td>
            </tr>
            <tr>
                <td align="left" style="font-size:15px;">ENVIO (+): </td>
                <td align="right" style="font-size:15px;">@Model.GastoEnvio</td>
            </tr>
            <tr>
                <td align="left" style="font-size:15px;">DEU.CLI. (+):</td>
                <td align="right" style="font-size:15px;">@Model.DeudaCliente</td>
            </tr>
            <tr>
                <td align="left" style="font-size:15px;">DESC. NC. (-): </td>
                <td align="right" style="font-size:15px;">@Model.DescuentoNC</td>
            </tr>
            <tr>
                <td align="left" style="font-size:15px;">DEU. EMP. (-): </td>
                <td align="right" style="font-size:15px;">@Model.DeudaEmpresa</td>
            </tr>
            <tr>
                <td align="center" colspan="2">----------------------------------------------------------------------------------</td>
            </tr>
            <tr>
                <td align="left" style="font-size:19px;font-weight:bold;">M. FINAL: </td>
                <td align="right" style="font-size:19px; font-weight:bold;">@(Model.MontoFinal)</td>
            </tr>
            <tr>
                <td align="left">@Model.Embalaje </td>
                <td align="right">@Model.Vendedor </td>
            </tr>
            <tr>
                <td colspan="3">@Model.Comentario</td>
            </tr>
            @if (Model.Det5 != null && Model.Det5.Count >= 1)
            {
                if (Model.Det5.Count > 0 && Model.Det5[0].RegCant > 0)
                {
                    <tr>
                        <th colspan="3" style="vertical-align:auto;">
                            <img style="width:70px; height:70px;" src="~/imagenes/index/Ventas/TicketVenta/regalo.jpg" />
                            <label style="font-size:25px;margin-left:40px;">@(Math.Round(Model.Det5[0].RegCant, 0) + "  " + Model.Det5[0].RegCate)</label>
                        </th>

                    </tr>
                }
            }
            <tr>
                <th colspan="2" style="font-size:11px;font-weight:bold;">CUENTAS CORRIENTES DROGUERIA COBEFAR S.A.C.</th>
            </tr>
            <tr>
                <th align="left"><label><strong>LIMA:</strong></label></th>
                <th align="right"><label><strong>PROVINCIA</strong></label></th>
            </tr>
            <tr>
                <td align="left">BBVA: 0011-0346-0100016305</td>
                <td align="right">BCP PROV: 191-2449021-0-85</td>
            </tr>
            <tr>
                <td align="left">BCP: 191-22473540-44</td>
                <td align="right">Banco de la Nacion:00015-056061</td>
            </tr>
            <tr>
                <td align="left">Interbank: 001-3001880907</td>
            </tr>
            <tr>
                <td align="left">Scotiabank: 000-6285309</td>
            </tr>

            <tr>
                <td align="center" colspan="2">----------------------------------------------------------------------------------</td>
            </tr>
            <tr>
                <td style="font-size: 13px;font-weight: bold; background-color: greenyellow">NOTA IMPORTANTE</td>
            </tr>
            <tr>
                <td colspan="2" style="font-size:11px;font-style:italic">1. Clientes de cuenta provincia realizar sus abonos en las cuentas BCP PROV. y/o Banco de la Nación para evitar <strong>cobros de comisiones</strong>; caso contrario realizar los abonos desde su aplicativo.</td>
            </tr>
            <tr>
                <td colspan="2" style="font-size:11px;font-style:italic">2. Así mismo pueden realizar el abono desde la opción “PAGOS DE SERVICIOS” desde el aplicativo móvil del BCP.</td>
            </tr>
            <tr>
                <td colspan="2" style="font-size:11px;font-style:italic">3. Los depósitos efectuados desde un agente del Banco de la Nación se reflejarán en la cuenta en un plazo de 24 horas</td>
            </tr>
            <tr>
                <td colspan="2" style="font-size:11px;font-style:italic">4. Los depósitos serán confirmados dentro del horario de 8:00 am a 5:00 pm, de lunes a viernes y de 8:00 am a 12:00 pm los sábados. Fuera de este horario, la confirmación se realizará al siguiente día hábil.</td>
            </tr>
            <tr>
                <td align="center" colspan="2" style="font-size:10px;font-weight:bold">www.cobefar.com.pe</td>
            </tr>
        </table>

    </div>

</body>
</html>
