@model Capa_Entidad.Ventas_ENT.TablasSql.OLDS_E
@using Capa_Entidad.Ventas_ENT.TablasSql
@{
    ViewBag.Title = "ReporteLibroSaldo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="pt-4">
        @if (Request["Vista"] != "DetallePago")
        {
            <nav>
                <ol class="cd-breadcrumb bg-cobefar-degradado-1">
                    <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
                    <li><a href="@Url.Action("ListadoLibrosSaldo", "Ventas")">Listado libros saldo</a></li>
                    <li class="current"><em>Reporte libro saldo</em></li>
                </ol>
            </nav>
        }

    </div>


    <div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
        <div class="px-3 pt-3"><h3 class="titulo-seccion">REPORTE LIBRO SALDO</h3></div>
        <div class="text-white ml-3 my-3">
            <span class="text-cobefar-2 font-18">Cliente: </span><span class="font-18">@Html.DisplayFor(model => model.CardName)</span><br />
            <span class="text-cobefar-2 font-18">Ope: </span><span class="font-18">@Html.DisplayFor(model => model.NroOpe)</span><br />
            <span class="text-cobefar-2 font-18">SaldoActual: </span><span class="font-18">S/ @Html.DisplayFor(model => model.SaldoActual)</span>
        </div>
    </div>

<div class="bg-white bg-form-cobefar">
    <table class="table table-light table-sm table-hover table-responsive-md" cellspacing="0" width="100%">
        @if (Model.Det != null && Model.Det.Count > 0)
        {
            <thead class="bg-cobefar-6">
                <tr>
                    <th class="text-center">@Html.DisplayNameFor(model => model.Det[0].Linea)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.Det[0].FechaOpe)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.Det[0].Operacion)</th>
                    <th>@Html.DisplayNameFor(model => model.Det[0].DetOpe)</th>
                    <th>@Html.DisplayNameFor(model => model.Det[0].Ingreso)</th>
                    <th>@Html.DisplayNameFor(model => model.Det[0].Egreso)</th>
                    <th>@Html.DisplayNameFor(model => model.Det[0].Saldo)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (LDS1_E d in Model.Det)
                {
                    <tr>
                        <td class="text-center">@d.Linea</td>
                        <td class="text-center">@d.FechaOpe</td>
                        <td class="text-center">@d.Operacion</td>
                        <td>@d.DetOpe</td>
                        <td>@d.Ingreso</td>
                        <td>@d.Egreso</td>
                        <td>@d.Saldo</td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>