@model Capa_Entidad.Ventas_ENT.TablasSql.ORTV_E
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>RotuladoTicket</title>
    <style type="text/css">
        body {
            font-size: 48px;
            font-family: Verdana;
        }
        .container {
            overflow: auto;
            height: 100%;
        }
    </style>
</head>
<body>
    @for (int i = 0; i < Model.Cajas; i++)
    {
        <div class="container" style="padding: 50px; border: 4px dotted black; margin-top:50px; @((i == Model.Cajas - 1) ? "" : "page-break-after: always;")">
            <table border="1" cellspacing="0" width="100%" style="text-align:center;">
                <tr>
                    <th colspan="2">DESTINATARIO</th>
                </tr>
                <tr>
                    <td colspan="2" style="padding:30px">@Model.Det1[0].NombrePer.ToUpper() </td>
                </tr>
                <tr><th colspan="2">PUNTO DE LLEGADA</th></tr>
                <tr>
                    <td colspan="2" style="padding:30px">
                    @if (Model.Det3 != null && Model.Det3.Count > 1 && Model.EnvioAgencia == "Oficina de agencia")
                    {
                        @Model.Det3[1].Calle.ToUpper();<br />
                        <p>
                            @Model.Det3[1].Distrito.ToUpper() &nbsp; -  @Model.Det3[1].Provincia.ToUpper() &nbsp;- @Model.Det3[1].Departamento.ToUpper()
                        </p>
                    }
                    else if (Model.Det3 != null && Model.Det3.Count > 0 && Model.Det3.Count < 2 && Model.EnvioAgencia == "Oficina de agencia")
                    {
                        if (!string.IsNullOrEmpty(Model.Referencia))
                        { @Model.Referencia<br /> }
                        else if (!string.IsNullOrEmpty(Model.Det3[0].DirDestino))
                        {
                            @Model.Det3[0].Calle.ToUpper();<br />
                            <p>
                                @Model.Det3[0].Distrito.ToUpper() &nbsp; -  @Model.Det3[0].Provincia.ToUpper() &nbsp;- @Model.Det3[0].Departamento.ToUpper()
                            </p>
                        }

                    }
                    else if (Model.Det3 != null && Model.Det3.Count > 1 && Model.EnvioAgencia == "Domicilio de cliente")
                    {
                        @Model.Det3[1].Calle.ToUpper();<br />
                        <p>@Model.Det3[1].Distrito.ToUpper() &nbsp; - @Model.Det3[1].Provincia.ToUpper()&nbsp; - @Model.Det3[1].Departamento.ToUpper()</p>
                    }
                    else
                    {
                        @Model.Det3[0].Calle.ToUpper();<br />
                        <p>
                            @Model.Det3[0].Distrito.ToUpper() &nbsp; - @Model.Det3[0].Provincia.ToUpper() &nbsp; - @Model.Det3[0].Departamento.ToUpper()
                        </p>
                    }
                    </td>
                </tr>
                <tr><th>NRO DOCUMENTO</th> <th>CANT CAJAS</th></tr>
                <tr>
                    <td style="padding:10px">@Model.DocNum</td>
                    <td style="padding:10px">@(i + 1) de @Model.Cajas</td>
                </tr>
            </table>
        </div>
    }
</body>
</html>
