@model Capa_Entidad.Ventas_ENT.TablasSql.ORTV_E

@{
    Layout = null;

    string tipoEntrega = string.Empty;
    if (Model != null && Model.LugarDestino == "RECOJO")
    {
        tipoEntrega = "PRESENCIAL - LIMA";
    }
    else if (Model != null && (Model.LugarDestino == "PROVINCIA" || Model.LugarDestino == "Agencia Courier"))
    {
        tipoEntrega = "PRESENCIAL - PROVINCIA";
    }
    else if (Model != null && Model.LugarDestino == "DOMICILIO")
    {
        tipoEntrega = "DOMICILIO";
    }

    string fechaEntrega = "";
    string horaEntrega = "";
    if (Model != null && Model.TiempoEntrega != null)
    {
        string[] partes = Model.TiempoEntrega.ToString().Split(' ');

        if (partes.Length > 0)
        {
            fechaEntrega = partes[0];
        }
        if (partes.Length > 1)
        {
            horaEntrega = partes[1];
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>TacoEmpaque</title>
    <style type="text/css">
        body {
            font-family: Verdana, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 100%;
            background: white;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        td {
            border: 1px solid black;
            padding: 5px 8px; /* Ajustado para un diseño más compacto */
            font-size: 11px; /* Tamaño de letra reducido */
        }

        .text-center {
            text-align: center;
        }

        .v-middle {
            vertical-align: middle;
        }

        .v-top {
            vertical-align: top;
        }

        .bold {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div id='c_tablas' class="container">
        <table>
            <tr>
                <td colspan="2">
                    <img width="95" src='~/imagenes/Logo-disfar150.png' alt="Logo Disfar" />
                </td>
                <td class="text-center v-middle bold" style="font-size: 13px; width: 33.33%;">
                    ANEXO-011-00
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <span class="bold">RAZON SOCIAL:</span> @Html.DisplayFor(model => model.CardName)
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <span class="bold">N° DE GUIAS:</span> @Html.DisplayFor(model => model.DocNum)

                </td>
                <td>
                    <span class="bold">MONTO:</span> S/ @Html.DisplayFor(model => model.MontoTotal)
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <span class="bold">REFERENCIA:</span> @ViewBag.Guias
                </td>
                <td rowspan="3" class="text-center v-middle bold" style="font-size: 13px;">
                    T°: 15°C - 25°C
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <span class="bold">TIPO DE EMBALAJE:</span>
                </td>
            </tr>

            <tr>
                <td colspan="2" style="height: 25px;" class="v-top">
                    @if (Model != null && Model.Embalaje == "CL")
                    {<text>CAJA LIMA</text>}
                    @if (Model != null && Model.Embalaje == "CP")
                    {<text>CAJA PROVINCIA</text>}

                    @if (Model != null && !string.IsNullOrEmpty(Model.Comentario))
                    {
                        <div style="margin-top: 3px;"><span class="bold">COMENTARIO:</span> @Html.DisplayFor(model => model.Comentario)</div>
                    }
                </td>
            </tr>

            <tr>
                <td class="text-center bold" style="width: 33.33%;">VERIFICADO POR:</td>
                <td class="text-center bold" style="width: 33.33%;">EMBALADO POR:</td>
                <td class="text-center bold" style="width: 33.33%;">PERSONAL DE VENTAS:</td>
            </tr>

            <tr>
                <td class="text-center v-top" style="height: 35px;">
                    @if (Model != null && !string.IsNullOrWhiteSpace(Model.OpVerificado))
                    {@String.Join(", ", Model.OpVerificado)}

                    @if (Model != null && Model.OpVerificadoApoyo != null && Model.OpVerificadoApoyo.Count > 0)
                    {<text>, </text> @String.Join(", ", Model.OpVerificadoApoyo)}
                </td>
                <td class="text-center v-top">
                    @if (Model != null && !string.IsNullOrWhiteSpace(Model.OpEmpacado))
                    {@String.Join(", ", Model.OpEmpacado)}

                    @if (Model != null && Model.OpEmpacadoApoyo != null && Model.OpEmpacadoApoyo.Count > 0)
                    {<text>, </text> @String.Join(", ", Model.OpEmpacadoApoyo)}
                </td>
                <td class="text-center v-top">
                    @Html.DisplayFor(model => model.Vendedor)
                </td>
            </tr>

            <tr>
                <td>
                    <span class="bold">FECHA:</span> @Html.DisplayFor(model => model.FechaEmpacado)
                    @if (!string.IsNullOrEmpty(fechaEntrega))
                    {<text> / Ent: @fechaEntrega</text>}
                </td>
                <td>
                    <span class="bold">HORA:</span> @Html.DisplayFor(model => model.HoraEmpacado)
                    @if (!string.IsNullOrEmpty(horaEntrega))
                    {<text> / Ent: @horaEntrega</text>}
                </td>
                <td>
                    <span class="bold">N° DE CAJAS:</span> @Html.DisplayFor(model => model.Cajas)
                </td>
            </tr>
        </table>
    </div>
</body>
</html>