@model IEnumerable<Capa_Entidad.Ventas_ENT.TablasSql.OTRC_E.RptTransacciones>
@using Capa_Entidad.Ventas_ENT.TablasSql

@{
    ViewBag.Title = "TransaccionesRegalo";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    OREG_E reg = (OREG_E)ViewBag.Regalo;
}

<div class="pt-3">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li><a href="@Url.Action("GestionRegalos", "Ventas")">Módulo gestión regalos</a></li>
            <li class="current"><em>Transacciones de regalos</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">TRANSACCIONES DE REGALOS - <small>@($"{reg.Categoria} {reg.Tipo}  ({@Convert.ToInt32(reg.StockTotal)} unds)")</small></h3>   </div>
</div>

<div class="bg-form-pestanas-cobefar p-4 bg-form-cobefar">
    <form name="frm" id="frm">
        <div class="row">
            <input value="@reg.Categoria" readonly type="hidden" name="Categoria" />
            <input value="@reg.Tipo" readonly type="hidden" name="Tipo" />
            <input value="@reg.StockTotal" readonly type="hidden" name="StockTotal" />
            <input name="IdReg" type="hidden" value="@reg.Id" readonly />

            <div class="col-lg-2">
                <label for="TiempoIni" class="text-dark form-label font-weight-bold font-18">Fecha Inicial:</label>
                <input class="form-control border-success" name="TiempoIni" type="date" id="TiempoIni" />
            </div>

            <div class="col-lg-2">
                <label for="TiempoFin" class="text-dark form-label font-weight-bold font-18">Fecha Fin:</label>
                <input class="form-control border-success" name="TiempoFin" type="date" id="TiempoFin" />
            </div>
            <div class="col-lg-4 d-flex align-items-end">
                <button class="btn btn-success" onclick="exportarTransacciones();"><i class="icon icon-file-excel"></i> Exportar transacciones</button>
            </div>
        </div>
    </form>

    <div class="bg-white px-3 py-3 align-items-center">
        <div class="table-responsive">
            <table id="tbl_ListadoTransacciones" class="dt-container dt-empty-footer table table-sm table-hover font-14">
                <thead class="thead-cobefar">
                    <tr>
                        <th class="text-center border-end">
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th class="text-center border-end">
                            @Html.DisplayName("Descripcion")
                        </th>
                        <th class="text-center border-end">
                            @Html.DisplayName("Ruc")
                        </th>
                        <th class="text-center border-end">
                            @Html.DisplayName("Razon Social")
                        </th>
                        <th class="text-center border-end">
                            @Html.DisplayNameFor(model => model.Sentido)
                        </th>
                        <th class="text-center border-end">
                            @Html.DisplayNameFor(model => model.Detalle)
                        </th>
                        <th class="text-center border-end">
                            @Html.DisplayNameFor(model => model.Cantidad)
                        </th>
                        <th class="text-center border-end">
                            @Html.DisplayNameFor(model => model.Imputado)
                        </th>
                        <th class="text-center border-end">
                            @Html.DisplayNameFor(model => model.Operario)
                        </th>
                        <th class="text-center border-end">
                            @Html.DisplayNameFor(model => model.FechaRegistro)
                        </th>
                        <th class="text-center border-end">
                            @Html.DisplayNameFor(model => model.HoraRegistro)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center border-end border-start">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td class="text-center border-end">
                                @Html.DisplayFor(modelItem => item.RegName)
                            </td>
                            <td class="text-center border-end">
                                @Html.DisplayFor(modelItem => item.CardCode)
                            </td>
                            <td class="text-center border-end">
                                @Html.DisplayFor(modelItem => item.CardName)
                            </td>
                            <td class="text-center border-end">
                                @Html.DisplayFor(modelItem => item.Sentido)
                            </td>
                            <td class="text-center border-end">
                                @Html.DisplayFor(modelItem => item.Detalle)
                            </td>
                            <td class="text-center border-end">
                                @Html.DisplayFor(modelItem => item.Cantidad)
                            </td>
                            <td class="text-center border-end">
                                @Html.DisplayFor(modelItem => item.Imputado)
                            </td>
                            <td class="text-center border-end">
                                @Html.DisplayFor(modelItem => item.Operario)
                            </td>
                            <td class="text-center border-end">
                                @Html.DisplayFor(modelItem => item.FechaRegistro)
                            </td>
                            <td class="text-center border-end">
                                @Html.DisplayFor(modelItem => item.HoraRegistro)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    </div>
<script>
    function exportarTransacciones() {
        var object = $("#frm").serialize();
        $(location).attr('href', "/Ventas/ExportarExcelTransReg?" + object);
    }
    document.addEventListener('DOMContentLoaded', function () {
        if (!$.fn.DataTable.isDataTable('tbl_ListadoTransacciones')) {
            inicializarDataTable('tbl_ListadoTransacciones', 50, true, false); // El tercer parámetro indica que no hay ordenamiento
        }
    });
</script>