@{
    ViewBag.Title = "Ver Pedido Online";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li><a href="@Url.Action("PedidosOnline", "Ventas")">Listado de pedidos online</a></li>
            <li class="current"><em>Ver pedido online</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">VER PEDIDO ONLINE</h3></div>
</div>

<div class="bg-form-pestanas-cobefar pt-4 bg-section-form p-4 bg-form-cobefar">
    <div class="row mt-2">
        <div class="col-lg-2">
            <label for="CardCode" class="text-dark form-label font-weight-bold font-18">Cod. Cliente:</label>
            <input type="text" name="CardCode" id="CardCode" class="form-control text-center border-success" value="@if(Model != null && Model.Count >= 1){ Write(Model[0].CardCode); }" autocomplete="off" disabled>
        </div>

        <div class="col-lg-4">
            <label for="CardName" class="text-dark form-label font-weight-bold font-18">Cliente:</label>
            <input type="search" name="CardName" id="CardName" list='ListaClientes' class="form-control text-center border-success" value="@if(Model != null && Model.Count >= 1){ Write(Model[0].CardName); }" autocomplete="off" disabled>
            <div id="div_listaClientes"></div>
        </div>

        <div class="col-lg-2">
            <label for="WhsCode" class="text-dark form-label font-weight-bold font-18">Almacén:</label>
            <input name="WhsCode" id="WhsCode" class="form-control text-center border-success" value="@if(Model != null && Model.Count >= 1){ Write(Model[0].WhsCode); }" disabled />
        </div>

        <div class="col-lg-2">
            <label class="text-dark form-label font-weight-bold font-18">Estado:</label>
            <input class="form-control text-center border-success" value="@if(Model != null && Model.Count >= 1){ Write(Model[0].Estado); }" disabled />
        </div>
    </div>

    <div class="row mt-lg-4 mt-sm-lg-0">
        <div class="col-lg-10">
            <label for="Comentario" class="text-dark form-label font-weight-bold font-18">Comentario:</label>
            <input type="text" name="Comentario" id="Comentario" class="form-control border-success" value="@if(Model != null && Model.Count >= 1){ Write(Model[0].Comentario); }" disabled />
        </div>
    </div>

    @if (Model != null && Model[0].Estado.Equals("BORRADOR"))
    {
        <div class="row mt-4">
            <div class="col-lg-6">
                <button type="button" id="btn_modalArticulos" data-toggle="modal" data-target="#modalArticulos" hidden></button>
                <button type="button" id="btn_agregarArticulos" class="btn btn-warning" onclick="$('#btn_modalArticulos').click(); limpiarCampos();" hidden><i class="icon icon-plus"></i> Agregar Artículos</button>
                <button type="button" id="btn_habilitarEdicion" class="btn btn-success" onclick="habilitarEdicion();"><i class="icon icon-checkmark"></i> Habilitar Edición</button>
            </div>
        </div>
    }

    <form action="/Ventas/EditarPedidoOnline" method="post">
        <input type="hidden" name="idORDR" value="@if(Model != null && Model.Count >= 1){ Write(Model[0].Id); }" />
        <div class="row mt-4">
            <div class="col-lg-12 table-responsive">
                <table id="tbl_detallePedido" class="table table-bordered table-hover">
                    <thead class="bg-cobefar">
                        <tr>
                            <th hidden></th>
                            <th hidden></th>
                            <th class="text-center">Descripción</th>
                            <th class="text-center">Código</th>
                            <th class="text-center">Por vender</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-center">UM Venta</th>
                            <th hidden></th>
                            <th class="text-center">Precio</th>
                            <th class="text-center">Total</th>
                            @if (Model != null && Model[0].Estado.Equals("BORRADOR"))
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model[0].DetallePedido)
                            {
                                int num = 0;
                                <tr id="tr_@item.Id" class="cls-articuloUnico">
                                    <td hidden><input type="hidden" name="DetallePedido[0].ExpDate" value="@item.ExpDate" /></td>
                                    <td hidden><input type="hidden" name="DetallePedido[0].BatchNum" value="@item.BatchNum" /></td>
                                    <td class="text-center"><input type="hidden" name="DetallePedido[0].ItemName" value="@item.ItemName" />@item.ItemName</td>
                                    <td class="text-center"><input type="hidden" name="DetallePedido[0].ItemCode" value="@item.ItemCode" />@item.ItemCode</td>
                                    <td class="text-center"><input type="hidden" name="DetallePedido[0].Quantity" value="@item.Quantity" />@item.Quantity</td>
                                    <td class="text-center"><input type="hidden"  id="cantidad_@num"name="DetallePedido[0].Cantidad" value="@item.Cantidad" />@item.Cantidad</td>
                                    <td class="text-center"><input type="hidden" id="umventa_@num" name="DetallePedido[0].UMVenta" value="@item.UMVenta" />@item.UMVenta</td>
                                    <td hidden><input type="hidden" name="DetallePedido[0].UndMed" value="@item.UndMed" /></td>
                                    <td class="text-center"><input type="hidden" name="DetallePedido[0].Price" value="@item.Price" />@item.Price</td>
                                    <td class="text-center"><input type="hidden" id="PrecioxCantidad_@num" class="cls-pricexcant" value="@item.PrecioxCantidad" />@item.PrecioxCantidad</td>
                                    @if (Model != null && Model[0].Estado.Equals("BORRADOR"))
                                    {
                                        <td class="text-center">
                                            <button type="button" class="btn btn-danger" title="Eliminar" onclick="borrarFila(@item.Id);"><i class="icon-bin" title="Eliminar"></i></button>
                                        </td>
                                    }
                                </tr>
                                ++num;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-4">
            <div class="ml-3">
                <div class="form-inline form-group">
                    <label for="PrecioTotal" class="text-dark form-label font-weight-bold font-18 mx-1">Total (S/): </label>
                    <input type="number" id="PrecioTotal" class="form-control text-center border-success" autocomplete="off" required disabled>
                </div>
            </div>
        </div>

        <div id="div_generarPedido" class="row mt-4" style="display: none">
            <div class="col-lg-6">
                <button type="button" class="btn btn-success" onclick="enviarDatos()"><i class="icon-checkmark"></i> Generar Pedido</button>
            </div>
        </div>
    </form>
</div>


<!-- Modal -->
<div class="modal fade" id="modalArticulos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-width">
        <div class="modal-content">
            <div class="modal-header bg-cobefar text-white">
                <h5 class="modal-title" id="exampleModalLabel">Búsqueda de artículos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 my-2">
                        <label for="articulo" class="text-cobefar font-weight-bold">Por Descripción:</label>
                        <input type="text" id="articulo" name="articulo" class="form-control border-success" placeholder="Ingresar descripción del artículo..." />
                    </div>

                    <div class="col-lg-6 my-2">
                        <label for="principio_activo" class="text-cobefar font-weight-bold">Por Princ. Activo:</label>
                        <input type="text" id="principio_activo" name="principio_activo" class="form-control border-success" placeholder="Ingresar principio activo..." />
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-cobefar" onclick="buscarArticulo()"><i class="icon-search"></i> Buscar</button>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-lg-12 table-responsive">
                        <table id="tbl_listaArticulos" class="table table-bordered table-hover">
                            <thead class="bg-success">
                                <tr>
                                    <th></th>
                                    <th class="text-center" style="width: 45%">Descripción</th>
                                    <th class="text-center" style="width: 5%">Precio x PZA</th>
                                    <th class="text-center" style="width: 5%">Precio x CAJA</th>
                                    <th class="text-center" style="width: 10%">Por Vender</th>
                                    <th class="text-center" style="width: 10%">Fecha Vencimiento</th>
                                    <th class="text-center" style="width: 10%">Princ. Activo</th>
                                    <th class="text-center" style="width: 10%">Observación</th>
                                    <th class="text-center" style="width: 5%">Cajón M.</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" id="btn_cerrarModal" class="btn btn-secondary" data-dismiss="modal"><i class='icon-cross'></i> Cerrar</button>
                @*<button type="button" class="btn btn-cobefar" onclick="agregarDetallePedido();">Agregar </button>*@
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        reconstruirTabla();
        calcularPrecioTotal();
    });

    var num = 0;

    function limpiarCampos() {
        $('#tbl_listaArticulos > tbody').html('');
        $('#articulo').val('');
    }

    function enviarDatos() {
        if ($('#PrecioTotal').val() <= 0) {
            Swal.fire('El precio total debe ser mayor a cero.');
        } else {
            $("form").first().trigger("submit");
        }
    }

    function calcularPrecioTotal() {
        let sumarCant = 0;
        $.each($('.cls-pricexcant'), function (key, obj) {
            sumarCant += obj.value * 1;
        });
        $('#PrecioTotal').val(sumarCant);
    }





    function habilitarEdicion() {
        $('#btn_agregarArticulos').prop('hidden', false);
        $('#btn_habilitarEdicion').prop('hidden', true);
        $('#div_generarPedido').show();
    }

    function buscarArticulo() {
        let descripcion = $('#articulo').val();
        let princActivo = $('#principio_activo').val();

        if (descripcion.length >= 5 || princActivo.length >= 5) {
            $.ajax({
                url: '/Ventas/BuscarArticulo',
                type: 'POST',
                dataType: 'json',
                data: { 'ItemName': descripcion, 'PrincActivo': princActivo, 'WhsCode': $('#WhsCode').val() }
            }).done(function (response) {
                $('#tbl_listaArticulos > tbody').html(response);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.status + textStatus + errorThrown);
            });
        } else {
            Swal.fire('Ingresar descripción o principio activo para la búsqueda.')
            $('#tbl_listaArticulos > tbody').html('');
        }
    }

    function calcularPrecioxCantidad(idCampo, tipo, price) {
        let cantidad = 0;
        let umVenta = 0;
        let fila = 0;
        let undMed = '';

        if (tipo == 'cantidad') {
            cantidad = $('#' + idCampo).val();
            fila = idCampo.substring(idCampo.indexOf('_') + 1);
            umVenta = $('#' + idCampo.replace('cantidad_', 'umventa_')).find('option:selected').attr('num');
            undMed = $('#' + idCampo.replace('cantidad_', 'umventa_')).find('option:selected').attr('alias');
        } else if (tipo == 'umventa') {
            umVenta = $('#' + idCampo).find('option:selected').attr('num');
            fila = idCampo.substring(idCampo.indexOf('_') + 1);
            cantidad = $('#' + idCampo.replace('umventa_', 'cantidad_')).val();
            undMed = $('#' + idCampo).find('option:selected').attr('alias');
        }

        $('#undmed_' + fila).val(undMed);

        if (cantidad >= 1 || umVenta >= 1) {
            let calculo = price * cantidad * umVenta * 1;
            $(`#PrecioxCantidad_${fila}`).val(calculo);
            $('#div_botonesSubmit').css('display', 'block');
        } else {
            $('#div_botonesSubmit').css('display', 'none');
            Swal.fire('La cantidad ingresada debe ser mayor o igual a 1.');
        }

        calcularPrecioTotal();
    }

    function reconstruirTabla() {
        --num;
        var i = 0;

        $("#tbl_detallePedido tr").each(function (index, htm) {
            if (htm.id != '') {
                iden1 = $(htm).find("td:eq(0) input");
                iden1.attr("name", "DetallePedido[" + i + "].ExpDate");
                iden1 = $(htm).find("td:eq(1) input");
                iden1.attr("name", "DetallePedido[" + i + "].BatchNum");
                iden1 = $(htm).find("td:eq(2) input");
                iden1.attr("name", "DetallePedido[" + i + "].ItemName");
                iden1 = $(htm).find("td:eq(3) input");
                iden1.attr("name", "DetallePedido[" + i + "].ItemCode");
                iden1 = $(htm).find("td:eq(4) input");
                iden1.attr("name", "DetallePedido[" + i + "].Quantity");

                iden1 = $(htm).find("td:eq(5) input");
                iden1.attr("id", "cantidad_" + i);
                iden1.attr("name", "DetallePedido[" + i + "].Cantidad");

                iden1 = $(htm).find("td:eq(6) select");
                iden1.attr("id", "umventa_" + i);
                iden1.attr("name", "DetallePedido[" + i + "].UMVenta");

                iden1 = $(htm).find("td:eq(7) select");
                iden1.attr("id", "undmed_" + i);
                iden1.attr("name", "DetallePedido[" + i + "].UndMed");
                iden1 = $(htm).find("td:eq(8) input");
                iden1.attr("id", "Price_" + i);
                iden1.attr("name", "DetallePedido[" + i + "].Price");
                iden1 = $(htm).find("td:eq(9) input");
                iden1.attr("id", "PrecioxCantidad_" + i);
                iden1.attr("name", "DetallePedido[" + i + "].PrecioxCantidad");

                i++;
            }
        })
    }

    function borrarFila(idArticulo) {
        $('#tr_' + idArticulo).remove();
        reconstruirTabla();
        calcularPrecioTotal();
    }


    function actualizarTablaDetalle(itemCode, itemName, NumInBuy, BuyUnitMsr, SalUnitMsr, BatchNum, PorVender, ExpDate, price, idArticulo) {
        //if (undMed != '' && parseInt(cantidad) > 0) {
        fila = `<tr id="tr_${idArticulo}" class="cls-articuloUnico">
                            <td hidden><input type="hidden" name="DetallePedido[${num}].ExpDate" value="${ExpDate}" /></td>
                            <td hidden><input type="hidden" name="DetallePedido[${num}].BatchNum" value="${BatchNum}" /></td>
                            <td class="text-center"><input type="hidden" name="DetallePedido[${num}].ItemName" value="${itemName}" />${itemName}</td>
                            <td class="text-center"><input type="hidden" name="DetallePedido[${num}].ItemCode" value="${itemCode}" />${itemCode}</td>
                            <td class="text-center"><input type="hidden" name="DetallePedido[${num}].Quantity" value="${PorVender}" />${PorVender}</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                <input type="number" id="cantidad_${num}" name="DetallePedido[${num}].Cantidad" onkeyup="calcularPrecioxCantidad(this.id, 'cantidad', ${price});" class="form-control border-success text-center" style="width: 120px;" />
                                </div>
                            </td>
                            <td class="text-center">
                                <select id="umventa_${num}"  name="DetallePedido[${num}].UMVenta" class="form-control bg-cobefar text-white" onchange="calcularPrecioxCantidad(this.id, 'umventa', ${price})" style="width: 120px;">
                                    <option value="${SalUnitMsr}" num="${SalUnitMsr.substring(SalUnitMsr.indexOf('X') + 2)}" alias="${SalUnitMsr.substring(0, 4).trimEnd()}">${SalUnitMsr}</option>`;

        if (BuyUnitMsr != SalUnitMsr) {
            fila += `<option value="${BuyUnitMsr}" num="${NumInBuy}" alias="${BuyUnitMsr.substring(0, 4).trimEnd()}">${BuyUnitMsr}</option>`;
        }

        fila += `<option value="PZA" num="1" alias="PZA">PZA</option>
                                </select>
                            </td>
                            <td hidden>
                                <select id="undmed_${num}"  name="DetallePedido[${num}].UndMed" class="form-control bg-cobefar text-white">
                                    <option value="CAJA" selected>CAJA</option>
                                    <option value="PZA">PZA</option>
                                </select>
                             </td>
                            <td class="text-center"><input type="hidden" id="Price_${num}" name="DetallePedido[${num}].Price" value="${price}" />${price}</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                <input type="number" id="PrecioxCantidad_${num}" name="DetallePedido[${num}].PrecioxCantidad" class="form-control border-success cls-pricexcant text-center" style="width: 140px;" readonly />
                                </div>
                            </td>
                            <td class="text-center"><button type="button" class="btn btn-danger" title="Eliminar" onclick="borrarFila('${idArticulo}');"><i class="icon-bin" title="Eliminar"></i></button></td>
                       </tr>`;

        $('#tbl_detallePedido > tbody').append(fila);
        ++num;
        reconstruirTabla();
        calcularPrecioTotal();
        //}
    }


    function agregarDetallePedido(itemCode, itemName, NumInBuy, BuyUnitMsr, SalUnitMsr, BatchNum, PorVender, ExpDate, price, idArticulo) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success mx-4',
                cancelButton: 'btn btn-danger mx-4'
            },
            buttonsStyling: false
        })

        if ($(`#tr_${idArticulo}`).length >= 1) {       // Si el elemento existe en el DOM
            swalWithBootstrapButtons.fire({
                title: '¿Está seguro(a) de agregar artículo?',
                text: "El artículo seleccionado ya se encuentra en el detalle",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: "<i class='icon-checkmark'></i> Si, estoy seguro(a)",
                cancelButtonText: "<i class='icon-cross'></i> Cancelar",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let nuevoIdArticulo = 0;
                    let cantidadArticulosSeleccionados = document.getElementsByClassName("cls-articuloUnico").length;
                    if (cantidadArticulosSeleccionados >= 3) {
                        $.each($('.cls-articuloUnico'), function (key, obj) {
                            let arrNombreId = obj.id.split("_");
                            nuevoIdArticulo = arrNombreId[0] + '_' + (cantidadArticulosSeleccionados * 1 + 1);
                        });
                    } else {
                        nuevoIdArticulo = idArticulo + '_' + (cantidadArticulosSeleccionados * 1 + 1);
                    }

                    actualizarTablaDetalle(itemCode, itemName, NumInBuy, BuyUnitMsr, SalUnitMsr, BatchNum, PorVender, ExpDate, price, nuevoIdArticulo);
                    $('#btn_cerrarModal').click();      // Cerramos el modal de la búsqueda de artículos
                }
            });
        } else {
            actualizarTablaDetalle(itemCode, itemName, NumInBuy, BuyUnitMsr, SalUnitMsr, BatchNum, PorVender, ExpDate, price, idArticulo);
            $('#btn_cerrarModal').click();      // Cerramos el modal de la búsqueda de artículos
        }
        /*else if ($(`#cantidad_${idArticulo}`).val() * 1 > $(`#stock_disponible_${idArticulo}`).val() * 1) {       // Si la cantidad ingresada no supera el stock disponible
            Swal.fire('La cantidad ingresada no debe ser mayor al stock disponible.');
        } */
    }
</script>