@model IEnumerable<Capa_Entidad.ReportesDigemid_ENT.ActaDespachoTs_E>

@{
    Layout = null;
    var m = Model.ToList()[0];
    if (m.AlmOrigen == "CUAR07") { m.AlmOrigen = "ALM07"; }
    if (m.AlmDestino == "CUAR07") { m.AlmDestino = "ALM07"; }
}
<style>
    .conBorde td {
        border: 1px solid;
    }
</style>

<table border=0 style="font-size:12px">
    <tr>
        <td><img width="120" height="50" src="~/imagenes/logoventa2.jpg" /></td>
        <td colspan="2" width="560"></td>
        <td colspan="2">
            <table width="100%">
                <tr class="conBorde">
                    <td width="100" style="text-align: center;"><strong>F/ALM-001</strong></td>
                    <td style="text-align:center;" width="30"><strong>V2</strong></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="5" align="center"><strong>ACTA DE DESPACHO</strong></td>
    </tr>
    <tr>
        <td width="180px"><strong>FECHA : </strong>@m.FechaActa</td>
        <td colspan="4" style="text-align:right" width="100px"><strong>GUIA N° : </strong>@m.NroGuia</td>
    </tr>
    <tr>
        <td colspan="5">
            <strong>ALMACÉN ORIGEN : </strong>@m.TaxOfficeOrigen
            &nbsp;<strong>ALMACÉN DESTINO : </strong>@m.TaxOfficeDestino
        </td>
    </tr>
</table>

<table border=0 style="font-size:9px;text-align:center">
    <tr class="conBorde">
        <td width=25px>CANTIDAD </td>
        <td width=200px>DESCRIPCION DEL PRODUCTO</td>
        <td width=50px>LOTE/SERIE</td>
        <td width=35px>FECHA VCTO</td>
        <td width=55px>NRO R.S.</td>
        <td width=40px colspan=2>PROTOCOLO DE ANALISIS</td>
        <td width=40px colspan=2>CAJAS LIMPIAS</td>
        <td width=40px colspan=2>EMBALAJE CERRADO</td>
        <td width=40px colspan=2>CONSGINA CONDICION DE EMBALAJE</td>
        <td width=60px>CONDICION ALMACENAMIENTO</td>
        <td width=40px colspan=2>MANCHADO DERRAME ARRUGADO QUEBRADO HUMEDO</td>
        <td width=40px colspan=2>PRODUCTO CORRESPONDE AL DOCUMENTO</td>
        <td width=40px colspan=2>VEHICULO LIMPIO Y EQUIPADO CONDICION ADECUADA</td>
    </tr>
    <tr class="conBorde">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>SI</td>
        <td>NO</td>
        <td>SI</td>
        <td>NO</td>
        <td>SI</td>
        <td>NO</td>
        <td>SI</td>
        <td>NO</td>
        <td></td>
        <td>SI</td>
        <td>NO</td>
        <td>SI</td>
        <td>NO</td>
        <td>SI</td>
        <td>NO</td>

    </tr>
    @foreach (var item in Model)
    {
        <tr class="conBorde">
            <td>@Math.Round(item.CantidadLote, 0)</td>
            <td style="text-align:left">@item.ItemName</td>
            <td>@item.NroLote</td>
            <td>@item.FechaVcto</td>
            <td>@item.RegistroSanit</td>
            <td><img width="7" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
            <td></td>
            <td><img width="7" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
            <td></td>
            <td><img width="7" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
            <td></td>
            <td><img width="7" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
            <td></td>
            <td>@item.CondicionAlm</td>
            <td></td>
            <td><img width="7" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
            <td><img width="7" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
            <td></td>
            <td><img width="7" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
            <td></td>
        </tr>
    }

    <tr>
        <td colspan=2>OBSERVACIONES: NINGUNA</td>
        <td colspan=20></td>
    </tr>
    <tr>
        <td colspan="22" height="40"></td>
    </tr>

</table>

<table border="0" style="font-size:9px;text-align:center" width="900">
    <tr>
        <td width="400" align="center" valign="bottom">
            <div style="border-bottom: solid 1px black; width: 80%; margin: 0 auto;">
                @if (ViewBag.FirmaResponsable != null)
                {
                    <img src="@ViewBag.FirmaResponsable" width="150" />
                }
                else
                {
                    <br /><br /><br /><br />}
            </div>
        </td>

        <td width="100"></td>

        <td width="400" align="center" valign="bottom">
            <div style="border-bottom: solid 1px black; width: 80%; margin: 0 auto;">
                @if (ViewBag.PersonaEntrega != null)
                {
                    <img src="@ViewBag.PersonaEntrega" width="150" onerror="this.style.display='none'" />
                }
                else
                {
                    <br /><br /><br /><br />}
            </div>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top">
            ENTREGADO POR:<br />
            (FIRMA Y SELLO)
        </td>
        <td></td>
        <td align="center" valign="top">
            RECIBIDO POR:
        </td>
    </tr>

    <tr>
        <td colspan="3">
            <table width="50%" style="margin: auto; padding-top: 20px">
                <tr>
                    <td style="color: black; border: solid 1px; border-color: gray; font-size: 11px;text-align: center">Prohibido reproducir sin autorización de DROGUERÍA COBEFAR</td>
                </tr>
            </table>
        </td>
    </tr>
</table>