@model Capa_Entidad.General_ENT.Tablas.COB_SALDO_E
@using Capa_Entidad.Almacen_ENT.Tablas
@{
    ViewBag.Title = "AgregarSaldoAnterior";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () { });
    function valorCampoList(idLista, idLabel, idCampo, atrib) {
        $("#" + idCampo).val(
            $("#" + idLista + " option[value='" + $("#" + idLabel).val() + "']").attr(atrib)
        );
    }
</script>
<div class="px-3 pt-3"><h3 class="titulo-seccion">AGREGAR SALDO ANTERIOR</h3></div>
<a id="accion" href="@Url.Action("ListadoSaldosAnteriores", "DireccionTecnica")" class="btn btn-light">
    <span><strong>Volver Atras</strong></span>
</a>
<br />
<br />
<div class="alert-info">@ViewBag.Mensaje</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.U_COB_DESCRIPCION, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.U_COB_DESCRIPCION,
                    new
                         {
                             htmlAttributes = new
                             {
                                 @class = "form-control",
                                 @type = "search",
                                 @list = "listaArticulos"
                            ,
                                 @onchange = "valorCampoList('listaArticulos','U_COB_DESCRIPCION','Name','ItemCode');" +
                            "valorCampoList('listaArticulos','U_COB_DESCRIPCION','U_COB_TIPOCONT','U_SYP_TCONTROLADO')"
                             }
                         })
                @Html.ValidationMessageFor(model => model.U_COB_DESCRIPCION, "", new { @class = "text-danger" })
            </div>
            <datalist id="listaArticulos">
                @foreach (OITM_E a in ViewBag.ListaArticulos)
                {
                    <option ItemCode="@a.ItemCode" U_SYP_TCONTROLADO="@a.U_SYP_TCONTROLADO" value="@a.ItemCode - @a.ItemName"></option>
                }
            </datalist>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.U_COB_TIPOCONT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="U_COB_TIPOCONT" id="U_COB_TIPOCONT" class="form-control">
                    <option value="">Seleccione</option>
                    @if (Model.U_COB_TIPOCONT == "P")
                    {
                        <option value="P" selected>Precursor</option>
                    }
                    else
                    {
                        <option value="P">Precursor</option>
                    }
                    @if (Model.U_COB_TIPOCONT == "E")
                    {
                        <option value="E" selected>Estupefaciente</option>
                    }
                    else
                    {
                        <option value="E">Estupefaciente</option>
                    }
                    @if (Model.U_COB_TIPOCONT == "S")
                    {
                        <option value="S" selected>Psicotropico</option>
                    }
                    else
                    {
                        <option value="S">Psicotropico</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.U_COB_TIPOCONT, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.U_COB_TRIMESTRE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="U_COB_TRIMESTRE" class="form-control">
                    <option value="">Seleccione</option>
                    @if (Model.U_COB_TRIMESTRE == 1)
                    {
                        <option value="1" selected>1 Trimestre</option>
                    }
                    else
                    {
                        <option value="1">1 Trimestre</option>
                    }
                    @if (Model.U_COB_TRIMESTRE == 2)
                    {
                        <option value="2" selected>2 Trimestre</option>
                    }
                    else
                    {
                        <option value="2">2 Trimestre</option>
                    }
                    @if (Model.U_COB_TRIMESTRE == 3)
                    {
                        <option value="3" selected>3 Trimestre</option>
                    }
                    else
                    {
                        <option value="3">3 Trimestre</option>
                    }
                    @if (Model.U_COB_TRIMESTRE == 4)
                    {
                        <option value="4" selected>4 Trimestre</option>
                    }
                    else
                    {
                        <option value="4">4 Trimestre</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.U_COB_TRIMESTRE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.U_COB_SALDOANTE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.U_COB_SALDOANTE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.U_COB_SALDOANTE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-success" />
            </div>
        </div>
    </div>
}
