@model IEnumerable<Capa_Entidad.Ventas_ENT.Tablas.ODLN_E>
@using Capa_Entidad.General_ENT.Tablas
@{
    ViewBag.Title = "ListadoEntregasDeVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
    });
    function filtrar() {
        var object = $("#frm").serialize();
        $(location).attr('href', "/DireccionTecnica/ListadoEntregasDeVenta?" + object);
    }
</script>

<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li class="current"><em>Listado entregas de venta</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">LISTADO ENTREGAS DE VENTA</h3></div>
</div>

<div class="bg-form-pestanas-cobefar">
    <div class="bg-dark">
        <form name="frm" id="frm">
            <table class="table table-light table-sm table-hover cls-dataTable" cellspacing="0" width="100%">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.DocNum)
                            <input type="text" name="DocNum" class="form-control" onchange="filtrar();" value="@if (ViewBag.Odln.DocNum != 0) { Write(ViewBag.Odln.DocNum); } " />
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.DocDate)
                            <input type="date" name="DocDate" class="form-control" style="width: 150px;" onchange="filtrar();" value="@ViewBag.Odln.DocDate" />
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.U_BPP_FECINITRA)
                            <input type="date" name="U_BPP_FECINITRA" class="form-control" style="width: 150px;" onchange="filtrar();" value="@ViewBag.Odln.U_BPP_FECINITRA" />
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.CardName)<br />
                            <input type="text" name="CardName" class="form-control" onchange="filtrar();" value="@ViewBag.Odln.CardName" />
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.NumAtCard)
                            <input type="text" name="NumAtCard" class="form-control" onchange="filtrar();" value="@ViewBag.Odln.NumAtCard" />
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.DocTotal)
                            <input type="text" name="DocTotal" class="form-control" onchange="filtrar();" value="@if (ViewBag.Odln.DocTotal != 0) { Write(ViewBag.Odln.DocTotal); } " />
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.U_SYP_STATUS)
                            <input type="text" name="U_SYP_STATUS" class="form-control" onchange="filtrar();" value="@ViewBag.Odln.U_SYP_STATUS" />
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.U_COB_LUGAREN)
                            <select name="U_COB_LUGAREN" class="form-control" onchange="filtrar();">
                                <option value="">Seleccione</option>
                                @foreach (COB_LUG_ENTREGA_E c in ViewBag.ListaLugarEntregas)
                                {
                                    if (ViewBag.Odln.U_COB_LUGAREN == c.Code)
                                    {
                                        <option value="@c.Code" selected>@c.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@c.Code">@c.Name</option>
                                    }
                                }
                            </select>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.DocNum)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.DocDate)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.U_BPP_FECINITRA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CardName)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.NumAtCard)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.DocTotal)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.U_SYP_STATUS)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.U_COB_LUGAREN)
                            </td>

                        </tr>
                    }
                </tbody>


            </table>
        </form>
    </div>
</div>