@model IEnumerable<Capa_Entidad.Ventas_ENT.Tablas.ORDR_E>
@using Capa_Entidad.General_ENT.Tablas
@{
    ViewBag.Title = "ListadoOrdenesDeVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-dark">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li class="current"><em>Listado órdenes de venta</em></li>
        </ol>
    </nav>
</div>

<div class="bg-dark border-cabecera-seccion pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">LISTADO ÓRDENES DE VENTA</h3></div>
</div>

<div class="bg-form-pestanas-cobefar">
    <div class="bg-dark">
        <form id="frm" name="frm">
            <div id="div_listadoOV"></div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let cargarLista = "ListarOrdenesVenta?version=" + '@ViewBag.CargarLista' +'&SlpCode='+'@ViewBag.SlpCode';
        cargarContenido("div_listadoOV", cargarLista);
    });

    function filtrar() {
        var form = $("#frm").serialize();
        let slpCode = '@ViewBag.SlpCode';

        if (slpCode * 1 > 0) {
            form += `&SlpCode=${slpCode}`;
        }

        let listaFiltrada = "ListarOrdenesVenta?version=" + '@ViewBag.CargarLista' + `&${form}`;
        cargarContenido("div_listadoOV", listaFiltrada);
    }
</script>