@model IEnumerable<Capa_Entidad.ReportesDigemid_ENT.OrganolepticoVt_E>

@{
    Layout = null;
}

<style>
    .conBorde td {
        border: 1px solid;
    }
</style>

@foreach (var item in Model)
{
    <div style='page-break-after:always;'>
        <table border=0 style="font-size:12px;">
            <tr>
                <td><img width="120" height="50" src="~/imagenes/logoventa2.jpg" /></td>
                <td></td>
                <td width="200">
                    <table width="100%">
                        <tr class="conBorde">
                            <td width="100" style="text-align: center;"><strong>F/DT-002</strong></td>
                            <td style="text-align:center;" width="30"><strong>V1</strong></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3" width="540" align='center'><strong>VERIFICACIÓN DE RECEPCIÓN Y EVALUACIÓN ORGANOLÉPTICA</strong></td>
            </tr>
            <tr>
                <td colspan="3" height="30"></td>
            </tr>
            <tr>
                <td><strong>GUIA N° :</strong>@item.NroGuia</td>
                <td></td>
                <td align=right><strong>FECHA :</strong> @item.FechaContab</td>
            </tr>
            <tr>
                <td colspan="3"><strong>NOMBRE DEL PRODUCTO : </strong>@item.Nombre</td>
            </tr>
            <tr>
                <td colspan="3"><strong>PROCEDENCIA : </strong> ALMACEN @item.TaxOfficeAlmacen</td>
            </tr>
            <tr>
                <td colspan="3" height="30"></td>
            </tr>
        </table>

        <table border=0 style="font-size:12px;">
            <tr>
                <td align=center width=300px height=20px style='border:1px solid black; background:#BFB6B4;'>DESCRICION GENERAL</td>
                <td width=20px style='border:1px solid black; background:#BFB6B4;'>SI</td>
                <td width=20px style='border:1px solid black; background:#BFB6B4;'>NO</td>
                <td align=center width=300px style='border:1px solid black; background:#BFB6B4;'>OBSERVACIONES</td>
            </tr>
            <tr>
                <td style='border:1px solid black;'>Embalaje y estado de conservacion</td>
                <td style='border:1px solid black'><img width="8" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>CONFORME</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Envase Mediato e Inmediato</td>
                <td style='border:1px solid black'><img width="8" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>CONFORME</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Ausencia de material extraño</td>
                <td style='border:1px solid black'><img width="8" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>CONFORME</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Cantidad</td>
                <td style='border:1px solid black'><img width="8" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>@Math.Round(item.CantidadL, 0) Piezas</td>
            </tr>
            <tr>
                <td style='border:1px solid black' align=center colspan="4">ANÁLISIS ORGANOLEPTICO</td>
            </tr>
            <tr>
                <td align=center style='border:1px solid black; background:#BFB6B4;'>ROTULADO MEDIATO</td>
                <td style='border:1px solid black; background:#BFB6B4;'></td>
                <td style='border:1px solid black; background:#BFB6B4;'></td>
                <td align=center style='border:1px solid black; background:#BFB6B4;'>OBSERVACIONES</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Nombre del Producto</td>
                <td style='border:1px solid black'><img width="8" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>@item.Nombre &nbsp;@item.Concentracion &nbsp;@item.FormaFarmaceutica</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Registro Sanitario</td>
                <td style='border:1px solid black'><img width="8" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>@item.ResgistroS</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Nombre del Fabricante</td>
                <td style='border:1px solid black'><img width="8" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>@item.Fabricante</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Condicion de Almacenamiento</td>
                <td style='border:1px solid black'><img width="8" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>@item.CondicionAl</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>N° de Lote</td>
                <td style='border:1px solid black'><img width="8" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>@item.Lote</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Fecha de Vencimiento</td>
                <td style='border:1px solid black'><img width="8" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>@item.FechaVenc</td>
            </tr>
            <tr>
                <td align=center style='border:1px solid black; background:#BFB6B4;'>ROTULADO INMEDIATO</td>
                <td style='border:1px solid black; background:#BFB6B4;'></td>
                <td style='border:1px solid black; background:#BFB6B4;'></td>
                <td align=center style='border:1px solid black; background:#BFB6B4;'>OBSERVACIONES</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Nombre del Producto</td>
                <td style='border:1px solid black'><img width="8" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>@item.Nombre &nbsp;@item.Concentracion &nbsp;@item.FormaFarmaceutica</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Registro Sanitario</td>
                <td style='border:1px solid black'><img width="8" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>@item.ResgistroS</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Nombre del Fabricante</td>
                <td style='border:1px solid black'><img width="8" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>@item.Fabricante</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Condicion de Almacenamiento</td>
                <td style='border:1px solid black'><img width="8" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>@item.CondicionAl</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>N° de Lote</td>
                <td style='border:1px solid black'><img width="8" height="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>@item.Lote</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Fecha de Vencimiento</td>
                <td style='border:1px solid black'><img width="8" heigh="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>@item.FechaVenc</td>
            </tr>
            <tr>
                <td align=center style='border:1px solid black; background:#BFB6B4;'>ANALISIS DEL CONTENIDO (ENVASE INMEDIATO)</td>
                <td style='border:1px solid black; background:#BFB6B4;'></td>
                <td style='border:1px solid black; background:#BFB6B4;'></td>
                <td align=center style='border:1px solid black; background:#BFB6B4;'>OBSERVACIONES</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Presentacion</td>
                <td style='border:1px solid black'><img width="8" heigh="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>@item.FormaPresentacion</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Hermeticidad de Envases</td>
                <td style='border:1px solid black'><img width="8" heigh="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>CONFORME</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Ausencia de materias extrañas</td>
                <td style='border:1px solid black'><img width="8" heigh="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>CONFORME</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Color del producto</td>
                <td style='border:1px solid black'><img width="8" heigh="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>CARACTERISTICO</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Aspecto fisico</td>
                <td style='border:1px solid black'><img width="8" heigh="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>CARACTERISTICO</td>
            </tr>
            <tr>
                <td style='border:1px solid black'>Temperatura de almacenamiento</td>
                <td style='border:1px solid black'><img width="8" heigh="7" src="~/imagenes/index/ReportesDigemid/check.png" /></td>
                <td style='border:1px solid black'></td>
                <td style='border:1px solid black'>De 15°C a 25°C</td>
            </tr>
            <tr>
                <td colspan="2">OBSERVACIONES: </td>
                <td colspan="2">NINGUNA</td>
            </tr>
            <tr>
                <td colspan="4" height="25"></td>
            </tr>
            <tr>
                <td align="center" style="border-bottom: solid 1px">
                    @if (ViewBag.Firma != null)
                    {<img src="@ViewBag.Firma" width="150" />}
                </td>
                <td></td>
                <td></td>
                <td align="center" style="border-bottom: solid 1px"><img src="@ViewBag.FirmaDT" width="150" /></td>
            </tr>
            <tr>
                <td align="center">Elaborado por: @if (ViewBag.QuimicoFarmaceuticoAsistente != null) { Write(ViewBag.QuimicoFarmaceuticoAsistente); }</td>
                <td></td>
                <td></td>
                <td align="center">V°B° Director Técnico</td>
            </tr>
            <tr>
                <td align="center">Químico Farmaceutico Asistente</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4">
                    <table width="50%" style="margin: auto; padding-top: 20px">
                        <tr>
                            <td style="color: black; border: solid 1px; border-color: gray; font-size: 11px;text-align: center">Prohibido reproducir sin autorización de DROGUERÍA COBEFAR</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
}