@using Capa_Entidad.Seguridad_ENT
@using Capa_Negocio.Seguridad_NEG
@{
    ViewBag.Title = "AdministrarRolOperacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Rol1_N rol1N = new Rol1_N();
}
<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-dark">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li><a href="@Url.Action("GestionPermisos", "TI_Sistemas")">Módulo gestión de permisos</a></li>
            <li><a href="@Url.Action("GestionRolOperacion", "TI_Sistemas")">Gestión Rol - Operaciones</a></li>
            <li class="current"><em>Administrar Rol - Operación</em></li>
        </ol>
    </nav>
</div>

<div class="bg-dark border-cabecera-seccion pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">ADMINISTRAR ROL - OPERACIÓN</h3></div>
</div>

<div class="bg-form-pestanas-cobefar p-4 bg-form-cobefar">
    <div class="alert alert-info w-75">
        @ViewBag.Mensaje
    </div>

    @using (Html.BeginForm("AdministrarRolOperacion", "TI_Sistemas"))
    {
        <div class="accordion" id="accordionExample">
            <div>
                <input value="@ViewBag.idRol" name="idRol" hidden />
            </div>
            <div class="card">
                <div class="card-header bg-cobefar bg-cobefar" id="modulo2">
                    <h2 class="mb-0">
                        <button class="btn btn-cobefar btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                            <i class="icon icon-display"></i> Módulo TI_Sistemas
                        </button>
                    </h2>
                </div>
                <div id="collapse1" class="collapse" aria-labelledby="modulo1" data-parent="#accordionExample">
                    <div class="card-body">
                        @{ int i = 0;}
                        @foreach (OOPE_E obj in ViewBag.AllModulo1)
                        {
                            var a = "";
                            foreach (OOPE_E obj2 in ViewBag.OpMod1)
                            {
                                if (obj.id == obj2.id)
                                { a = "checked"; }
                            }
                            <div class="form-check">
                                <input id="idOperacion_@obj.id" class="form-check-input" type="checkbox" @a value="@obj.id" name="idOperacion" />
                                <label class="form-check-label text-dark" for="idOperacion_@obj.id">
                                    @obj.nombre
                                </label>
                            </div>
                            { i++; }
                        }
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-cobefar" id="modulo2">
                    <h2 class="mb-0">
                        <button class="btn btn-cobefar btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            <i class="icon icon-truck"></i> Módulo Almacén
                        </button>
                    </h2>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="modulo2" data-parent="#accordionExample">
                    <div class="card-body">
                        @foreach (OOPE_E obj in ViewBag.AllModulo2)
                        {
                            var a = "";
                            foreach (OOPE_E obj2 in ViewBag.OpMod2)
                            {
                                if (obj.id == obj2.id)
                                { a = "checked"; }
                            }
                            <div class="form-check">
                                <input id="idOperacion_@obj.id" class="form-check-input" type="checkbox" @a value="@obj.id" name="idOperacion" />
                                <label class="form-check-label text-dark" for="idOperacion_@obj.id">
                                    @obj.nombre
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-cobefar" id="modulo3">
                    <h2 class="mb-0">
                        <button class="btn btn-cobefar btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            <i class="icon icon-office"></i> Módulo Direccin Técnica
                        </button>
                    </h2>
                </div>
                <div id="collapse3" class="collapse" aria-labelledby="modulo3" data-parent="#accordionExample">
                    <div class="card-body">
                        @foreach (OOPE_E obj in ViewBag.AllModulo3)
                        {
                            var a = "";
                            foreach (OOPE_E obj2 in ViewBag.OpMod3)
                            {
                                if (obj.id == obj2.id)
                                { a = "checked"; }
                            }
                            <div class="form-check">
                                <input id="idOperacion_@obj.id" class="form-check-input" type="checkbox" @a value="@obj.id" name="idOperacion" />
                                <label class="form-check-label text-dark" for="idOperacion_@obj.id">
                                    @obj.nombre
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-cobefar" id="modulo5">
                    <h2 class="mb-0">
                        <button class="btn btn-cobefar btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            <i class="icon icon-phone"></i> Módulo Ventas
                        </button>
                    </h2>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="modulo5" data-parent="#accordionExample">
                    <div class="card-body">
                        @foreach (OOPE_E obj in ViewBag.AllModulo5)
                        {
                            var a = "";
                            foreach (OOPE_E obj2 in ViewBag.OpMod5)
                            {
                                if (obj.id == obj2.id)
                                { a = "checked"; }
                            }
                            <div class="form-check">
                                <input id="idOperacion_@obj.id" class="form-check-input" type="checkbox" @a value="@obj.id" name="idOperacion" />
                                <label class="form-check-label text-dark" for="idOperacion_@obj.id">
                                    @obj.nombre
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-cobefar" id="modulo7">
                    <h2 class="mb-0">
                        <button class="btn btn-cobefar btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                            <i class="icon icon-accessibility"></i> Módulo Atención al cliente
                        </button>
                    </h2>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="modulo7" data-parent="#accordionExample">
                    <div class="card-body">
                        @foreach (OOPE_E obj in ViewBag.AllModulo7)
                        {
                            var a = "";
                            foreach (OOPE_E obj2 in ViewBag.OpMod7)
                            {
                                if (obj.id == obj2.id)
                                { a = "checked"; }
                            }
                            <div class="form-check">
                                <input id="idOperacion_@obj.id" class="form-check-input" type="checkbox" @a value="@obj.id" name="idOperacion" />
                                <label class="form-check-label text-dark" for="idOperacion_@obj.id">
                                    @obj.nombre
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-cobefar" id="modulo8">
                    <h2 class="mb-0">
                        <button class="btn btn-cobefar btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                            <i class="icon icon-coin-dollar"></i> Módulo Caja
                        </button>
                    </h2>
                </div>
                <div id="collapse8" class="collapse" aria-labelledby="modulo8" data-parent="#accordionExample">
                    <div class="card-body">
                        @foreach (OOPE_E obj in ViewBag.AllModulo8)
                        {
                            var a = "";
                            foreach (OOPE_E obj2 in ViewBag.OpMod8)
                            {
                                if (obj.id == obj2.id)
                                { a = "checked"; }
                            }
                            <div class="form-check">
                                <input id="idOperacion_@obj.id" class="form-check-input" type="checkbox" @a value="@obj.id" name="idOperacion" />
                                <label class="form-check-label text-dark" for="idOperacion_@obj.id">
                                    @obj.nombre
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>


        <div class="row mt-4">
            <div class="col-lg-4">
                <button type="submit" class="btn btn-success"><i class="icon icon-checkmark"></i> Guardar cambios</button>
            </div>
        </div>
    }
</div>

<script>
    if ('@ViewBag.Mensaje' != "") {
            Swal.fire('@ViewBag.Mensaje');
        }
</script>