@model Capa_Entidad.Seguridad_ENT.Usuario_E

@{
    ViewBag.Title = "CrearUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/Scripts/TI_Sistemas/Usuario.js"></script>
    <script>mostrarMensaje(`@ViewBag.Mensaje`)</script>
}

<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li><a href="@Url.Action("GestionPermisos", "TI_Sistemas")">Módulo gestión de permisos</a></li>
            <li class="current"><em>Registrar usuario</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">REGISTRAR USUARIO</h3></div>
</div>

<div class="bg-form-pestanas-cobefar p-4 bg-form-cobefar">
    @using (Html.BeginForm())
    {
        

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="radioOptions" class="text-dark form-label font-weight-bold">¿Es empleado(a) de COBEFAR?:</label>
                    <div id="radioOptions">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="empleadoCobefar" id="emplCobefar1" value="SI" @if (!string.IsNullOrWhiteSpace(Model.EmpleadoCobefar) && Model.EmpleadoCobefar == "SI") { Write("checked"); }>
                            <label class="form-check-label text-dark" for="emplCobefar1">Sí</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="empleadoCobefar" id="emplCobefar2" value="NO" @if (!string.IsNullOrWhiteSpace(Model.EmpleadoCobefar) && Model.EmpleadoCobefar == "NO") { Write("checked"); }>
                            <label class="form-check-label text-dark" for="emplCobefar2">No</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="div_inputsForm" style="@if (string.IsNullOrWhiteSpace(Model.EmpleadoCobefar)) { Write("display:none;"); }">
            <div class="row">
                <div id="div_listaEmpleados" class="col-lg-4" style="@if (!string.IsNullOrWhiteSpace(Model.EmpleadoCobefar) && Model.EmpleadoCobefar == "NO") { Write("display:none;"); }">
                    <label for="Apellidos" class="text-dark form-label font-weight-bold">Nombres y Apellidos:</label>
                    <input type="hidden" id="empleadoId" name="empleadoId" />
                    <input type="hidden" id="sedeId" name="sedeId" />
                    <input type="search" list="listaEmpleados" id="inputEmpleados" class="form-control" placeholder="Buscar empleado..." autocomplete="off" />
                    <datalist id="listaEmpleados">
                        @foreach (var empl in ViewBag.Empleados)
                        {
                            <option value="@empl.NombresApellidos" data-idempleado="@empl.IdOEMPL" data-idsede="@((empl.DatosLaborales != null) ? empl.DatosLaborales.IdSede.ToString() : "")"></option>
                        }
                    </datalist>
                </div>

                <div id="div_nombres" class="col-lg-3" style="@if (!string.IsNullOrWhiteSpace(Model.EmpleadoCobefar) && Model.EmpleadoCobefar == "SI") { Write("display:none;"); }">
                    <label for="Nombres" class="text-dark form-label font-weight-bold ">Nombres:</label>
                    <input type="text" id="Nombres" name="Nombres" class="form-control text-capitalized" value="@if (!string.IsNullOrWhiteSpace(Model.Nombres)) { Write(Model.Nombres); }" autocomplete="off">
                </div>

                <div id="div_apellidos" class="col-lg-3" style="@if (!string.IsNullOrWhiteSpace(Model.EmpleadoCobefar) && Model.EmpleadoCobefar == "SI") { Write("display:none;"); }">
                    <label for="Apellidos" class="text-dark form-label font-weight-bold ">Apellidos:</label>
                    <input type="text" id="Apellidos" name="Apellidos" class="form-control text-capitalized" value="@if (!string.IsNullOrWhiteSpace(Model.Apellidos)) { Write(Model.Apellidos); }" autocomplete="off">
                </div>

                <div class="col-lg-4">
                    <label for="Email" class="text-dark form-label font-weight-bold">Email:</label>
                    <input type="email" id="Email" name="Email" class="form-control input-cobefar" value="@if (!string.IsNullOrWhiteSpace(Model.Email)) { Write(Model.Email); }" autocomplete="off" />
                </div>

                <div class="col-lg-2">
                    <label for="WhsCode" class="text-dark form-label font-weight-bold">Almacén:</label>
                    <select id="WhsCode" name="WhsCode" class="form-control input-cobefar">
                        <option value="">Seleccione</option>
                        @foreach (var sede in ViewBag.Sedes)
                        {
                            <option value="@sede.IdAlterno" @(Model.WhsCode == sede.IdAlterno ? "selected" : "")>@sede.Nombre</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-4">
                    <label class="text-dark form-label font-weight-bold">Rol:</label>
                    <input type="hidden" id="idRol" name="idRol" />
                    <input type="search" list="listaRoles" id="inputRoles" class="form-control" placeholder="Buscar rol..." onchange="infoIdUsuario(this);" autocomplete="off" />
                    <datalist id="listaRoles">
                        @foreach (var rol in ViewBag.Roles)
                        {
                            <option value="@rol.Nombre" data-idrol="@rol.Id"></option>
                        }
                    </datalist>
                </div>

                <div class="col-lg-3">
                    <label class="text-dark font-weight-bold">Usuario:</label>
                    <input type="text" id="usuario" class="form-control text-center input-cobefar" value="" readonly />
                    <input type="hidden" id="id" name="Id" value="" />
                    <input type="hidden" id="prefijo" name="Prefijo" value="" />
                </div>

                <div class="col-lg-2">
                    <label for="CodigoSap" class="text-dark form-label font-weight-bold">Código Sap:</label>
                    <input type="number" class="form-control input-cobefar" id="CodigoSap" name="CodigoSap" min="1" value="@if(Model.CodigoSap != 0) { Write(Model.CodigoSap); }" oninput="validarCodigoSAP(this)" autocomplete="off" placeholder="(*) Solo para VENTAS">
                </div>

            </div>

            <div class="row mt-4">
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-success"><i class="icon icon-checkmark"></i> Registrar usuario</button>
                </div>
            </div>
        </div>

    }
</div>