@model IEnumerable<Capa_Entidad.Seguridad_ENT.Orol_E>

@{
    ViewBag.Title = "GestionRolOperacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-dark">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li><a href="@Url.Action("GestionPermisos", "TI_Sistemas")">Módulo gestión de permisos</a></li>
            <li class="current"><em>Gestión Rol - Operaciones</em></li>
        </ol>
    </nav>
</div>

<div class="bg-dark border-cabecera-seccion pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">GESTIÓN ROL - OPERACIONES</h3></div>
</div>

<div class="bg-form-pestanas-cobefar p-4 bg-form-cobefar ">
    <div class="w-75">
        <table class="table table-light table-sm table-hover table-bordered table-responsive-md" cellspacing="0" width="100%">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">ID</th>
                    <th>Nombre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.id > 1)
                    {
                        <tr>
                            <td class="text-center">@item.id</td>
                            <td>@item.nombre</td>
                            <td class="text-center">
                                <a href="@Url.Action("AdministrarRolOperacion", "TI_Sistemas", new { id = item.id } )" class="btn btn-info">
                                    <i class="icon icon-cog"></i> Administrar Rol Operación
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
    
</div>

