@{
    ViewBag.Title = "Apilar Ingreso";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<style>
    td.details-control {
        cursor: pointer;
        text-align: center;
    }

    .subtable {
        margin-left: 50px;
    }

    @@media screen and (max-width: 768px) {
        header {
            display: none;
        }

        .table-responsive {
            overflow-x: auto;
            display: block;
        }

        table {
            width: 100%;
        }

        th, td {
            white-space: nowrap;
        }

        .modal-body form .form-select {
            width: 100%;
        }
    }

    @@media screen and (max-width: 576px) {
        .btn {
            font-size: 14px;
            padding: 8px;
        }

            .btn i {
                font-size: 16px;
            }

        .cd-breadcrumb {
            font-size: 12px;
        }

        .titulo-seccion {
            font-size: 18px;
        }

        .modal-dialog {
            max-width: 90%;
        }
    }
</style>

<div class="pt-3">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li><a href="@Url.Action("Sesion", "Index")">Abastecimiento Interno</a></li>
            <li class="current"><em>@ViewBag.Title</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="row px-3 pt-3"><h3 class="titulo-seccion">@ViewBag.Title.ToUpper()</h3></div>
</div>

<div class="bg-white px-3 py-3 align-items-center">
    <div class="row mb-4">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal">
                <i class="bi bi-filter-circle"></i> Filtrar
            </button>
        </div>
        <div class="col-lg-12">
            <table id="tbl_listaDetTransferenciaApiladores" class="dt-container dt-empty-footer table table-sm table-hover font-14 display table-responsive " width="100%">
                <thead class="thead-cobefar">
                    <tr>
                        <th scope="col" class="text-center">Nro Transferencia</th>
                        <th scope="col" class="text-center">Código de artículo</th>
                        <th scope="col" class="text-center">Descripción</th>
                        <th scope="col" class="text-center">Lote</th>
                        <th scope="col" class="text-center">Rack/Bloque</th>
                        <th scope="col" class="text-center">Posicion</th>
                        <th scope="col" class="text-center">Nivel</th>
                        <th scope="col" class="text-center">Master</th>
                        <th scope="col" class="text-center">Unidades Master</th>
                        <th scope="col" class="text-center">Unidades Saldo</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                    @foreach (var item in Model)
                    {
                        <tr data-producto="@item.Id">
                            <td class="text-center align-middle">@item.TransferenciaReservaId</td>
                            <td class="text-center align-middle">@item.ItemCode</td>
                            <td class="text-center align-middle">@item.ItemName</td>
                            <td class="text-center align-middle">@item.BatchNum</td>
                            <td class="text-center align-middle">@item.RackBloque</td>
                            <td class="text-center align-middle">@item.Posicion</td>
                            <td class="text-center align-middle">@item.Nivel</td>
                            <td class="text-center align-middle">@item.UmAlm</td>
                            <td class="text-center align-middle">@item.QuantityMaster</td>
                            <td class="text-center align-middle">@item.QuantitySaldo</td>
                            <td class="text-center align-middle">
                                <button type="button" class="btn btn-success" title="Atender" data-bs-toggle="tooltip" data-bs-placement="top" onclick="atenderReserva(@item.Id,@item.DocNumSolicitudTraslado,'@item.ItemCode','@item.ItemName','@item.CodigoUbicacion')"><i class="bi bi-cart-check"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

<!-- Modal de Filtros -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-headerModals">
                <h5 class="modal-title text-light" id="filterModalLabel">Filtrar Registros</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="filterForm">
                    <div class="mb-3">
                        <div class="mb-3">
                            <label for="itemCode" class="form-label">Codigo de Articulo</label>
                            <input class="form-control border-success" id="itemCode" value="" />
                        </div>
                        <div class="mb-3">
                            <label for="itemName" class="form-label">Descripción</label>
                            <input class="form-control border-success" id="itemName" value="" />
                        </div>
                        <div class="mb-3">
                            <label for="batchNum" class="form-label">Lote</label>
                            <input class="form-control border-success" id="batchNum" value="" />
                        </div>
                        <div class="mb-3">
                            <label for="rackBloque" class="form-label">Rack/Bloque</label>
                            <input class="form-control border-success" id="rackBloque" value="" />
                        </div>
                        <div class="mb-3">
                            <label for="posicion" class="form-label">Posición</label>
                            <input class="form-control border-success" id="posicion" value="" />
                        </div>

                        <div class="mb-3">
                            <label for="nivel" class="form-label">Nivel</label>
                            <input class="form-control border-success" id="nivel" value="" />
                        </div>
                        </div>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="aplicarFiltro()">Aplicar</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (!$.fn.DataTable.isDataTable('tbl_listaDetTransferenciaApiladores')) {
            inicializarDataTable('tbl_listaDetTransferenciaApiladores', 100);
            aplicarFiltro(); 
        }
    });

    async function atenderReserva(detalleId, docNumSolicitudTraslado,itemCode,itemName,codigoUbicacion) {
        if (!detalleId)
        {
            console.log('Error: El ID no se encontró.');
            return;
        }

        swalWithBootstrapButtons.fire({
            title: '¿Está seguro(a) de ATENDER?',
            icon: 'warning',
            allowEscapeKey: false,
            showCancelButton: true,
            confirmButtonText: "<i class='bi bi-check-lg'></i> Si, atender",
            cancelButtonText: "<i class='bi bi-x-lg'></i> Cancelar",
            reverseButtons: true
        }).then(async (result) => {
            if (result.isConfirmed) {
                try {
                    const response = await fetch("/AbastecimientoInterno/AtenderReservaTransferencia", {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({
                            detalleId, docNumSolicitudTraslado, itemCode, itemName, codigoUbicacion
                            })
                    });

                    if (!response.ok) throw new Error(`Error en la solicitud: ${response.statusText}`);

                    const data = await response.json();

                    Swal.fire({
                        title: data.Titulo,
                        html: Array.isArray(data.Mensajes) && data.Mensajes.length > 0
                            ? data.Mensajes.join('<br>')
                            : data.Mensajes || "",
                        icon: data.Icono,
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: true
                    }).then((result) => {
                        if (result.isConfirmed && data.Icono === 'success') {
                            window.location.reload();
                        }
                    });

                } catch (error) {
                    console.error('Error:', error);
                }
            }
        });
    }

    function aplicarFiltro() {
        const form = document.getElementById('filterForm');
        const rackBloque = form.rackBloque.value.trim().toLowerCase();
        const posicion = form.posicion.value.trim().toLowerCase();
        const nivel = form.nivel.value.trim().toLowerCase();
        const itemName = form.itemName.value.trim().toLowerCase();
        const itemCode = form.itemCode.value.trim().toLowerCase();
        const batchNum = form.batchNum.value.trim().toLowerCase();

        const table = $('#tbl_listaDetTransferenciaApiladores').DataTable();

        $.fn.dataTable.ext.search.length = 0;

        $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
            const itCode = data[1]?.trim().toLowerCase();
            const itName = data[2]?.trim().toLowerCase();  
            const batchN = data[3]?.trim().toLowerCase();    
            const rack = data[4]?.trim().toLowerCase();    
            const pos = data[5]?.trim().toLowerCase();    
            const niv = data[6]?.trim().toLowerCase();     
           
            const coincideRack = rackBloque === "" || rack.includes(rackBloque);
            const coincidePos = posicion === "" || pos.includes(posicion);
            const coincideNivel = nivel === "" || niv.includes(nivel);
            const coincideItemCode = itemCode === "" || itCode.includes(itemCode);
            const coincideItemName = itemName === "" || itName.includes(itemName);
            const coincideBatchNum = batchNum === "" || batchN.includes(batchNum);

            return coincideRack && coincidePos && coincideNivel && coincideItemCode && coincideItemName && coincideBatchNum;
        });

        table.draw(); 

        const modalElement = document.getElementById('filterModal');
        if (modalElement) {
            const modalInstance = bootstrap.Modal.getInstance(modalElement);
            if (modalInstance) {
                modalInstance.hide();
            }
        }
    }
</script>

