@using System.Text
@{
    ViewBag.Title = "Control Stock Interno - URGENCIA";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<style>
    td.details-control {
        cursor: pointer;
        text-align: center;
    }

    .subtable {
        margin-left: 50px;
    }

    @@media screen and (max-width: 768px) {
        header {
            display: none;
        }

        .table-responsive {
            overflow-x: auto;
            display: block;
        }

        table {
            width: 100%;
        }

        th, td {
            white-space: nowrap;
        }

        .modal-body form .form-select {
            width: 100%;
        }
    }

    @@media screen and (max-width: 576px) {
        .btn {
            font-size: 14px;
            padding: 8px;
        }

            .btn i {
                font-size: 16px;
            }

        .cd-breadcrumb {
            font-size: 12px;
        }

        .titulo-seccion {
            font-size: 18px;
        }

        .modal-dialog {
            max-width: 90%;
        }
    }
</style>


<div class="pt-3">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li><em>Abastecimiento Interno</em></li>
            <li class="current"><em>Control Stock Interno</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="row px-3 pt-3"><h3 class="titulo-seccion">CONTROL STOCK PICKING</h3></div>
</div>

<div class="bg-white px-3 py-3 align-items-center">
    <div class="row mb-4">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal">
                <i class="bi bi-filter-circle"></i> Filtrar
            </button>
        </div>
        <div class="col-lg-12">
            <table id="tbl_listaControlStockPicking" class="dt-container dt-empty-footer table table-sm table-hover font-14 table-responsive" width="100%">
                <thead class="thead-cobefar">
                    <tr>
                        <th scope="col" class="text-center">Código de artículo</th>
                        <th scope="col" class="text-center">Descripción</th>
                        <th scope="col" class="text-center">Clasificacion</th>
                        <th scope="col" class="text-center">Stock Actual</th>
                        <th scope="col" class="text-center">Stock Min Abastecimiento</th>
                        <th scope="col" class="text-center"></th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                    @foreach (var item in Model)
                    {
                        // Calcular el porcentaje de stock basado en StockMinAbastecimiento
                        var porcentajeStock = item.StockMinAbastecimiento > 0
                            ? (item.StockActual * 100) / item.StockMinAbastecimiento
                            : -1;

                        // Definir color basado en la relación con el Stock Mínimo
                        string colorClase;
                        if (item.StockActual < item.StockMinAbastecimiento * 0.5)
                        {
                            colorClase = "bg-danger"; //Rojo: Stock crítico
                        }
                        else if (item.StockActual < item.StockMinAbastecimiento)
                        {
                            colorClase = "bg-warning"; // Amarillo: Cerca del mínimo
                        }
                        else
                        {
                            colorClase = "bg-success"; // Verde: Stock suficiente
                        }

                        <tr>
                            <td class="text-center align-middle">@item.ItemCode</td>
                            <td class="text-center align-middle">@item.ItemName</td>
                            <td class="text-center align-middle">@item.Clasificacion</td>
                            <td class="text-center align-middle">@item.StockActual</td>
                            <td class="text-center align-middle">@item.StockMinAbastecimiento</td>
                            <td class="text-center align-middle">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="progress" style="height: 25px; width: 120px;">
                                        @if (porcentajeStock > 0)
                                        {
                                            <div class="progress-bar @colorClase" role="progressbar"
                                                 style="width: @(porcentajeStock > 100 ? 100 : porcentajeStock)%"
                                                 aria-valuenow="@porcentajeStock" data-stockmin="@item.StockMinAbastecimiento"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100">
                                                @porcentajeStock%
                                            </div>
                                        }
                                        else if (item.StockActual == 0)
                                        {
                                                <div class="progress-bar bg-danger text-white fw-bold" role="progressbar" data-stockmin="@item.StockMinAbastecimiento"
                                                     style="width: 100%"
                                                     aria-valuenow="0"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100">
                                                    SIN STOCK
                                                </div>
                                        }
                                        else
                                        {
                                                <div class="progress-bar bg-secondary text-white fw-bold" role="progressbar" data-stockmin="@item.StockMinAbastecimiento"
                                                     style="width: 100%"
                                                     aria-valuenow="0"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100">
                                                    SIN PARAMETRO
                                                </div>
                                        }
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center align-items-center ">
                                    <button type="button" class="btn btn-cobefar-2 btn-sm" onclick="gestionarBusquedaUbicaciones('@item.ItemCode')">
                                        <i class="bi bi-arrow-up-right"></i> Ubicaciones
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal de Filtros -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-headerModals">
                <h5 class="modal-title text-light" id="filterModalLabel">Filtrar Productos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="filterForm">
                    <div class="mb-3">
                        <div class="mb-3">
                            <label for="itemCode" class="form-label">Codigo de Articulo</label>
                            <input class="form-control border-success" id="itemCode" value="" />
                        </div>
                        <div class="mb-3">
                            <label for="itemName" class="form-label">Descripción</label>
                            <input class="form-control border-success" id="itemName" value="" />
                        </div>
                        <div class="mb-3">
                            <label for="batchNum" class="form-label">Clasificación</label>
                            <input class="form-control border-success" id="clasificacion" value="" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="aplicarFiltro()">Aplicar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal de Ubicaciones -->
<div class="modal fade" id="modalBuscador" tabindex="-1" aria-labelledby="modalBuscadorLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-headerModals text-white">
                <h5 class="modal-title" id="modalBuscadorLabel">VER UBICACIONES</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                <input type="text" id="inputBusqueda" class="form-control mb-3" placeholder="Escriba para buscar...">
                <div id="resultadosBusqueda" class="list-group" style="max-height: 250px; overflow-y: auto;"></div>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (!$.fn.DataTable.isDataTable('tbl_listaControlStockPicking')) {
            inicializarDataTable('tbl_listaControlStockPicking', 100);
            aplicarFiltro();
        }
        ordenarTablaStockPicking();
    });
    let modalInstance = null;
    let itemCodeActual = null;
   async function gestionarBusquedaUbicaciones(itemCode) {
        if (itemCodeActual !== itemCode) {
            itemCodeActual = itemCode; 
            await cargarUbicaciones(itemCode); 
        }
    }
    async function cargarUbicaciones(itemCode) {
        try {
            const response = await fetch("/AbastecimientoInterno/ConsultarUbicacionesSkuPicking", {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ itemCode })
            });

            if (!response.ok) throw new Error(`Error en la solicitud: ${response.statusText}`);
            const dataResult = await response.json();
            const ubicacionesLotes = dataResult.resultUbicacionesLotes;

            // Verificar que haya ubicaciones
            if (!ubicacionesLotes || ubicacionesLotes.length === 0) {
                Swal.fire('','No se encontraron ubicaciones para este código.','warning');
                return;
            }

            // Limpiar contenido anterior
            const contenedor = document.getElementById('resultadosBusqueda');
            contenedor.innerHTML = '';

            // Llenar la lista de ubicaciones (solo el código de ubicación)
            ubicacionesLotes.forEach((ubicacion) => {
                const item = document.createElement('button');
                item.type = 'button';
                item.className = 'list-group-item list-group-item-action';
                item.textContent = ubicacion.CodigoUbicacion; 
                item.dataset.value = ubicacion.CodigoUbicacion; // Valor real
                item.onclick = () => seleccionarOpcion(ubicacion.CodigoUbicacion);
                contenedor.appendChild(item);
            });

            
            abrirModalBusquedaRapida();

        } catch (error) {
            console.error('Error al cargar ubicaciones:', error);
        }
    }
    function abrirModalBusquedaRapida() {
        if (!modalInstance) {
            const modalElement = document.getElementById('modalBuscador');
            modalInstance = new bootstrap.Modal(modalElement);
        }

        modalInstance.show();

        const inputBusqueda = document.getElementById('inputBusqueda');
        const contenedor = document.getElementById('resultadosBusqueda');

        inputBusqueda.value = '';
        inputBusqueda.focus();

      
        inputBusqueda.oninput = function () {
            const filtro = this.value.toLowerCase();
            Array.from(contenedor.children).forEach(item => {
                item.style.display = item.textContent.toLowerCase().includes(filtro) ? 'block' : 'none';
            });
        };
    }
    function aplicarFiltro() {
        const form = document.getElementById('filterForm');
        const clasificacion = form.clasificacion.value.trim().toLowerCase();
        const itemCode = form.itemCode.value.trim().toLowerCase();
        const itemName = form.itemName.value.trim().toLowerCase();

        const table = $('#tbl_listaControlStockPicking').DataTable();

        $.fn.dataTable.ext.search.length = 0;

        $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
            const constItemCode = data[0]?.trim().toLowerCase();
            const consItemName = data[1]?.trim().toLowerCase();
            const constClasificacion = data[2]?.trim().toLowerCase();

            const coincideItemCode = itemCode === "" || constItemCode.includes(itemCode);
            const coincideItemName = itemName === "" || consItemName.includes(itemName);
            const coincideClasificacion = clasificacion === "" || constClasificacion.includes(clasificacion);

            return coincideClasificacion && coincideItemCode && coincideItemName;
        });

        table.draw();

        const modalElement = document.getElementById('filterModal');
        if (modalElement) {
            const modalInstance = bootstrap.Modal.getInstance(modalElement);
            if (modalInstance) {
                modalInstance.hide();
            }
        }
        ordenarTablaStockPicking();

    }
    function ordenarTablaStockPicking() {
        let table = $('#tbl_listaControlStockPicking').DataTable();

        if (!table) return; // Evita errores si la tabla no está inicializada

        let elementos = table
            .rows({ search: 'applied' }) // Incluye todas las filas visibles en la búsqueda
            .nodes() // Obtiene los nodos de todas las filas
            .toArray(); // Convierte en array

        let listaOrdenada = elementos.map(row => {
            let progressBar = row.querySelector('.progress-bar');
            let valor = progressBar ? parseFloat(progressBar.getAttribute('aria-valuenow')) || 0 : 0;
            let stockMin = progressBar ? parseFloat(progressBar.getAttribute('data-stockmin')) || 0 : 0;
            return { row, valor, stockMin };
        });

        listaOrdenada.sort((a, b) => {
            if (a.stockMin === 0 && b.stockMin > 0) return 1; // Mueve stockMin = 0 al final
            if (a.stockMin > 0 && b.stockMin === 0) return -1; // Prioriza stockMin > 0
            return a.valor - b.valor; // Dentro del grupo stockMin > 0, ordena por aria-valuenow
        });

        table.clear();
        table.rows.add(listaOrdenada.map(item => item.row));
        table.draw(false);
    }
</script>

