@{
    ViewBag.Title = "Ubicaciones Picking";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="pt-3">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li><a href="@Url.Action("Sesion", "Index")">Abastecimiento Interno</a></li>
            <li class="current"><em>@ViewBag.Title</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="row px-3 pt-3"><h3 class="titulo-seccion">@ViewBag.Title.ToUpper()</h3></div>

    <div class="row px-3 py-3">
        <div class="col-12">
            <button type="button" id="btn_nuevaUbicacionPicking" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Nueva ubicación picking">
                <i class="bi bi-plus-lg"></i> Ubicación
            </button>

            <button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Exportar Excel de Ubicaciones Picking" onclick="exportarExcel()">
                <i class="bi bi-file-earmark-excel-fill"></i> Reporte
            </button>

            <button type="button" id="btn_stockMins" class="btn btn-outline-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Ir a Stocks Min.">
                <i class="bi bi-box-arrow-right"></i> Stocks Min.
            </button>

            <button type="button" class="btn btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="top" title="Cambio de ubicaciones" onclick="irACambioUbicaciones()">
                <i class="bi bi-box-arrow-up-right"></i> Cambio de ubicaciones
            </button>
        </div>
    </div>
</div>

<div class="bg-white px-3 py-3 align-items-center">
    <div class="row justify-content-center">
        <div class="col-lg-8 bg-light border border-success">
            <form id="frm_filtros">
                <div class="row bg-cobefar-3 p-2 text-white"><h5>Filtros</h5></div>
                <div class="row mb-3 p-3">
                    <div class="col-lg-2">
                        <label for="FiltroItemCode" class="form-label fw-bold">Código artículo:</label>
                        <select id="FiltroItemCode" name="UbicacionesLotes[0].ItemCode" class="cls-select">
                            @if (ViewBag.ItemsCodes != null)
                            {
                                <option value="">Seleccione</option>
                                foreach (var item in ViewBag.ItemsCodes)
                                {
                                    <option value="@item">@item</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-lg-5">
                        <label for="FiltroItemName" class="form-label fw-bold">Descripción:</label>
                        <select id="FiltroItemName" name="UbicacionesLotes[0].ItemName" class="cls-select">
                            @if (ViewBag.ItemsNames != null)
                            {
                                <option value="">Seleccione</option>
                                foreach (var item in ViewBag.ItemsNames)
                                {
                                    <option value="@item">@item</option>
                                }
                            }
                        </select>

                    </div>
                    <div class="col-lg-3">
                        <label for="FiltroCodigoUbicacion" class="form-label fw-bold">Código Ubicación:</label>
                        <select id="FiltroCodigoUbicacion" name="CodigoUbicacion" class="cls-select">
                            @if (ViewBag.UbicacionesLotes != null)
                            {
                                <option value="">Seleccione</option>
                                foreach (var item in ViewBag.UbicacionesLotes)
                                {
                                    <option value="@item">@item</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="col-lg-2 d-flex align-items-end justify-content-center my-1">
                        <button type="button" id="btn_aplicarFiltros" class="btn btn-sm btn-outline-cobefar-2" onclick="aplicarFiltros()">
                            <i class="bi bi-check-lg"></i> Aplicar filtros
                        </button>
                    </div>
                </div><!-- // ROW -->
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="div_listado" class="bg-white"></div>
        </div>
    </div><!-- row -->
</div><!-- main -->

<div class="modal fade" id="modalNuevaUbicacionPicking" tabindex="-1" aria-labelledby="modalNUPLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header text-white bg-headerModals">
                <h5 class="modal-title" id="modalNUPLabel">Registro de ubicación picking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" tabindex="-1"></button>
            </div>

            <div class="modal-body bg-blancoHumo">
                <div id="div_modalBody" class="container pb-0">
                    <form id="frm_registroUbicacion">
                        <input type="hidden" id="CodigoUbicacion" name="CodigoUbicacion" class="form-control cls-readonly text-center" autocomplete="off" readonly />

                        <div class="row">
                            <div class="col-lg-3">
                                <label class="form-label fw-bold">Almacén:</label>
                                <input id="almacen" class="form-control text-uppercase cls-readonly" type="text" autocomplete="off" value="PICKING" readonly />
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label fw-bold">Rack - Bloque:</label>
                                <input id="rackBloque" class="form-control text-uppercase" type="text" autocomplete="off" oninput="generarCodigoUbicacion($('#almacen').val(), 0); generarCodigoUbicacion(this.value, 1)" />
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label fw-bold">Posición:</label>
                                <input id="posicion" class="form-control text-uppercase" type="text" autocomplete="off" oninput="generarCodigoUbicacion(this.value, 2)" />
                            </div>
                            <div class="col-lg-3">
                                <label class="form-label fw-bold">Nivel:</label>
                                <input id="nivel" class="form-control text-uppercase cls-num" type="text" autocomplete="off" oninput="generarCodigoUbicacion(this.value, 3)" />
                            </div>
                        </div><!-- // ROW -->
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="tooltip" data-placement="top" title="Cerrar">
                    <i class="bi bi-x-lg"></i> Cerrar
                </button>
                <button type="button" class="btn btn-success" data-function="" data-bs-toggle="tooltip" data-bs-placement="top" title="Registrar ubicación" onclick="registrarDatos('RegistrarUbicacionPicking', 'ListarUbicacionesPicking')">
                    <i class="bi bi-check-lg"></i> Registrar
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/AbastecimientoInterno/Ubicaciones.js?v=@DateTime.Now.Ticks" defer></script>
    <script>
		document.addEventListener('DOMContentLoaded', function () {
            $('#div_listado').load(`@Url.Action("ListarUbicacionesPicking")`).fadeIn("fast");
            limitarMaxCaracteres('CodigoUbicacion', 228);
            permitirValoresNumericosPositivos();

            tippy('#btn_aplicarFiltros', {
                content: 'Aplicar filtros',
                animation: 'fade',
                placement: 'bottom-end'
            });
		});

		document.querySelector('#btn_nuevaUbicacionPicking').addEventListener('click', function () {
		    const modal = document.querySelector('#modalNuevaUbicacionPicking')
            const bootstrapModal = new bootstrap.Modal(modal, {
                focus: false,
                keyboard: false,
                backdrop: 'static'
            })
			bootstrapModal.show()
        })

        document.querySelector('#btn_stockMins').addEventListener('click', function () {
            location.href = '/AbastecimientoInterno/StockMinimoPicking'
        })

        function exportarExcel() {
            $(location).attr('href', `/AbastecimientoInterno/ExportarExcelUbicacionesPicking`)
        }

        function irACambioUbicaciones() {
            window.open('/AbastecimientoInterno/StockPicking', '_blank')
        }

        async function aplicarFiltros() {
            const form = document.querySelector('#frm_filtros');
            const formData = new FormData(form);
            const queryParams = new URLSearchParams(formData).toString();

            //console.log(queryParams)
            //return;

            try {
                $('#div_listado')
                    .load(`@Url.Action("ListarUbicacionesPicking")?${queryParams}`)
                    .fadeIn("fast");
            } catch (error) {
                console.error('Error al aplicar filtros:', error);

                Swal.fire({
                    icon: 'error',
                    title: 'Error al aplicar filtros',
                    text: error.message || 'Ocurrió un error inesperado.',
                });
            }
        }

    </script>
}