@{
    Layout = null;
    DateTime fecha = DateTime.Parse(Model[0].Fecha);
    DateTime soloFecha = fecha.Date;
}

<link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />

<style>
    div * {
        font-family: Verdana !important;
    }

    table * {
        font-family: Verdana !important;
    }

    /* Asegúrate de que el padding se aplique correctamente */
    td, th {
        padding: 10px !important;
    }

    .border {
        /* Definir solo las partes de la tabla que necesitan borde */
        border-top: 2px solid black !important;
        border-bottom: 2px solid black !important;
        border-right: 0px !important;
        border-left: 0px !important;
    }

    .impresion {
        width: 100%;
        background-color: white;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding: 20px 0;
        page-break-after: always;
    }

        .footer table {
            width: 100%;
            font-size: 14px;
        }

        .footer .font-weight-bold {
            font-weight: bold;
        }
</style>

<div class="impresion mt-4 ml-0 mr-0 pl-0 pr-0" style="width: 100%">
    <table style="font-size: 16px" width="100%" border="0">
        <tr>
            <td colspan="2" class="text-center font-weight-bold">FORMATO DE ORDEN DE VENTA<br />
            N° @Model[0].DocNum<br />
            @soloFecha.ToString("dd/MM/yyyy")</td>
        </tr>
    </table>

    <table style="margin-top: 10px; font-size: 12.5px" width="100%">
        <tr>
            <td class="text-left" style="width: 60%;">
                <span style="font-weight:600">ALMACÉN: </span> @Model[0].Almacen<br />
                <span style="font-weight:600">CLIENTE: </span>@Model[0].CardName
            </td>
            <td class="text-right" style="width: 40%">
            <span style="font-weight:600">RUC: </span>@Model[0].RucCliente</td>
        </tr>
    </table>

    <table style="margin-top: 10px;font-size: 13px;" width="100%" border="1">
        <thead class="text-dark">
            <tr>
                <th class="text-center border text-dark font-weight-bold">UBICACIÓN</th>
                <th class="text-center border text-dark font-weight-bold">SKU</th>
                <th class="text-center border text-dark font-weight-bold">DESCRIPCIÓN</th>
                <th class="text-center border text-dark font-weight-bold">LOTE</th>
                <th class="text-center border text-dark font-weight-bold">F.VCTO</th>
                <th class="text-center border text-dark font-weight-bold">CANT</th>
                <th class="text-center border text-dark font-weight-bold">PRECIO UNIT</th>
                <th class="text-center border text-dark font-weight-bold">PRECIO TOTAL</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var a in Model)
                {
                    <tr>
                        <td class="p-1">
                            @{
                                if (a.Ubicaciones != null)
                                {
                                    foreach (var ubicacion in a.Ubicaciones)
                                    {
                                        <div>@ubicacion</div>
                                    }
                                }
                            }
                        </td>
                        <td class="p-1">@a.ItemCode</td>
                        <td class="p-1">@a.Producto</td>
                        <td class="text-center p-1">@a.Lote</td>
                        <td class="text-center p-1">@a.FechaVenc</td>
                        <td class="text-center p-1">@a.UniMedidVend @a.NumUnidVend</td>
                        <td class="text-center p-1">@a.PrecioProdIgvVend.ToString("F2")</td>
                        <td class="text-center p-1">@a.TotalProdIgvVend.ToString("F2")</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div style="page-break-after: always"></div>
    <div class="footer" style="margin-top: 10px;">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <table class="" width="100%" style="font-size: 14px;padding:0;margin:0">
                    <tr>
                        <td class="font-weight-bold" style="width: 140px">VENDEDOR:</td>
                        <td class="">@Model[0].SlpName</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold" style="width: 140px">NRO TICKET:</td>
                        <td class="">@Model[0].Comentarios</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table width="100%" style="font-size: 14px;">
                                <tr>
                                    <td class="font-weight-bold text-right" style="width: 70%">TOTAL GENERAL:</td>
                                    <td class="font-weight-bold text-right" style="width: 30%">S/ @Model[0].DocTotal.ToString("F2")<br /></td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold text-right" style="width: 70%">Fecha y hora de impresión:</td>
                                    <td class="text-right" style="width: 30%">@DateTime.Now</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
