@{
    Layout = null;
    DateTime fecha = DateTime.Parse(Model[0].Fecha);
    DateTime soloFecha = fecha.Date;
}

<link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />

<style>
    div * {
        font-family: "Arial", Verdana, Helvetica, Sans-Serif !important;
    }

    table * {
        font-family: Arial, Helvetica, sans-serif !important;
    }

    .table-bordered {
        border: 2px solid black !important;
    }

    td {
        word-break: break-all
    }

    .border {
        /*border: 2px solid black !important;*/
        border-top: 2px solid black !important;
        border-bottom: 2px solid black !important;
        border-right: 0px !important;
        border-left: 0px !important;
    }

    .impresion {
        width: 100%;
        /*   margin-left: -4% !important;
        margin-right: -4% !important;*/
        background-color: white;
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-row-group
    }

    tr {
        page-break-inside: avoid
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding: 20px 0;
        page-break-after: always;
    }

        .footer table {
            width: 100%;
            font-size: 14px;
        }

        .footer .font-weight-bold {
            font-weight: bold;
        }
</style>

<div class="impresion mt-4 ml-0 mr-0 pl-0 pr-0" style="width: 100%">
    <table class="" style="font-size: 16px" width="100%">
        <tr>
            <td class="font-weight-bold" style="width: 400px">@Model[0].NombreBd</td>
            <td class="font-weight-bold">ALMACÉN @Model[0].Almacen</td>
        </tr>
        <tr>
            <td colspan="2" class="text-center font-weight-bold" style="padding-top: 10px; padding-bottom: 10px">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" class="text-center font-weight-bold">FORMATO DE ORDEN DE VENTA</td>
        </tr>
        <tr>
            <td colspan="2" class="text-center font-weight-bold">N° @Model[0].DocNum</td>
        </tr>
        <tr>
            <td colspan="2" class="text-center font-weight-bold">@soloFecha.ToString("dd/MM/yyyy")</td>
        </tr>
    </table>

    <table class="" style="margin-top: 10px; font-size: 12.5px" width="100%">
        <tr>
            <td class="font-weight-bold" style="width: 10%">CLIENTE:</td>
            <td style="width: 70%">@Model[0].CardName</td>
            <td class="font-weight-bold text-right" style="width: 10%">RUC:</td>
            <td style="width: 10%">@Model[0].RucCliente</td>
        </tr>
    </table>

    <table class="" style="margin-top: 10px; font-size: 12.5px;" width="100%">
        <thead class="text-dark">
            <tr>
                <th class="text-center border text-dark font-weight-bold pt-2 pb-2" colspan="2">CANT</th>
                <th class="text-center border text-dark font-weight-bold pt-2 pb-2">LABO</th>
                <th class="border text-dark font-weight-bold pt-2 pb-2">DESCRIPCIÓN</th>
                <th class="text-center border text-dark font-weight-bold pt-2 pb-2">LOTE</th>
                @*<th class="text-center border text-dark font-weight-bold">REG.SAN.</th>*@
                <th class="text-center border text-dark font-weight-bold pt-2 pb-2">F.VCTO</th>
                <th class="text-center border text-dark font-weight-bold pt-2 pb-2">PRECIO</th>
                <th class="text-center border text-dark font-weight-bold pt-2 pb-2">TOTAL</th>
            </tr>
            @*<tr>
                    <th class="text-center border text-dark font-weight-bold pt-4 pb-4" style="vertical-align: middle">CÓDIGO</th>
                    <th class="text-center border text-dark font-weight-bold pl-3 pr-3" width="50" style="vertical-align: middle;">NOMBRE<br />GENÉRICO</th>
                    <th class="text-center border text-dark font-weight-bold" width="50" height="15" style="vertical-align: middle;">NOMBRE<br />COMERCIAL</th>
                    <th class="text-center border text-dark font-weight-bold" height="15" style="vertical-align: middle">Calle/Jr/Av N°</th>
                    <th class="text-center border text-dark font-weight-bold" height="15" style="vertical-align: middle">Distrito</th>
                    <th class="text-center border text-dark font-weight-bold" height="15" style="vertical-align: middle">Provincia</th>
                    <th class="text-center border text-dark font-weight-bold pl-1 pr-1" height="15" style="vertical-align: middle">Departamento</th>
                </tr>*@
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var a in Model)
                {
                    <tr>
                        <td class="text-center p-1">@a.UniMedidVend</td>
                        <td class="text-center p-1">@a.NumUnidVend</td>
                        <td class="text-center p-1">@a.Laboratorio</td>
                        <td class="p-1">@a.Producto</td>
                        <td class="text-center p-1">@a.Lote</td>
                        @*<td class="text-center border p-1">@a.RegSanit</td>*@
                        <td class="text-center p-1">@a.FechaVenc</td>
                        <td class="text-center p-1">@a.PrecioProdIgvVend.ToString("F2")</td>
                        <td class="text-center p-1">@a.TotalProdIgvVend.ToString("F2")</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div style="page-break-after: always"></div>

    <div class="footer" style="margin-top: 20px; ">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <table class="" width="100%" style="font-size: 14px;">
                    <tr>
                        <td class="font-weight-bold" style="width: 140px">VENDEDOR:</td>
                        <td class="">@Model[0].SlpName</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold" style="width: 140px">COMENTARIOS:</td>
                        <td class="">@Model[0].Comentarios</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold text-right" colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table class="" width="100%" style="font-size: 14px;">
                                <tr>
                                    <td class="font-weight-bold text-right" style="width: 80%">TOTAL GENERAL:</td>
                                    <td class="font-weight-bold text-right" style="width: 20%">S/ @Model[0].DocTotal.ToString("F2")</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>