@using Capa_Entidad.Rutas_ENT.ReportesSql
@{
    Layout = null;
    int num = 1;
    Dictionary<string, List<Rpt_TempHumed_E>> listaGeneral = new Dictionary<string, List<Rpt_TempHumed_E>>();

    List<Rpt_TempHumed_E> lista1 = new List<Rpt_TempHumed_E>();
    List<Rpt_TempHumed_E> lista2 = new List<Rpt_TempHumed_E>();
    List<Rpt_TempHumed_E> lista3 = new List<Rpt_TempHumed_E>();
    List<Rpt_TempHumed_E> lista4 = new List<Rpt_TempHumed_E>();
    List<Rpt_TempHumed_E> lista5 = new List<Rpt_TempHumed_E>();
    List<Rpt_TempHumed_E> lista6 = new List<Rpt_TempHumed_E>();
    List<Rpt_TempHumed_E> lista7 = new List<Rpt_TempHumed_E>();
    List<Rpt_TempHumed_E> lista8 = new List<Rpt_TempHumed_E>();
    List<Rpt_TempHumed_E> lista9 = new List<Rpt_TempHumed_E>();
    List<Rpt_TempHumed_E> lista10 = new List<Rpt_TempHumed_E>();
    List<Rpt_TempHumed_E> lista11 = new List<Rpt_TempHumed_E>();
    List<Rpt_TempHumed_E> lista12 = new List<Rpt_TempHumed_E>();
    List<Rpt_TempHumed_E> lista13 = new List<Rpt_TempHumed_E>();
    List<Rpt_TempHumed_E> lista14 = new List<Rpt_TempHumed_E>();
    List<Rpt_TempHumed_E> lista15 = new List<Rpt_TempHumed_E>();
    List<Rpt_TempHumed_E> lista16 = new List<Rpt_TempHumed_E>();

    if (Model != null && Model.Count >= 1)
    {
        foreach (var m in Model)
        {
            if (num <= 22)
            {
                lista1.Add(m);
            }
            else if (num > 22 && num <= 44)
            {
                lista2.Add(m);
            }
            else if (num > 44 && num <= 66)
            {
                lista3.Add(m);
            }
            else if (num > 66 && num <= 88)
            {
                lista4.Add(m);
            }
            else if (num > 88 && num <= 110)
            {
                lista5.Add(m);
            }
            else if (num > 110 && num <= 132)
            {
                lista6.Add(m);
            }
            else if (num > 132 && num <= 154)
            {
                lista7.Add(m);
            }
            else if (num > 154 && num <= 176)
            {
                lista8.Add(m);
            }
            else if (num > 176 && num <= 198)
            {
                lista9.Add(m);
            }
            else if (num > 198 && num <= 220)
            {
                lista10.Add(m);
            }
            else if (num > 220 && num <= 242)
            {
                lista11.Add(m);
            }
            else if (num > 242 && num <= 264)
            {
                lista12.Add(m);
            }
            else if (num > 264 && num <= 286)
            {
                lista13.Add(m);
            }
            else if (num > 286 && num <= 308)
            {
                lista14.Add(m);
            }
            else if (num > 308 && num <= 330)
            {
                lista15.Add(m);
            }
            else if (num > 330 && num <= 352)
            {
                lista16.Add(m);
            }

            ++num;
        }

        listaGeneral.Add("lista1", lista1);
        listaGeneral.Add("lista2", lista2);
        listaGeneral.Add("lista3", lista3);
        listaGeneral.Add("lista4", lista4);
        listaGeneral.Add("lista5", lista5);
        listaGeneral.Add("lista6", lista6);
        listaGeneral.Add("lista7", lista7);
        listaGeneral.Add("lista8", lista8);
        listaGeneral.Add("lista9", lista9);
        listaGeneral.Add("lista10", lista10);
        listaGeneral.Add("lista11", lista11);
        listaGeneral.Add("lista12", lista12);
        listaGeneral.Add("lista13", lista13);
        listaGeneral.Add("lista14", lista14);
        listaGeneral.Add("lista15", lista15);
        listaGeneral.Add("lista16", lista16);
    }
}

<link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
<style>
    .table-bordered {
        border: 2px solid black !important;
    }

        .table-bordered th, .table-bordered td {
            border: 2px solid black !important;
        }

    .border {
        border: 2px solid black !important;
    }

    .container {
        font-family: Arial;
    }

    .cls-contenido {
        margin-top: 50px;
    }

    @@media print {
        .container {
            max-width: 100%;
        }

        .cls-footer {
            position: fixed;
            bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
</style>

<div class="container">
    @if (listaGeneral != null && listaGeneral.Count >= 1)
    {
        foreach (KeyValuePair<string, List<Rpt_TempHumed_E>> datos1 in listaGeneral)
        {
            if (datos1.Value != null && datos1.Value.Count >= 1)
            {
                <div style="@if (!datos1.Key.Equals("lista1")) { Write("margin-top: 320px;"); }">
                    <table border="0" width="100%">
                        <tr>
                            <td colspan="2"><img width="200" src="~/imagenes/logoventa2.jpg" /></td>
                            <td></td>
                            <td></td>
                            <td colspan="2" align="right"><span class="font-weight-bold" style="font-size: 20px">REG-027-03</span></td>
                        </tr>
                        <tr>
                            <td width="540" class="text-center font-weight-bold" colspan="6" style="font-size: 20px">CONTROL DE TEMPERATURA Y HUMEDAD (TRANSPORTE)</td>
                        </tr>
                    </table>

                    <div class="row" style="margin-top: 50px">
                        <div class="col-5">
                            <table border="0" style="font-size: 16px">
                                <tr>
                                    <td class="font-weight-bold">PLACA:</td>
                                    <td style="border-bottom: dotted 2px; padding-left: 20px; padding-right: 20px ">@ViewBag.Placa</td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-5">
                            <table border="0" style="font-size: 16px">
                                <tr>
                                    <td class="font-weight-bold">SERIE:</td>
                                    <td style="border-bottom: dotted 2px; padding-left: 20px; padding-right: 20px ">
                                        @if (Model != null && Model.Count >= 1)
                                        {
                                            Write(Model[0].Serie);
                                        }
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>

                <div class="row cls-contenido">
                    <div class="col-12">
                        <table class="table-bordered" width="100%" style="font-size: 14px">
                            <thead>
                                <tr>
                                    <td class="font-weight-bold text-center">Fecha</td>
                                    <td class="font-weight-bold text-center">N° DE<br />DOCUMENTO</td>
                                    <td class="font-weight-bold text-center">N° DE TICKET<br />O GUÍA</td>
                                    <td class="font-weight-bold text-center">Hora Salida</td>
                                    <td class="font-weight-bold text-center">T°<br />(15-25°C)</td>
                                    <td class="font-weight-bold text-center">Humedad<br />(50-80%)</td>
                                    <td class="font-weight-bold text-center">Hora<br />Llegada</td>
                                    <td class="font-weight-bold text-center">T°<br />(15-25°C)</td>
                                    <td class="font-weight-bold text-center">Humedad<br />(50-80%)</td>
                                    <td class="font-weight-bold text-center">Encargado</td>
                                    <td class="font-weight-bold text-center">V° B</td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (datos1.Value != null && datos1.Value.Count >= 1)
                                {
                                    foreach (var datos2 in datos1.Value)
                                    {
                                        <tr>
                                            <td class="text-center" style="vertical-align: top;">@datos2.Fecha</td>
                                            <td class="text-center" style="vertical-align: top;">@datos2.Documento</td>
                                            <td class="text-center" style="vertical-align: top;">@datos2.Codigo</td>
                                            <td class="text-center" style="vertical-align: top;">@datos2.HoraSalida</td>
                                            <td class="text-center" style="vertical-align: top;">@datos2.TempI.ToString("N1") °C</td>
                                            <td class="text-center" style="vertical-align: top;">@datos2.HumedI  %</td>
                                            <td class="text-center" style="vertical-align: top;">@datos2.HoraLlegada</td>
                                            <td class="text-center" style="vertical-align: top;">@datos2.TempF.ToString("N1") °C</td>
                                            <td class="text-center" style="vertical-align: top;">@datos2.HumedF  %</td>
                                            <td class="text-center" style="vertical-align: top;">@datos2.Encargado</td>
                                            <td class="text-center">
                                                @if (datos2.TempI >= 15 && datos2.TempI <= 25 && datos2.HumedI >= 50 && datos2.HumedI <= 80 && datos2.TempF >= 15 && datos2.TempF <= 25 && datos2.HumedF >= 50 && datos2.HumedF <= 80)
                                                {
                                                    <img src="~/Content/img/checkAzul.png" width="40" />
                                                }
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="cls-footer w-100">
                    <div class="row mt-4 justify-content-center ">
                        <div class="col-12">
                            <table width="100%" style="font-size: 14px">
                                <tr>
                                    <td width="10%" class="font-weight-bold align-top">Observaciones:</td>
                                    <td width="90%" style="border-bottom: dotted 2px;"></td>
                                </tr>
                            </table>

                            <table width="100%">
                                <tr>
                                    <td height="30" style="border-bottom: dotted 2px;"></td>
                                </tr>
                                <tr>
                                    <td height="30" style="border-bottom: dotted 2px;"></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row justify-content-center " style="margin-top: 50px">
                        <div class="col-10">
                            <table>
                                <tr>
                                    <td class="border text-center" width="300" height="100">
                                        @if (ViewBag.FirmaTransportista != null)
                                        {<img src="@ViewBag.FirmaTransportista" width="150" />}
                                    </td>
                                    <td class="" width="300"></td>
                                    <td class="border text-center" width="300" height="100">
                                        @if (ViewBag.FirmaDT != null)
                                        {<img src="@ViewBag.FirmaDT" width="150" />}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border text-center font-weight-bold">TRANSPORTISTA</td>
                                    <td>&nbsp;</td>
                                    <td class="border text-center font-weight-bold">DIRECTOR TÉCNICO</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <h2 class="text-danger text-center my-3">NO SE ENCONTRARON REGISTROS</h2>
        <h2 class="text-danger text-center my-3">CON LA FECHA Y PLACA SELECCIONADA</h2>
    }
</div>
