@model Capa_Entidad.AtencionCliente_ENT.TablasSql.OSAT_E
@using Capa_Entidad.AtencionCliente_ENT.TablasSql
@{
    ViewBag.Title = "CulminarSolicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CC_OSAT_E> DatosAtencion = (List<CC_OSAT_E>)ViewBag.DatosAtencion;
    List<CC_OSAT_E> DatosCulminacion = (List<CC_OSAT_E>)ViewBag.DatosCulminacion;
}
<style>
    #Articulos td {
        font-size: 13px;
    }

    th {
        padding: 10px;
    }
</style>
<script>
    function culminarSolicitud() {
        var object = $("#CulminarSolicitud").serialize();
        $.ajax('/AtencionCliente/validarCulminarSolicitud',
            {
                data: object,
                dataType: 'html',
                cache: false,
                type: 'post'
            })
            .done(function (response) {
                if (response != "true") { swal.fire({ title: response, text: "Presione OK para continuar", icon: "warning" }); return false }
                else { $("#CulminarSolicitud").submit(); }
            });
    }

    function revertirCulminarSolicitud() {
        var object = $("#CulminarSolicitud").serialize();
        Swal.fire({
            title: '¿Está seguro(a) de revertir la culminación?',
            text: "Se restauraran los datos del último cambio",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, estoy seguro(a)',
            cancelButtonText: 'Cancelar'

        }).then(result => {
            if (result.value) {
                $(location).attr('href', "/AtencionCliente/RevertirCulminarSolicitud?" + object);
            }
        });
    }
</script>


<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li><a href="@Url.Action("GestionSolicitud", "AtencionCliente")">Módulo gestión de solicitudes</a></li>
            <li class="current"><em>Culminación de solicitud</em></li>
        </ol>
    </nav>
</div>

<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">CULMINACIÓN DE SOLICITUD</h3></div>
</div>

<div class="bg-form-pestanas-cobefar">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CulminarSolicitud", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="bg-section-form p-4 bg-form-cobefar">
            <div class="row mt-2">
                @Html.EditorFor(model => model.DocEntry, new { htmlAttributes = new { @type = "hidden", @readonly = "true" } })
                <div class="col-lg-3">
                    <label for="Tipo" class="text-dark form-label font-weight-bold font-18">Tipo:</label>
                    @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control text-center border-success", @readonly = true } })
                </div>

                <div class="col-lg-3">
                    <label for="Estado" class="text-dark form-label font-weight-bold font-18">Estado:</label>
                    @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control text-center border-success", @readonly = true } })
                </div>

            </div>


            <div class="row mt-4">
                <div class="col-lg-3">
                    <label for="DocNum" class="text-dark form-label font-weight-bold font-18">N° Solicitud:</label>
                    @Html.EditorFor(model => model.DocNum, new { htmlAttributes = new { @class = "form-control text-center border-success", @readonly = true } })
                </div>

                @if (Model.Tipo != null && !Model.Tipo.Equals("Reclamo"))
                {
                    <div class="col-lg-3">
                        <label for="TipoVenta" class="text-dark form-label font-weight-bold font-18">Tipo de Venta:</label>
                        <input type="text" class="form-control border-success text-center" id="TipoVenta" name="TipoVenta" readonly value="@ViewBag.TipoVenta">
                    </div>

                    <div class="col-lg-3">
                        <label for="CanalVenta" class="text-dark form-label font-weight-bold font-18">Canal de Venta:</label>
                        <input type="text" class="form-control border-success text-center" id="CanalVenta" name="CanalVenta" readonly value="@ViewBag.CanalVenta">
                    </div>
                }

                <div class="col-lg-3">
                    <label for="Factor" class="text-dark form-label font-weight-bold font-18">Factor:</label>
                    @Html.EditorFor(model => model.Factor, new { htmlAttributes = new { @class = "form-control text-center border-success", @readonly = true } })
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-3">
                    <label for="DocNumTicket" class="text-dark form-label font-weight-bold font-18">N° Ticket:</label>
                    @Html.EditorFor(model => model.DocNumTicket, new { htmlAttributes = new { @class = "form-control text-center border-success", @readonly = true } })
                </div>

                <div class="col-lg-3">
                    <label for="Resultado" class="text-dark form-label font-weight-bold font-18">Resultado:</label>
                    @Html.EditorFor(model => model.Resultado, new { htmlAttributes = new { @class = "form-control text-center border-success", @readonly = true } })
                </div>

                <div class="col-lg-3">
                    <label for="TipoSolucion" class="text-dark form-label font-weight-bold font-18">Tipo Solución:</label>
                    @Html.EditorFor(model => model.TipoSolucion, new { htmlAttributes = new { @class = "form-control text-center border-success", @readonly = true } })
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-12">
                    <label for="LugarDestino" class="text-dark form-label font-weight-bold font-18">Solución:</label>
                    @Html.EditorFor(model => model.Solucion, new { htmlAttributes = new { @class = "form-control border-success text-center", @readonly = true } })
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-2">
                    <label for="FechaAtencion" class="text-dark form-label font-weight-bold font-18">Fecha de atención:</label>
                    <input id="FechaAtencion" name="FechaAtencion" class="form-control text-center border-success" value="@DatosAtencion[0].FechaOperacion" readonly />
                </div>

                <div class="col-lg-4">
                    <label for="OpAtencion" class="text-dark form-label font-weight-bold font-18">OpAtención:</label>
                    <input id="OpAtencion" name="OpAtencion" class="form-control text-center border-success" value="@DatosAtencion[0].Operario" readonly />
                </div>

                <div class="col-lg-2">
                    <label for="FechaCulminacion" class="text-dark form-label font-weight-bold font-18">Fecha de Culminac.:</label>
                    <input id="FechaCulminacion" name="FechaCulminacion" class="form-control text-center border-success" value="@DatosCulminacion[0].FechaOperacion" readonly />
                </div>

                <div class="col-lg-4">
                    <label for="OpCulminacion" class="text-dark form-label font-weight-bold font-18">OpCulminación:</label>
                    <input id="OpCulminacion" name="OpCulminacion" class="form-control text-center border-success" value="@DatosCulminacion[0].Operario" readonly />
                </div>
            </div>

            <div class="row mt-4 mb-5">
                <div class="col-lg-4">
                    <label for="TipoError" class="text-dark form-label font-weight-bold font-18">Tipo de Error:</label>
                    <input type="text" id="TipoError" name="TipoError" class="form-control text-center border-success" value="@Model.Det[0].TipoError" readonly />
                </div>

                <div class="col-lg-4">
                    <label for="Problema" class="text-dark form-label font-weight-bold font-18">Problema:</label>
                    <input type="text" id="Problema" name="Problema" class="form-control text-center border-success" value="@Model.Det[0].Problema" readonly />
                </div>

                @if (!string.IsNullOrEmpty(ViewBag.ErrorAlmacen))
                {
                    <div class="col-lg-4">
                        <label for="ErrorAlmacen" class="text-dark form-label font-weight-bold font-18">Error de almacén:</label>
                        <input type="text" class="form-control border-success text-center" id="ErrorAlmacen" name="ErrorAlmacen" readonly value="@ViewBag.ErrorAlmacen">
                    </div>
                }
            </div>

            <h4 class="text-cobefar font-weight-bold">DATOS DEL CLIENTE</h4>

            <div class="row mt-2">
                <div class="col-lg-6">
                    <label for="Contacto" class="text-dark form-label font-weight-bold font-18">Contacto:</label>
                    @Html.EditorFor(model => model.Contacto, new { htmlAttributes = new { @class = "form-control border-success text-center", @readonly = true } })
                </div>

                <div class="col-lg-4">
                    <label for="Correo" class="text-dark form-label font-weight-bold font-18">Correo:</label>
                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control border-success text-center", @readonly = true } })
                </div>

                <div class="col-lg-2">
                    <label for="Telefono" class="text-dark form-label font-weight-bold font-18">Teléfono:</label>
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control border-success text-center", @readonly = true } })
                </div>

            </div>

            <div class="row mt-4">
                <div class="col-lg-12">
                    <label for="DireccionRecojo" class="text-dark form-label font-weight-bold font-18">Dirección:</label>
                    @Html.EditorFor(model => model.DireccionRecojo, new { htmlAttributes = new { @class = "form-control border-success text-center", @readonly = true } })
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-12">
                    <table id="ArtAten" class="table table-light table-sm table-hover table-responsive table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center" style="width:50px">NroSap OV</th>
                                <th class="text-center" style="width:50px">Código</th>
                                <th class="text-center" style="width:300px">Descripción</th>
                                <th class="text-center" style="width:100px">Lote</th>
                                <th class="text-center" style="width:100px">Fec Ven</th>
                                <th class="text-center" style="width:50px">UM Ven</th>
                                <th class="text-center" style="width:50px">NumPerMsr</th>
                                <th class="text-center" style="width:50px">Cant Ven</th>
                                <th class="text-center" style="width:50px">Precio</th>
                                <th class="text-center" style="width:50px">UM</th>
                                <th class="text-center" style="width:50px">Cant Rec</th>
                                <th class="text-center" style="width:50px">Total</th>
                                <th class="text-center" style="width:100px">OpResponsable</th>
                                <th class="text-center" style="width:100px">Comentario</th>
                                <th class="text-center" style="width:100px">Regalo</th>
                                <th class="text-center" style="width:100px">MotRegalo</th>
                                <th class="text-center" style="width:100px">Tarea Fact</th>
                                <th class="text-center" style="width:100px">Comprobante Vin</th>
                                <th class="text-center" style="width:100px">Alm Transf</th>
                                <th class="text-center" style="width:80px">Alm Venta</th>
                                <th class="text-center" style="width:100px">Doc. Fact.</th>
                                @if (Model.TipoSolucion.Equals("NotaDeCredito"))
                                {
                                    <th class="text-center" style="width:100px">NC SAP</th>
                                }
                            </tr>
                        </thead>
                        <tbody style="background: #D1D1D1">
                            @{
                                int i = 0;
                                Dictionary<string, string> unitMsrF = new Dictionary<string, string>();
                                unitMsrF.Add("C", "CAJA");
                                unitMsrF.Add("P", "PIEZA");
                            }

                            @foreach (var obj in Model.Det)
                            {
                                <tr>
                                    <td class="text-center">
                                        <input type='hidden' name='Det[@i].Linea' value='@obj.Linea' readonly />
                                        <input type='hidden' name='Det[@i].Problema' id='Det@(i)Problema' value='@obj.Problema' readonly />
                                        <input type='hidden' name='Det[@i].TipoError' id='Det@(i)TipoError' value='@obj.TipoError' readonly />
                                        <input type='hidden' class="cls-ErrorAlmacen" name='Det[@i].ErrorAlmacen' id='Det@(i)ErrorAlmacen' value='@obj.ErrorAlmacen' readonly />
                                        <input type='hidden' name='Det[@i].NroSap' value='@obj.NroSap' readonly />@obj.NroSap
                                    </td>
                                    <td class="text-center"><input type="hidden" name="Det[@i].ItemCode" value="@obj.ItemCode" readonly />@obj.ItemCode</td>
                                    <td class="text-center"><input type="hidden" name="Det[@i].Dscription" value="@obj.Dscription" readonly />@obj.Dscription</td>
                                    <td class="text-center"><input type="hidden" name="Det[@i].BatchNum" value="@obj.BatchNum" readonly />@obj.BatchNum</td>
                                    <td class="text-center"><input type="hidden" name="Det[@i].ExpDate" value="@obj.ExpDate" readonly />@obj.ExpDate</td>
                                    <td class="text-center"><input type="hidden" name="Det[@i].unitMsr" value="@obj.UnitMsr" readonly />@obj.UnitMsr</td>
                                    <td class="text-center"><input type="hidden" name="Det[@i].NumPerMsr" id="Det@(i)NumPerMsr" value="@obj.NumPerMsr" readonly />@obj.NumPerMsr</td>
                                    <td class="text-center"><input type="hidden" name="Det[@i].Quantity" value="@obj.Quantity" readonly />@obj.Quantity</td>
                                    <td class="text-center"><input type="hidden" name="Det[@i].PriceAfVAT" id="Det@(i)PriceAfVAT" value="@obj.PriceAfVAT" readonly />@obj.PriceAfVAT</td>
                                    <td class="text-center"><input type="hidden" name="Det[@i].unitMsrF" value="@obj.unitMsrF" readonly />@unitMsrF[obj.unitMsrF]</td>
                                    <td class="text-center"><input type="hidden" name="Det[@i].QuantityF" value="@obj.QuantityF" id="Det@(i)QuantityF" readonly>@obj.QuantityF</td>
                                    <td class="text-center"><input type="hidden" name="Det[@i].LineTotalF" value="@obj.LineTotalF" id="Det@(i)LineTotalF" readonly />@obj.LineTotalF</td>
                                    <td class="text-center"><input type="hidden" name="Det[@i].OpResponsable" value="@obj.OpResponsable" readonly />@obj.OpResponsable</td>
                                    <td class="text-center"><input type="hidden" name="Det[@i].Comentario" value="@obj.Comentario" readonly />@obj.Comentario</td>
                                    <td class="text-center"><input type="hidden" name="Det[@i].Regalo" value="@obj.Regalo" readonly />@obj.Regalo</td>
                                    <td class="text-center"><input type="hidden" name="Det[@i].MotRegalo" value="@obj.MotRegalo" readonly />@obj.MotRegalo</td>
                                    <td class="text-center"><input type="hidden" name="Det[@i].TareaFact" value="@obj.TareaFact" readonly />@obj.TareaFact</td>
                                    <td class="text-center"><input type="hidden" name="Det[@i].ComprobanteVinc" value="@obj.ComprobanteVinc" readonly />@obj.ComprobanteVinc</td>
                                    <td class="text-center"><input type="hidden" name="Det[@i].AlmTransf" value="@obj.AlmTransf" readonly />@obj.AlmTransf</td>
                                    <td class="text-center"><input type='hidden' name='Det[@i].AlmVenta' value='@obj.AlmVenta' readonly />@obj.AlmVenta</td>
                                    @if (Model.Estado == "Culminado")
                                    {
                                        <td class="text-center"><input type='hidden' name='Det[@i].ComprobanteFin' value='@obj.ComprobanteFin' readonly />@obj.ComprobanteFin</td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><input class='form-control text-center' type='text' name='Det[@i].ComprobanteFin' value='@obj.ComprobanteFin' style="width: 200px" autocomplete="off" /></td>
                                    }

                                    @if (Model.TipoSolucion != null && Model.TipoSolucion.Equals("NotaDeCredito"))
                                    {
                                        if (Model.Estado == "Culminado")
                                        {
                                            <td class="text-center"><input type='hidden' name='Det[@i].NCSAP' value='@obj.NCSAP' readonly />@obj.NCSAP</td>
                                        }
                                        else
                                        {
                                            <td class="text-center"><input class='form-control cls-numeric text-center' type='text' name='Det[@i].NCSAP' value='@obj.NCSAP' style="width: 200px" autocomplete="off" /></td>
                                        }
                                    }

                                </tr>
                                { i++; }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-6">
                    <button type="button" class="btn btn-success" onclick="culminarSolicitud();"><i class="icon icon-checkmark"></i> Culminar</button>
                    <button type="button" class="btn btn-danger" onclick="revertirCulminarSolicitud();"><i class="icon icon-undo"></i> Revertir</button>
                </div>
            </div>

        </div>

    }
</div>


<script>
    if ('@ViewBag.Mensaje' != "") {
        swal.fire({
            title: "@ViewBag.Mensaje",
            text: "Presione OK para continuar",
            icon: "warning"
        })
    };

    $('.cls-numeric').keypress(function (tecla) {
        // 0-9 && enter
        if ((tecla.charCode < 48 || tecla.charCode > 57) && tecla.charCode != 13) {
            return false;
        }
    });
</script>