@model IEnumerable<Capa_Entidad.AtencionCliente_ENT.TablasSql.OSAT_E>
@using Capa_Entidad.AtencionCliente_ENT.TablasSql
@{
    ViewBag.Title = "GestionSolicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
    OSAT_E f = (OSAT_E)ViewBag.Osat;
}
<script>
    function filtrar() {
        var object = $("#frm").serialize();
        $(location).attr('href', "/AtencionCliente/GestionSolicitud?" + object);
    }
    function excel() {
        var object = $("#frm").serialize();
        $(location).attr('href', "/AtencionCliente/ExportarExcel?" + object);
    }
    function anular(id) {
        Swal.fire({
            title: '¿Esta seguro de anular?',
            text: "Luego no puede modificar los datos!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '¡Si, anular!'

        }).then(result => {
            if (result.value) {
                var parametros = { "DocEntry": id };
                $.ajax('/AtencionCliente/AnularSolicitud',
                    {
                        data: parametros,
                        dataType: 'json',
                        cache: false,
                        type: 'post'
                    })
                $(location).attr('href', "/AtencionCliente/GestionSolicitud");

            }
        });
    }
</script>
<style>
    .input_cls-estandar {
        height: 30px;
        font-size: 13px;
    }

    a {
        text-decoration: none;
        color: #000000;
    }

        a:hover {
            text-decoration: none;
            color: orangered;
        }



    .detalle {
        border-color: red;
    }

    .disabled {
        cursor: not-allowed;
        pointer-events: none;
    }
</style>

<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li class="current"><em>Módulo gestión de solicitudes</em></li>
        </ol>
    </nav>
</div>


<div class="border-cabecera-seccion bg-cobefar-degradado-1 pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">MÓDULO GESTIÓN DE SOLICITUDES</h3></div>

    <div class="d-flex pl-2 w-100 py-2">

        <div class="mx-2">
            <a id="accion" style="float:left; margin-right:20px;" href="@Url.Action("NuevaSolicitud", "AtencionCliente")" class="btn btn-success">
                <i class="icon icon-plus"></i> Nueva Solicitud
            </a>

            <button id="accion" onclick="excel();" class="btn btn-warning">
                <i class="icon icon-file-excel"></i> Exportar a Excel
            </button>
        </div>

    </div>
</div>



<div class="bg-dark pt-4">
    <form name="frm" id="frm">

        <table class="table table-light table-sm table-hover cls-dataTable " cellspacing="0" width="100%">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DocNum)
                        <input type="text" name="DocNum" class="form-control" onchange="filtrar();" style="width: 110px" value="@ViewBag.Osat.DocNum" />
                    </th>
                    <th>
                        TiempoRegistro
                        <input type="date" name="FechaRegistro" class="form-control" onchange="filtrar();" style="width: 130px" value="@f.FechaRegistro" />
                    </th>
                    <th>
                        N° Ticket<br />
                        <input type="text" name="DocNumTicket" class="form-control" onchange="filtrar();" value="@if (ViewBag.Osat.DocNumTicket >= 1) { Write(ViewBag.Osat.DocNumTicket); }" />
                    </th>
                    <th>
                        Cliente<br />
                        <input type="text" name='DetORTV[CardName]' class="form-control" onchange="filtrar();" value="@if (f.DetORTV != null) { Write(f.DetORTV["CardName"]); }" />
                    </th>
                    <th>
                        LugarDestino<br />
                        <select type="text" name='DetORTV[LugarDestino]' class="form-control" onchange="filtrar();">
                            <option value="">Seleccione</option>
                            <option value="Arriola" @if (f.DetORTV != null) { if (f.DetORTV["LugarDestino"] == "Arriola") { Write("selected"); } }>Arriola</option>
                            <option value="Domicilio" @if (f.DetORTV != null) { if (f.DetORTV["LugarDestino"] == "Domicilio") { Write("selected"); } }>Domicilio</option>
                            <option value="Centro" @if (f.DetORTV != null) { if (f.DetORTV["LugarDestino"] == "Centro") { Write("selected"); } }>Centro</option>
                            <option value="Agencia" @if (f.DetORTV != null) { if (f.DetORTV["LugarDestino"] == "Agencia") { Write("selected"); } }>Agencia</option>
                            <option value="Agencia Courier" @if (f.DetORTV != null) { if (f.DetORTV["LugarDestino"] == "Agencia Courier") { Write("selected"); } }>Agencia Courier</option>
                        </select>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                        <select name="Estado" class="form-control" onchange="filtrar();" style="width: 120px;">
                            <option value="">Seleccione</option>
                            <option value="Registrado" @if (f.Estado == "Registrado") { Write("selected"); }>Registrado</option>
                            <option value="Proceso" @if (f.Estado == "Proceso") { Write("selected"); }>Proceso</option>
                            <option value="Atendido" @if (f.Estado == "Atendido") { Write("selected"); }>Atendido</option>
                            <option value="Culminado" @if (f.Estado == "Culminado") { Write("selected"); }>Culminado</option>
                            <option value="Anulado" @if (f.Estado == "Anulado") { Write("selected"); }>Anulado</option>
                        </select>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Resultado)
                        <input type="text" name="Resultado" class="form-control" onchange="filtrar();" value="@ViewBag.Osat.Resultado" />
                    </th>
                    <th>
                        TiempoAtención
                        <input type="date" name="FechaAtencion" class="form-control" onchange="filtrar();" style="width: 130px" value="@f.FechaAtencion" />
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tipo)
                        <select type="text" name="Tipo" class="form-control" onchange="filtrar();">
                            <option value="">Seleccione</option>
                            <option value="Devolucion" @if (ViewBag.Osat.Tipo == "Devolucion") { Write("selected"); }>Devolucion</option>
                            <option value="Reclamo" @if (ViewBag.Osat.Tipo == "Reclamo") { Write("selected"); }>Reclamo</option>
                            <option value="SolicitudInterna" @if (ViewBag.Osat.Tipo == "SolicitudInterna") { Write("selected"); }>Solicitud Interna</option>
                        </select>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Factor)
                        <select type="text" name="Factor" class="form-control" onchange="filtrar();">
                            <option value="">Seleccione</option>
                            <option value="Interno" @if (ViewBag.Osat.Factor == "Interno") { Write("selected"); }>Interno</option>
                            <option value="Externo" @if (ViewBag.Osat.Factor == "Externo") { Write("selected"); }>Externo</option>
                            <option value="Interno-Externo" @if (ViewBag.Osat.Factor == "Interno-Externo") { Write("selected"); }>Interno-Externo</option>
                        </select>
                    </th>
                    <th>
                        DocFact<br />
                        <input type="text" name="DocFact" id="doc_fact" style="width: 120px;" class="form-control input_cls-estandar" onchange="filtrar();" value="@f.DocFact" />
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.DocNum)
                        </td>
                        <td class="text-center">
                            @item.FechaRegistro
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.DocNumTicket)
                        </td>
                        <td class="text-center">
                            @item.DetORTV["CardName"]
                        </td>
                        <td class="text-center">
                            @item.DetORTV["LugarDestino"]
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Resultado)
                        </td>
                        <td class="text-center">
                            @item.FechaAtencion
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Factor)
                        </td>
                        <td class="text-center">
                            @item.enlistarDetSolicitudes()
                        </td>
                        <td style="width: 20px">
                            <a href="@Url.Action( "DetallesSolicitud", "AtencionCliente", new { id = item.DocEntry })"><i title="Detalles" class="icon-search text-primary"></i></a>
                            @*<a href="#"><i title="Ver Detalle" class="text-cobefar icon-eye" data-toggle="modal" data-target="#modal_detalleLab" onclick="verDetalleLab(@item.DocEntry);"></i></a>*@
                            @*<a href="#"><i title="Documentos" class="icon-folder-open text-warning" data-toggle="modal" data-target="#M@(item.DocEntry)"></i></a>*@

                            @if (item.Estado.Equals("Registrado"))
                            {
                                <a href="@Url.Action( "EditarSolicitud", "AtencionCliente", new { id = item.DocEntry } )"><i title="Editar" class="text-purple icon-pencil2"></i></a>
                                <a href="@Url.Action( "ProcesarSolicitud", "AtencionCliente",new { id = item.DocEntry } )"><i title="Procesar" class="icon-history"></i></a>
                                <button style="border: none; background:none;" type="button" onclick="anular(@item.DocEntry);"><i title="Anular" class="icon-bin2 text-danger"></i></button>
                            }
                            else if (item.Estado.Equals("Proceso"))
                            {
                                <a href="@Url.Action( "ProcesarSolicitud", "AtencionCliente",new { id = item.DocEntry } )"><i title="Procesar" class="icon-history"></i></a>
                                <a href="@Url.Action( "AtenderSolicitud", "AtencionCliente", new { id = item.DocEntry } )"><i title="Atender" class="icon-clipboard"></i></a>
                            }
                            else if (item.Estado.Equals("Atendido"))
                            {
                                <a href="@Url.Action( "AtenderSolicitud", "AtencionCliente", new { id = item.DocEntry } )"><i title="Atender" class="icon-clipboard"></i></a>
                                <a href="@Url.Action( "CulminarSolicitud", "AtencionCliente",new { id = item.DocEntry } )"><i title="Culminar" class="icon-pushpin"></i></a>
                            }
                            else if (item.Estado.Equals("Culminado"))
                            {
                                <a href="@Url.Action( "CulminarSolicitud", "AtencionCliente",new { id = item.DocEntry } )"><i title="Culminar" class="icon-pushpin"></i></a>
                            }
                        </td>
                    </tr>

                    if (item.Det != null)
                    {
                        if (item.Det.Count > 0)
                        {
                            <tr>
                                <td></td>
                                <td colspan="10">
                                    <table class="table table-light table-sm table-hover table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="bg-success text-center">Codigo</th>
                                                <th class="bg-success text-center">Descripcion</th>
                                                <th class="bg-success text-center">Lote</th>
                                                <th class="bg-success text-center">Fec. Ven</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-secondary">
                                            @foreach (var obj in item.Det)
                                            {
                                                <tr class="detalle">
                                                    <td class="text-center">@obj.ItemCode</td>
                                                    <td class="text-center">@obj.Dscription</td>
                                                    <td class="text-center">@obj.BatchNum</td>
                                                    <td class="text-center">@obj.ExpDate</td>

                                                </tr>
                                            }

                                        </tbody>

                                    </table>
                                </td>
                                <td style="display:none"></td>
                                <td style="display:none"></td>
                                <td style="display:none"></td>
                                <td style="display:none"></td>
                                <td style="display:none"></td>
                                <td style="display:none"></td>
                                <td style="display:none"></td>
                                <td style="display:none"></td>
                                <td style="display:none"></td>
                                <td style="display:none"></td>
                                <td></td>
                            </tr>
                        }

                    }

                    <!-- Modal -->
                    <!--<div class="modal fade" id="M@(item.DocEntry)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Documentos</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <a href="@Url.Action("RptDocEnvio", "AtencionCliente", new { id = item.DocEntry })" class="btn btn-success">
                                        <i class="icon-file-pdf"></i>
                                        <span><strong>DocEnvio</strong></span>
                                    </a><p></p>
                                    <p style="text-align:center; color:brown">Area Dirección Técnica</p>
                                    <a href="@Url.Action("RptDocReg015", "AtencionCliente", new {  id = item.DocEntry})" class="btn btn-success">
                                        <i class="icon-file-pdf"></i>
                                        <span><strong>Doc REG-015</strong></span>
                                    </a>
                                    <a href="@Url.Action("RptDocReg016", "AtencionCliente", new {  id = item.DocEntry })" class="btn btn-success">
                                        <i class="icon-file-pdf"></i>
                                        <span><strong>Doc REG-016</strong></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>-->
                }
            </tbody>


        </table>

    </form>
</div>


@*<div class="modal fade" id="modal_detalleLab" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-cobefar text-white">
                <h5 class="modal-title" id="exampleModalLabel">Detalles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="contenido_modal" class="modal-body text-center">
            </div>
        </div>
    </div>
</div>*@

@*<script>
    function verDetalleLab(docEntry) {
        $.ajax('/AtencionCliente/ObtenerDetalleSolicitud',
            {
                data: { DocEntry: docEntry },
                dataType: 'JSON',
                cache: false,
                type: 'POST'
            }).done(function (response) {
                let modal = `<div class="modal-body text-center">
                                <table class="table table-light table-sm table-hover table-bordered" cellspacing="0" width="100%">
                                    <thead class="bg-success">
                                        <tr>
                                            <th class="text-center">Código</th>
                                            <th class="text-center">Descripción</th>
                                            <th class="text-center">Lote</th>
                                            <th class="text-center">Fecha Venc.</th>
                                        </tr>
                                    </thead>

                                    <tbody>`;
                if (response[0]) {
                    for (let indice in response) {
                        modal += `<tr class="detalle">
                                                                <td class="text-center">${response[indice].ItemCode}</td>
                                                                <td class="text-center">${response[indice].Dscription}</td>
                                                                <td class="text-center">${response[indice].BatchNum}</td>
                                                                <td class="text-center">${response[indice].ExpDate}</td>
                                                            </tr>`;
                    }
                }
                modal += `</tbody>
                                    </table>
                                </div>`;
                $('#contenido_modal').html(modal);
            });
    }
</script>*@