@model Capa_Entidad.AtencionCliente_ENT.TablasSql.OSAT_E

@{
    ViewBag.Title = "ProcesarSolicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dictionary<int, string> Adjuntos = (Dictionary<int, string>)ViewBag.Adjuntos;
    int cantidadAdjuntos = (Adjuntos != null) ? Adjuntos.Count() : 0;
}
<style>
    #Articulos td {
        font-size: 13px;
    }

    #Articulos th {
        color: black;
    }

    th {
        padding: 10px;
    }

    i:hover {
        cursor: pointer;
    }
</style>
<script>
    var Art;
    var Lin = @(Model.Det.Count);

    function verSeguimiento(DocEntryT) {
        if (DocEntryT != null && DocEntryT > 0) {
            window.open("/Ventas/SeguimientoDeTicket?DocEntry=" + DocEntryT, "_blank", 'width=1200,height=650,top=120,left=100,toolbar=no,location=no,status=no,menubar=no');
        }
    }

    function validarEnviarFormulario() {
        var object = $("#ProcesarSolicitud").serialize();
        $.ajax('/AtencionCliente/validarProcesarSolicitud',
            {
                data: object,
                dataType: 'html',
                cache: false,
                type: 'post'
            })
            .done(function (response) {
                if (response != "true") { swal.fire({ title: response, text: "Presione OK para continuar", icon: "warning" }); return false }
                else { $("#ProcesarSolicitud").submit(); }
            });
    }
    function validarEnviarFormularioRevertir() {
        var object = $("#ProcesarSolicitud").serialize();
        Swal.fire({
            title: '¿Está seguro(a) de revertir el proceso?',
            text: "Se restaurarán los datos del último cambio!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '¡Si, revertir!'
        }).then(result => {
            if (result.value) {
                $(location).attr('href', "/AtencionCliente/RevertirProcesarSolicitud?" + object);
            }
        });
    }
    function filtrarArticulo(dom) {
        desc = $(dom).val().toLowerCase();
        $("#Articulos > tbody" + " tr").each(function (index, htm) {
            if (index > 0) {
                if (desc.length == 0) {
                    $(htm).attr("class", "");
                }
                else {
                    if ($(htm).text().toLowerCase().indexOf(desc) == -1) {
                        $(htm).attr("class", "d-none");
                    }
                    else {
                        $(htm).attr("class", "");
                    }
                }
            }

        })
    }
</script>

<div class="pt-4">
    <nav>
        <ol class="cd-breadcrumb bg-dark">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li><a href="@Url.Action("GestionSolicitud", "AtencionCliente")">Módulo gestión de solicitudes</a></li>
            <li class="current"><em>Procesar solicitud</em></li>
        </ol>
    </nav>
</div>

<div class="bg-dark border-cabecera-seccion pb-2">
    <div class="px-3 pt-3"><h3 class="titulo-seccion">PROCESAR SOLICITUD</h3></div>
</div>


<div class="bg-form-pestanas-cobefar">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ProcesarSolicitud", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="bg-section-form p-4 bg-form-cobefar">
            <div class="row mt-2">
                @Html.EditorFor(model => model.DocEntry, new { htmlAttributes = new { @type = "hidden", @readonly = "true" } })
                <div class="col-lg-3">
                    <label for="Tipo" class="text-dark form-label font-weight-bold font-18">Tipo:</label>
                    @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control text-center border-success", @readonly = true } })
                </div>

                <div class="col-lg-3">
                    <label for="Estado" class="text-dark form-label font-weight-bold font-18">Estado:</label>
                    @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control text-center border-success", @readonly = true } })
                </div>

                <div class="col-lg-3">
                    <label for="FechaRegistro" class="text-dark form-label font-weight-bold font-18">Fecha de registro:</label>
                    @Html.EditorFor(model => model.FechaRegistro, new { htmlAttributes = new { @type = "date", @class = "form-control text-center border-success", @readonly = true } })
                </div>

                <div class="col-lg-3">
                    <label for="OpRegistro" class="text-dark form-label font-weight-bold font-18">Registrador:</label>
                    @Html.EditorFor(model => model.OpRegistro, new { htmlAttributes = new { @class = "form-control text-center border-success", @readonly = true } })
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-3">
                    <label for="DocNum" class="text-dark form-label font-weight-bold font-18">N° Solicitud:</label>
                    @Html.EditorFor(model => model.DocNum, new { htmlAttributes = new { @class = "form-control text-center border-success", @readonly = true } })
                </div>

                @if (Model.Tipo != null && !Model.Tipo.Equals("Reclamo"))
                {
                    <div class="col-lg-3">
                        <label for="TipoVenta" class="text-dark form-label font-weight-bold font-18">Tipo de Venta:</label>
                        <input type="text" class="form-control border-success text-center" id="TipoVenta" name="TipoVenta" readonly value="@ViewBag.TipoVenta">
                    </div>

                    <div class="col-lg-3">
                        <label for="CanalVenta" class="text-dark form-label font-weight-bold font-18">Canal de Venta:</label>
                        <input type="text" class="form-control border-success text-center" id="CanalVenta" name="CanalVenta" readonly value="@ViewBag.CanalVenta">
                    </div>
                }

                <div class="col-lg-3">
                    <label for="DocNum" class="text-dark form-label font-weight-bold font-18">Factor:</label>
                    @if (Model.Estado == "Proceso")
                    {
                        @Html.EditorFor(model => model.Factor, new { htmlAttributes = new { @class = "form-control text-center border-success", @readonly = true } })
                    }
                    else if (Model.Estado == "Registrado")
                    {
                        <select name="Factor" id="Factor" class="form-control bg-cobefar text-white">
                            <option value="">Seleccione</option>
                            <option value="Interno">Interno</option>
                            <option value="Externo">Externo</option>
                            <option value="Interno-Externo">Interno-Externo</option>
                        </select>
                    }
                </div>
            </div>

            <div class="row mt-4 mb-5">
                <div class="col-lg-3">
                    <label for="DocNumTicket" class="text-dark form-label font-weight-bold font-18">N° Ticket:</label>
                    @Html.EditorFor(model => model.DocNumTicket, new { htmlAttributes = new { @class = "form-control text-center border-success", @readonly = "true" } })
                </div>

                <div class="col-lg-3 d-flex align-items-end">
                    <button type="button" id="Seg" onclick="verSeguimiento(@Model.DocEntryTicket)" class="btn btn-warning">
                        <i class="icon-pushpin"></i> Seguimiento
                    </button>
                </div>

                <div class="col-lg-3">
                    <label for="LugarDestino" class="text-dark form-label font-weight-bold font-18">Lugar de Destino:</label>
                    @Html.EditorFor(model => model.DetORTV["LugarDestino"], new { htmlAttributes = new { @class = "form-control text-center border-success", @readonly = "true" } })
                </div>
            </div>

            @Html.EditorFor(model => model.DetORTV["CardCode"], new { htmlAttributes = new { @type = "hidden", @readonly = "true" } })
            @Html.EditorFor(model => model.DetORTV["CardName"], new { htmlAttributes = new { @type = "hidden", @readonly = "true" } })

            <h4 class="text-cobefar font-weight-bold">DATOS DEL CLIENTE</h4>

            <div class="row mt-2">
                <div class="col-lg-4">
                    <label for="Contacto" class="text-dark form-label font-weight-bold font-18">Contacto:</label>
                    <input type="text" name="Contacto" id="Contacto" class="form-control border-success text-center" value="@Model.Contacto" readonly />
                </div>

                <div class="col-lg-4">
                    <label for="Correo" class="text-dark form-label font-weight-bold font-18">Correo:</label>
                    <input type="text" name="Correo" id="Correo" class="form-control border-success text-center" value="@Model.Correo" readonly />
                </div>

                <div class="col-lg-2">
                    <label for="Telefono" class="text-dark form-label font-weight-bold font-18">Teléfono:</label>
                    <input type="text" name="Telefono" id="Telefono" class="form-control border-success text-center" value="@Model.Telefono" readonly />
                </div>

            </div>

            <div class="row mt-4">
                <div class="col-lg-10">
                    <label for="DireccionRecojo" class="text-dark form-label font-weight-bold font-18">Dirección:</label>
                    <input type="text" name="DireccionRecojo" id="DireccionRecojo" class="form-control border-success" value="@Model.DireccionRecojo" autocomplete="off" readonly />
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-4">
                    <label for="TipoError" class="text-dark form-label font-weight-bold font-18">Tipo de Error:</label>
                    @Html.EditorFor(model => model.Det[0].TipoError, new { htmlAttributes = new { @class = "form-control border-success text-center", @readonly = true } })
                </div>

                <div class="col-lg-4">
                    <label for="Problema" class="text-dark form-label font-weight-bold font-18">Problema:</label>
                    @Html.EditorFor(model => model.Det[0].Problema, new { htmlAttributes = new { @class = "form-control border-success text-center", @readonly = true } })
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-12">
                    <table id="ArtAten" class="table table-light table-sm table-hover table-responsive-md">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center" style="width:50px">NroSap</th>
                                <th class="text-center" style="width:50px">Código</th>
                                <th class="text-center" style="width:200px">Descripción</th>
                                <th class="text-center" style="width:100px">Lote</th>
                                <th class="text-center" style="width:80px">Fecha Ven</th>
                                <th class="text-center" style="width:50px">Um Vend</th>
                                <th class="text-center" style="width:50px">Cant. Vend</th>
                                <th class="text-center" style="width:50px">Precio</th>
                                <th class="text-center" style="width:120px">Um</th>
                                <th class="text-center" style="width:80px">Cant.</th>
                                <th class="text-center" style="width:120px">Total</th>
                                <th class="text-center" style="width:140px">Operario Responsable</th>
                                <th class="text-center" style="width:80px">Alm Venta</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody style="background: #D1D1D1">
                            @{ int i = 0;}
                            @foreach (var obj in Model.Det)
                            {
                                <tr>
                                    <td>
                                        <input type='hidden' name='Det[@i].Problema' id='Det@(i)Problema' class="cls-Problema" value='@obj.Problema' readonly />
                                        <input type='hidden' name='Det[@i].TipoError' id='Det@(i)TipoError' class="cls-TipoError" value='@obj.TipoError' readonly />
                                        <input type='hidden' name='Det[@i].Linea' value='@obj.Linea' readonly />
                                        <input type='hidden' name='Det[@i].NroSap' value='@obj.NroSap' readonly />@obj.NroSap
                                    </td>
                                    <td class="text-center"><input class='form-control' type='hidden' name='Det[@i].ItemCode' value='@obj.ItemCode' readonly />@obj.ItemCode</td>
                                    <td class="text-center"><input type='hidden' name='Det[@i].Dscription' value='@obj.Dscription' readonly />@obj.Dscription</td>
                                    <td class="text-center"><input type='hidden' name='Det[@i].BatchNum' value='@obj.BatchNum' readonly />@obj.BatchNum</td>
                                    <td class="text-center"><input type='hidden' name='Det[@i].ExpDate' value='@obj.ExpDate' readonly />@obj.ExpDate</td>
                                    <td class="text-center">
                                        <input type='hidden' name='Det[@i].unitMsr' value='@obj.UnitMsr' readonly />@obj.UnitMsr
                                        <input type='hidden' name='Det[@i].NumPerMsr' id='Det@(i)NumPerMsr' value='@obj.NumPerMsr' readonly />
                                    </td>
                                    <td class="text-center"><input type='hidden' name='Det[@i].Quantity' value='@((int)obj.Quantity)' readonly />@((int)obj.Quantity)</td>
                                    <td class="text-center"><input type='hidden' name='Det[@i].PriceAfVAT' id='Det@(i)PriceAfVAT' value='@((double)obj.PriceAfVAT)' readonly />@((double)obj.PriceAfVAT)</td>
                                    <td class="text-center"><input type='hidden' name='Det[@i].unitMsrF' id='Det@(i)unitMsrF' value='@obj.unitMsrF' readonly />@obj.unitMsrF</td>
                                    <td class="text-center"><input type='hidden' name='Det[@i].QuantityF' id='Det@(i)QuantityF' value='@((int)obj.QuantityF)' readonly />@((int)obj.QuantityF)</td>
                                    <td class="text-center"><input type='hidden' name='Det[@i].LineTotalF' id='Det@(i)LineTotalF' value='@((double)obj.LineTotalF)' readonly />@((double)obj.LineTotalF)</td>
                                    <td class="text-center" style="width: 200px"><input type='@if (!string.IsNullOrEmpty(obj.OpResponsable)){Write("hidden");}else{Write("text");}' name='Det[@i].OpResponsable' id='Det@(i)OpResponsable' class="form-control" value='@obj.OpResponsable' list="usuarios" />@obj.OpResponsable</td>
                                    <td class="text-center"><input type='hidden' name='Det[@i].AlmVenta' id='Det@(i)AlmVenta' value='@obj.AlmVenta' readonly />@obj.AlmVenta</td>
                                    <td></td>


                                </tr>
                                { i++; }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <datalist id="usuarios">
                @foreach (var u in ViewBag.Usuarios)
                {
                    <option value="@u.Nombres @u.Apellidos"></option>
                }
            </datalist>

            @if (cantidadAdjuntos >= 1)
            {
                foreach (KeyValuePair<int, string> adj in Adjuntos)
                {
                    <div class="row mt-4">
                        <div class="col-lg-4">
                            <div class="d-flex">
                                <input class='form-control border-success' value='@adj.Value' readonly />
                                <a href="@Url.Action("ArchivoSolicitud", "AtencionCliente" , new { id = Model.DocEntry, linea = adj.Key } )" class="btn btn-cobefar"><i class="icon-folder-download"></i> Descargar</a>
                            </div>

                        </div>
                    </div>
                }
            }
            else
            {
                <div class="row mt-4">
                    <div class="col-lg-4">
                        <input class='form-control border-success' value='' readonly />
                        <button disabled class="btn btn-secondary"><i class="icon-folder-download"></i> Descargar</button>
                    </div>
                </div>

            }

            <div class="row mt-4">
                <div class="col-lg-6">
                    <label for="UrlArchivo" class="text-dark form-label font-weight-bold font-18">Url Drive:</label>
                    @Html.EditorFor(model => model.UrlArchivo, new { htmlAttributes = new { @class = "form-control border-success", @readonly = true } })
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-4">
                    <button type="button" class="btn btn-success" onclick="validarEnviarFormulario();"><i class="icon icon-checkmark"></i> Procesar</button>
                    @if (Model.Estado == "Proceso")
                    {
                        <button type="button" class="btn btn-danger" onclick="validarEnviarFormularioRevertir();"><i class="icon icon-undo"></i> Revertir</button>
                    }
                </div>
            </div>

        </div>
    }
</div>

<script>
    if ('@ViewBag.Mensaje' != "") {
        swal.fire({
            title: "@ViewBag.Mensaje",
            text: "Presione OK para continuar",
            icon: "warning"
        })
    };
</script>