@model IEnumerable<Capa_Entidad.ComprobantesContables_ENT.Guia_Remision_E>

@{
    Layout = null;
    var Cab = Model.ToList()[0];
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LayoutGuia</title>
    <style>
        * {
            font-family: 'Verdana', sans-serif;
        }
       
        table {
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            padding: 5px;
        }
     
    </style>
</head>
<body style="margin-top: 0;">
    <div>
        <table border="0">
            <tr>
                <td style="font-size: 10px; text-align: left; position: relative;">
                    <img style="float:left" src="~/imagenes/logoventa2.jpg" width="230" height="80" /><br />
                    www.cobefar.com.pe<br /><br />
                    <strong>N° TICKET:</strong> @ViewBag.DocNumTicket
                    <img src="~/imagenes/index/encabezado/bpa.jpg" width="45" height="40" style="position: absolute; top: 5px; right: 0;" />
                </td>
                <td style="text-align:left;font-size:10px; max-width:300px;">
                    <strong>Dom. Fiscal:</strong> Cal.Carlos Pedemonte Nro. 145b Int. 2pis <br />
                    Urb. Lotización Ex Fundo El Pino  Lima - Lima - San Luis<br />
                    <strong>Almacén:</strong> Av. Nicolás Arriola N°2955-2963, 2do. Piso <br />
                    Urb. Mercurio - San Luis - Lima - Lima<br />
                    <strong>Almacén:</strong> Jr. Antonio Miroquezada N° 806 Int. 303<br />
                    Lima - Lima - Lima<br />
                    <strong>Almacén:</strong> Jr. Antonio Miroquezada N° 806 Int. 502<br />
                    Lima - Lima - Lima<br />
                    <strong>Teléfono:</strong> 428-1248<br />
                    <strong>Email:</strong> cobefar.ventas@gmail.com
                </td>
                <td style="font-size: 20px !important; text-align: center;">
                    <div style="border: 2px solid green; vertical-align: top; padding: 5px; border-radius: 15px;">
                        <div style="height:10px;"></div> R.U.C. 20600546041   <div style="height:25px;"></div>
                        <strong>GUÍA DE REMISIÓN </strong><br />
                        <strong>ELECTRÓNICA REMITENTE</strong><div style="height:25px;"></div>
                        @Cab.NumAtCard <div style="height:10px;">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        @if (ViewBag.Tipo == "T")
        {
            <div style="width: 100%; display: inline-block; border: 2px solid green; vertical-align: top; padding: 5px; border-radius: 15px; margin: 15px 0px 15px 0px; box-sizing: border-box; ">
                <table style="font-size:12px;" border="0">
                    <tr>
                        <td>Destinatario :</td>
                        <td>@Cab.NombreBD</td>
                        <td>Fecha de emisión :</td>
                        <td>@Cab.DocDate</td>
                    </tr>
                    <tr>
                        <td>R.U.C. :</td>
                        <td>@Cab.RucBD</td>
                        <td>Fecha de traslado :</td>
                        <td>@Cab.FechaTrasl</td>
                    </tr>
                </table>
            </div>
      
        }
        else if (ViewBag.Tipo == "E")
        {
            <div style="width: 100%; display: inline-block; border: 2px solid green; vertical-align: top; padding: 5px; border-radius: 15px; margin: 15px 0px 15px 0px; box-sizing: border-box; ">
                <table style="font-size:12px;text-align:left" border="0">
                    <tr>
                        <td>Destinatario :</td>
                        <td>@Cab.CardName</td>
                        <td>Fecha de emisión :</td>
                        <td>@Cab.DocDate</td>
                    </tr>
                    <tr>
                        <td>R.U.C. : </td>
                        <td>
                            @if (Cab.CardCode!=null && Cab.CardCode.Length == 12)
                            {@Cab.CardCode.Substring(1, 11)}
                            else
                            {@Cab.CardCode}
                        </td>
                        <td>Fecha de traslado : </td>
                        <td>@Cab.FechaTrasl</td>
                    </tr>
                </table>
            </div>
         
        }
    </div>

</body>
</html>



