@model IEnumerable<Capa_Entidad.Ventas_ENT.Tablas.NotaCreditoDebito_E>

@{
    Layout = null;
    var Cab = Model.ToList()[0];
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LayoutNotaCreditoDebito</title>
    <style>
        * {
            font-family: 'Verdana', sans-serif;
            font-size: 12px;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 5px;
        }
    </style>
</head>
<body>
    <div>
        <div>
            <table border="1" style="text-align:center;">
                <tr>
                    <td>TIPO DE DOC.</td>
                    <td>SERIE Y CORRELATIVO</td>
                    <td>FECHA DEL DOCUMENTO</td>
                    <td>FECHA DE EMISIÓN</td>
                    <td width="250px">VENDEDOR</td>
                </tr>
                <tr>
                    <td>@Cab.TipoDocRel</td>
                    <td>@Cab.SerieDocRel-@Cab.CorreDocRel</td>
                    <td>@Cab.DocDateRel</td>
                    <td>@Cab.DocDate</td>
                    <td>@Cab.ElaboradoPor</td>
                </tr>
            </table>
        </div>

        @if (ViewBag.Tipo == "NC" && ViewBag.SubTipo == "S")
        {

            <table border="1" style="font-size:11px;">
                <tr style="text-align:center">
                    <th style="width: 100px;">CANT.</th>
                    <th style="width: 400px;">DESCRIPCIÓN</th>
                    <th style="width: 100px;">P. UNITARIO</th>
                    <th style="width: 100px;">PRECIO<br />VENTA</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr style="text-align: center;page-break-inside:avoid;">
                        <td style="width: 100px;">
                            @if (item.Cantidad > 0) { Math.Round(Convert.ToDouble(item.Cantidad), 0); }
                        </td>
                        <td style="width: 400px;">
                            @if (item.TipoDescripcionC != null && item.TipoDescripcionC.Trim() == "05")
                            {
                                <span>Descuento Especial</span>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.DescripcionLinea)
                            }
                        </td>
                        <td style="width: 100px;">
                            @Html.DisplayFor(modelItem => item.PrecioLinea)
                        </td>
                        <td style="width: 100px;">
                            @Html.DisplayFor(modelItem => item.PrecioLinea)
                        </td>
                    </tr>
                }
            </table>
        }
        else if (ViewBag.Tipo == "ND")
        {
            <table border="1">
                <tr style="text-align:center">
                    <th style="width: 100px;">ITEM</th>
                    <th style="width: 400px;">DESCRIPCIÓN</th>
                    <th style="width: 100px;">VALOR<br />UNITARIO</th>
                    <th style="width: 100px;">PRECIO<br />VENTA</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr style="page-break-inside: avoid;">
                        <td style="width: 100px;">
                            @Html.DisplayFor(modelItem => item.CodigoGasto)
                        </td>
                        <td style="width: 400px;">
                            @if (item.TipoDescripcionC != null && item.TipoDescripcionC.Trim() == "05")
                            {
                                <span>Descuento Especial</span>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.DescripcionLinea)
                            }
                        </td>
                        <td style="width: 100px;">
                            @Html.DisplayFor(modelItem => item.PrecioLinea)
                        </td>
                        <td style="width: 100px;">
                            @Html.DisplayFor(modelItem => item.PrecioLinea)
                        </td>
                    </tr>
                }
            </table>

        }
        else if (ViewBag.Tipo == "NC" && ViewBag.SubTipo == "I")
        {
            <table border="1" style="text-align:center">
                <tr>
                    <th style="width: 80px;">CANTIDAD</th>
                    <th style="width: 260px;">DESCRIPCION</th>
                    <th style="width: 50px;">LAB.</th>
                    <th style="width: 80px;">LOTE</th>
                    <th style="width: 100px;">FECHA<br />VENC.</th>
                    <th style="width: 100px;">PRECIO<br />UNIT.</th>
                    <th style="width: 80px;">DSCTO<br />%</th>
                    <th style="width: 100px;">V. VENTA<br />NETO</th>
                    <th style="width: 100px;">PRECIO<br />VENTA</th>
                </tr>
                @* 1. LISTADO DE PRODUCTOS NORMALES (CUALQUIER CÓDIGO MENOS 05) *@
                @foreach (var item in Model.Where(x => x.TipoDescripcionC == null || x.TipoDescripcionC.Trim() != "05"))
                {
                    <tr style="page-break-inside: avoid;">
                        <td style="width: 80px;">
                            @Math.Round(Convert.ToDouble(item.CantidadL), 0)
                            @if (item.UmLinea.Equals("PZA"))
                            {<span>PZA</span>}
                        </td>
                        <td style="width: 260px;">
                            @Html.DisplayFor(modelItem => item.DescripcionLinea)
                        </td>
                        <td style="width: 50px;">
                            @Html.DisplayFor(modelItem => item.Laboratorio)
                        </td>
                        <td style="width: 80px;">
                            @Html.DisplayFor(modelItem => item.LoteNum)
                        </td>
                        <td style="width: 100px;">
                            @Html.DisplayFor(modelItem => item.VencLote)
                        </td>
                        <td style="width: 100px;">
                            @Math.Round(item.F_ItemPrecio(), 2)
                        </td>
                        <td style="width: 80px;">
                            @Html.DisplayFor(modelItem => item.Descuento)
                        </td>
                        <td style="width: 100px;">
                            @Html.DisplayFor(modelItem => item.PreVentaNeto)
                        </td>
                        <td style="width: 100px;">
                            @Math.Round(item.ItemTotalxLot(), 2)
                        </td>
                    </tr>
                }

                @* 2. FILA ÚNICA PARA EL CASO 05 - DESCUENTO ESPECIAL *@
                @{
                    var listaSolo05 = Model.Where(x => x.TipoDescripcionC != null && x.TipoDescripcionC.Trim() == "05").ToList();
                    if (listaSolo05.Any())
                    {
                    <tr style="page-break-inside: avoid;">
                        <td style="width: 80px;">1.00</td>
                        <td style="width: 260px;"><strong>DESCUENTO ESPECIAL</strong></td>
                        <td style="width: 50px;"></td>
                        <td style="width: 80px;"></td>
                        <td style="width: 100px;"></td>
                        <td style="width: 100px;"></td>
                        <td style="width: 80px;">0.00</td>
                        <td style="width: 100px;">
                            @Math.Round(Cab.Tgrabado(Cab.Sum_Topgratuita(Model.ToList()), Cab.Sum_Tinafecto(Model.ToList())), 2)
                        </td>
                        <td style="width: 100px;">
                            @Math.Round(Cab.TotalFactura(Cab.Sum_Topgratuita(Model.ToList())), 2)
                        </td>
                    </tr>
                    }
                }
            </table>

        }
        <h6><strong>MOTIVO: </strong>@Cab.Motivo<br /><br /></h6>
    </div>
     <table style="font-size: 11px; page-break-inside: avoid;" border="0">
            <tr>
                <td colspan="9">
                    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    SON:@Cab.TotalL()
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
                </td>
            </tr>
        </table>
     <table style="font-size: 11px; page-break-inside: avoid;" border="0">
         <tr>
             <td style="text-align:center;padding:5px;font-size:11px;max-width:300px;">
                 <img src="~/imagenes/index/encabezado/barras.png" width="140" height="45" /><br />
                 Autorizado mediante N° R.S. 300-2014/SUNAT<br />
                 Representación impresa de la Factura Electrónica. Puede ser consultada<br />
                 en <strong>www.cobefar.com.pe</strong>
                 <br /><br />
                 <strong style="font-size:11px">Nota: No aceptamos devoluciones ni reclamos después de la entrega de la mercadería</strong>
             </td>
             <td style="border-bottom: 2px solid black; border-top: 2px solid black; border-left: 2px solid black; padding: 0px 5px 0px 15px; font-size: 10px; max-width: 180px;">
                 <p>
                     <strong>GERENTE DE VENTAS</strong><br />
                     Cel.:982577809			     <br />
                     Telf.:4281248			     <br />
                     <strong>VENTAS PROVINCIA</strong>		     <br />
                     958950318 / 971559893        <br />
                     997895353				     <br />
                     <strong>VENTAS POR MAYOR</strong>	         <br />
                     933567704 / 956381409
                 </p>
             </td>
             <td style="border-bottom: 2px solid black; border-top: 2px solid black; border-right: 2px solid black; padding: 0px 5px 0px 15px; font-size: 10px; max-width: 180px;">
                 <p>
                     <strong>VENTAS LIMA</strong><br />
                     954121505 / 933514870 / 982768938<br />
                     939391010 / 932766022 / 933514897<br />
                     986789108 / 986789103 / 942810044<br />
                     977190699 / 980576206<br />
                     950156844 / 980914611<br />
                     939392020<br />
                     Telf.: 4280115 / 4274304
                 </p>
             </td>
             <td rowspan="2">
                 @if (ViewBag.Tipo == "NC" && ViewBag.SubTipo == "S")
                 {
                     <table style="font-size:11px;padding:0" border="0">
                         <tr>
                             <td>Valor de venta</td>
                             <td>S/</td>
                             <td style="text-align:right">@Math.Round(Cab.PreUnitSinIgv, 2)</td>
                         </tr>
                         <tr>
                             <td>I.G.V.18%</td>
                             <td>S/</td>
                             <td style="text-align:right">@Math.Round(Cab.Impuesto, 2)</td>
                         </tr>
                         <tr>
                             <td colspan="3"><hr /></td>
                         </tr>
                         <tr>
                             <td style="font-weight:600">Importe Total</td>
                             <td style="font-weight:600">S/</td>
                             <td style="font-weight:600, text-align: right">@Math.Round((Math.Round(Cab.Impuesto, 2) + Cab.PreUnitSinIgv), 2)</td>
                         </tr>
                     </table>
                 }
                 else if (ViewBag.Tipo == "ND")
                 {
                     <table style="font-size:11px;padding:0" border="0">
                         <tr>
                             <td>Valor de venta</td>
                             <td>S/</td>
                             <td style="text-align:right">@Math.Round(Cab.PrecioLinea, 2)</td>
                         </tr>
                         <tr>
                             <td> I.G.V 18%</td>
                             <td>S/</td>
                             <td style="text-align:right">@Math.Round(Cab.Impuesto, 2)</td>
                         </tr>
                         <tr>
                             <td colspan="3"><hr /></td>
                         </tr>
                         <tr>
                             <td style="font-weight:600">Importe Total</td>
                             <td style="font-weight:600">S/</td>
                             <td style="font-weight:600, text-align: right"> @Math.Round(Cab.DocTotal, 2)</td>
                         </tr>
                     </table>
                 }
                 else
                 {
                     <table style="font-size:11px;padding:0" border="0">
                         <tr>
                             <td>Op.Gravada</td>
                             <td>S/</td>
                             <td style="text-align:right">@Math.Round(Cab.Tgrabado(Cab.Sum_Topgratuita(Model.ToList()), Cab.Sum_Tinafecto(Model.ToList())), 2)</td>
                         </tr>
                         <tr>
                             <td>Desc.&nbsp;Globales</td>
                             <td>S/</td>
                             <td style="text-align:right"><span>0.00</span></td>
                         </tr>
                         <tr>
                             <td> I.G.V 18%</td>
                             <td>S/</td>
                             <td style="text-align:right">@Math.Round(Cab.Impuesto, 2)</td>
                         </tr>
                         <tr>
                             <td> Op.Inafecta</td>
                             <td>S/</td>
                             <td style="text-align:right">@Cab.F_Tinafecto(Cab.Sum_Tinafecto(Model.ToList()))</td>
                         </tr>
                         <tr>
                             <td> Op.Exonerada</td>
                             <td>S/</td>
                             <td style="text-align:right"><span>0.00</span></td>
                         </tr>
                         <tr>
                             <td>Op.Gratuita</td>
                             <td>S/</td>
                             <td style="text-align:right">@Cab.F_Topgratuita(Cab.Sum_Topgratuita(Model.ToList()))</td>
                         </tr>
                         <tr>
                             <td colspan="3"><hr /></td>
                         </tr>
                         <tr>
                             <td style="font-weight:600">Importe Total</td>
                             <td style="font-weight:600">S/</td>
                             <td style="font-weight:600, text-align: right"> @Math.Round(Cab.TotalFactura(Cab.Sum_Topgratuita(Model.ToList())), 2)</td>
                         </tr>
                     </table>
                 }
             </td>
         <tr>
             <td></td>
             <td style="text-align:center;border-bottom:2px solid black;border-left:2px solid black;border-right:2px solid black;font-size:10px;padding:10px" colspan="2">
                 <strong>CANCELADO<br /><br /></strong>

                 Lima...........de.................................del 20.....<br /><br />

                 ------------------------------------------<br />
                 COBEFAR S.A.C.

             </td>
         </tr>
     </table>
</body>
</html>









