@{
    var opciones = new Dictionary<int, string>();
    opciones[0] = "NO";
    opciones[1] = "SI";
}

<table id="tbl_ListadoDetalleRequerimiento" class="dt-container dt-empty-footer table table-hover table-bordered table-striped font-14" width="100%">
    <thead class="thead-cobefar">
        <tr>
            <th scope="col" class="text-center">Cód. Artículo</th>
            <th scope="col" class="text-center">Descripción</th>
            <th scope="col" class="text-center">Lote</th>
            <th scope="col" class="text-center">Ubicación Origen</th>
            <th scope="col" class="text-center">Ubicación Destino</th>
            <th scope="col" class="text-center">Unidad Medida</th>
            <th scope="col" class="text-center">Cant. Máster</th>
            <th scope="col" class="text-center">Cant. Saldo</th>
            <th scope="col" class="text-center">Cant. Unds.</th>
            <th scope="col" class="text-center">Apilado</th>
            <th scope="col" class="text-center">Reabast. Confirm.</th>
            <th scope="col" class="text-center"></th>
        </tr>
    </thead>
    <tbody class="text-dark">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td scope="col" class="text-center">@item.ItemCode</td>
                    <td scope="col" class="text-center">@item.ItemName</td>
                    <td scope="col" class="text-center">@item.BatchNum</td>
                    <td scope="col" class="text-center">@item.CodigoUbicacionOrigen</td>
                    <td scope="col" class="text-center">@item.CodigoUbicacionDestino</td>
                    <td scope="col" class="text-center">@item.UmAlm</td>
                    <td scope="col" class="text-center">@item.QuantityMaster</td>
                    <td scope="col" class="text-center">@item.QuantitySaldo</td>
                    <td scope="col" class="text-center">@item.QuantityUnidadesCajas</td>
                    <td scope="col" class="text-center">@opciones[item.AtendidoReserva]</td>
                    <td scope="col" class="text-center">@opciones[item.AtendidoPicking]</td>
                    <td scope="col" class="text-center">
                        @if (item.AtendidoReserva == 0)
                        {
                            <button type="button" class="btn btn-sm btn-danger btn-eliminarItem" onclick="eliminarItem(@item.Id)"><i class="bi bi-trash-fill"></i></button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>