<style>
    td.details-control {
        cursor: pointer;
        text-align: center;
    }

    .subtable {
        margin-left: 50px;
    }
</style>

<table id="tbl_listaUbicacionesPicking" class="dt-container dt-empty-footer table table-sm table-hover font-14" width="100%">
    <thead class="thead-cobefar">
        <tr>
            <th style="width: 5%;"></th>
            <th scope="col" class="text-center">Código de artículo</th>
            <th scope="col" class="text-center">Descripción</th>
            <th scope="col" class="text-center">Ubicaciones</th>
            <th scope="col" class="text-center">Stock Mínimo Abastecimiento</th>
            <th scope="col" class="text-center">Stock Mínimo Venta</th>
            <th scope="col" class="text-center"></th>
        </tr>
    </thead>
    <tbody class="text-dark">
        @foreach (var grupo in Model)
        {
            <tr data-producto="@grupo.Key">
                <td class="details-control"><button class="btn btn-sm btn-cobefar-2"><i class="bi bi-chevron-down"></i></button></td>
                <td class="text-center align-middle">@grupo.Value.ItemCode</td>
                <td class="text-center align-middle">@grupo.Value.ItemName</td>
                <td class="text-center align-middle">@grupo.Value.CantidadUbicaciones</td>
                <td class="text-center align-middle">
                    <div class="d-flex justify-content-center">
                        <input type="text" id="sma_@grupo.Value.ItemCode" class="form-control w-50 cls-num text-center" value="@grupo.Value.StockMinAbastecimiento">
                    </div>
                </td>
                <td class="text-center align-middle">
                    <div class="d-flex justify-content-center">
                        <input type="text" id="smv_@grupo.Value.ItemCode" class="form-control w-50 cls-num text-center" value="@grupo.Value.StockMinVenta">
                    </div>
                </td>
                <td class="text-center align-middle">
                    <button type="button" class="btn btn-success" title="Actualizar Stocks" onclick="actualizarStocksMinimos('@grupo.Value.ItemCode', '@grupo.Value.ItemName', 'sma_@grupo.Value.ItemCode', 'smv_@grupo.Value.ItemCode')"><i class="bi bi-arrow-clockwise"></i></button>
                </td>
            </tr>
        }
    </tbody>

</table>

<script>
    $(document).ready(function () {
        $('[data-bs-toggle="tooltip"]').tooltip();
        inicializarDataTable('tbl_listaUbicacionesPicking', 25)
        permitirValoresNumericosPositivos()

        $('#tbl_listaUbicacionesPicking tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = $('#tbl_listaUbicacionesPicking').DataTable().row(tr);
            var productoID = tr.data('producto');
            var button = $(this).find('button i');

            if (row.child.isShown()) {
                // Cerrar fila
                row.child.hide();
                button.removeClass('bi-chevron-up').addClass('bi-chevron-down');
            } else {
                // Abrir y mostrar lotes
                row.child(formatLotes(productoID)).show();
                button.removeClass('bi-chevron-down').addClass('bi-chevron-up');
            }
        });

        let listaAgrupada = @Html.Raw(Json.Encode(Model));

        function formatLotes(productoID) {
            let lista = listaAgrupada[productoID] || []; // Obtiene los lotes de ese producto
            if (lista.length === 0) return '<i>No hay lotes disponibles.</i>';

            let tableHtml = `
            <div class="d-flex table-responsive justify-content-center">
                <table class="table table-sm table-bordered table-hover subtable w-75">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="text-center">Código de artículo</th>
                            <th scope="col" class="text-center">Descripción</th>
                            <th scope="col" class="text-center">Ubicación</th>
                            <th scope="col" class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>`;

            lista.Ubicaciones.forEach(item => {
                    tableHtml += `<tr>
                        <td  class="text-center align-middle">${item.ItemCode}</td>
                        <td  class="text-center align-middle">${item.ItemName}</td>
                        <td  class="text-center align-middle">${item.CodigoUbicacion}</td>
                        <td  class="text-center align-middle">
                            <button class="btn btn-danger" onclick="eliminarUbicacion('${item.CodigoUbicacion}', '${item.Id}')" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar ubicación"><i class="bi bi-trash3-fill"></i></button>
                        </td>
                    </tr>`;
                });

            tableHtml += '</tbody></table></div>';
            return tableHtml;
        }

    });

    async function eliminarUbicacion(codigoUbicacion, id) {
        if (!id) {
                console.log('Error: El ID no se encontró.');
                return;
            }

        swalWithBootstrapButtons.fire({
            title: '¿Está seguro(a) de ELIMINAR?',
            html: 'La ubicación ' + codigoUbicacion + ' será eliminada de forma permanente.',
            icon: 'warning',
            allowEscapeKey: false,
            showCancelButton: true,
            confirmButtonText: "<i class='bi bi-check-lg'></i> Si, eliminar",
            cancelButtonText: "<i class='bi bi-x-lg'></i> Cancelar",
            reverseButtons: true
        }).then(async (result) => {
            if (result.isConfirmed) {
                try {
                    const response = await fetch("/AbastecimientoInterno/EliminarUbicacionPicking", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ id }) // Enviar los datos como JSON
                    });

                    if (!response.ok) {
                        throw new Error(`Error en la solicitud: ${response.statusText}`);
                    }

                    const data = await response.json();

                    if (data.Icono !== 'success') {
                        resetValoresVacios(["ItemCode", "ItemName", "CodigoUbicacion", "almacen", "rackBloque", "posicion", "nivel"])

                        const radios = document.querySelectorAll(`input[name="UbiSistema"]`)
                        radios.forEach(radio => {
                            if (radio.value === "no") {
                                radio.checked = true
                            }
                        })
                    }
                    
                    Swal.fire({
                        title: data.Titulo,
                        html: Array.isArray(data.Mensajes) && data.Mensajes.length > 0
                            ? data.Mensajes.join('<br>')
                            : data.Mensajes || "",
                        icon: data.Icono,
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showConfirmButton: true
                    }).then((result) => {
                        if (result.isConfirmed && data.Icono == 'success') {
                            window.location.reload()
                        }
                    })

                } catch (error) {
                    console.error('Error:', error);
                }
            }
        });
    }

    async function actualizarStocksMinimos(itemCode, itemName, input_stockMinAbastecimiento, input_stockMinVenta) {
        let stockMinAbastecimiento = document.querySelector(`#${input_stockMinAbastecimiento}`).value
        let stockMinVenta = document.querySelector(`#${input_stockMinVenta}`).value

        try {
            const response = await fetch("/AbastecimientoInterno/ActualizarStocksMinimos", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ itemCode, itemName, stockMinAbastecimiento, stockMinVenta }) // Enviar los datos como JSON
            });

            if (!response.ok) {
                throw new Error(`Error en la solicitud: ${response.statusText}`);
            }

            const data = await response.json();

            Swal.fire({
                title: data.Titulo,
                html: Array.isArray(data.Mensajes) && data.Mensajes.length > 0
                    ? data.Mensajes.join('<br>')
                    : data.Mensajes || "",
                icon: data.Icono,
                allowEscapeKey: false,
                allowOutsideClick: false,
                showConfirmButton: true
            }).then((result) => {
                if (result.isConfirmed && data.Icono == 'success') {
                    window.location.reload()
                }
            })

        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>