<table id="tbl_listaStockPicking" class="dt-container dt-empty-footer table table-sm table-hover table-responsive font-12" width="100%">
    <thead class="thead-cobefar">
        <tr>
            <th scope="col" class="text-center">Código de artículo</th>
            <th scope="col" class="text-center">Descripción</th>
            <th scope="col" class="text-center">Lote</th>
            <th scope="col" class="text-center ">Ubicación PICKING</th>
            <th scope="col" class="text-center ">Cambio de Ubicación</th>
            <th scope="col" class="text-center"></th>
        </tr>
    </thead>
    <tbody class="text-dark">
        @if (Model.Item2 != null)
        {
            foreach (var item in Model.Item2)
            {
                <tr>
                    <td scope="col" class="text-center align-middle">@item.ItemCode </td>
                    <td scope="col" class="align-middle"><span class="ps-2">@item.ItemName</span></td>
                    <td scope="col" class="text-center align-middle">@item.BatchNum</td>
                    <td scope="col" class="text-center align-middle">@item.CodigoUbicacion</td>
                    <td scope="col" class="text-center align-middle">
                        <div class="d-flex justify-content-center align-content-center">
                            <select id="ubicacion_@item.UbicacionLoteId"
                                    data-ubicacionactual="@item.CodigoUbicacion"
                                    class="ss-main cls-slimselect"
                                    style="width: 180px;font-size:12px">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                    </td>
                    <td scope="col" class="text-center align-middle">
                        <button class="btn btn-cobefar-2" onclick="cambiarUbicacion(this.dataset)" data-ubicacionloteid="@item.UbicacionLoteId" data-nuevocodigoubicacion="ubicacion_@item.UbicacionLoteId"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar ubicación">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    $('[data-bs-toggle="tooltip"]').tooltip();
</script>

<script>
    iniciar()

    async function iniciar() {
        const ubicaciones = await cargarTodasLasUbicaciones()

        document.querySelectorAll('.cls-slimselect').forEach(select => {
            llenarSelectConOpciones(select, ubicaciones)
        });
    }

    async function cargarTodasLasUbicaciones() {
        const almacen = "PICKING"

        try {
            const response = await fetch("/AbastecimientoInterno/BuscarUbicaciones", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ almacen })
            });

            if (!response.ok) {
                let errorText = await response.text();
                throw new Error(`Error ${response.status}: ${errorText}`);
            }

            let data = await response.json();

            return data.resultUbicaciones;
        } catch (error) {
            console.error("Error al obtener ubicaciones:", error.message);
        }
    }

    function llenarSelectConOpciones(selectElement, opciones) {
        selectElement.innerHTML = '<option value="">Seleccione</option>'

        // Iteramos las opciones discrimando la ubicación actual del artículo
        opciones.forEach(item => {
            if (item !== selectElement.dataset.ubicacionactual) {
                const option = document.createElement('option')
                option.value = item
                option.textContent = item
                selectElement.appendChild(option)
            }
        });

        if (selectElement.slim instanceof SlimSelect) {
            selectElement.slim.destroy()
        }

        selectElement.classList.remove('ss-main')

        selectElement.slim = new SlimSelect({
            select: selectElement,
            placeholder: 'Selecciona una opción', // Texto de marcador de posición en espańol
            allowDeselect: true, // Permite deseleccionar
            searchText: 'No encontrado', // Texto que aparece cuando no hay coincidencias en la búsqueda
            searchPlaceholder: 'Buscar...', // Texto de marcador de posición para la búsqueda
            closeOnSelect: false, // No cerrar el desplegable al seleccionar (opcional)
            showSearch: true // Mostrar la barra de búsqueda
        })
    }

    async function cambiarUbicacion(element) {
        const nuevocodigoubicacion = document.querySelector(`#${element.nuevocodigoubicacion}`).value || ''
        const ubicacionloteid = element.ubicacionloteid || 0

        if (nuevocodigoubicacion === '' || ubicacionloteid <= 0) 
            generarAlerta('Error en cambiar ubicación', 'Actualizar la página y volver a intentar.', 'error')

        try {
            const response = await fetch("/AbastecimientoInterno/CambiarUbicacionPicking", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ nuevocodigoubicacion, ubicacionloteid })
            });

            if (!response.ok) {
                throw new Error(`Error en la solicitud: ${response.status}`);
            }

            const data = await response.json();

            Swal.fire({
                title: data.Titulo,
                html: Array.isArray(data.Mensajes) && data.Mensajes.length > 0
                    ? data.Mensajes.join('<br>')
                    : data.Mensajes || "",
                icon: data.Icono,
                allowEscapeKey: false,
                allowOutsideClick: false,
                showConfirmButton: true
            }).then((result) => {
                if (result.isConfirmed) {
                    //location.reload()
                }
            });

        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>