
<table id="tbl_listaStockReserva" class="dt-container dt-empty-footer table table-sm table-hover table-responsive font-12" width="100%">
    <thead class="thead-cobefar">
        <tr>
            <th scope="col" class="text-center">Código de artículo</th>
            <th scope="col" class="text-center">Descripción</th>
            <th scope="col" class="text-center">Lote</th>
            <th scope="col" class="text-center ">Ubicación RESERVA</th>
            <th scope="col" class="text-center ">Cambio de Ubicación</th>
            <th scope="col" class="text-center">Unidad MASTER</th>
            <th scope="col" class="text-center">Stock MASTER</th>
            <th scope="col" class="text-center">Stock SALDO</th>
            <th scope="col" class="text-center">Stock UNIDS</th>
            <th scope="col" class="text-center"></th>
        </tr>
    </thead>
    <tbody class="text-dark">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                var loteMaster = item.BatchNum.Replace(" ", "") + item.UmAlm;


                <tr>
                    <td scope="col" class="text-center align-middle">@item.ItemCode </td>
                    <td scope="col" class="align-middle"><span class="ps-2">@item.ItemName</span></td>
                    <td scope="col" class="text-center align-middle">@item.BatchNum</td>
                    <td scope="col" class="text-center align-middle">@item.CodigoUbicacion</td>
                    <td scope="col" class="text-center align-middle">
                        <div class="d-flex justify-content-center align-content-center">
                            <select id="idunico_@item.UbicacionLoteMasterId"
                                    data-ubicacionactual="@item.CodigoUbicacion"
                                    class="form-select"
                                    style="width: 180px;font-size:12px"
                                     onclick="cargarUbicaciones(this)">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                    </td>
                    <td scope="col" class="text-center align-middle">@item.UmAlm </td>
                    <td scope="col" class="text-center align-middle">@item.QuantityMaster </td>
                    <td scope="col" class="text-center align-middle">@item.QuantitySaldo</td>
                    <td scope="col" class="text-center align-middle">@item.QuantityUnidadesCajas </td>
                    <td scope="col" class="text-center align-middle">
                        <button class="btn btn-cobefar-2" onclick="cambiarUbicacion('idunico_@item.UbicacionLoteMasterId',@item.UbicacionLoteMasterId)" data-bs-toggle="tooltip" data-bs-placement="top" title="Cambiar ubicación">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    $('[data-bs-toggle="tooltip"]').tooltip();
</script>

<script>
    async function cargarUbicaciones(selectElement) {
        new SlimSelect({ select: selectElement });
        let ubicacionActual = selectElement.dataset.ubicacionactual;
        console.log("Ubicación actual:", ubicacionActual);

        try {
            let response = await fetch('/AbastecimientoInterno/JsonListUbicacionesReserva');

            if (!response.ok) {
                let errorText = await response.text(); 
                throw new Error(`Error ${response.status}: ${errorText}`);
            }

            let data = await response.json();
            console.log("Ubicaciones recibidas:", data);
            if (selectElement.slim) {
                selectElement.slim.destroy();
            }
           
            selectElement.innerHTML = '<option value="">Seleccione</option>';
            data.forEach(ubi => {
                if (ubi.CodigoUbicacion !== ubicacionActual) {
                    let option = document.createElement("option");
                    option.value = ubi.CodigoUbicacion;
                    option.textContent = ubi.CodigoUbicacion;
                    selectElement.appendChild(option);
                }
            });
            selectElement.classList.remove("form-select");

            selectElement.slim = new SlimSelect({
                select: selectElement,
                settings: {
                    placeholderText: 'Seleccione una ubicación'
                }
            });

        } catch (error) {
            console.error("Error al obtener ubicaciones:", error.message);
        }
    }

</script>