@{
    ViewBag.Title = "Traslados";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="pt-3">
    <nav>
        <ol class="cd-breadcrumb bg-cobefar-degradado-1">
            <li><a href="@Url.Action("Sesion", "Index")">Inicio</a></li>
            <li><a href="@Url.Action("Sesion", "Index")">Direcciˇn TÚcnica</a></li>
            <li><a href="@Url.Action("Sesion", "Index")">Liberaciones</a></li>
            <li><a href="@Url.Action("Traslados", "DireccionTecnica")">Listado de Traslados</a></li>
            <li class="current"><em>@ViewBag.Title</em></li>
        </ol>
    </nav>
</div>